Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: render typing indicator outside the VirtualizedMessageList scroll container
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

fix: update quoting message on update of quoted message
  src/components/Message/__tests__/utils.test.js
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow custom class on Modal root div
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/Image.tsx
  src/components/Message/MessageSimple.tsx
  src/components/MessageBounce/MessageBounceModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Reactions/ReactionsListModal.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: prevent overwriting default ReactionsListModal root class
  src/components/Reactions/ReactionsListModal.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow custom class on Modal root div (#2410)
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/Image.tsx
  src/components/Message/MessageSimple.tsx
  src/components/MessageBounce/MessageBounceModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Reactions/ReactionsListModal.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: make it possible to jump to system messages in MessageList (#2404)
  src/components/MessageList/renderMessages.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: allow to pass minRows prop to MessageInput
  docusaurus/docs/React/components/contexts/message-input-context.mdx
  docusaurus/docs/React/components/message-input-components/message-input.mdx
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to customize MessageStatus UI by message delivery status (#2405)
  docusaurus/docs/React/components/message-components/ui-components.mdx
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

fix: update quoting message on update of quoted message (#2408)
  src/components/Message/__tests__/utils.test.js
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: render typing indicator outside the VirtualizedMessageList scroll container (#2406)
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): bump stream-chat to v8.33.1
  examples/typescript/src/App.tsx
  examples/vite/src/App.tsx
  package.json
  yarn.lock
Due: none

Memoize jumpToMessage functions, add duration parameter
  src/components/Channel/Channel.tsx
  src/constants/limits.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: memoize & add highlightDuration parameter to jumpTo[FirstUnread]Message (#2414)
  src/components/Channel/Channel.tsx
  src/constants/limits.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.20.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  46/968a6fde9c3a1b116e98d44fc9f7b72c965dc6
Due: none

fix: update lockfiles
  examples/vite/yarn.lock
  yarn.lock
Due: none

feat: remove umd
  package.json
  scripts/bundle.mjs
  yarn.lock
Due: none

fix: snapshots
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
Due: none

chore: dedupe yarn.lock
  yarn.lock
Due: none

fix: bundle lamejs
  scripts/bundle.mjs
Due: none

chore: disable e2e
  .github/workflows/e2e.yml
Due: none

fix: remove file used for UMD only
  src/index_UMD.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to configure date and time format over i18n
  docusaurus/docs/React/guides/date-time-formatting.mdx
  src/components/DateSeparator/DateSeparator.tsx
  src/components/DateSeparator/__tests__/DateSeparator.test.js
  src/components/EventComponent/EventComponent.tsx
  src/components/EventComponent/__tests__/EventComponent.test.js
  src/components/Message/MessageTimestamp.tsx
  src/components/Message/Timestamp.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.js
  src/i18n/__tests__/utils.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/index.ts
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/utils.ts
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: do not copy css v1
  scripts/copy-css.sh
Due: none

chore: bumps
  examples/typescript/package.json
  examples/typescript/yarn.lock
  package.json
  scripts/copy-css.sh
  yarn.lock
Due: none

chore: only keep v2 dir
  scripts/copy-css.sh
Due: none

chore: streamline build pipeline (#2325)
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .postcssrc
  babel.config.js
  e2e/add-message.test.ts
  e2e/navigate-long-message-lists.test.ts
  examples/capacitor/package.json
  examples/capacitor/yarn.lock
  examples/typescript/package.json
  examples/typescript/yarn.lock
  examples/vite/yarn.lock
  i18next-parser.config.js
  package.json
  rollup.config.js
  scripts/bundle.mjs
  scripts/copy-css.sh
  scripts/copy-version.sh
  src/components/AutoCompleteTextarea/List.jsx
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/LoadMore/__tests__/LoadMorePaginator.test.js
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.js.snap
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/index_UMD.ts
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

refactor: remove calendarFormats option from timestamp formatting
  docusaurus/docs/React/guides/date-time-formatting.mdx
  src/components/DateSeparator/DateSeparator.tsx
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/Timestamp.tsx
  src/i18n/__tests__/utils.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/utils.ts
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: allow to pass minRows prop to MessageInput (#2411)
  docusaurus/docs/React/components/contexts/message-input-context.mdx
  docusaurus/docs/React/components/message-input-components/message-input.mdx
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: memoize addNotification function provided by Channel component
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0, prettier --list-different

Revert "refactor: remove calendarFormats option from timestamp formatting"
  docusaurus/docs/React/guides/date-time-formatting.mdx
  src/components/DateSeparator/DateSeparator.tsx
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/Timestamp.tsx
  src/i18n/__tests__/utils.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/utils.ts
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

refactor: return calendarFormats and make them optional everywhere
  docusaurus/docs/React/guides/date-time-formatting.mdx
  docusaurus/sidebars-react.json
  src/components/EventComponent/EventComponent.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

docs: apply improvement suggestions
  docusaurus/docs/React/guides/date-time-formatting.mdx
Due: none

docs: fix JSON example
  docusaurus/docs/React/guides/date-time-formatting.mdx
Due: none

fix: change i18n interpolation format separator from , to |
  docusaurus/docs/React/guides/date-time-formatting.mdx
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

refactor: remove timestampTranslationKey prop
  src/components/DateSeparator/DateSeparator.tsx
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/MessageTimestamp.tsx
  src/components/Message/Timestamp.tsx
Due: eslint --max-warnings 0, prettier --list-different
