Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Notes added by 'git notes add'
  d313317b0c50c4539210adc253619cc879786dcf
Due: none

docs: track react v14 avatar overflow follow-up
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: trim non-v13 react v14 tracker items
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix(AudioPlayback): improve wave progress bar smoothness and sizing
  src/components/Attachment/styling/Attachment.scss
  src/components/AudioPlayback/components/useInteractiveProgressBar.ts
  src/components/AudioPlayback/styling/WaveProgressBar.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(AudioPlayback): improve wave progress bar smoothness and sizing (#3094)
  src/components/Attachment/styling/Attachment.scss
  src/components/AudioPlayback/components/useInteractiveProgressBar.ts
  src/components/AudioPlayback/styling/WaveProgressBar.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 avatar overflow follow-up (#3093)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

feat: add useNotificationApi
  src/components/Notifications/__tests__/notificationOrigin.test.ts
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/index.ts
  src/components/Notifications/hooks/useNotificationApi.ts
  src/components/Notifications/notificationTarget.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: revert total_unread_count removal from mock builders
  src/mock-builders/event/notificationMarkRead.ts
  src/mock-builders/event/notificationMarkUnread.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Giphy): use fixed height for giphy preview to prevent layout shifts
  src/components/Attachment/styling/Giphy.scss
Due: none

fix(Giphy): add fixed dimensions to giphy image placeholder
  src/components/Attachment/styling/Giphy.scss
Due: none

fix(Giphy): use fixed height for giphy preview to prevent layout shifts (#3095)
  src/components/Attachment/styling/Giphy.scss
Due: none

feat: migrate to useNotificationApi.addNotification
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  src/components/Attachment/__tests__/Audio.test.tsx
  src/components/Attachment/__tests__/VoiceRecording.test.tsx
  src/components/AudioPlayback/WithAudioPlayback.tsx
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.tsx
  src/components/AudioPlayback/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.ts
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/Location/ShareLocationDialog.tsx
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/Message/Message.tsx
  src/components/Message/MessageAlsoSentInChannelIndicator.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageComposer/hooks/useSubmitHandler.ts
  src/components/Notifications/hooks/useNotificationApi.ts
  src/components/Poll/PollActions/EndPollAlert.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: migrate to useNotificationApi.removeNotification & useNotificationApi.startNotificationTimeout
  src/components/Notifications/Notification.tsx
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/useNotificationApi.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add missing icon IconMinus to NumericInput
  src/components/Form/NumericInput.tsx
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): make the channel in LoadingScreen take the available height
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

fix(demo): prevent closing NotificationPromptDialog upon opening
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
Due: prettier --list-different

fix(demo): keep constant height of AppSettings dialog and show borders with RTL
  examples/vite/src/AppSettings/AppSettings.scss
Due: none

feat!: remove navOpen and sidebar state from the SDK
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/ChatLayout/SidebarContext.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
  examples/vite/src/index.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelHeader/hooks/useIsMobileViewport.ts
  src/components/ChannelHeader/plan.md
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useMobileNavigation.ts
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Chat/hooks/useChat.ts
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.tsx
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
  src/context/ChatContext.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: rename SidebarToggle slot to HeaderStartContent / HeaderEndContent
  examples/vite/src/App.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelHeader/plan.md
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/ChannelList/__tests__/ChannelListHeader.test.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListHeader.test.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): remove unnecessary setTimeout from openSidebar
  examples/vite/src/ChatLayout/SidebarContext.tsx
Due: prettier --list-different

style: fix prettier formatting in SCSS files
  examples/vite/src/index.scss
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: none

feat: add Notification to ComponentContext
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat!: centralize action notifications and remove legacy Message message-notification props
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/Message/Message.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/Message/hooks/__tests__/useFlagHandler.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/Message/hooks/__tests__/userMarkUnreadHandler.test.tsx
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/hooks/useFlagHandler.ts
  src/components/Message/hooks/useMarkUnreadHandler.ts
  src/components/Message/hooks/useMuteHandler.ts
  src/components/Message/hooks/usePinHandler.ts
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/types.ts
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Resolve moveChannelUp deprecation
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelDeletedListener.ts
  src/components/ChannelList/hooks/useChannelHiddenListener.ts
  src/components/ChannelList/hooks/useChannelTruncatedListener.ts
  src/components/ChannelList/hooks/useChannelUpdatedListener.ts
  src/components/ChannelList/hooks/useChannelVisibleListener.ts
  src/components/ChannelList/hooks/useMessageNewListener.ts
  src/components/ChannelList/hooks/useNotificationAddedToChannelListener.ts
  src/components/ChannelList/hooks/useNotificationMessageNewListener.ts
  src/components/ChannelList/hooks/useNotificationRemovedFromChannelListener.ts
  src/components/ChannelList/hooks/useUserPresenceChangedListener.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unnecessary helpers
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/uploadProgress.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: track upload progress in attachment preview components
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/uploadProgress.ts
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/icons.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: uploadProgress renamed to Progress and moved outside of message composer
  src/components/Loading/ProgressIndicator.tsx
  src/components/Loading/index.ts
  src/components/Loading/styling/ProgressIndicator.scss
  src/components/Loading/styling/index.scss
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/icons.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: more meaningful name for "x percent complete" i18n key
  src/components/Loading/ProgressIndicator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: translation rebuilt
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

Apply suggestion from @MartinCupela
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: create AttachmentUploadedSizeIndicator component
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/uploadProgress.ts
  src/components/MessageComposer/__tests__/AttachmentUploadedSizeIndicator.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove unnecessary variant prop
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: small fixes
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: css fixes
  src/components/MessageComposer/styling/AttachmentPreview.scss
Due: none

chore: fix failing tests
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: rename ProgressIndicator to CircularProgressIndicator
  src/components/Loading/CircularProgressIndicator.tsx
  src/components/Loading/index.ts
  src/components/Loading/styling/CircularProgressIndicator.scss
  src/components/Loading/styling/index.scss
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: make AttachmentUploadProgressIndicator and AttachmentUploadProgressIndicator overridable
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use LoadingIndicator instead of LoadingIndicatorIcon
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: rename AttachmentUploadProgressIndicator to UploadProgressIndicator
  src/components/Loading/UploadProgressIndicator.tsx
  src/components/Loading/index.ts
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: update stream-chat-version
  package.json
  yarn.lock
Due: prettier --list-different
