Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: calculate message read status for the first message in a channel
  package.json
  src/components/MessageList/CustomNotification.tsx
  src/components/MessageList/hooks/__tests__/useLastOwnMessage.test.js
  src/utils/findReverse.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: replace (obj as any).prop with bracket notation for private access
  src/components/Attachment/__tests__/Audio.test.tsx
  src/components/Attachment/__tests__/Card.test.tsx
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/AudioPlayback/__tests__/AudioPlayer.test.ts
  src/components/AudioPlayback/__tests__/AudioPlayerPool.test.ts
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MediaRecorder/classes/__tests__/AmplitudeRecorder.test.ts
  src/components/MediaRecorder/classes/__tests__/BrowserPermission.test.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
  src/components/MediaRecorder/hooks/__tests__/useMediaRecorder.test.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/utils.test.ts
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Poll/__tests__/AddCommentForm.test.tsx
  src/components/Search/__tests__/SearchResultsHeader.test.tsx
  src/components/Search/__tests__/SearchSourceResultList.test.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/i18n/__tests__/NotificationTranslationBuilder.test.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/__tests__/TranslationBuilder.test.ts
  src/mock-builders/event/userMessagesDeleted.ts
  src/mock-builders/generator/message.ts
  src/mock-builders/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: calculate message read status for the first message in a channel
  src/components/MessageList/hooks/__tests__/useLastOwnMessage.test.js
  src/utils/findReverse.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: calculate message read status for the first message in a channel (ported from v13) (#3056)
  src/components/MessageList/hooks/__tests__/useLastOwnMessage.test.js
  src/utils/findReverse.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: return LocalMessage from generateMessage instead of MessageResponse
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/mock-builders/api/threadReplies.ts
  src/mock-builders/event/messageDeleted.ts
  src/mock-builders/event/messageNew.ts
  src/mock-builders/event/messageUndeleted.ts
  src/mock-builders/event/messageUpdated.ts
  src/mock-builders/generator/message.ts
  src/mock-builders/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: clean up orphan snapshots, eslint config, and add types:tests script
  eslint.config.mjs
  package.json
  src/components/Attachment/__tests__/__snapshots__/Attachment.test.jsx.snap
  src/components/Attachment/__tests__/__snapshots__/AttachmentActions.test.jsx.snap
  src/components/Attachment/__tests__/__snapshots__/Card.test.jsx.snap
  src/components/Attachment/__tests__/__snapshots__/File.test.jsx.snap
  src/components/Channel/__tests__/__snapshots__/Channel.test.jsx.snap
  src/components/ChannelList/__tests__/__snapshots__/ChannelListUI.test.jsx.snap
  src/components/ChannelListItem/__tests__/__snapshots__/ChannelListItemUI.test.jsx.snap
  src/components/Gallery/__tests__/__snapshots__/Image.test.jsx.snap
  src/components/Loading/__tests__/__snapshots__/LoadingChannel.test.jsx.snap
  src/components/Loading/__tests__/__snapshots__/LoadingChannels.test.jsx.snap
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.jsx.snap
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.jsx.snap
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.jsx.snap
  src/components/Message/__tests__/__snapshots__/MessageText.test.jsx.snap
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.jsx.snap
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.jsx.snap
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.jsx.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.jsx.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageListComponents.test.jsx.snap
Due: prettier --list-different

chore: enable strict TypeScript flags for test config
  tsconfig.test.json
Due: prettier --list-different

test: fix tests
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/MessageList/__tests__/CustomNotification.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: enable noImplicitThis and narrow Record types in mock-builders
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/i18n/__tests__/utils.test.ts
  src/mock-builders/api/getOrCreateChannel.ts
  src/mock-builders/browser/events/dataavailable.ts
  src/mock-builders/index.ts
  tsconfig.test.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align textarea placeholder and text with the surroundings (#3052)
  src/components/MessageComposer/CommandChip.tsx
  src/components/MessageComposer/MessageComposerUI.tsx
  src/components/MessageComposer/__tests__/CommandChip.test.jsx
  src/components/MessageComposer/styling/CommandChip.scss
  src/components/MessageComposer/styling/MessageComposer.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: clear message composer on unmount (#3053)
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: calculate message read status for the first message in a channel (#3055)
  package.json
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/MessageList/CustomNotification.tsx
  src/components/MessageList/__tests__/CustomNotification.test.js
  src/components/MessageList/hooks/__tests__/useLastOwnMessage.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
  src/utils/findReverse.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: exclude test files from i18next translation extraction
  i18next.config.ts
Due: prettier --list-different

chore(release): 14.0.0-beta.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  9b22555de6615494cbd98d71e3e2257247a08bdd
Due: none

chore(release): 13.14.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  f44c07b58ead8eadef04d2c69984be7937c13157
Due: none

fix: use ignore config instead of negation patterns for i18next-cli
  i18next.config.ts
Due: prettier --list-different

chore: rename new test files from JS/JSX to TS/TSX
  src/components/MessageComposer/__tests__/CommandChip.test.tsx
  src/components/MessageList/hooks/__tests__/useLastOwnMessage.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add loading screen to the demo app
  examples/vite/src/App.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
Due: prettier --list-different

chore: address PR review comments
  src/components/Attachment/__tests__/Attachment.test.tsx
  src/mock-builders/api/queryChannels.ts
  src/mock-builders/api/sendMessage.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add loading screen to the demo app (#3058)
  examples/vite/src/App.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
Due: prettier --list-different

chore: type mockClient with StreamChat and use vi.spyOn for public methods
  src/components/Message/__tests__/Message.test.tsx
  src/components/Thread/__tests__/ThreadStart.test.tsx
  src/mock-builders/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove bottom padding from poll option with votes in poll results
  src/components/Poll/PollActions/PollResults/PollOptionWithVotes.tsx
  src/components/Poll/styling/PollResults.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Introduce 'quick-dropdown-toggle' action placement, adjust defaults
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/Chat/hooks/useSplitActionSet.ts
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/Reactions/ReactionSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix broken Avatar CSS variable
  src/components/Avatar/styling/Avatar.scss
Due: none

Adjust tests
  src/components/MessageActions/__tests__/MessageActions.test.jsx
Due: prettier --list-different

Lint fixes
  src/components/Reactions/ReactionSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: use stream-chat types in mock-builders instead of Record/unknown
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/mock-builders/api/getOrCreateChannel.ts
  src/mock-builders/api/queryChannels.ts
  src/mock-builders/generator/attachment.ts
  src/mock-builders/generator/channel.ts
  src/mock-builders/generator/member.ts
  src/mock-builders/index.ts
  src/mock-builders/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: use TDateTimeParser, BlobEvent, ResizeObserverCallback types
  src/mock-builders/browser/EventEmitter.ts
  src/mock-builders/browser/ResizeObserver.ts
  src/mock-builders/browser/events/dataavailable.ts
  src/mock-builders/context.ts
  src/mock-builders/generator/reminder.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: replace variable any annotations with SDK types in tests
  src/components/Attachment/__tests__/Card.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/Message/hooks/__tests__/useFlagHandler.test.tsx
  src/components/Message/hooks/__tests__/useUserRole.test.tsx
  src/components/MessageList/__tests__/utils.test.ts
  src/components/MessageList/hooks/__tests__/useGiphyPreview.test.tsx
  src/components/MessageList/hooks/__tests__/useUnreadMessagesNotificationVirtualized.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: type importOriginal with typeof import() in vi.mock calls
  eslint.config.mjs
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: replace {} as any, vi.spyOn as any, and provider as any casts
  src/components/Attachment/__tests__/Card.test.tsx
  src/components/Attachment/__tests__/File.test.tsx
  src/components/Attachment/__tests__/Geolocation.test.tsx
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.ts
  src/components/BaseImage/__tests__/BaseImage.test.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/__tests__/ChannelListUI.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/EventComponent/__tests__/EventComponent.test.tsx
  src/components/Gallery/__tests__/Gallery.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/Image.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.tsx
  src/components/LoadMore/__tests__/LoadMoreButton.test.tsx
  src/components/MediaRecorder/classes/__tests__/AmplitudeRecorder.test.ts
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageTimestamp.test.tsx
  src/components/Message/hooks/__tests__/useUserRole.test.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/hooks/__tests__/useGiphyPreview.test.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Poll/__tests__/AddCommentForm.test.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/Poll/__tests__/PollHeader.test.tsx
  src/components/Reactions/__tests__/MessageReactions.test.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
  src/components/TextareaComposer/__tests__/EmoticonItem.test.tsx
  src/components/TextareaComposer/__tests__/UserItem.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Window/__tests__/Window.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust CI
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/size.yml
  vite.config.ts
  vitest.config.ts
Due: prettier --list-different

chore: replace Record<string, any> with typed interfaces in test helpers
  src/components/Attachment/__tests__/Geolocation.test.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/EventComponent/__tests__/EventComponent.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/Message/hooks/__tests__/useUserRole.test.tsx
  src/components/MessageComposer/__tests__/LinkPreviewList.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/i18n/__tests__/utils.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

tmp
  .github/workflows/ci.yml
Due: prettier --list-different

feat: quick dropdown toggle and cleanup (#3054)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/size.yml
  src/components/Avatar/styling/Avatar.scss
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/Chat/hooks/useSplitActionSet.ts
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageActions/__tests__/MessageActions.test.jsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/Reactions/ReactionSelector.tsx
  vite.config.ts
  vitest.config.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove bottom padding from poll option with votes in poll results (#3059)
  src/components/Poll/PollActions/PollResults/PollOptionWithVotes.tsx
  src/components/Poll/styling/PollResults.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove no-op amplitudesCount prop from WaveProgressBar tests
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
