Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Notes added by 'git notes add'
  cf9c41878e3f0e0e4fc06c9d404f5d317c6037cb
Due: none

fix: prevent textarea selection reset upon text insertion
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.19.0
  package.json
  yarn.lock
Due: prettier --list-different

fix: prevent textarea selection reset upon text insertion (#2814)
  package.json
  src/components/TextareaComposer/TextareaComposer.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: check the presence of remindMe and saveForLater message actions correctly (#2808)
  src/components/Message/__tests__/utils.test.js
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.6.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  c5dc37332d890cda6fc49e1c6ecbce7556743760
Due: none

fix: return possibility to compose characters
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.6.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  7de4d115cc323fc3a170170e550d5554c3cce4e8
Due: none

fix: export LoadingChannel component
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/__tests__/__snapshots__/Channel.test.js.snap
  src/components/Loading/LoadingChannel.tsx
  src/components/Loading/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add missing translations for poll composer error messages
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix: export LoadingChannel component (#2818)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/__tests__/__snapshots__/Channel.test.js.snap
  src/components/Loading/LoadingChannel.tsx
  src/components/Loading/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add missing translations for poll composer error messages (#2820)
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

chore(release): 13.6.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  3701b40f3b7fb87a9d0b3621784c661aad457175
Due: none

chore: add AGENTS.md & CODEOWNERS
  AGENTS.md
  CODEOWNERS
Due: prettier --list-different

fix: display message actions dialogs for thread replies sent to channel
  src/components/Message/MessageOptions.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: display message actions dialogs for thread replies sent to channel (#2823)
  src/components/Message/MessageOptions.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.6.4 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  55c7f783e5adac8522a349fdbd09245dc8ae4786
Due: none

fix: reflect channel config besides user permissions in AttachmentSelector
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
  src/mock-builders/generator/channel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reflect channel config besides user permissions in AttachmentSelector (#2824)
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
  src/mock-builders/generator/channel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.6.5 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  80fe505a0b86415833e71c51ee78e3274b9c1d56
Due: none

fix: enabled headings in message markdown
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: render html as text in ChannelPreview
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: enabled headings in message markdown (#2829)
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: render html as text in ChannelPreview (#2830)
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.6.6 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  58d41c820b8c8b09c09523755bf3a8196d65438a
Due: none

feat: support inserted text element in message markdown rendering
  src/components/ChannelPreview/utils.tsx
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/index.ts
  src/components/Message/renderText/remarkPlugins/plusPlusToEmphasis.ts
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix flaky test
  src/components/MessageInput/__tests__/EditMessageForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: support inserted text element in message markdown rendering (#2831)
  src/components/ChannelPreview/utils.tsx
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/index.ts
  src/components/Message/renderText/remarkPlugins/plusPlusToEmphasis.ts
  src/components/Message/renderText/renderText.tsx
  src/components/MessageInput/__tests__/EditMessageForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add imageToLink Remark plugin for converting image MD links to anchor tags
  src/components/ChannelPreview/utils.tsx
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/imageToLink.ts
  src/components/Message/renderText/remarkPlugins/index.ts
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add imageToLink Remark plugin for converting image MD links to anchor tags (#2832)
  src/components/ChannelPreview/utils.tsx
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/imageToLink.ts
  src/components/Message/renderText/remarkPlugins/index.ts
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  79da43deb27fda46f3b9d291ee51d0ccde5adcc3
Due: none

fix: add CustomMessageComposerData redeclaration
  src/@types/stream-chat-custom-data.d.ts
  src/types/defaultDataInterfaces.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add CustomMessageComposerData redeclaration (#2833)
  src/@types/stream-chat-custom-data.d.ts
  src/types/defaultDataInterfaces.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
