Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix(MessageList): align unread separator with jump target and keep page scroll
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/MessageList/renderMessages.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): add embedded page layout setting to the vite example
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/EmbeddedHostPage.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

fix(MessageComposer): focus the textarea without scrolling the host page
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/useTextareaRef.ts
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: put unread separator above system messages and stop scrolling the host page on scroll to a message (#3305)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/EmbeddedHostPage.tsx
  examples/vite/src/index.scss
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/useTextareaRef.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/MessageList/renderMessages.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.12.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  e4ec2dc5292a534e82095672d3ae7cb622aff719
Due: none

feat!: adopt the thread paginator and ThreadManager API from stream-chat v10
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useMessageAlsoSentInChannelNavigation.test.tsx
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
  src/components/Thread/Thread.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListLoadingIndicator.tsx
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListUnseenThreadsBanner.test.tsx
  src/components/Threads/ThreadList/__tests__/useThreadHighlighting.test.ts
  src/components/Threads/ThreadList/useThreadHighlighting.ts
  src/plugins/SlotLayout/ChatViewNavigationContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat!: read channels from the channel store instead of client.activeChannels
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/ServerSideClientPromptDialog.tsx
  examples/vite/src/AppSettings/tabs/Configuration/ConfigurationTab.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  examples/vite/src/Debug/StreamDebugHandles.tsx
  examples/vite/src/Debug/composerRegistry.ts
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/channelInstanceAxis.test.tsx
  src/components/Channel/__tests__/channelSwitchReset.test.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/components/MessageList/__tests__/messageSourceKey.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat!: get channels through client.channelManager.ensure()
  AGENTS.md
  ai-docs/ai-migration-v14-v15.md
  ai-docs/instance-configuration.md
  examples/tutorial/src/3-core-component-setup/App.tsx
  examples/tutorial/src/6-custom-ui-components/App.tsx
  examples/tutorial/src/7-emoji-picker/App.tsx
  examples/tutorial/src/optional-custom-attachment-type/App.tsx
  examples/tutorial/src/optional-livestream/App.tsx
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClient.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideMethods.ts
  examples/vite/src/AppSettings/tabs/Reactions/ReactionsTab.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  examples/vite/src/SingleChannel/SingleChannelApp.tsx
  src/components/Attachment/__tests__/Card.test.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/__tests__/ChannelLists.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.tsx
  src/components/ChannelListItem/hooks/__tests__/useIsChannelMuted.test.tsx
  src/components/ChannelListItem/hooks/__tests__/useMessageDeliveryStatus.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerController.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/__tests__/messageSourceKey.test.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/mock-builders/utils.ts
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/utils/__tests__/getChannel.test.ts
  src/utils/getChannel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): get channels through channelManager.ensure() in docs-playwright scripts
  examples/vite/docs-playwright/screenshot-attachment-actions.ts
  examples/vite/docs-playwright/screenshot-misc.ts
  examples/vite/docs-playwright/screenshot-reactions.ts
  examples/vite/docs-playwright/screenshot-system-message.ts
  examples/vite/docs-playwright/screenshot-variants.ts
  examples/vite/docs-playwright/screenshot-voice-recording.ts
  examples/vite/docs-playwright/seed-channel-and-screenshot.mjs
Due: prettier --list-different

feat: split path params into separate request objects
  examples/vite/docs-playwright/screenshot-attachment-actions.ts
  examples/vite/docs-playwright/screenshot-misc.ts
  examples/vite/docs-playwright/screenshot-reactions.ts
  examples/vite/docs-playwright/screenshot-system-message.ts
  examples/vite/docs-playwright/screenshot-variants.ts
  examples/vite/docs-playwright/screenshot-voice-recording.ts
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionsFetcher.test.tsx
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/__tests__/SuggestPollOptionForm.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: update docs from review
  specs/message-pagination/decisions.md
Due: prettier --list-different

fix(Poll): vote without debounce, relying on stream-chat optimistic votes
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Poll): toggle the vote on every click
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: watch opened channel search results and tie search subscriptions to Chat
  ai-docs/ai-migration-v14-v15.md
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): add a channel store debug dialog to the vite app
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/ConnectionDevPanel/ConnectionDevPanel.tsx
  examples/vite/src/Debug/ChannelStoreDialog.tsx
  examples/vite/src/Debug/ComposerInspector.scss
  examples/vite/src/Debug/index.ts
Due: prettier --list-different

fix(Poll): vote without debounce, relying on stream-chat optimistic votes (#3308)
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Poll): port the poll vote debounce removal (#3308) to v15
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: update stream-chat-js version
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 14.12.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  a586dbbcf42fe3613f5a30bc278ec864f651dda8
Due: none

chore(examples): add a user profile dialog to the vite app
  examples/vite/src/Sidebar/ChatViewSelectorItemSet.tsx
  examples/vite/src/UserProfile/UserDetailDialog.tsx
  examples/vite/src/UserProfile/UserProfile.scss
  examples/vite/src/UserProfile/UserProfileButton.tsx
  examples/vite/src/UserProfile/index.ts
  examples/vite/src/UserProfile/useOwnUser.ts
  examples/vite/src/index.scss
Due: prettier --list-different

fix(ChannelListItem): re-derive preview info from channel state instead of every user.updated
  src/components/ChannelListItem/channelDisplayState.ts
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.tsx
  src/components/ChannelListItem/hooks/useChannelDisplayName.ts
  src/components/ChannelListItem/hooks/useChannelPreviewInfo.ts
  src/components/ChannelListItem/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: client.channel() is a shorthand for channelManager.ensure() in stream-chat v10
  ai-docs/ai-migration-v14-v15.md
Due: prettier --list-different

fix: pass path parameters separately to stream-chat v10 API calls
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionsFetcher.test.tsx
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/__tests__/SuggestPollOptionForm.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): add a new conversation dialog to the vite app
  examples/vite/src/NewConversation/NewConversation.scss
  examples/vite/src/NewConversation/NewConversationButton.tsx
  examples/vite/src/NewConversation/NewConversationDialog.tsx
  examples/vite/src/NewConversation/createConversation.ts
  examples/vite/src/NewConversation/index.ts
  examples/vite/src/Sidebar/ChatViewSelectorItemSet.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

fix(Poll): port the poll vote debounce removal (#3308) to v15 (#3309)
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): make older-page anchor restore idempotent on iOS WebKit
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Modal): keep scrolling over the overlay from reaching the page
  src/components/Modal/styling/Modal.scss
Due: none

feat(ChannelDetail): disable the details button until the channel is loaded
  src/plugins/ChannelDetail/AvatarWithChannelDetail.tsx
  src/plugins/ChannelDetail/__tests__/AvatarWithChannelDetail.test.tsx
  src/plugins/ChannelDetail/styling/AvatarWithChannelDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(SlotLayout): move a slot to the instance that superseded its channel
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/SupersededChannelSwap.tsx
  src/plugins/SlotLayout/__tests__/SupersededChannelSwap.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(SlotLayout): add DisposedChannelRelease to empty a slot whose channel was disposed
  src/plugins/SlotLayout/DisposedChannelRelease.tsx
  src/plugins/SlotLayout/__tests__/DisposedChannelRelease.test.tsx
  src/plugins/SlotLayout/index.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(SlotLayout): show an empty-state placeholder when no slot has content
  src/i18n/__tests__/catalog.fixture.json
  src/i18n/keys.ts
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/ChatViewEmptyPlaceholder.tsx
  src/plugins/SlotLayout/__tests__/ChatView.test.tsx
  src/plugins/SlotLayout/index.tsx
  src/plugins/SlotLayout/layout/WorkspaceLayout.tsx
  src/plugins/SlotLayout/styling/ChatView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): improve the new conversation dialog
  examples/vite/src/AppSettings/SearchableSelect.tsx
  examples/vite/src/NewConversation/NewConversation.scss
  examples/vite/src/NewConversation/NewConversationDialog.tsx
  examples/vite/src/NewConversation/createConversation.ts
Due: prettier --list-different

chore(examples): add CDN upload destinations, with a mock CDN
  examples/vite/.gitignore
  examples/vite/mockCdnPlugin.ts
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Composer/ComposerTab.tsx
  examples/vite/src/SendWhilePendingUploads/cdnUpload.ts
  examples/vite/src/SendWhilePendingUploads/index.ts
  examples/vite/src/SendWhilePendingUploads/uploadHarness.ts
  examples/vite/tsconfig.node.json
  examples/vite/vite.config.ts
Due: prettier --list-different

chore(examples): empty disposed channel slots and show the empty placeholder
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/it.ts
Due: prettier --list-different

test: flag a channel pending disposal through its state
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelListItem/hooks/__tests__/useIsChannelMuted.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): note that the SDK never releases unused channels on its own
  examples/vite/src/Debug/ChannelStoreDialog.tsx
Due: prettier --list-different

chore(examples): remove redundant comment
  examples/vite/src/App.tsx
Due: prettier --list-different

fix(Threads): hold one activation per thread panel and leave it alone on close
  src/components/Threads/hooks/__tests__/useCloseThread.test.tsx
  src/components/Threads/hooks/useCloseThread.ts
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/__tests__/useActiveThread.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
