Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

refactor: remove unnecessary clsx use
  src/components/Message/Timestamp.tsx
  src/components/Message/__tests__/MessageTimestamp.test.js
Due: eslint --max-warnings 0, prettier --list-different

refactor: separate type from value imports
  src/i18n/Streami18n.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: apply suggestions from code review
  docusaurus/docs/React/guides/date-time-formatting.mdx
Due: none

feat: allow to configure date and time format over i18n (#2419)
  docusaurus/docs/React/guides/date-time-formatting.mdx
  docusaurus/sidebars-react.json
  src/components/DateSeparator/DateSeparator.tsx
  src/components/DateSeparator/__tests__/DateSeparator.test.js
  src/components/EventComponent/EventComponent.tsx
  src/components/EventComponent/__tests__/EventComponent.test.js
  src/components/Message/MessageTimestamp.tsx
  src/components/Message/Timestamp.tsx
  src/components/Message/__tests__/MessageTimestamp.test.js
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.js
  src/i18n/__tests__/utils.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/index.ts
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/utils.ts
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: memoize addNotification function provided by Channel component (#2423)
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.21.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0a/1b6dc2c1c332e1dd6e2384cea0f4979a057f93
Due: none

chore: streamline build pipeline (#2325)
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .postcssrc
  babel.config.js
  e2e/add-message.test.ts
  e2e/navigate-long-message-lists.test.ts
  examples/capacitor/package.json
  examples/capacitor/yarn.lock
  examples/typescript/package.json
  examples/typescript/yarn.lock
  examples/vite/yarn.lock
  i18next-parser.config.js
  package.json
  rollup.config.js
  scripts/bundle.mjs
  scripts/copy-css.sh
  scripts/copy-version.sh
  src/components/AutoCompleteTextarea/List.jsx
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/LoadMore/__tests__/LoadMorePaginator.test.js
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.js.snap
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/index_UMD.ts
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

fix: render typing indicator outside the VirtualizedMessageList scroll container (#2406)
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

chore(ci): create rc release with rc suffix
  .releaserc.json
Due: none

chore(release): 12.0.0-rc.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2b/4e0d60d602dc3d293c48aebee3844c3095b6ce
Due: none

fix: avoid eager channel pagination on channel open
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
Due: eslint --max-warnings 0, prettier --list-different

docs: add layout CSS to Getting Started article
  docusaurus/docs/React/basics/getting-started.mdx
Due: none

fix: keep line breaks in message text that contains multiple markdown elements
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/keepLineBreaksPlugin.ts
Due: eslint --max-warnings 0, prettier --list-different

style: keep translation keys in alphabetic order
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix: keep line breaks in message text that contains multiple markdown elements (#2429)
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/keepLineBreaksPlugin.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: load lazily mp3 encoding library for audio recorder
  package.json
  src/components/MediaRecorder/transcode/mp3.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: do not make lamejs a peer dep
  package.json
Due: none

chore: keep lamejs among dependencies
  package.json
Due: none

Adjust ChannelActionContextValue type
  src/components/Channel/Channel.tsx
  src/context/ChannelActionContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

More new components
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  src/components/Threads/ThreadContext.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Views/Views.tsx
  src/components/Views/index.tsx
  src/components/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Initial commit
  src/components/Threads/Thread.tsx
  src/components/Threads/ThreadContext.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Threads/hooks/useSimpleStateStore.ts
  src/components/Threads/index.tsx
  src/components/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Example app stuff
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  examples/vite/src/main.tsx
Due: none

First working MVP
  examples/vite/src/App.tsx
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadContext.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Threads/index.tsx
Due: eslint --max-warnings 0, prettier --list-different

Unread badges and loadUnreadThreads button \w icon
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  package.json
  src/components/MessageList/MessageList.tsx
  src/components/Threads/ThreadContext.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Threads/icons.tsx
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

Adjusting existing components
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/index.tsx
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Views/Views.tsx
  src/components/Views/index.tsx
  src/components/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Cleanup, fixes and adjustments
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  src/components/Channel/Channel.tsx
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadContext.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: adjust ChannelActionContextValue type (#2434)
  src/components/Channel/Channel.tsx
  src/context/ChannelActionContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: load lazily mp3 encoding library for audio recorder (#2432)
  src/components/MediaRecorder/transcode/mp3.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: avoid eager channel pagination on channel open (#2425)
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.22.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b6/eb13b492fdc50f034cd8816838d1d843f36ea6
Due: none

chore(deps): bump @stream-io/stream-chat-css to version 5.0.0-rc.1nvm
  package.json
  yarn.lock
Due: none

test: remove MessageStatus tests for legacy styles
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.0.0-rc.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d8/c923d8669f1453d8bb69cc8ebd329a1b5691ef
Due: none

style: fix MessageStatus lint issues
  src/components/Message/MessageStatus.tsx
Due: eslint --max-warnings 0, prettier --list-different

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
