Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: render markdown link correctly (regression 13.2.2)
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add support for global modal rendering at the top of the chat component tree
  src/components/Channel/Channel.tsx
  src/components/Chat/Chat.tsx
  src/components/Dialog/DialogManager.ts
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/Image.tsx
  src/components/MessageBounce/MessageBounceModal.tsx
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/index.ts
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/context/ComponentContext.tsx
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: prevent using StateStore for dialogManagersStore
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: prevent rendering elements in DialogPortalDestination when no dialogs are open
  src/components/Dialog/DialogPortal.tsx
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageListComponents.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: render markdown link correctly (regression in 13.2.2) (#2790)
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add GlobalModal tests
  src/components/Modal/__tests__/GlobalModal.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: make dialogManagersStore reactive to adjust for provider props change
  src/components/Dialog/__tests__/DialogManagerContext.test.js
  src/components/Dialog/hooks/useDialog.ts
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix Geolocation tests
  src/components/Attachment/__tests__/Geolocation.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: export type GeolocationPreviewProps
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reset PollComposer state on poll creation form submission
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: publish notification on poll vote casting limit trespass
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/pollVoteCountTrespass.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: remove redundant effect dependency
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add type='button' to GlobalModal close button
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reset PollComposer state on poll creation form submission (#2795)
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow restrictions on modal close behavior
  src/components/Modal/Modal.tsx
  src/components/Modal/__tests__/Modal.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.15.0
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to version 5.12.0
  package.json
  yarn.lock
Due: prettier --list-different

fix: publish notification on poll vote casting limit trespass (#2796)
  package.json
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/pollVoteCountTrespass.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: reflect user.messages.deleted WS event
  src/components/Channel/Channel.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/mock-builders/event/index.js
  src/mock-builders/event/userMessagesDeleted.ts
  src/mock-builders/generator/channel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow restrictions on modal close behavior (#2797)
  src/components/Modal/Modal.tsx
  src/components/Modal/__tests__/Modal.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade linkifyjs to v4.3.2
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 13.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  68b5d262b9777a885533130a33bf82639c7ee282
Due: none

chore(deps): upgrade stream-chat to v9.17.0
  package.json
  yarn.lock
Due: prettier --list-different

test: fix channel generator type
  src/mock-builders/generator/channel.ts
  src/types/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: reflect user.messages.deleted WS event (#2799)
  package.json
  src/components/Channel/Channel.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/mock-builders/event/index.js
  src/mock-builders/event/userMessagesDeleted.ts
  src/mock-builders/generator/channel.ts
  src/types/types.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  502ca111e2d024fca5531682ce395410435d3a6d
Due: none

fix: remove optimization preventing ChannelList re-render on member.updated event
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove optimization preventing ChannelList re-render on member.updated event (#2801)
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.5.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  48673b6132be806994d35e2419b80dcee0fe1f95
Due: none

fix: make DialogManagerProvider a pure component
  src/components/Dialog/__tests__/DialogManagerContext.test.js
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add support for global modal rendering at the top of the chat component tree (#2792)
  package.json
  src/components/Channel/Channel.tsx
  src/components/Chat/Chat.tsx
  src/components/Dialog/DialogManager.ts
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/__tests__/DialogManagerContext.test.js
  src/components/Dialog/hooks/useDialog.ts
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/Image.tsx
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageBounce/MessageBounceModal.tsx
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageListComponents.test.js.snap
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.js
  src/components/Modal/index.ts
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/context/ComponentContext.tsx
  src/context/DialogManagerContext.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: respect onCloseAttempt prop in GlobalModal
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__tests__/GlobalModal.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: respect onCloseAttempt prop in GlobalModal (#2802)
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__tests__/GlobalModal.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add question GitHub issue template
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --list-different

fix: check the presence of remindMe and saveForLater message actions correctly
  src/components/Message/__tests__/utils.test.js
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
