Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

chore(ai-import): feat(react-sdk): uploading attachments (GetStream/ai-components-js#16)
  examples/ai-chatbot/src/components/EmptyState/EmptyState.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
  src/plugins/AIComponents/components/composer/attachment-preview.tsx
  src/plugins/AIComponents/components/composer/file-preview.tsx
  src/plugins/AIComponents/styles/attachment-preview.scss
  src/plugins/AIComponents/styles/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): chore: update implementation.md
  examples/ai-chatbot/implementation.md
Due: prettier --list-different

chore(ai-import): chore: migrate the React demo to NextJS (GetStream/ai-components-js#17)
  examples/ai-chatbot/.gitignore
  examples/ai-chatbot/README.md
  examples/ai-chatbot/implementation.md
  examples/ai-chatbot/index.html
  examples/ai-chatbot/next.config.ts
  examples/ai-chatbot/package.json
  examples/ai-chatbot/public/.gitkeep
  examples/ai-chatbot/src/Root.tsx
  examples/ai-chatbot/src/app/favicon.ico
  examples/ai-chatbot/src/app/layout.tsx
  examples/ai-chatbot/src/app/page.tsx
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/EmptyState/EmptyState.tsx
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarFooter.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarHeader.tsx
  examples/ai-chatbot/src/components/ThemeContext.tsx
  examples/ai-chatbot/src/components/TopNavBar/TopNavBar.tsx
  examples/ai-chatbot/src/components/ai-demo.scss
  examples/ai-chatbot/src/components/api.ts
  examples/ai-chatbot/src/components/index.scss
  examples/ai-chatbot/src/components/index.ts
  examples/ai-chatbot/src/components/stream-chat.d.ts
  examples/ai-chatbot/src/main.tsx
  examples/ai-chatbot/tsconfig.app.json
  examples/ai-chatbot/tsconfig.json
  examples/ai-chatbot/tsconfig.node.json
  examples/ai-chatbot/vite.config.ts
Due: prettier --list-different

chore(ai-import): chore: disable message bubble for the AI agent responses
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.scss
Due: none

chore(ai-import): chore: styling adjustments
  examples/ai-chatbot/src/app/layout.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/Sidebar/Sidebar.scss
  examples/ai-chatbot/src/components/index.scss
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
  src/plugins/AIComponents/styles/ai-message-composer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): chore: upgrade next and react
  examples/ai-chatbot/package.json
Due: prettier --list-different

chore(ai-import): feat(react-sdk): component adjustments
  src/plugins/AIComponents/components/ai-markdown.tsx
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
  src/plugins/AIComponents/components/composer/use-speech-to-text.ts
  src/plugins/AIComponents/components/streaming-message.tsx
  src/plugins/AIComponents/components/tools/charts/chartJsSchema.ts
  src/plugins/AIComponents/components/tools/charts/charts.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): chore: design tweaks
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/EmptyState/EmptyState.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): chore: design tweaks (x2)
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.scss
  examples/ai-chatbot/src/components/EmptyState/EmptyState.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
Due: prettier --list-different

chore(ai-import): chore: design tweaks (x3)
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
Due: none

chore(ai-import): chore: dark mode hover states
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
Due: none

chore(ai-import): feat: rate limits
  examples/ai-chatbot/src/app/page.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/UserProvider.tsx
  examples/ai-chatbot/src/components/rateLimitUtils.ts
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): fix(react-sdk): adjust the list of the available models/platforms
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/api.ts
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): fix(react-sdk): adjust default models & move summarization
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): fix(react-sdk): make syntax highlighter respect the theme
  examples/ai-chatbot/src/components/index.scss
  src/plugins/AIComponents/components/ai-markdown.tsx
  src/plugins/AIComponents/styles/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): feat(react-sdk): move AI state indicator to the SDK
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.scss
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
  examples/ai-chatbot/src/components/index.scss
  src/plugins/AIComponents/components/ai-state-indicator.tsx
  src/plugins/AIComponents/index.ts
  src/plugins/AIComponents/styles/ai-state-indicator.scss
  src/plugins/AIComponents/styles/index.scss
  src/plugins/AIComponents/styles/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): feat(react-sdk): custom text inside AIStateIndicator
  src/plugins/AIComponents/components/ai-state-indicator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): docs: add LICENSE and README.md (GetStream/ai-components-js#18)
  src/plugins/AIComponents/README.md
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): fix: don't preset background color
  src/plugins/AIComponents/styles/ai-state-indicator.scss
Due: none

chore(ai-import): fix: don't preset background color (GetStream/ai-components-js#22)
  src/plugins/AIComponents/styles/ai-state-indicator.scss
Due: none

chore(ai-import): chore: adjust styling
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.scss
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
Due: prettier --list-different

chore(ai-import): chore: adjust styling
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
Due: prettier --list-different

chore(ai-import): fix: reduce the padding
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.scss
Due: none

chore(ai-import): feat: enable gemini-2.5-flash
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
Due: prettier --list-different

chore(ai-import): fix(react-sdk): default component adjustments (GetStream/ai-components-js#26)
  src/plugins/AIComponents/components/ai-state-indicator.tsx
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
  src/plugins/AIComponents/styles/index.scss
  src/plugins/AIComponents/styles/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): chore: bump deps
  examples/ai-chatbot/package.json
Due: prettier --list-different

chore: enable trusted package publishing
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --list-different

fix: remove unused translations
  AGENTS.md
  i18next-parser.config.js
  i18next.config.ts
  package.json
  src/components/Attachment/AttachmentActions.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/hooks/useMuteHandler.ts
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/SearchResults/SearchSourceResultsLoadingIndicator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: migrate translation extraction to i18next-cli
  .github/actions/setup-node/action.yml
  AGENTS.md
  i18next-parser.config.js
  i18next.config.ts
  package.json
  src/components/Attachment/AttachmentActions.tsx
  src/components/DateSeparator/DateSeparator.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/hooks/useMuteHandler.ts
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/SearchResults/SearchSourceResultsLoadingIndicator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: migrate translation extraction to i18next-cli
  .github/actions/setup-node/action.yml
  i18next.config.ts
  src/components/DateSeparator/DateSeparator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

style: remove comment
  src/components/DateSeparator/DateSeparator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: skip engine checks when running preactjs/compressed-size-action@v2
  .github/workflows/size.yml
Due: prettier --list-different

fix: add missing poll option validation error text
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: enable trusted package publishing (#2897)
  .github/actions/setup-node/action.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  AGENTS.md
  i18next-parser.config.js
  i18next.config.ts
  package.json
  src/components/Attachment/AttachmentActions.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/hooks/useMuteHandler.ts
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/SearchResults/SearchSourceResultsLoadingIndicator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(release): adjust .releaserc.json
  .releaserc.json
Due: prettier --list-different

chore(ai-import): feat: improved initial loading states
  examples/ai-chatbot/implementation.md
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/LoadingScreen/LoadingScreen.scss
  examples/ai-chatbot/src/components/LoadingScreen/LoadingScreen.tsx
  examples/ai-chatbot/src/components/LoadingScreen/index.ts
  examples/ai-chatbot/src/components/UserProvider.tsx
Due: prettier --list-different

chore(release): add write permissions to release workflow for issues and pull requests
  .github/workflows/release.yml
Due: prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to v5.16.1
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): upgrade stream-chat to v9.27.2
  package.json
  yarn.lock
Due: prettier --list-different
