Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: prevent querying thread draft when drafts are disabled
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: forward error object to LoadingErrorIndicator in ChannelList
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/Loading/LoadingErrorIndicator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: reorder tests
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: remove outdated test
  src/components/MessageInput/__tests__/EditMessageForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: adjust reminder mock generator to type changes
  src/mock-builders/generator/channel.ts
  src/mock-builders/generator/reminder.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: forward error object to LoadingErrorIndicator in ChannelList (#2768)
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/Loading/LoadingErrorIndicator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.10.1
  package.json
  yarn.lock
Due: prettier --list-different

fix: prevent querying thread draft when drafts are disabled (#2767)
  package.json
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
  src/mock-builders/generator/channel.ts
  src/mock-builders/generator/reminder.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make character composition possible in textarea (#2762)
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: distinguish non-submit form buttons
  src/components/Dialog/FormDialog.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: disable drafts at the end of each draft enabling test
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: distinguish non-submit form buttons (#2769)
  src/components/Dialog/FormDialog.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  996ddf6c1efc32e403a6fba2fdc66c1efbf13d39
Due: none

chore(deps): upgrade react-image-gallery to version 1.4.0
  package.json
  yarn.lock
Due: prettier --list-different

fix: export MessageIsThreadReplyInChannelButtonIndicator
  src/components/Message/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: regenerate image preview URL on image attachment removal when editing a message
  src/components/Attachment/AttachmentContainer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: export MessageIsThreadReplyInChannelButtonIndicator (#2774)
  src/components/Message/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove console.log
  src/components/Attachment/AttachmentContainer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: regenerate image preview URL on image attachment removal when editing a message (#2775)
  src/components/Attachment/AttachmentContainer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.2.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  323a4389493cef3e17615959814782284c9fe6ec
Due: none

feat: add preview text for channel with last message with shared location
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix translation tests
  src/i18n/__tests__/Streami18n.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: change the location preview icon
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: export all message components
  src/components/Message/index.ts
  src/components/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent validating empty inputs in poll forms
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: export all message components (#2779)
  src/components/Message/index.ts
  src/components/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: focus message composer textarea on suggestion item selection
  src/components/TextareaComposer/SuggestionList/SuggestionListItem.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): update stream-chat to version 9.12.0
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): update stream-chat to version 5.11.2
  package.json
  yarn.lock
Due: prettier --list-different

feat: add translations for 📍Shared location
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/utils.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: remove outdated/invalid code from vite example App.tsx
  examples/vite/src/App.tsx
Due: prettier --list-different

fix: prevent validating empty inputs in poll forms (#2780)
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: focus message composer textarea on suggestion item selection (#2782)
  src/components/TextareaComposer/SuggestionList/SuggestionListItem.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  93f0a4b2d4c3859dffd735bf31be4f0ee28a91ab
Due: none

Update README.md
  README.md
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
