Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): add announcements and keyboard navigation to Search and ChannelList
  src/a11y/hooks/__tests__/useListboxKeyboardNavigation.test.ts
  src/a11y/hooks/useListboxKeyboardNavigation.ts
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/__tests__/useChannelListKeyboardNavigation.test.tsx
  src/components/ChannelList/hooks/useChannelListKeyboardNavigation.ts
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchResults/SearchResults.tsx
  src/components/Search/SearchResults/SearchSourceResultListFooter.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
  src/components/Search/__tests__/SearchResults.test.tsx
  src/components/Search/__tests__/SearchSourceResultListFooter.test.tsx
  src/components/Search/__tests__/useAnnounceSearchResultCount.test.tsx
  src/components/Search/__tests__/useSearchResultsKeyboardNavigation.test.ts
  src/components/Search/hooks/index.ts
  src/components/Search/hooks/useAnnounceSearchResultCount.ts
  src/components/Search/hooks/useSearchResultsKeyboardNavigation.ts
  src/components/UtilityComponents/hooks/__tests__/useMutationObserver.test.ts
  src/components/UtilityComponents/hooks/useMutationObserver.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): add keyboard navigation to ThreadList
  src/a11y/hooks/__tests__/useVirtualizedListboxKeyboardNavigation.test.ts
  src/a11y/hooks/useVirtualizedListboxKeyboardNavigation.ts
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): keep focus in ChannelListItemActionButtons quick button variants
  src/components/Button/styling/Button.scss
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent changing unread UI state for thread messages
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

revert: drop ChannelList stopWatching-on-removal fix (#2599)
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): support a11y link navigation from SkipNavigation in threads view
  examples/vite/src/AccessibilityNavigation/ChatSkipNavigation.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/SkipNavigation/SkipNavigation.tsx
  src/components/SkipNavigation/__tests__/SkipNavigation.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelListItem): track current channel in mute-status subscription
  src/components/ChannelListItem/hooks/useIsChannelMuted.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: highlight selected thread and channel in the respective lists
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
Due: none

fix(ChannelListItem): guard mute status against a disconnected channel
  src/components/ChannelListItem/hooks/__tests__/useIsChannelMuted.test.tsx
  src/components/ChannelListItem/hooks/useIsChannelMuted.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(ChannelList): assert removed channels are evicted from activeChannels (#2599)
  src/components/ChannelList/__tests__/ChannelList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): add accessibility label to ThreadListItemUI
  src/a11y/accessibleLabel.ts
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/utils.a11y.ts
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
  src/components/Threads/ThreadList/__tests__/utils.a11y.test.ts
  src/components/Threads/ThreadList/index.ts
  src/components/Threads/ThreadList/utils.a11y.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(a11y): prevent concurrent announcements in search results and channel list actions
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/Search/SearchResults/SearchResults.tsx
  src/components/Search/SearchResults/SearchSourceResultListFooter.tsx
  src/components/Search/__tests__/SearchSourceResultListFooter.test.tsx
  src/components/Search/__tests__/useAnnounceSearchResultCount.test.tsx
  src/components/Search/hooks/useAnnounceSearchResultCount.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): add ReturnToSkipNavigation above the thread message composer
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

fix(a11y): exit search on blur only if focus moves outside the search container
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(deps): require stream-chat ^9.49.0 to evict removed channels (#2599)
  package.json
  yarn.lock
Due: prettier --list-different

chore(examples): bump stream-chat to ^9.49.0 to match the SDK
  examples/tutorial/package.json
  examples/vite/package.json
  yarn.lock
Due: prettier --list-different

fix: bug bashing ChannelList + Channel (#2474, #2441, #2393) (#3227)
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelListItem/hooks/__tests__/useIsChannelMuted.test.tsx
  src/components/ChannelListItem/hooks/useIsChannelMuted.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): announce thread and channel opening upon selection from the respective list
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(a11y): expose ChatView selector as a navigation landmark
  src/components/ChatView/ChatView.a11y.utility.ts
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/Threads/UnreadCountBadge.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): return focus to commands submenu and announce its back button correctly
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/Dialog/__tests__/ContextMenu.test.tsx
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/MessageComposer/AttachmentSelector/__tests__/CommandsMenu.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(Search): allow to override the search input props
  src/components/Search/Search.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchContext.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adapt the merged code
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/Dialog/components/Prompt.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/UserItem.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/__tests__/SuggestionList.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/ChannelDetail/SectionNavigator/__tests__/SectionNavigatorHeader.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

docs: document NotificationAnnouncer purpose
  src/components/Accessibility/NotificationAnnouncer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(i18n): translate echoed German aria live-region keys
  src/i18n/de.json
Due: prettier --list-different, yarn run validate-translations

fix(a11y): hide only the count in UnreadCountBadge, not its children
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/Threads/UnreadCountBadge.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): give each poll remove-option button a distinct name
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(a11y): keep modal label/description ids unique per instance
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): gate modal initial focus to the topmost modal
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(a11y): read modal description id instead of the shared base
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): guard channel quick actions against same-tick double activation
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): localize per-attachment download labels
  src/components/MessageActions/DownloadSubmenu.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): cancel superseded focus in virtualized listbox navigation
  src/a11y/hooks/useVirtualizedListboxKeyboardNavigation.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): supersede a pending delayed announcement on rapid re-trigger
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): thread explicit latestMessage through channel preview helpers
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/ChannelListItem/utils.a11y.ts
  src/components/ChannelListItem/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): surface poll message send failure separately from poll creation
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): detect real outside clicks for search blur via pointerdown
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): keep composer command Enter in sync with sorted suggestion order
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/SuggestionList/index.ts
  src/components/TextareaComposer/SuggestionList/utils.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/components/TextareaComposer/__tests__/orderSuggestionItems.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): fall back to list container when the skip target list is empty
  examples/vite/src/AccessibilityNavigation/ChatSkipNavigation.tsx
Due: prettier --list-different

fix(a11y): preserve incoming buttonProps in command-mode attachment selector
  examples/vite/src/CommandModeAttachmentSelector.tsx
Due: prettier --list-different

fix(a11y): anchor load-more focus to the pre-load boundary, not row count
  src/components/ChannelList/hooks/__tests__/useChannelListKeyboardNavigation.test.tsx
  src/components/ChannelList/hooks/useChannelListKeyboardNavigation.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
