Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): announce message bubble text with context (#3177)
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
  src/components/MessageComposer/WithDragAndDropUpload.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(demo): change the sidebar icons for RTL, theme, change the order
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/icons.tsx
  src/components/ChatView/styling/ChatView.scss
Due: prettier --list-different

fix: remove visual glitches in ModalGallery, placeholder color, borders (#3178)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/icons.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Form/styling/NumericInput.scss
  src/components/Form/styling/TextInput.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/styling/base.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add snackbar notification upon channels query pagination failure
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Initial commit
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/components/Reactions/styling/ReactionSelector.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: extended reactions button adjustments (#3172)
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/components/Reactions/styling/ReactionSelector.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/index.scss
  package.json
  src/components/MessageComposer/styling/MessageComposer.scss
  src/styling/css-normalize/minimal-normalize.scss
  src/styling/css-normalize/wrapped-modern-normalize.scss
  src/styling/index.scss
Due: prettier --list-different

Next iteration
  examples/vite/src/index.scss
  package.json
  src/components/Search/styling/Search.scss
  src/styling/base.scss
  src/styling/css-normalize/minimal-normalize.scss
  src/styling/css-normalize/minimal.scss
  src/styling/css-normalize/wrapped-modern-normalize.scss
Due: prettier --list-different

Make modern-normalize optional peer dep
  package.json
  yarn.lock
Due: prettier --list-different

Add modern-normalize to Vite example
  examples/vite/package.json
Due: prettier --list-different

fix: decouple modern-normalize from the SDK (#3180)
  examples/vite/package.json
  examples/vite/src/index.scss
  package.json
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/Search/styling/Search.scss
  src/styling/base.scss
  src/styling/css-normalize/minimal.scss
  src/styling/index.scss
  yarn.lock
Due: prettier --list-different

feat: add snackbar notification upon channels query pagination failure (#3179)
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(Channel): respect false shouldGenerateVideoThumbnail prop
  src/components/Attachment/__tests__/VideoAttachment.test.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Channel): respect false shouldGenerateVideoThumbnail prop (#3184)
  src/components/Attachment/__tests__/VideoAttachment.test.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  e74b653ec95ba19003061ea540e27ecb0bcac196
Due: none

chore: Refine README content
  README.md
Due: prettier --list-different

Update README.md
  README.md
Due: prettier --list-different

chore: Refine README content (#3185)
  README.md
Due: prettier --list-different

Produce actual deployments with links
  .github/workflows/ci.yml
Due: prettier --list-different

chore: extend CI functionality (#3149)
  .github/workflows/ci.yml
Due: prettier --list-different

Initial commit
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/reactionOptions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add enhanced mentions handling to message composition
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Button/styling/Button.scss
  src/components/Icons/icons.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem.tsx
  src/components/TextareaComposer/SuggestionList/RoleItem.tsx
  src/components/TextareaComposer/SuggestionList/SpecialMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionItemWithAvatar.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionListItem.tsx
  src/components/TextareaComposer/SuggestionList/TokenizedSuggestionParts.tsx
  src/components/TextareaComposer/SuggestionList/UserGroupItem.tsx
  src/components/TextareaComposer/SuggestionList/UserItem.tsx
  src/components/TextareaComposer/SuggestionList/index.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/components/TextareaComposer/__tests__/MentionItem.test.tsx
  src/components/TextareaComposer/styling/SuggestionList.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: extended reactions button visibility adjustments in MessageReactionsDetail (#3186)
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/reactionOptions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Minor fixes post-merge
  .github/workflows/ci.yml
Due: prettier --list-different

chore(ci): minor fixes post-merge (#3187)
  .github/workflows/ci.yml
Due: prettier --list-different

chore(yarn): migrate to Yarn 4 + workspaces monorepo
  .gitignore
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  examples/tutorial/package.json
  examples/tutorial/yarn.lock
  examples/vite/package.json
  examples/vite/yarn.lock
  package.json
  yarn.lock
Due: prettier --list-different

chore(yarn): enable hardened mode and global hardlinks
  .yarnrc.yml
  package.json
Due: prettier --list-different

ci: adopt Yarn 4 immutable install and consolidate example deps
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  examples/vite/vercel.json
Due: prettier --list-different

docs: document Yarn 4 + workspaces setup
  AGENTS.md
  CLAUDE.md
  examples/tutorial/README.md
Due: prettier --list-different

chore(deps): pin versions that drifted during Yarn 4 lockfile regen
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --list-different

chore(example/vite): drop stream-chat resolve.alias and tsconfig paths
  examples/vite/tsconfig.json
  examples/vite/vite.config.ts
Due: prettier --list-different

chore(yarn): align with stream-video-js#2236 hardening settings
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --list-different

test(MessageText): refresh useId snapshots for React 19.2
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
Due: none

fix(ChannelListItem): guard channel.getClient() against disconnected client
  src/components/ChannelListItem/hooks/useChannelDisplayName.ts
  src/components/ChannelListItem/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): unpin tooling/runtime deps and sync manifest to resolved
  examples/vite/src/AppSettings/ActionsMenu/triggerNotificationUtils.ts
  package.json
  src/@types/vitest-axe.d.ts
  src/components/MessageComposer/styling/CommandsMenu.scss
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
  src/i18n/utils.ts
  src/plugins/encoders/mp3.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): sync remaining manifest ranges to resolved versions
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): downgrade i18next-cli and typescript-eslint past the age gate
  .yarnrc.yml
  examples/tutorial/package.json
  package.json
  yarn.lock
Due: prettier --list-different

chore: add build:all script and sync example workspace deps
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): upgrade typescript to ^6.0.3
  examples/tutorial/package.json
  examples/vite/package.json
  examples/vite/src/vite-env.d.ts
  examples/vite/tsconfig.json
  package.json
  src/components/Message/renderText/rehypePlugins/emojiMarkdownPlugin.ts
  src/components/Message/renderText/rehypePlugins/mentionsMarkdownPlugin.ts
  src/components/Message/renderText/remarkPlugins/htmlToTextPlugin.ts
  src/components/Message/renderText/renderText.tsx
  src/i18n/Streami18n.ts
  tsconfig.lib.json
  tsconfig.test.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
