Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

chore(tests): update snapshot
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
Due: none

fix(compat): restore React 17/18 compatibility in certain components (#3197)
  CLAUDE.md
  eslint.config.mjs
  src/components/Attachment/LinkPreview/CardAudio.tsx
  src/components/ChatView/ChatView.tsx
  src/components/Form/SwitchField.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPlayback.tsx
  src/components/Message/MessageText.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageList/hooks/useReducedMotionPreference.ts
  src/components/Poll/PollHeader.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/UtilityComponents/__tests__/useStableId.test.ts
  src/components/UtilityComponents/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ci): run lint and test jobs on master
  .github/workflows/ci.yml
Due: prettier --list-different

chore(ci): run lint and test jobs on master (#3198)
  .github/workflows/ci.yml
Due: prettier --list-different

fix(VideoPlayer): unwrap react-player CJS default export
  src/components/VideoPlayer/VideoPlayer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(EmojiPicker): unwrap @emoji-mart/react CJS default export
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(interop): unwrap CJS default exports (react-player, @emoji-mart/react) (#3199)
  src/components/VideoPlayer/VideoPlayer.tsx
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(mentions): use mention_groups to correctly wrap user group mentions
  src/components/Icons/icons.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
  src/components/Message/renderText/rehypePlugins/mentionsMarkdownPlugin.ts
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/components/TextareaComposer/SuggestionList/BroadcastMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem.tsx
  src/components/TextareaComposer/SuggestionList/RoleItem.tsx
  src/components/TextareaComposer/SuggestionList/index.ts
  src/components/TextareaComposer/__tests__/MentionItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(mentions): use ListItemLayout for MentionItem components
  src/components/ListItemLayout/ListItemLayout.tsx
  src/components/ListItemLayout/__tests__/ListItemLayout.test.tsx
  src/components/ListItemLayout/index.ts
  src/components/ListItemLayout/styling/ListItemLayout.scss
  src/components/ListItemLayout/styling/index.scss
  src/components/TextareaComposer/SuggestionList/BroadcastMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem.tsx
  src/components/TextareaComposer/SuggestionList/RoleItem.tsx
  src/components/TextareaComposer/SuggestionList/SpecialMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/UserGroupItem.tsx
  src/components/TextareaComposer/SuggestionList/UserItem.tsx
  src/components/TextareaComposer/__tests__/MentionItem.test.tsx
  src/components/TextareaComposer/styling/SuggestionList.scss
  src/components/index.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor(mentions): optimize mention item components
  src/components/ListItemLayout/ListItemLayout.tsx
  src/components/ListItemLayout/styling/ListItemLayout.scss
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/SuggestionList/BroadcastMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/BroadcastMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/MentionItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/MentionSuggestionTitle.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/RoleItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/SpecialMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/UserGroupItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/UserItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/index.ts
  src/components/TextareaComposer/SuggestionList/MentionItem/types.ts
  src/components/TextareaComposer/SuggestionList/RoleItem.tsx
  src/components/TextareaComposer/SuggestionList/SpecialMentionItem.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionItemWithAvatar.tsx
  src/components/TextareaComposer/SuggestionList/UserGroupItem.tsx
  src/components/TextareaComposer/SuggestionList/UserItem.tsx
  src/components/TextareaComposer/SuggestionList/index.ts
  src/components/TextareaComposer/__tests__/MentionItem.test.tsx
  src/components/TextareaComposer/styling/SuggestionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): announce giphy command placeholder without reference to tabs
  src/components/ChatView/ChatView.a11y.utility.ts
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: use ListItemLayout for switch fields in ChannelInfoActions.defaults.tsx
  src/components/Button/ListItemButton.tsx
  src/components/Button/index.ts
  src/components/ChannelDetail/ChannelDetail.tsx
  src/components/ChannelDetail/Views/ChannelInfoActions.defaults.tsx
  src/components/ChannelDetail/__tests__/ChannelInfoActions.defaults.test.tsx
  src/components/ChannelDetail/styling/ChannelManagementView.scss
  src/components/Form/SwitchField.tsx
  src/components/Form/__tests__/SwitchField.test.tsx
  src/components/Form/styling/SwitchField.scss
  src/components/ListItemLayout/ListItemLayout.tsx
  src/components/ListItemLayout/styling/ListItemLayout.scss
  src/utils/__tests__/isDmChannel.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: display notifications above modals
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/triggerNotificationUtils.ts
  examples/vite/src/AppSettings/AppSettings.scss
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Notifications/NotificationConfigurationContext.tsx
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Notifications/__tests__/notificationOrigin.test.ts
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/__tests__/useNotifications.test.tsx
  src/components/Notifications/hooks/useNotifications.ts
  src/components/Notifications/index.ts
  src/components/Notifications/notificationTarget.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChatView): remove duplicate blur listener registration on cleanup
  src/components/ChatView/ChatView.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Badge): avoid rendering literal 0 for zero-duration media badge
  src/components/Badge/MediaBadge.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(Reactions): group reacted usernames in a single pass
  src/components/Reactions/hooks/useProcessReactions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(MessageActions): hoist Download submenu out of render
  src/components/MessageActions/DownloadSubmenu.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(Channel): memoize throttledCopyStateFromChannel
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(MessageList): avoid array allocation in getGroupStyles
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(Dialog): import AutoPlacementOptions from @floating-ui/react
  src/components/Dialog/hooks/usePopoverPosition.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): remove unused ts-pattern dependency
  package.json
  yarn.lock
Due: prettier --list-different

feat: route all the notifications to modal panel, when modal is open
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/useNotificationApi.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(Message): reuse one compiled emoji regex across Message + renderText
  src/components/Message/emojiRegex.ts
  src/components/Message/renderText/__tests__/emojiMarkdownPlugin.test.ts
  src/components/Message/renderText/rehypePlugins/emojiMarkdownPlugin.ts
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(Message): hoist renderText code-block and markdown-link regexes
  src/components/Message/renderText/regex.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to stack modals on top of each other
  src/components/Dialog/__tests__/DialogManagerContext.test.tsx
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/hooks/useDialog.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Dialog/styling/Alert.scss
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: general performance and bug fixes (#3201)
  package.json
  src/components/Badge/MediaBadge.tsx
  src/components/Channel/Channel.tsx
  src/components/ChatView/ChatView.tsx
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/MessageActions/DownloadSubmenu.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageList/utils.ts
  src/components/Reactions/hooks/useProcessReactions.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(Message): hoist regex compilation in message text rendering (#3202)
  src/components/Message/emojiRegex.ts
  src/components/Message/renderText/__tests__/emojiMarkdownPlugin.test.ts
  src/components/Message/renderText/regex.ts
  src/components/Message/renderText/rehypePlugins/emojiMarkdownPlugin.ts
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix Dropdown tests
  src/components/Form/__tests__/Dropdown.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(VideoPlayer): lazy-load react-player to keep it out of the main bundle
  src/components/VideoPlayer/ReactPlayerWrapper.tsx
  src/components/VideoPlayer/VideoPlayer.tsx
  src/components/VideoPlayer/__tests__/VideoPlayer.test.tsx
  src/components/VideoPlayer/styling/VideoPlayer.scss
  src/components/VideoPlayer/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix tests
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): support local reference to stream-chat-js
  examples/vite/.env.example
  examples/vite/vite.config.ts
Due: prettier --list-different

fix: address code review remarks
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: display notifications above modals (#3200)
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/triggerNotificationUtils.ts
  examples/vite/src/AppSettings/AppSettings.scss
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Form/__tests__/Dropdown.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Notifications/NotificationConfigurationContext.tsx
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Notifications/__tests__/notificationOrigin.test.ts
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/__tests__/useNotifications.test.tsx
  src/components/Notifications/hooks/useNotificationApi.ts
  src/components/Notifications/hooks/useNotifications.ts
  src/components/Notifications/index.ts
  src/components/Notifications/notificationTarget.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: post merge test adjustments
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): support local reference to stream-chat-js (#3205)
  examples/vite/.env.example
  examples/vite/vite.config.ts
Due: prettier --list-different

test: add further test fixes
  src/components/Message/__tests__/MessageText.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
