Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat: position the message error icon at the beginning of the top right border radius
  src/components/Message/styling/Message.scss
Due: none

feat: track aria-selected in ContextMenuButton
  src/components/Dialog/base/ContextMenuButton.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

style: fix linter issues
  src/components/Form/styling/Form.scss
  src/components/Form/styling/NumericInput.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Form/styling/TextInputFieldset.scss
  src/components/Icons/styling/Icons.scss
  src/components/Icons/styling/index.scss
  src/components/Modal/styling/Modal.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Poll/styling/PollResults.scss
  src/styling/_global-theme-variables.scss
Due: none

feat: remove the resend-on-message-click behavior
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: integrate DialogAnchor into ContextMenu to keep stable position to reference element
  src/components/Dialog/base/ContextMenu.tsx
  src/components/Dialog/service/DialogAnchor.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add default PinIndicator component
  src/components/Message/MessageSimple.tsx
  src/components/Message/PinIndicator.tsx
  src/components/Message/icons.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/types.ts
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(Modal): add ModalFooter component and Figma-aligned styles
  src/components/Modal/ModalFooter.tsx
  src/components/Modal/index.ts
  src/components/Modal/styling/ModalFooter.scss
  src/components/Modal/styling/ModalHeader.scss
  src/components/Modal/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add scss for MessageList and VirtualizedMessageList
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/MessageList/styling/index.scss
  src/styling/_utils.scss
  src/styling/index.scss
Due: none

feat: align MessageComposer with message list width
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/Message/styling/Message.scss
  src/components/MessageInput/styling/MessageComposer.scss
Due: none

feat: control Avatar display and styles application via showAvatar prop
  src/components/Message/MessageSimple.tsx
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove reference to Emojis styling from start:css command
  package.json
Due: prettier --list-different

fix: apply max-width to str-chat__virtual-list
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: none

feat: add space 4px between messages in a group and 16px between groups
  src/components/Message/styling/Message.scss
Due: none

feat(Modal): add full ModalHeader component and Figma styles
  src/components/Modal/ModalHeader.tsx
  src/components/Modal/styling/Modal.scss
  src/components/Modal/styling/ModalHeader.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: implement pinned message redesign (#2952)
  src/components/Message/MessageSimple.tsx
  src/components/Message/PinIndicator.tsx
  src/components/Message/icons.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/types.ts
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: reconcile pin-indicator with message-reminder grid areas in a message
  src/components/Message/styling/Message.scss
Due: none

feat: remove padding block from str-chat__message
  src/components/Message/styling/Message.scss
Due: none

feat: remove item icon from RemindMeSubmenu
  src/components/MessageActions/RemindMeSubmenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: change "Quote" message action item text to "Quote Reply"
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageActions/defaults.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: add general purpose Prompt component
  src/components/Dialog/base/Prompt.tsx
  src/components/Dialog/base/index.ts
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix IconExclamationCircle markup
  src/components/Icons/icons.tsx
  src/components/Icons/styling/Icons.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add MessageBouncePrompt styling
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/MessageBounce/styling/MessageBouncePrompt.scss
  src/components/MessageBounce/styling/index.scss
  src/styling/_global-theme-variables.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add undo icons to MessageActions buttons
  src/components/Icons/icons.tsx
  src/components/Icons/styling/Icons.scss
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/defaults.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: reflect blocked users in block user message action
  src/components/MessageActions/defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.35.0
  package.json
  yarn.lock
Due: prettier --list-different

feat: remove props endOfGroup, firstOfGroup and groupedByUser from MessageProps
  src/components/Message/types.ts
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove padding from str-chat__virtual-list-message-wrapper
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: none

fix: remove the rest of references to endOfGroup, startOfGroup props
  src/components/Message/Message.tsx
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: adjust vertical and horizontal message spacing (#2954)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  package.json
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/MessageList/styling/index.scss
  src/context/MessageContext.tsx
  src/styling/_global-theme-variables.scss
  src/styling/_utils.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Allow bottom-rendered reactions to wrap
  src/components/Message/styling/Message.scss
Due: none

Add border and badge to AvatarStack
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Poll/PollOptionSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix reaction positioning (again)
  src/components/Message/styling/Message.scss
Due: none

Avatar badges & adjustments
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Avatar/styling/GroupAvatar.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix Avatar sizing
  src/components/Avatar/styling/Avatar.scss
Due: none

chore: more design change updates (#2953)
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/styling/Message.scss
  src/components/Poll/PollOptionSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: organize dialog types to Alert, Prompt, ContextMenu, Callout
  src/components/Dialog/FormDialog.tsx
  src/components/Dialog/PromptDialog.tsx
  src/components/Dialog/base/ContextMenuButton.tsx
  src/components/Dialog/base/Prompt.tsx
  src/components/Dialog/components/Alert.tsx
  src/components/Dialog/components/Callout.tsx
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/components/index.ts
  src/components/Dialog/index.ts
  src/components/Dialog/styling/Alert.scss
  src/components/Dialog/styling/Dialog.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/index.scss
  src/components/Form/hooks/index.ts
  src/components/Form/hooks/useFormState.ts
  src/components/Form/styling/Form.scss
  src/components/Location/ShareLocationDialog.tsx
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/MessageBounce/styling/MessageBouncePrompt.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/Modal/ModalFooter.tsx
  src/components/Modal/ModalHeader.tsx
  src/components/Modal/index.ts
  src/components/Modal/styling/Modal.scss
  src/components/Modal/styling/ModalFooter.scss
  src/components/Modal/styling/ModalHeader.scss
  src/components/Modal/styling/index.scss
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/EndPollDialog.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/PollOptionsFullList.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Poll/styling/PollResults.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix the spacing of PromptHeader and go-back button style
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/styling/Prompt.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove dead css
  src/components/Poll/styling/Poll.scss
Due: none

refactor: unify prompt controls buttons across the modal prompts
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/styling/Prompt.scss
  src/components/Form/styling/Form.scss
  src/components/Form/styling/index.scss
  src/components/Location/ShareLocationDialog.tsx
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/EndPollDialog.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/styling/base.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
