Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat: add react namespaced class on TextAreaComposer SuggestionList
  src/components/TextAreaComposer/SuggestionList.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: remove emojis search index initiation from textComposerEmojiMiddleware
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: use SendMessageOptions type from stream-chat
  examples/vite/src/App.tsx
  examples/vite/yarn.lock
  src/components/Channel/Channel.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/useMessageInputState/useMessageInputState.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/context/ChannelActionContext.tsx
  src/types/types.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: replace MiddlewareParams with TextComposerMiddlewareParams textComposerEmojiMiddleware
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
Due: eslint --max-warnings 0, prettier --list-different

Remove trigger generics, refactor useMessageComposer
  src/components/AutoCompleteTextarea/Item.tsx
  src/components/AutoCompleteTextarea/List.tsx
  src/components/AutoCompleteTextarea/TextareaX.tsx
  src/components/Channel/Channel.tsx
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
  src/components/Message/types.ts
  src/components/MessageInput/DefaultTriggerProvider.tsx
  src/components/MessageInput/DropzoneProvider.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/messageComposer/useIsUploadEnabled.ts
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useCommandTrigger.ts
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useEmojiTrigger.ts
  src/components/MessageInput/hooks/useMessageInputState/useMessageInputState.ts
  src/components/MessageInput/hooks/useMessageInputText.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/components/MessageInput/hooks/useUserTrigger.ts
  src/components/MessageInput/index.ts
  src/components/TextAreaComposer/SuggestionList.tsx
  src/components/TextAreaComposer/SuggestionListItem.tsx
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadContext.tsx
  src/context/ComponentContext.tsx
  src/context/MessageInputContext.tsx
  src/types/types.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: pass channel to createMentionsMiddleware instead of client
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
Due: eslint --max-warnings 0, prettier --list-different

style: apply linter
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: register only custom text composer middleware
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  src/components/MessageInput/hooks/useMessageInputState/useMessageInputState.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: add todo
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0, prettier --list-different

Adjust useMessageComposer & Thread-related stuff
  src/components/AutoCompleteTextarea/Item.tsx
  src/components/AutoCompleteTextarea/List.tsx
  src/components/AutoCompleteTextarea/Textarea.jsx
  src/components/AutoCompleteTextarea/TextareaX.tsx
  src/components/AutoCompleteTextarea/index.ts
  src/components/AutoCompleteTextarea/types.ts
  src/components/Channel/Channel.tsx
  src/components/Channel/channelState.ts
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
  src/components/ChatAutoComplete/__tests__/ChatAutocomplete.test.js
  src/components/ChatAutoComplete/index.ts
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  src/components/MessageInput/hooks/useCommandTrigger.ts
  src/components/MessageInput/hooks/useEmojiTrigger.ts
  src/components/MessageInput/hooks/useUserTrigger.ts
  src/components/TextAreaComposer/SuggestionList.tsx
  src/components/TextAreaComposer/SuggestionListItem.tsx
  src/components/Thread/Thread.tsx
  src/components/index.ts
  src/context/ChannelStateContext.tsx
  src/context/ComponentContext.tsx
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

Create deno.yml
  .github/workflows/deno.yml
Due: none

WIP: composer queue cache
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

Make FixedSizeQueueCache slightly faster
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
Due: eslint --max-warnings 0, prettier --list-different

Adjust composer subscription behavior
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

style: fix typo
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: use MessageComposer's PollComposer to handle poll creation
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/PollCreationDialog/types.ts
  src/components/Poll/constants.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: use message composer to upload audio recording
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MessageInput/hooks/useMessageInputState/useMessageInputState.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: reflect updateMessage signature change and LocalMessage type change
  src/components/Channel/Channel.tsx
  src/components/Channel/hooks/useEditMessageHandler.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: support draft management through MessageComposer
  src/components/MessageInput/MessageDraftSynchronizer.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

Add MessageBlocked component
  src/components/Channel/Channel.tsx
  src/components/Message/MessageBlocked.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

refactor: adapt AttachmentPreviewList to LLC attachment types
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/utils.tsx
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/AttachmentPreviewList/types.ts
  src/components/MessageInput/hooks/useAttachments.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: remove unused code related to useMessageInputState
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/utils.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/AudioRecorder/hooks/useTimeElapsed.ts
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/DropzoneProvider.tsx
  src/components/MessageInput/LinkPreviewList.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/MessageInput/hooks/messageComposer/useAttachmentManagerState.ts
  src/components/MessageInput/hooks/messageComposer/useIsUploadEnabled.ts
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useLinkPreviews.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/hooks/useMessageInputState/index.ts
  src/components/MessageInput/hooks/useMessageInputState/initMessageInputState.ts
  src/components/MessageInput/hooks/useMessageInputState/useMessageInputState.ts
  src/components/MessageInput/hooks/useMessageInputText.ts
  src/components/MessageInput/hooks/usePasteHandler.ts
  src/components/MessageInput/index.ts
  src/components/MessageInput/types.ts
  src/components/ReactFileUtilities/UploadButton.tsx
  src/context/ChannelStateContext.tsx
  src/context/ComponentContext.tsx
  src/context/MessageInputContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: retrieve draft for on legacy thread opening
  src/components/MessageInput/hooks/useMessageInputState.ts
Due: eslint --max-warnings 0, prettier --list-different

Upgrade @stream-io/stream-chat-css to v5.8.0
  package.json
  yarn.lock
Due: none

wip: compositionContext
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: [REACT-218] add MessageBlocked component (#2675)
  package.json
  src/components/Channel/Channel.tsx
  src/components/Message/MessageBlocked.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

chore(release): 12.14.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5fa6b0fc239a7d48032ae4c3d34e29969c52bd0c
Due: none

feat: prepare TextAreaComposer and SuggestionList UI to work with text composer state
  src/components/CommandItem/index.ts
  src/components/EmoticonItem/EmoticonItem.tsx
  src/components/EmoticonItem/index.ts
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/index.ts
  src/components/TextAreaComposer/SuggestionList.tsx
  src/components/TextAreaComposer/SuggestionList/CommandItem.tsx
  src/components/TextAreaComposer/SuggestionList/EmoticonItem.tsx
  src/components/TextAreaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextAreaComposer/SuggestionList/SuggestionListItem.tsx
  src/components/TextAreaComposer/SuggestionList/UserItem.tsx
  src/components/TextAreaComposer/SuggestionList/index.ts
  src/components/TextAreaComposer/SuggestionListItem.tsx
  src/components/TextAreaComposer/TextAreaComposer.tsx
  src/components/TextAreaComposer/__tests__/CommandItem.test.js
  src/components/TextAreaComposer/__tests__/EmoticonItem.test.js
  src/components/TextAreaComposer/__tests__/UserItem.test.js
  src/components/TextAreaComposer/index.ts
  src/components/UserItem/index.ts
  src/components/index.ts
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to specify and thus exclude tabIndex for dialog container
  src/components/Dialog/DialogAnchor.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageInput/AttachmentSelector.tsx
  src/experimental/MessageActions/MessageActions.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: keep Enter key as reserved for message submission
  src/components/TextAreaComposer/TextAreaComposer.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: export textComposerEmojiMiddleware from emoji plugin
  src/plugins/Emojis/index.ts
  src/plugins/Emojis/middleware/index.ts
Due: eslint --max-warnings 0, prettier --list-different

feat(examples): add textComposerEmojiMiddleware to message composer
  examples/vite/src/App.tsx
Due: none

Introduce default data interfaces
  src/@types/stream-chat-common-custom-data.d.ts
  src/@types/stream-chat-custom-data.d.ts
  src/types/defaultDataInterfaces.ts
  src/types/index.ts
  src/types/types.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: fix message editing bugs
  src/components/Message/MessageSimple.tsx
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/MessageInput/hooks/index.ts
  src/components/MessageInput/hooks/messageComposer/index.ts
  src/components/MessageInput/hooks/messageComposer/useComposerHasSendableData.ts
  src/components/MessageInput/hooks/messageComposer/useMessageComposer.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/ReactFileUtilities/UploadButton.tsx
  src/components/Thread/Thread.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: handle max_votes_allowed field blur in poll creation dialog
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: forward paste handler to Textarea component
  src/components/TextAreaComposer/TextAreaComposer.tsx
Due: eslint --max-warnings 0, prettier --list-different

applyModifications -> setupFunction
  examples/vite/src/App.tsx
Due: none
