Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Post-review updates
  docusaurus/docs/React/guides/sdk-state-management.mdx
Due: none

WIP: init draft
  docusaurus/docs/React/guides/sdk-state-management.mdx
  docusaurus/sidebars-react.json
Due: none

docs: SDK State Management (#2323)
  docusaurus/docs/React/guides/sdk-state-management.mdx
  docusaurus/sidebars-react.json
Due: none

feat: bump llc even harder
  package.json
  yarn.lock
Due: none

feat: support reaction groups (#2370)
  docusaurus/docs/React/components/message-components/reactions.mdx
  examples/typescript/yarn.lock
  package.json
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/__tests__/utils.test.js
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Message/utils.tsx
  src/components/MessageList/utils.ts
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/SimpleReactionsList.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.js
  src/components/Reactions/__tests__/ReactionsList.test.js
  src/components/Reactions/__tests__/ReactionsListModal.test.js
  src/components/Reactions/__tests__/SimpleReactionsList.test.js
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/types.ts
  src/mock-builders/generator/reaction.js
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.16.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  70/a478eca04877d0cba1105cdb43e5312058b8ba
Due: none

fix: message input not preventing default on enter on React 16
  src/components/AutoCompleteTextarea/Textarea.jsx
Due: none

fix: message input not preventing default on enter on React 16 (#2380)
  src/components/AutoCompleteTextarea/Textarea.jsx
Due: none

chore(release): 11.16.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b6/5533378e0cdb5d45dbbcda75e0aadae5d6d207
Due: none

feat: allow to review message processing before rendering in message lists (#2375)
  docusaurus/docs/React/components/core-components/message-list.mdx
  docusaurus/docs/React/components/core-components/virtualized-list.mdx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.js
  src/components/MessageList/__tests__/utils.test.js
  src/components/MessageList/hooks/MessageList/useEnrichedMessages.ts
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.17.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6a/3a7f8cdb3655ba8a24c1ce11c84f3fcc878c0c
Due: none

refactor: rename UnknownAttachmentPreview to UnsupportedAttachmentPreview
  docusaurus/docs/React/components/message-input-components/ui-components.mdx
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

feat: allow to customize attachment preview rendering for each type
  src/components/Attachment/utils.tsx
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UploadPreviewItem.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/types.ts
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/types.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: add documentation for attachment previews in message composer
  docusaurus/docs/React/guides/message-input/attachment-previews.mdx
  docusaurus/sidebars-react.json
Due: none

refactor: change class name for UnsupportedAttachmentPreview
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
Due: eslint --max-warnings 0, prettier --list-different

test: fix File test snapshot
  src/components/Attachment/__tests__/__snapshots__/File.test.js.snap
Due: none

docs: fix the documentation for Chat component prop initialNavOpen
  docusaurus/docs/React/components/core-components/chat.mdx
Due: none

test: await state update in a flaky test
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: attach class str-chat__message-with-thread-link only if the message has replies
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: adopt new queryReactions endpoint
  docusaurus/docs/React/components/contexts/message-context.mdx
  docusaurus/docs/React/components/core-components/message-list.mdx
  docusaurus/docs/React/components/core-components/virtualized-list.mdx
  docusaurus/docs/React/components/message-components/message.mdx
  docusaurus/docs/React/components/message-components/reactions.mdx
  examples/typescript/src/App.tsx
  src/components/Message/Message.tsx
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/types.ts
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/types.ts
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

docs: add examples for removeAttachments and upsertAttachments
  docusaurus/docs/React/components/contexts/message-input-context.mdx
Due: none

refactor: rename $internal to localMetadata
  docusaurus/docs/React/components/contexts/message-input-context.mdx
  src/components/Attachment/utils.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.js
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UploadPreviewItem.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/hooks/__tests__/useMessageInputState.test.js
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/components/MessageInput/types.ts
  src/mock-builders/generator/attachment.js
Due: eslint --max-warnings 0, prettier --list-different

fix: call channel.sendImage when uploading an image
  src/components/MessageInput/hooks/__tests__/useMessageInputState.test.js
  src/components/MessageInput/hooks/useAttachments.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: make attachment upload types specific by attachment type
  src/components/Attachment/utils.tsx
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/types.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/types.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: update document title
  docusaurus/docs/React/guides/message-input/attachment-previews.mdx
Due: none

refactor: remove unnecessary function argument checks
  src/components/MessageInput/hooks/useAttachments.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: do not recreate the attachment in upsertAttachments
  src/components/MessageInput/hooks/useAttachments.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: allow to customize attachment local metadata in message composer
  src/components/Attachment/utils.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/AttachmentPreviewList/types.ts
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/index.ts
  src/components/MessageInput/types.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): bump @stream-io/stream-chat-css to v4.16.0
  package.json
  yarn.lock
Due: none

docs: fix the documentation for Chat component prop initialNavOpen (#2385)
  docusaurus/docs/React/components/core-components/chat.mdx
Due: none

fix: attach class str-chat__message-with-thread-link only if the message has replies (#2386)
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.18.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  57/07b684187f64a7f189673ddbc5308ce3377dda
Due: none

chore(deps): bump @stream-io/stream-chat-css to v4.16.1
  package.json
  yarn.lock
Due: none

chore(release): 11.18.1 [skip ci]
  CHANGELOG.md
Due: none
