Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(store): provide getServerSnapshot to useStateStore so server rendering works
  src/store/hooks/__tests__/useStateStore.test.tsx
  src/store/hooks/useStateStore.ts
  vitest.setup.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): port AI sources to v15 (state-store, namespaced i18n keys)
  package.json
  src/i18n/__tests__/catalog.fixture.json
  src/i18n/keys.ts
  src/plugins/AIComponents/AIMarkdown/AIMarkdown.tsx
  src/plugins/AIComponents/AIMarkdown/index.ts
  src/plugins/AIComponents/AIMarkdown/tools/charts/Chart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/SuspendedChart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/chartJsSchema.ts
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/AIMessageComposer/hooks/useSpeechToText.ts
  src/plugins/AIComponents/AIMessageComposer/index.ts
  src/plugins/AIComponents/AIStateIndicator/AIStateIndicator.tsx
  src/plugins/AIComponents/ErrorBoundary.tsx
  src/plugins/AIComponents/README.md
  src/plugins/AIComponents/StreamingMessage/StreamingMessage.tsx
  src/plugins/AIComponents/__tests__/AIMarkdown.test.tsx
  src/plugins/AIComponents/__tests__/AIMessageComposer.test.tsx
  src/plugins/AIComponents/__tests__/AttachmentPreview.test.tsx
  src/plugins/AIComponents/__tests__/ChartErrorBoundary.test.tsx
  src/plugins/AIComponents/__tests__/ChartFallback.test.tsx
  src/plugins/AIComponents/__tests__/SpeechToTextButton.test.tsx
  src/plugins/AIComponents/__tests__/StreamingMessage.test.tsx
  src/plugins/AIComponents/__tests__/a11y.test.tsx
  src/plugins/AIComponents/__tests__/classNames.test.tsx
  src/plugins/AIComponents/__tests__/fakeSpeechRecognition.ts
  src/plugins/AIComponents/__tests__/hydration.test.tsx
  src/plugins/AIComponents/__tests__/i18n.test.tsx
  src/plugins/AIComponents/__tests__/ssr.test.tsx
  src/plugins/AIComponents/__tests__/styleTokens.test.ts
  src/plugins/AIComponents/index.ts
  src/plugins/AIComponents/styling/_tokens.scss
  src/plugins/AIComponents/styling/ai-message-composer.scss
  src/plugins/AIComponents/styling/ai-state-indicator.scss
  src/plugins/AIComponents/styling/attachment-preview.scss
  src/plugins/AIComponents/styling/index.scss
  src/plugins/AIComponents/styling/streaming-message.scss
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): drop unused ErrorBoundary carried over from the rename
  src/plugins/AIComponents/ErrorBoundary.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(ai-components): add stream-chat-react/ai-components entry point
  .github/workflows/ci.yml
  .prettierignore
  eslint.config.mjs
  package.json
  scripts/validate-cjs-browser-bundle.cjs
  scripts/validate-cjs-node-bundle.cjs
  scripts/validate-entry-isolation.mts
  scripts/validate-esm-node-bundle.mjs
  scripts/watch-styling.mjs
  vite.config.ts
Due: prettier --list-different

chore(ai-components): migrate ai-chatbot example to v15
  examples/ai-chatbot/.env.example
  examples/ai-chatbot/.gitignore
  examples/ai-chatbot/README.md
  examples/ai-chatbot/implementation.md
  examples/ai-chatbot/next.config.ts
  examples/ai-chatbot/package.json
  examples/ai-chatbot/src/app/createUserToken.ts
  examples/ai-chatbot/src/app/layout.tsx
  examples/ai-chatbot/src/app/page.tsx
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.scss
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
  examples/ai-chatbot/src/components/ActiveChannelContext.tsx
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.scss
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/EmptyState/EmptyState.tsx
  examples/ai-chatbot/src/components/LoadingScreen/LoadingScreen.tsx
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.scss
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.scss
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarFooter.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarHeader.tsx
  examples/ai-chatbot/src/components/ThemeContext.tsx
  examples/ai-chatbot/src/components/TopNavBar/TopNavBar.tsx
  examples/ai-chatbot/src/components/api.ts
  examples/ai-chatbot/src/components/index.scss
  examples/ai-chatbot/src/components/rateLimitUtils.ts
  examples/ai-chatbot/src/components/stream-chat.d.ts
  examples/ai-chatbot/tsconfig.json
  yarn.lock
Due: prettier --list-different

chore(release): 14.13.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  592e859293bb4a620f142a7e755a3962df2955a2
Due: none

chore(deps): upgrade stream-chat to v10.0.0-rc.20
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

chore(ai-components): document the v15 ai-components entry
  AGENTS.md
  ai-docs/ai-migration-v14-v15.md
  ai-docs/i18n-v15-key-map.json
  ai-docs/i18n-v15-migration.md
  examples/ai-chatbot/README.md
  src/plugins/AIComponents/README.md
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): translate ai-components keys in the vite example dictionaries
  AGENTS.md
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/it.ts
Due: prettier --list-different

chore(ai-components): seed upload capability for new chatbot conversations
  examples/ai-chatbot/next.config.ts
  examples/ai-chatbot/package.json
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarHeader.tsx
  examples/ai-chatbot/src/components/createDraftConversation.ts
  yarn.lock
Due: prettier --list-different

chore(ai-components): v15 install and translation notes in the ai-components README
  src/plugins/AIComponents/README.md
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): keep vite example dictionary keys in alphabetical order
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/it.ts
Due: prettier --list-different

fix(ChatView): treat a slot renderer returning a boolean as no content
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/__tests__/ChatView.test.tsx
  src/plugins/SlotLayout/layout/WorkspaceLayout.tsx
  src/plugins/SlotLayout/slotRegistry.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): translate the load-channel failure and read stream-chat rc.20 responses
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideMethods.ts
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/it.ts
Due: prettier --list-different

chore(examples): address CodeRabbit review comments
  examples/vite/mockCdnPlugin.ts
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/tabs/Configuration/ConfigurationTab.tsx
  examples/vite/src/ChatLayout/ChannelListItemPresence.tsx
  examples/vite/src/NewConversation/NewConversationDialog.tsx
  examples/vite/src/UserProfile/UserDetailDialog.tsx
Due: prettier --list-different

chore(ai-components): render plain json fences as code and fix selection styling
  src/plugins/AIComponents/AIMarkdown/AIMarkdown.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/JsonChart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/chartJsSchema.ts
  src/plugins/AIComponents/AIMarkdown/tools/charts/chartTypes.ts
  src/plugins/AIComponents/README.md
  src/plugins/AIComponents/__tests__/AIMarkdown.test.tsx
  src/plugins/AIComponents/styling/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
