Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add color to remove attachment button icon
  src/components/MessageInput/styling/RemoveAttachmentPreviewButton.scss
Due: none

feat: use AvatarStack for PollOptionSelector
  src/components/Poll/PollOptionSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add poll related theme styles
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Poll/styling/index.scss
Due: none

feat: differ additional poll actions
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/PollActions/PollActions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(v12): use server-defined default limits for channel and channel lists (#2942)
  .nvmrc
  package.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/Gallery/ModalGallery.tsx
  src/components/Message/renderText/renderText.tsx
  src/constants/limits.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: use server-defined default limits for channel and channel lists (#2943)
  .nvmrc
  examples/vite/src/App.tsx
  package.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/Location/__tests__/ShareLocationDialog.test.js
  src/constants/limits.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unnecessary Poll styles
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollCreationDialog.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: remove QuotedPoll
  src/components/Message/__tests__/QuotedMessage.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/Poll/Poll.tsx
  src/components/Poll/QuotedPoll.tsx
  src/components/Poll/__tests__/Poll.test.js
  src/components/Poll/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add CLAUDE.md
  CLAUDE.md
Due: prettier --list-different

feat: prevent showing View Results button if there are no votes
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: npm provenance for v12
  .github/workflows/release.yml
Due: prettier --list-different

chore: npm provenance for v12 (#2946)
  .github/workflows/release.yml
Due: prettier --list-different

chore: npm provenance - upgrade semantic-release
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 12.16.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  07cd45b7b0e0f516e8db91cf6dfb2b927ede7bdf
Due: none

chore(release): 13.14.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  f8f06162c64e5be2cc01dcc2f4b29002527eb028
Due: none

refactor: change 'Allow voters to add comments' to 'Allow others to add comments'
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Add thread_participants support, add reaction list button states, respect visual styles
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/styling/ReactionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust message reactions positioning, add offset, move replies to message inner
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: post-merge redesign fixups (#2941)
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/styling/ReactionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: change CSS variable name --control-play-control-bg-inverse to --control-play-control-bg
  src/components/MessageInput/styling/QuotedMessagePreview.scss
  src/components/VideoPlayer/styling/VideoThumbnail.scss
Due: none

fix: return modal-close-button as opt-in and remove modal inner box shaod
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/styling/Gallery.scss
  src/components/Modal/CloseButtonOnModalOverlay.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/styling/Modal.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: start working on PollResults
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollResults.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add IconBubbleText
  src/components/Icons/IconBin.tsx
  src/components/Icons/IconBubbleText.tsx
  src/components/Icons/IconTrashBin.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconBin.scss
  src/components/Icons/styling/IconBubbleText.scss
  src/components/Icons/styling/IconTrashBin.scss
  src/components/Icons/styling/index.scss
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: return modal's close button (#2948)
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/styling/Gallery.scss
  src/components/MessageInput/styling/QuotedMessagePreview.scss
  src/components/Modal/CloseButtonOnModalOverlay.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/styling/Modal.scss
  src/components/VideoPlayer/styling/VideoThumbnail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use existing icon cross
  src/components/Modal/CloseButtonOnModalOverlay.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove customMessageData from handleSubmit type declaration
  src/components/MessageInput/SendButton.tsx
  src/components/MessageInput/hooks/useMessageInputControls.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add unique CSS class to each icon derived from the icon name
  src/components/Icons/createIcon.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove customMessageData from handleSubmit type declaration (#2950)
  src/components/MessageInput/SendButton.tsx
  src/components/MessageInput/hooks/useMessageInputControls.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: prevent icon props duplication
  src/components/Icons/BaseIcon.tsx
  src/components/Icons/createIcon.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add icons to default MessageActions
  src/components/Message/hooks/useUserRole.ts
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageActions/styling/MessageActions.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add icons to default MessageActions menus
  src/components/Channel/Channel.tsx
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageInput/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: correct the condition to decide, whether poll actions should be shown
  src/components/Poll/PollActions/PollActions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unnecessary Emoji plugin styling
  examples/vite/src/index.scss
  package.json
  src/plugins/Emojis/styling/icons.scss
  src/plugins/Emojis/styling/index.scss
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
