Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat(i18n): upgrade i18next to v26
  package.json
  src/i18n/__tests__/Streami18n.test.ts
  tsconfig.lib.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): migrate the vite example to namespaced i18n keys
  examples/vite/src/AppSettings/tabs/ChannelDetail/removeMembersHeaderActions.tsx
  examples/vite/src/ChatLayout/ChannelMembersRemoveView.tsx
  examples/vite/src/ChatLayout/ConfiguredChannelDetail.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/Sidebar/SidebarToggle.tsx
Due: prettier --list-different

feat(i18n): add TranslationDictionary for compile-checked dictionaries
  CLAUDE.md
  ai-docs/ai-migration-v14-v15.md
  ai-docs/i18n-v15-migration.md
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(i18n): document how to find keys a language has not translated yet
  ai-docs/i18n-v15-migration.md
Due: prettier --list-different

feat(example): channel-specific nicknames in mentions
  examples/vite/src/App.tsx
  examples/vite/src/ChannelNicknames/NicknameMentionsSearchSource.ts
  examples/vite/src/ChannelNicknames/NicknameMessageUI.tsx
  examples/vite/src/ChannelNicknames/index.ts
  examples/vite/src/ChannelNicknames/nicknameData.ts
  examples/vite/src/ChannelNicknames/nicknameMentionComposition.ts
  examples/vite/src/ChannelNicknames/renderTextWithNicknames.tsx
  examples/vite/src/stream-chat-custom-data.d.ts
Due: prettier --list-different

fix(i18n): keep runtimeDefaults for a language with no dictionary
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(i18n): flag the four timestamp keys that carry English day words
  ai-docs/ai-migration-v14-v15.md
  ai-docs/i18n-v15-migration.md
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/runtimeDefaults.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(example): allow custom values and an empty label in SearchableSelect
  examples/vite/src/AppSettings/SearchableSelect.tsx
Due: prettier --list-different

feat(example): server-side client prompt dialog behind a flag
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/ServerSideClientPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/index.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClient.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClientFlag.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideMethods.ts
  examples/vite/src/AppSettings/AppSettings.scss
Due: prettier --list-different

chore(deps): upgrade stream-chat to version 10.0.0-rc.2
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

style: fix lint issue
  examples/tutorial/src/7-livestream/App.tsx
Due: prettier --list-different

feat: rename ChannelPaginatorsOrchestrator to ChannelManager (#3258)
  ai-docs/ai-migration-v14-v15.md
  examples/tutorial/package.json
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/7-livestream/App.tsx
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  examples/vite/src/SingleChannel/SingleChannelApp.tsx
  package.json
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelLists.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/__tests__/ChannelLists.test.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/InfiniteScrollPaginator/InfiniteScrollWithComponents.tsx
  src/components/Message/hooks/__tests__/useMessageAlsoSentInChannelNavigation.test.tsx
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/context/ChannelListContext.tsx
  src/context/ChatContext.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(i18n): check the keys of a dictionary passed to registerTranslation
  ai-docs/ai-migration-v14-v15.md
  ai-docs/i18n-v15-migration.md
  scripts/generate-i18n-keys.mts
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/externalStrings.ts
  src/i18n/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(i18n): accept any language code, not just stream-chat's union
  examples/vite/src/App.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useChat.ts
  src/context/TranslationContext.tsx
  src/i18n/Streami18n.ts
  src/i18n/index.ts
  src/i18n/types.ts
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(examples): add German and Italian to the vite example
  .claude/launch.json
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/index.ts
  examples/vite/src/i18n/it.ts
  src/i18n/Streami18n.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelListItem): clear unread badge regardless of read event delivery order
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelListItem): clear unread badge regardless of read event delivery order (#3265)
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.11.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  bc09d2e76fc64cfffb12587b5a962485ae8806bd
Due: none

chore(demo): add server-side client requests UI v15 (#3263)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/ServerSideClientPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/index.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClient.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClientFlag.ts
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideMethods.ts
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/SearchableSelect.tsx
Due: prettier --list-different

docs(context): tighten comments added with the context hook cleanup
  src/components/Accessibility/useAriaLiveAnnouncer.ts
  src/components/Attachment/Audio.tsx
  src/components/Attachment/LinkPreview/CardAudio.tsx
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Gallery/GalleryHeader.tsx
  src/components/Gallery/__tests__/Image.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.tsx
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/Timestamp.tsx
  src/components/MessageComposer/MessageComposerUI.tsx
  src/context/ChannelInstanceContext.tsx
  src/context/DialogManagerContext.tsx
  src/context/MessageComposerContext.tsx
  src/context/MessageTranslationViewContext.tsx
  src/context/ModalContext.tsx
  src/context/TranslationContext.tsx
  src/context/__tests__/missingProviderContract.test.tsx
  src/context/requireContext.ts
  src/i18n/runtimeDefaults.ts
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.utils.ts
  src/plugins/SlotLayout/ChatView.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(context): consolidate message UI overrides on the MessageUI slot
  ai-docs/ai-migration-v14-v15.md
  examples/tutorial/src/4-custom-ui-components/App.tsx
  src/components/Message/Message.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/Thread/Thread.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/context/ComponentContext.tsx
  src/context/WithComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(context): consolidate message UI overrides on the MessageUI slot (#3268)
  ai-docs/ai-migration-v14-v15.md
  examples/tutorial/src/4-custom-ui-components/App.tsx
  src/components/Message/Message.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/Thread/Thread.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/context/ComponentContext.tsx
  src/context/WithComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(build): emit ESM per source module so consumers can tree-shake
  CLAUDE.md
  package.json
  vite.config.ts
Due: prettier --list-different

perf(build): emit ESM per source module so consumers can tree-shake (#3269)
  CLAUDE.md
  package.json
  vite.config.ts
Due: prettier --list-different

refactor(i18n)!: adopt the shared i18n layer from stream-chat/i18n
  package.json
  scripts/generate-i18n-keys.mts
  scripts/i18n-call-sites.mts
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Chat/hooks/useChat.ts
  src/components/Message/MessageTranslationIndicator.tsx
  src/components/Message/__tests__/MessageTimestamp.test.tsx
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/context/TranslationContext.tsx
  src/i18n/Streami18n.ts
  src/i18n/TranslationBuilder/TranslationBuilder.ts
  src/i18n/TranslationBuilder/index.ts
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/translators.ts
  src/i18n/TranslationBuilder/notifications/translatorsByNotificationType.ts
  src/i18n/__tests__/NotificationTranslationBuilder.test.ts
  src/i18n/__tests__/catalog.fixture.json
  src/i18n/__tests__/catalogRenders.test.ts
  src/i18n/__tests__/utils.test.ts
  src/i18n/externalStrings.ts
  src/i18n/keys.ts
  src/i18n/runtimeDefaults.ts
  src/i18n/types.ts
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ci(size): run the size workflow on release-v15, and fix a stale codegen reference
  .github/workflows/size.yml
  src/components/ChannelListItem/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(i18n)!: keep the class named Streami18n and drop the deprecated aliases
  ai-docs/i18n-v15-migration.md
  src/components/Chat/hooks/useChat.ts
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/__tests__/catalogRenders.test.ts
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(i18n): document the shared runtime and its two rendering changes
  ai-docs/i18n-v15-migration.md
Due: prettier --list-different

refactor(i18n): drop the i18next devDependency
  package.json
  src/i18n/__tests__/NotificationTranslationBuilder.test.ts
  src/i18n/__tests__/TranslationBuilder.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(i18n)!: stop testing the shared runtime from here
  package.json
  src/i18n/__tests__/NotificationTranslationBuilder.test.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/__tests__/utils.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(i18n): restore the language-name miss-detection, dedupe BundledKey
  src/components/Message/MessageTranslationIndicator.tsx
  src/components/Message/__tests__/MessageTranslationIndicator.test.tsx
  src/i18n/Streami18n.ts
  src/i18n/__tests__/TranslationBuilder.test.ts
  src/i18n/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: build issues
  src/components/Channel/utils.ts
  src/components/Thread/Thread.tsx
  src/components/Thread/hooks/useThreadRequestHandlers.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: migrate to update upload API
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(i18n): cover the two accessors removed from Streami18n
  ai-docs/i18n-v15-migration.md
  src/i18n/__tests__/Streami18n.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat!: remove orphaned adaptMessageSendErrorToErrorFromResponse
  src/components/Channel/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
