Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

test(Channel): give the dispatched message.new payloads a cid
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): read the local unread opt-in from the channel configuration
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(deps): require stream-chat rc.13 as a peer
  package.json
  yarn.lock
Due: prettier --list-different

fix(MessageList): show delivery and read state on every message that has it (#3296)
  src/components/ChannelListItem/hooks/__tests__/useMessageDeliveryStatus.test.tsx
  src/components/ChannelListItem/hooks/useMessageDeliveryStatus.ts
  src/components/MessageList/hooks/__tests__/useReceiptsByMessageId.test.ts
  src/components/MessageList/hooks/useLastDeliveredData.ts
  src/components/MessageList/hooks/useLastReadData.ts
  src/components/MessageList/hooks/useReceiptsByMessageId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ChannelListItem)!: read the unread count from the channel store
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ChannelListItem)!: drop two props that were never read
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): require stream-chat@^10.0.0-rc.14
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix(examples): accept the partial member shape on simulated typing events
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
Due: prettier --list-different

feat!: adopt stream-chat's branded TimestampNS (#3297)
  ai-docs/ai-migration-v14-v15.md
  ai-docs/i18n-v15-migration.md
  examples/tutorial/package.json
  examples/vite/package.json
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
  package.json
  src/components/Accessibility/__tests__/NotificationAnnouncer.test.tsx
  src/components/Attachment/__tests__/Geolocation.test.tsx
  src/components/Message/__tests__/MessageTimestamp.test.tsx
  src/components/Message/__tests__/ReminderNotification.test.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/utils.test.ts
  src/components/MessageList/hooks/MessageList/useEnrichedMessages.ts
  src/components/MessageList/hooks/__tests__/useUnreadMessagesNotificationVirtualized.test.tsx
  src/components/MessageList/utils.ts
  src/context/ChatContext.tsx
  src/mock-builders/event/messageDelivered.ts
  src/mock-builders/generator/reminder.ts
  src/mock-builders/generator/time.ts
  src/plugins/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.utils.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v10.0.0-rc.15
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

feat: support local unread count on v15 (#3298)
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageComposer): save an edit when it is submitted with Enter
  src/components/MessageComposer/MessageComposerActions.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/index.ts
  src/components/MessageComposer/hooks/useMessageComposerSubmitFn.ts
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(MessageComposer)!: never clear a supplied composer on unmount
  ai-docs/ai-migration-v14-v15.md
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): edit messages inline through a supplied composer
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/InlineEditMessage/InlineEditMessage.scss
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
  examples/vite/src/InlineEditMessage/index.ts
  examples/vite/src/index.scss
Due: prettier --list-different

chore(demo): keep an unfinished inline edit in the composer cache
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
Due: prettier --list-different

feat(MessageComposer): let integrators supply the composer MessageComposer edits
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerController.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerController.ts
  src/context/MessageComposerControllerContext.tsx
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(EmojiPicker): drop @emoji-mart/react peer dependency
  AI.md
  package.json
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/Picker.tsx
  src/plugins/Emojis/__tests__/Picker.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): define the inline-edit action at module level
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
  examples/vite/src/InlineEditMessage/index.ts
Due: prettier --list-different

feat(MessageComposer)!: let integrators supply the composer MessageComposer edits (#3299)
  ai-docs/ai-migration-v14-v15.md
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/InlineEditMessage/InlineEditMessage.scss
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
  examples/vite/src/InlineEditMessage/index.ts
  examples/vite/src/index.scss
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/MessageComposerActions.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerController.test.tsx
  src/components/MessageComposer/hooks/index.ts
  src/components/MessageComposer/hooks/useMessageComposerController.ts
  src/components/MessageComposer/hooks/useMessageComposerSubmitFn.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/context/MessageComposerControllerContext.tsx
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(EmojiPicker): drop @emoji-mart/react peer dependency on v15 (#3300)
  AI.md
  package.json
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/Picker.tsx
  src/plugins/Emojis/__tests__/Picker.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(SlotLayout): make workspace navigation panel-aware
  examples/vite/src/ChatLayout/useAdditiveWorkspaceNavigation.ts
  src/context/WorkspaceNavigationContext.tsx
  src/plugins/SlotLayout/ChannelSlot.tsx
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/ChatViewNavigationContext.tsx
  src/plugins/SlotLayout/ThreadSlot.tsx
  src/plugins/SlotLayout/ThreadSlotContext.tsx
  src/plugins/SlotLayout/__tests__/ChatViewNavigation.test.tsx
  src/plugins/SlotLayout/index.tsx
  src/plugins/SlotLayout/layout/Slot.tsx
  src/plugins/SlotLayout/workspaceNavigationAdapter.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(SlotLayout)!: declare slots through layouts only
  examples/vite/src/App.tsx
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/ChatViewNavigationContext.tsx
  src/plugins/SlotLayout/__tests__/ChatViewNavigation.test.tsx
  src/plugins/SlotLayout/layoutController/LayoutController.ts
  src/plugins/SlotLayout/layoutController/layoutControllerTypes.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(SlotLayout): share the width between open slots and divide them
  src/plugins/SlotLayout/styling/ChatView.scss
Due: none

feat(ChannelHeader)!: take StartContent and EndContent, defaulting to the navigation buttons
  ai-docs/ai-migration-v14-v15.md
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/Sidebar/HeaderContent.tsx
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/it.ts
  src/components/Button/WorkspaceNavigationButtons.tsx
  src/components/Button/__tests__/WorkspaceNavigationButtons.test.tsx
  src/components/Button/index.ts
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Threads/hooks/__tests__/useCloseThread.test.tsx
  src/components/Threads/hooks/useCloseThread.ts
  src/context/ComponentContext.tsx
  src/i18n/__tests__/catalog.fixture.json
  src/i18n/keys.ts
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(tutorial): open channels side by side in two slots from step 4
  examples/tutorial/README.md
  examples/tutorial/src/4-channel-list/App.tsx
  examples/tutorial/src/4-channel-list/layout.css
  examples/tutorial/src/5-theming/App.tsx
  examples/tutorial/src/5-theming/layout.css
  examples/tutorial/src/6-custom-ui-components/App.tsx
  examples/tutorial/src/6-custom-ui-components/layout.css
  examples/tutorial/src/7-emoji-picker/App.tsx
  examples/tutorial/src/7-emoji-picker/layout.css
  examples/tutorial/src/tutorial-main.css
Due: prettier --list-different

fix(tutorial): request the user token for the app configured in .env
  examples/tutorial/.env.example
  examples/tutorial/README.md
  examples/tutorial/src/2-client-setup/credentials.ts
Due: prettier --list-different

feat(MessageComposer): export UnsupportedAttachmentPreview and RemoveAttachmentPreviewButton
  ai-docs/ai-migration-v14-v15.md
  src/components/MessageComposer/AttachmentPreviewList/index.ts
  src/components/MessageComposer/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageComposer): pair the quote preview's text colour with its background
  ai-docs/ai-migration-v14-v15.md
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
Due: prettier --list-different

fix(tutorial): run slash commands and emoji autocomplete in every composer
  examples/tutorial/src/2-client-setup/commandMiddlewares.ts
  examples/tutorial/src/3-core-component-setup/App.tsx
  examples/tutorial/src/4-channel-list/App.tsx
  examples/tutorial/src/5-theming/App.tsx
  examples/tutorial/src/6-custom-ui-components/App.tsx
  examples/tutorial/src/7-emoji-picker/App.tsx
  examples/tutorial/src/optional-custom-attachment-type/App.tsx
  examples/tutorial/src/optional-livestream/App.tsx
Due: prettier --list-different

feat(tutorial): preview the product attachment in the composer
  examples/tutorial/src/optional-custom-attachment-type/App.tsx
Due: prettier --list-different

fix(tutorial): open reply threads in the thread slot
  examples/tutorial/src/3-core-component-setup/App.tsx
  examples/tutorial/src/optional-custom-attachment-type/App.tsx
Due: prettier --list-different

docs: consolidate agent guidance into AGENTS.md, drop AI.md
  AGENTS.md
  AI.md
  CLAUDE.md
  README.md
  package.json
Due: prettier --list-different

docs: consolidate agent guidance into AGENTS.md, drop AI.md (#3302)
  AGENTS.md
  AI.md
  CLAUDE.md
  README.md
  package.json
Due: prettier --list-different

chore(release): make release-v14 the stable v14 line
  .github/workflows/size.yml
  .releaserc.json
Due: prettier --list-different

chore(release): make release-v14 the stable v14 line (#3303)
  .github/workflows/size.yml
  .releaserc.json
Due: prettier --list-different

chore(release): 15.0.0-rc.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  73c613fba5311aac12f2a6c781fae30ddce2775c
Due: none
