Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: remove insertText from MessageInputContext and always update TextComposer selection state
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useMessageInputControls.ts
  src/components/MessageInput/hooks/useMessageInputText.ts
  src/components/MessageInput/hooks/usePasteHandler.ts
  src/components/MessageInput/hooks/useTextareaRef.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: upgrade stream-chat to version 9.0.0-rc.16
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 12.15.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  98af29396cb205cf27eb1eea39cd59fc218754bd
Due: none

Extend dialogManagerId's with dictinct strings to prevent UI clashes
  src/components/Dialog/DialogManager.ts
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/__tests__/DialogsManager.test.js
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/UtilityComponents/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix lint issues
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add TextareaComposer to ComponentContext
  src/components/Channel/Channel.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove prop value from additionalTextareaProps
  src/components/MessageInput/MessageInput.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: adjust createTextComposerEmojiMiddleware to the new client typing
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.0.0
  package.json
  yarn.lock
Due: prettier --list-different

test: fix flaky test
  src/components/Channel/__tests__/Channel.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make consistent use of message composition related props (#2695)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/MessageInput/EditMessageForm.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useMessageInputControls.ts
  src/components/MessageInput/hooks/useMessageInputText.ts
  src/components/MessageInput/hooks/usePasteHandler.ts
  src/components/MessageInput/hooks/useTextareaRef.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/context/ComponentContext.tsx
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  234eafc59a2ea5c5402e8ee34be955e11eb3419c
Due: none

chore: pass env variables to examples app vite
  examples/vite/vite.config.ts
Due: prettier --list-different

chore: add EmojiPicker to the vite examples app
  examples/vite/src/App.tsx
Due: prettier --list-different

Restore version replacement
  package.json
  scripts/bundle-cjs.mjs
  scripts/bundle-esm.mjs
  scripts/get-package-version.mjs
  src/components/Chat/__tests__/Chat.test.js
  src/components/Chat/hooks/useChat.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent sorting poll options in place
  src/components/Poll/PollActions/PollResults/PollResults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce WithDragAndDropUpload component (#2688)
  src/components/Channel/Channel.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/WithDragAndDropUpload.tsx
  src/components/MessageInput/index.ts
  src/context/MessageInputContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: simplify WithDragAndDropUpload API (#2691)
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/WithDragAndDropUpload.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent sorting poll options in place (#2699)
  src/components/Poll/PollActions/PollResults/PollResults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: validate the field for max number of votes correctly
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: inject error into PollComposer state if native numeric field validation fails
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reset message composer state partially when poll message is sent
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: send messages with successfully uploaded attachments only
  src/components/MessageInput/hooks/useSubmitHandler.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: send messages with successfully uploaded attachments only (#2704)
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add branch release-v12 among release branches
  .releaserc.json
Due: prettier --list-different

chore(release): 12.15.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  daacc4fdc0c97a8223af887c2784cae69622e061
Due: none

fix: reflect maxRows in TextareaComposer and allow to add lines
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.1.1
  package.json
  yarn.lock
Due: prettier --list-different

fix: clear composer state optimistically with snapshot restoration upon sending a message
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reflect maxRows in TextareaComposer and allow to add lines (#2709)
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add taking snapshot implementation to useSubmitHandler
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: clear composer state optimistically with snapshot restoration upon sending a message (#2710)
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
