Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

chore(deps): remove unused dependencies prop-types and textarea-caret
  package.json
  yarn.lock
Due: prettier --list-different

Upgrade @stream-io/stream-chat-css to v5.9.3
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to v5.9.3 (#2722)
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 13.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  81c152f63f65aed79cae2ea8661a4df5f78d4780
Due: none

chore(release): 12.15.6 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  57e2dcde25cf65b99b1d2e013f728397ae1a64b5
Due: none

feat: add message reminders
  src/components/Channel/__tests__/Channel.test.js
  src/components/Chat/hooks/useChat.ts
  src/components/Dialog/ButtonWithSubmenu.tsx
  src/components/Dialog/index.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useMessageReminder.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/experimental/MessageActions/defaults.tsx
  src/i18n/Streami18n.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/types.ts
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

test: add message actions reminder test and fix broken tests
  src/components/Message/__tests__/utils.test.js
  src/components/Message/utils.tsx
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Upgrade stream-chat to latest
  package.json
  yarn.lock
Due: prettier --list-different

feat: allow for custom ReminderNotification component
  src/components/Channel/Channel.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/index.ts
  src/context/ComponentContext.tsx
  src/mock-builders/generator/message.js
  src/mock-builders/generator/reminder.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: display reminder deadline after the reminder stops to refresh
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/ReminderNotification.test.js
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.js.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: adapt code to LLC changes
  src/components/Message/ReminderNotification.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: rename notification codes
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/__tests__/NotificationTranslationBuilder.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat-js to version 9.5.0
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): remove unused dependencies prop-types and textarea-caret (#2720)
  package.json
  yarn.lock
Due: prettier --list-different

fix: prevent adding newline in message text composer upon submitting with Enter key
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use channel_id and channel_type values from event channel.visible
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent adding newline in message text composer upon submitting with Enter key (#2729)
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use channel_id and channel_type values from event channel.visible (#2730)
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: init React Channel component state with already loaded messages
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent rendering EmptyPlaceholder content in VirtualizedMessageList with non-empty msg list
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to version 5.10.0
  package.json
  yarn.lock
Due: prettier --list-different

refactor: change translation dueTimeElapsed to timeLeft
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/ReminderNotification.test.js
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.js.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: prevent unnecessary memoization of isBehindRefreshBoundary in ReminderNotification
  src/components/Message/ReminderNotification.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: calculate stopRefreshBoundaryMs in ReminderNotification from reminder timer
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/ReminderNotification.test.js
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: reflect removal of mutes from a user object in localMessage when sending a message
  src/components/MessageInput/__tests__/EditMessageForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent rendering placeholder for empty message list if messages are actually loaded (#2731)
  src/components/Channel/Channel.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to send thread reply to channel
  src/components/Channel/Channel.tsx
  src/components/Message/MessageIsThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/SendToChannelCheckbox.tsx
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
  src/components/Thread/LegacyThreadContext.ts
  src/components/Thread/Thread.tsx
  src/components/Thread/index.ts
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add error handling for thread search in MessageThreadReplyInChannelButtonIndicator
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageThreadReplyInChannelButtonIndicator.tsx
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(deps): upgrade stream-chat-css to v5.11.0
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): upgrade stream-chat to v9.6.0
  package.json
  yarn.lock
Due: prettier --list-different

test: adjust test to stream-chat changes
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to send thread reply to channel (#2733)
  package.json
  src/components/Channel/Channel.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/SendToChannelCheckbox.tsx
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
  src/components/Thread/LegacyThreadContext.ts
  src/components/Thread/Thread.tsx
  src/components/Thread/index.ts
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add message reminders (#2724)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Chat/hooks/useChat.ts
  src/components/Dialog/ButtonWithSubmenu.tsx
  src/components/Dialog/index.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/ReminderNotification.test.js
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.js.snap
  src/components/Message/__tests__/utils.test.js
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useMessageReminder.ts
  src/components/Message/index.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/context/ComponentContext.tsx
  src/experimental/MessageActions/defaults.tsx
  src/i18n/Streami18n.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/types.ts
  src/i18n/utils.ts
  src/mock-builders/generator/message.js
  src/mock-builders/generator/reminder.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: remove translation function generics after merge
  src/components/Message/MessageThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageInput/SendToChannelCheckbox.tsx
  src/experimental/MessageActions/defaults.tsx
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/__tests__/NotificationTranslationBuilder.test.js
  src/i18n/de.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

test: fix simple translation tests
  src/i18n/__tests__/Streami18n.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different
