Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

test: fix tests
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/hooks/__tests__/useDeleteHandler.test.js
  src/components/Message/styling/Message.scss
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep constant distance between attachment selector button and invoked menu
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent poll options layout shifting upon voting
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/styling/PollOptionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add test for attachment selector icon class
  src/components/MessageComposer/__tests__/AttachmentSelector.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adjust message UI for network error when sending a message (#3042)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/utils.ts
  src/components/Message/MessageErrorText.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/hooks/__tests__/useDeleteHandler.test.js
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/styling/Message.scss
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageList/__tests__/MessageList.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: do not allow to mark own messages unread (#3043)
  src/components/Message/hooks/__tests__/useUserRole.test.js
  src/components/Message/hooks/useUserRole.ts
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: shared gallery preview in AttachmentPreviewList (#3044)
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/MessageComposer/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageComposer/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/AttachmentPreviewRoot.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.js
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/Modal/GlobalModal.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add "Voice message deleted" notification (#3045)
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/Notifications/Notification.tsx
  src/components/Notifications/styling/Notification.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: allow useNotificationTarget to return undefined (#3046)
  src/components/ChatView/ChatView.tsx
  src/components/Message/__tests__/Message.test.js
  src/components/Notifications/hooks/__tests__/useNotificationTarget.test.ts
  src/components/Notifications/hooks/useNotificationTarget.ts
  src/components/Notifications/notificationTarget.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent poll options layout shifting upon voting (#3048)
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/styling/PollOptionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep the distance of command menus constant from the invoking button (#3049)
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign message actions icons and message error badge
  src/components/Badge/Badge.tsx
  src/components/Badge/styling/Badge.scss
  src/components/Icons/icons.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/icons.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/styling/MessageActions.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: replace class str-chat__message-error-icon with str-chat__message-error-indicator
  src/components/Message/MessageUI.tsx
  src/components/Message/__tests__/MessageUI.test.js
  src/components/Message/__tests__/__snapshots__/MessageText.test.js.snap
  src/components/Message/styling/Message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: fix test failures from master merge
  src/components/Channel/__tests__/Channel.test.jsx
  src/components/Notifications/hooks/__tests__/useNotificationTarget.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

style: fix linter issues
  src/components/Badge/styling/Badge.scss
Due: none

feat: redesign message actions icons and message error badge (#3050)
  src/components/Badge/Badge.tsx
  src/components/Badge/styling/Badge.scss
  src/components/Icons/icons.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/__tests__/MessageUI.test.js
  src/components/Message/__tests__/__snapshots__/MessageText.test.js.snap
  src/components/Message/icons.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/styling/MessageActions.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: update MessageText tests for redesigned error badge
  src/components/Message/__tests__/MessageText.test.jsx
Due: prettier --list-different

chore: exclude JSON files from coverage
  vitest.config.ts
Due: prettier --list-different

fix: prevent empty message composer textarea from growing
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: prevent empty message composer textarea from growing
  src/components/MessageComposer/__tests__/MessageInput.test.jsx
Due: prettier --list-different

fix: prevent empty message composer textarea from growing (#3051)
  src/components/MessageComposer/__tests__/MessageInput.test.jsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove @ts-nocheck from 27 test files and fix type errors
  src/components/Attachment/__tests__/AttachmentActions.test.tsx
  src/components/Attachment/__tests__/File.test.tsx
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Badge/__tests__/Badge.test.tsx
  src/components/BaseImage/__tests__/BaseImage.test.tsx
  src/components/ChannelList/__tests__/ChannelListUI.test.tsx
  src/components/EmptyStateIndicator/__tests__/EmptyStateIndicator.test.tsx
  src/components/Gallery/__tests__/GalleryContext.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/Image.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.tsx
  src/components/LoadMore/__tests__/LoadMoreButton.test.tsx
  src/components/Loading/__tests__/LoadingChannel.test.tsx
  src/components/Loading/__tests__/LoadingChannels.test.tsx
  src/components/Loading/__tests__/LoadingErrorIndicator.test.tsx
  src/components/Loading/__tests__/LoadingIndicator.test.tsx
  src/components/Message/__tests__/MessageDeleted.test.tsx
  src/components/MessageList/__tests__/CustomNotification.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/hooks/VirtualizedMessageList/__tests__/useFloatingDateSeparator.test.ts
  src/components/Notifications/__tests__/notificationOrigin.test.ts
  src/components/Poll/__tests__/SuggestPollOptionForm.test.tsx
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
  src/components/TextareaComposer/__tests__/EmoticonItem.test.tsx
  src/components/TextareaComposer/__tests__/UserItem.test.tsx
  src/components/Thread/__tests__/ThreadStart.test.tsx
  src/components/Tooltip/__tests__/Tooltip.test.tsx
  src/components/Window/__tests__/Window.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove @ts-nocheck from 29 more test files and fix type errors
  src/components/Attachment/__tests__/Attachment.test.tsx
  src/components/Attachment/__tests__/Audio.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/DateSeparator/__tests__/DateSeparator.test.tsx
  src/components/MediaRecorder/hooks/__tests__/useMediaRecorder.test.tsx
  src/components/Message/__tests__/MessageRepliesCountButton.test.tsx
  src/components/Message/hooks/__tests__/useActionHandler.test.tsx
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/Message/hooks/__tests__/useMentionsHandler.test.tsx
  src/components/Message/hooks/__tests__/useOpenThreadHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/__tests__/useRetryHandler.test.tsx
  src/components/Message/hooks/__tests__/useUserHandler.test.ts
  src/components/Message/renderText/__tests__/renderText.test.tsx
  src/components/MessageList/__tests__/CustomNotification.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/hooks/__tests__/useGiphyPreview.test.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationTarget.test.ts
  src/components/Poll/__tests__/AddCommentForm.test.tsx
  src/components/Poll/__tests__/PollHeader.test.tsx
  src/components/Reactions/__tests__/MessageReactions.test.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/components/Search/__tests__/SearchResultsHeader.test.tsx
  src/components/Search/__tests__/SearchSourceResultList.test.tsx
  src/utils/__tests__/getChannel.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align textarea placeholder
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

chore: remove @ts-nocheck from 31 more test files and fix type errors
  src/components/Attachment/__tests__/Geolocation.test.tsx
  src/components/Attachment/__tests__/VoiceRecording.test.tsx
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/AudioPlayback/__tests__/AudioPlayer.test.ts
  src/components/ChannelListItem/hooks/__tests__/useMessageDeliveryStatus.test.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Dialog/__tests__/DialogManagerContext.test.tsx
  src/components/EventComponent/__tests__/EventComponent.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/MediaRecorder/classes/__tests__/AmplitudeRecorder.test.ts
  src/components/MediaRecorder/classes/__tests__/BrowserPermission.test.ts
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useFlagHandler.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/Message/hooks/__tests__/userMarkUnreadHandler.test.tsx
  src/components/MessageComposer/__tests__/LinkPreviewList.test.tsx
  src/components/MessageList/__tests__/ScrollToLatestMessageButton.test.tsx
  src/components/MessageList/__tests__/utils.test.ts
  src/components/MessageList/hooks/__tests__/useMessageListScrollManager.test.tsx
  src/components/Poll/__tests__/Poll.test.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/components/Search/__tests__/SearchResults.test.tsx
  src/components/Search/__tests__/SearchSourceResultListFooter.test.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/i18n/__tests__/utils.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: display command chip container only if command is set
  src/components/MessageComposer/CommandChip.tsx
  src/components/MessageComposer/MessageComposerUI.tsx
  src/components/MessageComposer/__tests__/CommandChip.test.jsx
  src/components/MessageComposer/styling/CommandChip.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make textarea take up the available width space
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

fix: clear message composer on unmount
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove @ts-nocheck from 29 more test files and fix type errors
  src/components/Attachment/__tests__/AttachmentActions.test.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Badge/__tests__/Badge.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/EmptyStateIndicator/__tests__/EmptyStateIndicator.test.tsx
  src/components/Gallery/__tests__/Gallery.test.tsx
  src/components/Loading/__tests__/LoadingChannel.test.tsx
  src/components/Loading/__tests__/LoadingChannels.test.tsx
  src/components/Loading/__tests__/LoadingIndicator.test.tsx
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
  src/components/Message/__tests__/MessageStatus.test.tsx
  src/components/Message/__tests__/MessageTimestamp.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/hooks/__tests__/useUserRole.test.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/components/MessageList/hooks/VirtualizedMessageList/__tests__/useFloatingDateSeparator.test.ts
  src/components/MessageList/hooks/__tests__/usePrependMessagesCount.test.ts
  src/components/MessageList/hooks/__tests__/useUnreadMessagesNotificationVirtualized.test.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Notifications/__tests__/notificationOrigin.test.ts
  src/components/Poll/__tests__/PollOptionList.test.tsx
  src/components/Search/__tests__/Search.test.tsx
  src/components/Search/__tests__/SearchSourceResults.test.tsx
  src/components/Tooltip/__tests__/Tooltip.test.tsx
  src/i18n/__tests__/Streami18n.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove @ts-nocheck from final 12 test files and fix type errors
  src/components/Attachment/__tests__/Card.test.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/__tests__/useUnreadMessagesNotificationVirtualized.test.tsx
  src/components/Poll/__tests__/PollActions.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add typed test helpers and eliminate as-any from mock-builders
  src/mock-builders/context.ts
  src/mock-builders/event/channelDeleted.ts
  src/mock-builders/event/channelHidden.ts
  src/mock-builders/event/channelTruncated.ts
  src/mock-builders/event/channelUpdated.ts
  src/mock-builders/event/channelVisible.ts
  src/mock-builders/event/connectionChanged.ts
  src/mock-builders/event/connectionRecovered.ts
  src/mock-builders/event/messageDeleted.ts
  src/mock-builders/event/messageNew.ts
  src/mock-builders/event/messageRead.ts
  src/mock-builders/event/messageUndeleted.ts
  src/mock-builders/event/messageUpdated.ts
  src/mock-builders/event/notificationAddedToChannel.ts
  src/mock-builders/event/notificationMarkRead.ts
  src/mock-builders/event/notificationMarkUnread.ts
  src/mock-builders/event/notificationMessageNew.ts
  src/mock-builders/event/notificationMutesUpdated.ts
  src/mock-builders/event/notificationRemovedFromChannel.ts
  src/mock-builders/event/userUpdated.ts
  src/mock-builders/generator/message.ts
  src/mock-builders/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: replace Poll client, mock return value, and misc as-any casts
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationTarget.test.ts
  src/components/Poll/__tests__/AddCommentForm.test.tsx
  src/components/Poll/__tests__/Poll.test.tsx
  src/components/Poll/__tests__/PollActions.test.tsx
  src/components/Poll/__tests__/PollHeader.test.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
  src/components/Search/__tests__/SearchSourceResultListFooter.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/utils/__tests__/getChannel.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: improve test typing with fromPartial, vi.mocked, and typed params
  src/components/Message/__tests__/utils.test.ts
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/Search/__tests__/Search.test.tsx
  src/components/Search/__tests__/SearchResults.test.tsx
  src/components/Search/__tests__/SearchSourceResults.test.tsx
  src/i18n/__tests__/NotificationTranslationBuilder.test.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/__tests__/TranslationBuilder.test.ts
  src/i18n/__tests__/utils.test.ts
  src/mock-builders/event/channelDeleted.ts
  src/mock-builders/event/channelHidden.ts
  src/mock-builders/event/channelTruncated.ts
  src/mock-builders/event/channelUpdated.ts
  src/mock-builders/event/channelVisible.ts
  src/mock-builders/event/messageDeleted.ts
  src/mock-builders/event/messageNew.ts
  src/mock-builders/event/messageRead.ts
  src/mock-builders/event/messageUndeleted.ts
  src/mock-builders/event/messageUpdated.ts
  src/mock-builders/event/notificationAddedToChannel.ts
  src/mock-builders/event/notificationMessageNew.ts
  src/mock-builders/event/notificationRemovedFromChannel.ts
  src/mock-builders/event/userMessagesDeleted.ts
  src/mock-builders/event/userUpdated.ts
  src/mock-builders/event/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: type function params and replace as-any in Message/Composer tests
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/Message/hooks/__tests__/userMarkUnreadHandler.test.tsx
  src/components/MessageComposer/__tests__/LinkPreviewList.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.tsx
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageListComponents.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: type function params in Channel, ChannelList, and ChannelHeader tests
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: type MediaRecorder, AudioPlayback, and Thread test files
  src/components/AudioPlayback/__tests__/AudioPlayer.test.ts
  src/components/ChannelListItem/hooks/__tests__/useMessageDeliveryStatus.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MediaRecorder/classes/__tests__/AmplitudeRecorder.test.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
