Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix(EmojiPicker): drop @emoji-mart/react peer dependency
  package.json
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/Picker.tsx
  src/plugins/Emojis/__tests__/Picker.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: remove AI.md in favour of Stream agent skills
  AI.md
  CLAUDE.md
  README.md
  package.json
Due: prettier --list-different

chore: point yarn types at tsconfig.lib.json
  package.json
Due: prettier --list-different

docs: make AGENTS.md the single source of agent guidance
  AGENTS.md
  CLAUDE.md
Due: prettier --list-different

feat: localized unread count (#3250)
  src/components/Channel/Channel.tsx
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/hooks/useMessageDeliveryStatus.ts
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(EmojiPicker): drop @emoji-mart/react peer dependency (#3255)
  package.json
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/Picker.tsx
  src/plugins/Emojis/__tests__/Picker.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: consolidate agent guidance into AGENTS.md, drop AI.md (#3256)
  AGENTS.md
  AI.md
  CLAUDE.md
  README.md
  package.json
Due: prettier --list-different

fix(Channel): guard render-phase channel.getConfig() against disconnected channels
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerCommands.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerCommands.ts
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
  src/utils/__tests__/getChannelConfig.test.ts
  src/utils/getChannelConfig.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: rename ChannelPaginatorsOrchestrator to ChannelManager
  ai-docs/ai-migration-v14-v15.md
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/7-livestream/App.tsx
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  examples/vite/src/SingleChannel/SingleChannelApp.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelLists.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/InfiniteScrollPaginator/InfiniteScrollWithComponents.tsx
  src/components/Message/hooks/__tests__/useMessageAlsoSentInChannelNavigation.test.tsx
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/context/ChannelListContext.tsx
  src/context/ChatContext.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Channel): guard loadMoreNewer against disconnected channels
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Channel/utils.ts
  src/components/Thread/Thread.tsx
  src/components/Thread/hooks/useThreadRequestHandlers.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(Channel): trim verbose comments added for the disconnect guards
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerCommands.test.tsx
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/utils/__tests__/getChannelConfig.test.ts
  src/utils/getChannelConfig.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(Channel): temporarily drop loadMoreNewer disconnect test
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(Channel): restore loadMoreNewer disconnect coverage
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Channel): guard render-phase channel.getConfig() against disconnected channels (#3257)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerCommands.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerCommands.ts
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
  src/utils/__tests__/getChannelConfig.test.ts
  src/utils/getChannelConfig.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/MessageComposer/MessageComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-review adjustments
  src/components/MessageComposer/MessageComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Temporary demo commit
  examples/vite/src/App.tsx
  examples/vite/src/InlineEditMessage/InlineEditMessage.scss
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
  examples/vite/src/InlineEditMessage/index.ts
  examples/vite/src/index.scss
Due: prettier --list-different

Message composer override
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/hooks/useMessageComposerController.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add option to enable inline message editing
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
Due: prettier --list-different

Add useMessageComposerController tests
  src/components/MessageComposer/hooks/__tests__/useMessageComposerController.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Possibly fix a flaky test
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(MessageComposer): introduce context for custom composers (#3249)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/InlineEditMessage/InlineEditMessage.scss
  examples/vite/src/InlineEditMessage/InlineEditMessage.tsx
  examples/vite/src/InlineEditMessage/index.ts
  examples/vite/src/index.scss
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerController.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerController.ts
  src/components/MessageList/__tests__/VirtualizedMessageList.test.tsx
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.11.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  9d6d3ddc980314c9f4e4489d693a3960fbf79398
Due: none

test(Channel): cover #3254 disconnected-channel render safety
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(Chat)!: read the channel manager from the client
  src/components/ChannelList/__tests__/ChannelLists.test.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/context/ChatContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelList): query whenever the list has no loaded page
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(examples): register channel lists on client.channelManager
  examples/tutorial/src/3-channel-list/App.tsx
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/SingleChannel/SingleChannelApp.tsx
Due: prettier --list-different

feat(i18n): drop the 11 non-English locales, prune dead keys
  .github/workflows/ci.yml
  .lintstagedrc.json
  i18next.config.ts
  package.json
  scripts/validate-translations.js
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/index.ts
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/translations.ts
  src/i18n/types.ts
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(i18n): add a typed key surface and expose it to integrators
  .github/workflows/ci.yml
  package.json
  scripts/generate-i18n-keys.mts
  scripts/i18n-migration/apply-key-map.mts
  scripts/i18n-migration/collect-failures.mjs
  scripts/i18n-migration/collect-failures.mts
  scripts/i18n-migration/extract-callsites.mts
  scripts/i18n-migration/fix-stale-templates.mjs
  scripts/i18n-migration/fix-stale-templates.mts
  scripts/i18n-migration/fix-test-expectations.mjs
  scripts/i18n-migration/fix-test-expectations.mts
  scripts/i18n-migration/fix-test-mocks.mts
  scripts/i18n-migration/generate-key-map.mts
  scripts/i18n-migration/normalize-test-t.mts
  scripts/i18n-migration/types.mts
  src/components/Attachment/AttachmentActions.tsx
  src/components/AudioPlayback/components/progressBarA11y.ts
  src/components/AudioPlayback/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/EmptyStateIndicator/EmptyStateIndicator.tsx
  src/components/Message/MessageTranslationIndicator.tsx
  src/components/Message/utils.tsx
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/Search/SearchResults/SearchResultsHeader.tsx
  src/components/TextareaComposer/hooks/useTextareaPlaceholder.ts
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/context/TranslationContext.tsx
  src/i18n/Streami18n.ts
  src/i18n/TranslationBuilder/TranslationBuilder.ts
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/__tests__/utils.test.ts
  src/i18n/en.json
  src/i18n/externalStrings.ts
  src/i18n/index.ts
  src/i18n/keys.ts
  src/i18n/types.ts
  src/i18n/utils.ts
  tsconfig.scripts.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

docs(i18n): add the v15 migration guide, fix the drift gate
  CLAUDE.md
  README.md
  docs/i18n-v15-migration.md
  package.json
  scripts/sync-en-from-call-sites.mts
  src/i18n/en.json
  src/i18n/keys.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(i18n): move the migration docs to ai-docs, add @types/node, fix stale CLAUDE.md
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  ai-docs/ai-migration-v14-v15.md
  ai-docs/i18n-v15-key-map.json
  ai-docs/i18n-v15-migration.md
  package.json
  scripts/i18n-migration/apply-key-map.mts
  scripts/i18n-migration/fix-test-expectations.mts
  scripts/i18n-migration/types.mts
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.ts
  src/components/Message/__tests__/utils.test.ts
  src/i18n/__tests__/NotificationTranslationBuilder.test.ts
  src/i18n/__tests__/utils.test.ts
  src/plugins/SlotLayout/__tests__/ChatViewNavigation.test.tsx
  src/plugins/SlotLayout/__tests__/useSlotEntity.test.tsx
  tsconfig.lib.json
  tsconfig.test.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: fix mangled .gitignore entry, untrack tsconfig.test.tsbuildinfo
  .gitignore
  tsconfig.test.tsbuildinfo
Due: none

perf(i18n): stop bundling the prose translations, keep only what cannot inline
  .github/workflows/ci.yml
  package.json
  scripts/generate-i18n-keys.mts
  scripts/i18n-call-sites.mts
  scripts/sync-en-from-call-sites.mts
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/runtimeDefaults.ts
  src/i18n/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(i18n): derive keys.ts from call sites, drop en.json and i18next-cli
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  ai-docs/i18n-v15-migration.md
  i18next.config.ts
  package.json
  scripts/generate-i18n-keys.mts
  scripts/i18n-call-sites.mts
  scripts/sync-en-from-call-sites.mts
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/i18n/Streami18n.ts
  src/i18n/en.json
  src/i18n/runtimeDefaults.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(i18n): delete the applied v14->v15 migration codemods
  CLAUDE.md
  ai-docs/i18n-v15-key-map.json
  scripts/i18n-migration/apply-key-map.mts
  scripts/i18n-migration/collect-failures.mts
  scripts/i18n-migration/extract-callsites.mts
  scripts/i18n-migration/fix-stale-templates.mts
  scripts/i18n-migration/fix-test-expectations.mts
  scripts/i18n-migration/fix-test-mocks.mts
  scripts/i18n-migration/generate-key-map.mts
  scripts/i18n-migration/normalize-test-t.mts
  scripts/i18n-migration/types.mts
  src/components/ChannelListItem/utils.a11y.ts
  src/components/Poll/PollActions/PollAnswerList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(i18n): merge custom dictionaries over runtimeDefaults
  ai-docs/i18n-v15-migration.md
  src/i18n/Streami18n.ts
  src/i18n/__tests__/Streami18n.test.ts
  src/i18n/externalStrings.ts
  src/i18n/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
