Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: prevent cutting off button outlines in ContextMenu components (#3151)
  src/components/Dialog/styling/ContextMenu.scss
Due: none

fix: make search results scrollable (#3152)
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Location/styling/ShareLocationDialog.scss
  src/components/Search/styling/Search.scss
Due: none

refactor: make message bubbles responsive
  src/components/Message/styling/Message.scss
Due: none

fix: prevent images being squashed in narrow message lists
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Attachment/styling/ModalGallery.scss
Due: none

fix(ModalGallery): add missing border radii and correct gap btw images
  src/components/Attachment/styling/ModalGallery.scss
Due: none

chore: update PR check workflow
  .github/workflows/pr-check.yml
Due: prettier --list-different

fix: show the image retry load and failed load overlays correctly
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/BaseImage/BaseImage.tsx
  src/components/BaseImage/styling/ImagePlaceholder.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make poll responsive
  src/components/Poll/styling/Poll.scss
Due: none

fix: prevent cutting off the outline of search results header buttons
  src/components/Search/styling/Search.scss
Due: none

chore(demo): fix the filters
  examples/vite/src/App.tsx
Due: prettier --list-different

chore(demo): remove unnecessary preload link for woff2 fonts
  examples/vite/index.html
Due: none

chore(ci): bump codecov-action to v6 and read node version from .nvmrc
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/size.yml
Due: prettier --list-different

chore(ci): update GitHub Actions and source Node version from .nvmrc (#3156)
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/size.yml
Due: prettier --list-different

chore(demo): add PublicChannelOverlay
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.scss
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
Due: prettier --list-different

chore(demo): do not cover ChannelHeader with PublicChannelOverlay
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

chore(demo): add reactivity to joining a channel
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.scss
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
Due: prettier --list-different

fix: export AttachmentSelectorContext
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add ScrollToLatestMessageButton to ComponentContext
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: export AttachmentSelectorContext from the SDK (#3158)
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add ScrollToLatestMessageButton to ComponentContext (#3159)
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Message/styling/Message.scss
Due: none

fix: limit reactions host width (segmented/bottom) (#3154)
  src/components/Message/styling/Message.scss
Due: none

chore(release): 14.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  a6e1bdc68cebb13042a374acb4036b85be94260a
Due: none

chore(demo): show channel to read only if cannot join
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.scss
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

chore(release): 13.14.5 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  5a7b10667488dfa90a21ce5da57d2b6cebdb59fa
Due: none

chore(demo): show ChannelPreviewOverlay always if not a member
  examples/vite/src/ChannelPreviewOverlay/ChannelPreviewOverlay.scss
  examples/vite/src/ChannelPreviewOverlay/ChannelPreviewOverlay.tsx
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

chore(demo): add channel preview overlay (#3157)
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.scss
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

feat: add authorLabel prop to QuotedMessagePreviewUIProps
  src/components/MessageComposer/EditedMessagePreview.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add pin icon to the ChannelListItemUI
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent overriding active channel UI on ChannelList pagination error
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Channel/__tests__/__snapshots__/Channel.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): rename public channel overlay (#3161)
  examples/vite/src/ChannelPreviewOverlay/ChannelPreviewOverlay.scss
  examples/vite/src/ChannelPreviewOverlay/ChannelPreviewOverlay.tsx
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

feat: add authorLabel prop to QuotedMessagePreviewUIProps (#3162)
  src/components/MessageComposer/EditedMessagePreview.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent Poll from shrinking
  src/components/Poll/styling/Poll.scss
Due: none

fix: prevent message options to be pushed to the edge of the message row
  src/components/Message/styling/Message.scss
Due: none

style: fix linter issue
  src/components/Poll/styling/Poll.scss
Due: none

test: reflect load retry timestamp in image src
  src/components/Gallery/__tests__/ModalGallery.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
