Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: adjust styling of Edited flag on message
  src/components/Message/styling/Message.scss
Due: none

feat: adjust message metadata vertical size
  src/components/Message/styling/Message.scss
Due: none

chore(deps): upgrade stream-chat to v9.32.0",
  package.json
  yarn.lock
Due: prettier --list-different

feat: consumer custom Gallery component from ComponentContext in ModalGallery
  src/components/Attachment/ModalGallery.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: convert ChatView into a general purpose sidebar
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/ChatView/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(demo): add app settings with reactions configuration tab
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/index.ts
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Reactions/ReactionsTab.tsx
  examples/vite/src/AppSettings/tabs/Reactions/index.ts
  examples/vite/src/AppSettings/tabs/Reactions/reactionsExampleData.ts
  examples/vite/src/Sidebar/ChatViewSelectorItemSet.tsx
  examples/vite/src/index.scss
  src/components/Icons/IconCog.tsx
  src/components/Icons/IconCross.tsx
  src/components/Icons/IconEmoji.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconCog.scss
  src/components/Icons/styling/IconDoubleCheckmark.scss
  src/components/Icons/styling/IconEmoji.scss
  src/components/Icons/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix lint issues
  src/components/Avatar/styling/Avatar.scss
  src/components/DateSeparator/styling/DateSeparator.scss
  src/components/DateSeparator/styling/index.scss
  src/components/Gallery/styling/index.scss
  src/components/Modal/styling/Modal.scss
  src/components/Modal/styling/index.scss
  src/components/Reactions/styling/ReactionList.scss
  src/components/VideoPlayer/styling/VideoThumbnail.scss
  src/components/VideoPlayer/styling/index.scss
Due: none

fix: avoid race condition when closing global modal by pressing Escape
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add space after message author name in message metadata
  src/components/Message/styling/Message.scss
Due: none

fix: fix the modal gallery placeholder overlay styles
  src/components/Attachment/styling/ModalGallery.scss
Due: none

refactor: move message avatar display styles to Message.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Message/styling/Message.scss
Due: none

feat: redesign message list elements spacing (#2937)
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  src/components/Attachment/styling/Attachment.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/DateSeparator/DateSeparator.tsx
  src/components/DateSeparator/styling/DateSeparator.scss
  src/components/DateSeparator/styling/index.scss
  src/components/Icons/IconDoubleCheckmark.tsx
  src/components/Icons/IconSingleCheckmark.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconDoubleCheckmark.scss
  src/components/Icons/styling/IconSingleCheckmark.scss
  src/components/Icons/styling/index.scss
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Message/icons.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageStatus.scss
  src/components/Message/styling/index.scss
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/index.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: remove emoji icon from emojis plugin and use default emoji icon from stream-chat-react
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/icons.tsx
  src/plugins/Emojis/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/index.ts
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
  src/components/Message/styling/index.scss
  src/context/ComponentContext.tsx
  src/styling/index.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-merge fixes
  src/components/Message/styling/Message.scss
Due: none

feat: add AvatarStack component + message replies button redesign (#2938)
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/index.ts
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
  src/components/Message/styling/index.scss
  src/context/ComponentContext.tsx
  src/styling/index.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: move SendToChannelCheckbox to the str-chat__message-composer-container
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): make the demo app layout responsive in channel with thread view
  examples/vite/src/index.scss
Due: none

feat: remove floating composer styles
  src/components/MessageInput/styling/MessageComposer.scss
Due: none

feat: use server-defined default limits for channel and channel lists
  .nvmrc
  examples/vite/src/App.tsx
  package.json
  src/components/Channel/Channel.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/components/ChannelList/utils.ts
  src/constants/limits.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: optimize HasNextPage when integrators provide their own limit
  src/components/ChannelList/hooks/usePaginatedChannels.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: tests
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/Location/__tests__/ShareLocationDialog.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: use server-defined default limits for channel and channel lists (#2940)
  .nvmrc
  examples/vite/src/App.tsx
  package.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/Location/__tests__/ShareLocationDialog.test.js
  src/constants/limits.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(v12): use server-defined default limits for channel and channel lists
  .nvmrc
  package.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/constants/limits.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: upgrade @types/ms to 2.1.0
  yarn.lock
Due: none

chore: add JSX import
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: restore peer dependency
  package.json
Due: prettier --list-different

chore: remove unused @ts-expect-error directive
  src/components/Gallery/ModalGallery.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: disable external lib checks
  package.json
Due: prettier --list-different

chore: dedupe
  yarn.lock
Due: none

chore: dedupe x2
  yarn.lock
Due: none

feat: add generic form component TextInput and other form component styles
  src/components/Form/TextInput.tsx
  src/components/Form/index.ts
  src/components/Form/styling/DropDown.scss
  src/components/Form/styling/FieldError.scss
  src/components/Form/styling/Form.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Form/styling/TextInput.scss
  src/components/Form/styling/index.scss
  src/components/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add Channel and Thread styling
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Channel/styling/Channel.scss
  src/components/Channel/styling/index.scss
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/index.scss
  src/styling/_utils.scss
  src/styling/index.scss
Due: none

feat: update design tokens variables
  src/styling/variables.css
Due: none

refactor: rename person related icons to contain word person
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Icons/IconPerson.tsx
  src/components/Icons/IconPersonAdd.tsx
  src/components/Icons/IconPersonRemove.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconClose.scss
  src/components/Icons/styling/IconPerson.scss
  src/components/Icons/styling/IconPersonAdd.scss
  src/components/Icons/styling/IconPersonRemove.scss
  src/components/Icons/styling/index.scss
  src/components/MessageInput/AttachmentSelector/CommandsMenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix linter issues
  src/components/Attachment/styling/Giphy.scss
  src/components/DateSeparator/styling/DateSeparator.scss
Due: none

fix: hide only message avatar and not all the avatars in a message
  src/components/Message/styling/Message.scss
Due: none

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
