Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat(ChannelDetail): add PinnedMessageView
  examples/vite/src/ChatLayout/ConfiguredChannelDetail.tsx
  src/components/ChannelDetail/ChannelDetail.tsx
  src/components/ChannelDetail/ChannelDetailEmptyList.tsx
  src/components/ChannelDetail/ChannelDetailListLoadingIndicator.tsx
  src/components/ChannelDetail/ChannelDetailSearchInput.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersRemoveView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewEmptyList.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersRemoveView.test.tsx
  src/components/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesEmptyList.tsx
  src/components/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/components/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
  src/components/ChannelDetail/Views/PinnedMessagesView/index.ts
  src/components/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesSearch.ts
  src/components/ChannelDetail/index.ts
  src/components/ChannelDetail/styling/ChannelDetail.scss
  src/components/ChannelDetail/styling/ChannelMembersView.scss
  src/components/ChannelDetail/styling/PinnedMessagesView.scss
  src/components/ChannelDetail/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(i18n): localize message timestamps across all locales
  src/i18n/de.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix(i18n): localize message timestamps across all locales (#3220)
  src/i18n/de.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix(MediaRecorder): guard pause/resume against inactive recorder to prevent InvalidStateError (#3218)
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MediaRecorder): guard pause/resume against inactive recorder to prevent InvalidStateError (#3217)
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.js
  src/mock-builders/browser/MediaRecorder.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(ChannelDetail): add ChannelMediaView and ChannelFilesView
  src/components/AudioPlayback/components/index.ts
  src/components/ChannelDetail/ChannelDetail.tsx
  src/components/ChannelDetail/Views/ChannelFilesView/ChannelFilesEmptyList.tsx
  src/components/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.tsx
  src/components/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.utils.ts
  src/components/ChannelDetail/Views/ChannelFilesView/__tests__/ChannelFilesView.test.tsx
  src/components/ChannelDetail/Views/ChannelFilesView/index.ts
  src/components/ChannelDetail/Views/ChannelFilesView/useChannelFilesSearch.ts
  src/components/ChannelDetail/Views/ChannelMediaView/ChannelMediaEmptyList.tsx
  src/components/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.tsx
  src/components/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.utils.ts
  src/components/ChannelDetail/Views/ChannelMediaView/__tests__/ChannelMediaView.test.tsx
  src/components/ChannelDetail/Views/ChannelMediaView/index.ts
  src/components/ChannelDetail/Views/ChannelMediaView/useChannelMediaSearch.ts
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/useChannelMembersSearch.ts
  src/components/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/components/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
  src/components/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesSearch.ts
  src/components/ChannelDetail/index.ts
  src/components/ChannelDetail/styling/ChannelFilesView.scss
  src/components/ChannelDetail/styling/ChannelMediaView.scss
  src/components/ChannelDetail/styling/index.scss
  src/components/Icons/icons.tsx
  src/components/ListItemLayout/styling/ListItemLayout.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(ChannelDetail): fix bugs, refactor
  examples/vite/src/AppSettings/AppSettings.tsx
Due: prettier --list-different

feat(ChannelDetail): wrap ListItemLayout content in a container
  src/components/ChannelDetail/styling/ChannelFilesView.scss
  src/components/ChannelDetail/styling/ChannelManagementView.scss
  src/components/ChannelDetail/styling/ChannelMemberDetailView.scss
  src/components/ChannelDetail/styling/ChannelMembersView.scss
  src/components/ChannelDetail/styling/PinnedMessagesView.scss
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/styling/Prompt.scss
  src/components/ListItemLayout/ListItemLayout.tsx
  src/components/ListItemLayout/styling/ListItemLayout.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ChannelDetail): move AvatarWithChannelDetail to Avatar folder
  src/components/Avatar/AvatarWithChannelDetail.tsx
  src/components/Avatar/index.ts
  src/components/Avatar/styling/AvatarWithChannelDetail.scss
  src/components/Avatar/styling/index.scss
  src/components/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
  src/components/ChannelHeader/index.ts
  src/components/ChannelHeader/styling/ChannelHeader.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use client mandated composer queue
  src/components/MessageComposer/hooks/useMessageComposerController.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: renaming
  src/components/MessageComposer/hooks/useMessageComposerController.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Update stream-chat
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

feat: use channel own_capabilities to control different mention type highlighting
  src/components/Message/MessageText.tsx
  src/components/Message/renderText/__tests__/renderText.test.tsx
  src/components/Message/renderText/renderText.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/utils/__tests__/mentionCapabilities.test.ts
  src/utils/index.ts
  src/utils/mentionCapabilities.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ChannelDetail): reduce the index export for Avatar styles
  src/styling/index.scss
Due: none

fix(ChannelDetail): gate delete channel action behind permission check
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): propagate the destructive styles to action buttons
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/styling/ChannelDetail.scss
  src/plugins/ChannelDetail/styling/ChannelMemberDetailView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: port newest ListItemLayout changes
  src/components/ListItemLayout/ListItemLayout.tsx
  src/components/ListItemLayout/__tests__/ListItemLayout.test.tsx
  src/components/ListItemLayout/styling/ListItemLayout.scss
  src/components/TextareaComposer/styling/SuggestionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.47.0
  package.json
  yarn.lock
Due: prettier --list-different

test: adapt tests to enhanced mentions being controlled by channel.own_capabilities
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/renderText/__tests__/renderText.test.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.47.0 also in examples apps
  examples/tutorial/package.json
  examples/vite/package.json
  yarn.lock
Due: prettier --list-different

refactor: move member removal view to vite app
  examples/vite/src/AppSettings/tabs/ChannelDetail/channelDetailSettings.ts
  examples/vite/src/AppSettings/tabs/ChannelDetail/removeMembersHeaderActions.tsx
  examples/vite/src/ChatLayout/ChannelMembersRemoveView.tsx
  examples/vite/src/ChatLayout/ConfiguredChannelDetail.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/InfiniteScrollPaginator/index.ts
  src/components/Label/Label.tsx
  src/components/Label/index.ts
  src/components/Label/styling/Label.scss
  src/components/Label/styling/index.scss
  src/components/SectionNavigator/__tests__/SectionNavigatorHeader.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersHeaderActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersHeaderActions.defaults.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersRemoveView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/useChannelMemberCount.test.ts
  src/plugins/ChannelDetail/Views/ChannelMembersView/index.ts
  src/plugins/ChannelDetail/Views/ChannelMembersView/useChannelMemberCount.ts
  src/plugins/ChannelDetail/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(ChannelDetail): mark channel members in ChannelMembersAddView
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): untrack Label
  src/components/Label/Label.tsx
  src/components/Label/index.ts
  src/components/Label/styling/Label.scss
  src/components/Label/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): prevent sorting pinned messages in place
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ChannelDetail): move SectionNavigator to ChannelDetail plugin
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/tabs/SettingsTabLayoutComponents.tsx
  src/components/index.ts
  src/plugins/ChannelDetail/ChannelDetail.tsx
  src/plugins/ChannelDetail/ChannelDetailNavButton.tsx
  src/plugins/ChannelDetail/SectionNavigator/SectionNavigator.tsx
  src/plugins/ChannelDetail/SectionNavigator/SectionNavigatorHeader.tsx
  src/plugins/ChannelDetail/SectionNavigator/__tests__/SectionNavigator.test.tsx
  src/plugins/ChannelDetail/SectionNavigator/__tests__/SectionNavigatorHeader.test.tsx
  src/plugins/ChannelDetail/SectionNavigator/index.ts
  src/plugins/ChannelDetail/SectionNavigator/styling/SectionNavigator.scss
  src/plugins/ChannelDetail/SectionNavigator/styling/index.scss
  src/plugins/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.tsx
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberDetail.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/plugins/ChannelDetail/__tests__/ChannelDetail.test.tsx
  src/plugins/ChannelDetail/index.ts
  src/plugins/ChannelDetail/styling/index.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.47.0
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix(ChannelDetail): export ChannelMemberDetailView and ChannelMemberActions.defaults
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/index.ts
  src/plugins/ChannelDetail/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): load first page of media and files on component mount
  src/plugins/ChannelDetail/Views/ChannelFilesView/__tests__/ChannelFilesView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/useChannelFilesSearch.ts
  src/plugins/ChannelDetail/Views/ChannelMediaView/__tests__/ChannelMediaView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/useChannelMediaSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): make channel members search and addition
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/testUtils.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/useChannelMemberIds.ts
  src/plugins/ChannelDetail/Views/ChannelMembersView/useChannelMembersSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Apply suggestion from @arnautov-anton
  src/components/MessageComposer/hooks/useMessageComposerController.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add queueCache to dependencies in useMessageComposerController
  src/components/MessageComposer/hooks/useMessageComposerController.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(MessageComposer): account for built-in @channel/@here mentions
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use client mandated composer queue (#3222)
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerController.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove padding for mentions suggestion menu
  src/components/TextareaComposer/SuggestionList/MentionItem/UserItem.tsx
  src/components/TextareaComposer/styling/SuggestionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): do not keep fallback list of pinned messages
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/usePinnedMessagesCount.test.ts
  src/plugins/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesCount.ts
  src/plugins/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): control edit mode through permissions
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix DM channel detection
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
  src/utils/__tests__/isDmChannel.test.ts
  src/utils/isDmChannel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent hard-coded boolean on optimistic rollback in mute actions
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
