Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: update AGENTS.md
  AGENTS.md
Due: prettier --list-different

fix: align message list width constraints (#2965)
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: prettier --list-different

Initial commit
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/Dialog/service/DialogAnchor.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/styling/Message.scss
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/styling/ReactionList.scss
  src/components/Reactions/styling/ReactionsListModal.scss
  src/components/Reactions/styling/common.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Rename ReactionsListModal->MessageReactionsDetail, apply rename
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/index.ts
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/index.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: message reactions detail redesign (#2963)
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/Dialog/service/DialogAnchor.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/styling/Message.scss
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/index.ts
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionList.scss
  src/components/Reactions/styling/ReactionsListModal.scss
  src/components/Reactions/styling/common.scss
  src/components/Reactions/styling/index.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: update dev_patterns skill
  .cursor/skills/dev-patterns/SKILL.md
Due: prettier --list-different

feat: redesign UnreadMessagesNotification and UnreadMessagesSeparator
  src/components/Button/styling/Button.scss
  src/components/Message/styling/UnreadMessageNotification.scss
  src/components/Message/styling/UnreadMessagesSeparator.scss
  src/components/Message/styling/index.scss
  src/components/MessageList/UnreadMessagesNotification.tsx
  src/components/MessageList/UnreadMessagesSeparator.tsx
  src/components/MessageList/icons.tsx
  src/components/MessageList/styling/NewMessageNotification.scss
  src/components/MessageList/styling/UnreadMessageNotification.scss
  src/components/MessageList/styling/UnreadMessagesSeparator.scss
  src/components/MessageList/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: display the UnreadMessageNotification reliably in MessageList
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/hooks/MessageList/useUnreadMessagesNotification.ts
  src/components/MessageList/styling/UnreadMessageNotification.scss
  src/components/MessageList/styling/UnreadMessagesSeparator.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align ScrollToLatestMessageButton to the width of the scrolled content in MessageList
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/ScrollToLatestMessageButton.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent pseudo-element ::after on Button to overflow it
  src/components/Button/styling/Button.scss
Due: none

fix: make the 'default' badge variant the default
  src/components/Badge/Badge.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(Button): add variant, appearance, circular, and size props
  src/components/Button/Button.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: sort command menus consistently
  src/components/MessageInput/AttachmentSelector/CommandsMenu.tsx
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: sort command menus consistently (#2967)
  src/components/MessageInput/AttachmentSelector/CommandsMenu.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: upgrade MessageAlsoSentInChannelIndicator to be displayed in thread and main list
  src/components/Message/MessageAlsoSentInChannelIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: remove MessageIsThreadReplyInChannelButtonIndicator
  src/components/Message/MessageIsThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(Button): use variant, appearance, size, circular props in consumers
  src/components/MessageInput/SendButton.tsx
  src/components/Modal/CloseButtonOnModalOverlay.tsx
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce button variant props
  src/components/Attachment/AttachmentActions.tsx
  src/components/Attachment/components/PlaybackRateButton.tsx
  src/components/Button/PlayButton.tsx
  src/components/ChatView/ChatView.tsx
  src/components/Dialog/components/Callout.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/Form/NumericInput.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtonWithNotification.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPlayback.tsx
  src/components/MessageActions/DeleteMessageAlert.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/MessageInput/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageInput/RemoveAttachmentPreviewButton.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/components/MessageList/UnreadMessagesNotification.tsx
  src/components/MessageList/UnreadMessagesSeparator.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/VideoPlayer/VideoThumbnail.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.14.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  e0da3bc9ecc41b489ec63cf0d4a3ace15491503b
Due: none

feat: redesign ChannelHeader
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/hooks/useChannelHeaderOnlineStatus.ts
  src/components/ChannelHeader/icons.tsx
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: introduce button variant props (#2969)
  src/components/Attachment/AttachmentActions.tsx
  src/components/Attachment/components/PlaybackRateButton.tsx
  src/components/Button/Button.tsx
  src/components/Button/PlayButton.tsx
  src/components/ChatView/ChatView.tsx
  src/components/Dialog/components/Callout.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/Form/NumericInput.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtonWithNotification.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPlayback.tsx
  src/components/MessageActions/DeleteMessageAlert.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/MessageInput/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageInput/RemoveAttachmentPreviewButton.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/components/MessageList/UnreadMessagesNotification.tsx
  src/components/MessageList/UnreadMessagesSeparator.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/Modal/CloseButtonOnModalOverlay.tsx
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/VideoPlayer/VideoThumbnail.tsx
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: replace MessageIsThreadReplyInChannelButtonIndicator with MessageAlsoSentInChannelIndicator (#2968)
  src/components/Message/MessageAlsoSentInChannelIndicator.tsx
  src/components/Message/MessageIsThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: redesign ChannelHeader (#2970)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/hooks/useChannelHeaderOnlineStatus.ts
  src/components/ChannelHeader/icons.tsx
  src/components/ChannelHeader/plan.md
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelHeader/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_utils.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: redesign SendToChannelCheckbox
  examples/vite/src/index.scss
  src/components/MessageInput/SendToChannelCheckbox.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageInput/styling/SendToChannelCheckbox.scss
  src/components/MessageInput/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Core Types and Controller Engine and Resolver Registry and Built-in Strategies
  .cursor/skills/ralph-protocol/SKILL.md
  src/components/ChatView/layoutController/LayoutController.ts
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/layoutSlotResolvers.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement ChatView Integration (Context and Props) and Header Toggle Wiring for Entity List Pane
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/index.tsx
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Built-in Two-Step DX Layout API
  .cursor/skills/ralph-protocol/SKILL.md
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/layout/WorkspaceLayout.tsx
  src/components/ChatView/layoutController/LayoutController.ts
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/layoutSlotResolvers.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Docs and Spec Alignment
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/__tests__/layoutController.test.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(LayoutController): add new requirements to layout control API
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Slot Parent Stack and Back Navigation
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChatView/layoutController/LayoutController.ts
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Unify ChannelList into Slot Model
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/layout/WorkspaceLayout.tsx
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Min Slots and Fallback Workspace States
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Generic Slot Component with Mount-Preserving Hide/Unhide
  src/components/ChatView/layout/WorkspaceLayout.tsx
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/state.json
  src/components/ChatView/styling/ChatView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Deep-Linking, Serialization, and openView
  src/components/ChatView/layoutController/LayoutController.ts
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement High-Level Navigation Hook and Context Split
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/ChatViewNavigationContext.tsx
  src/components/ChatView/index.tsx
  src/components/ChatView/layout/Slot.tsx
  src/components/ChatView/layoutController/serialization.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/state.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): adjust Thread and ThreadContext.tsx to be independent of Channel contexts
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Thread Component Layout-Controller Adaptation
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
  src/components/Thread/Thread.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
