Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

chore(deps): bump @stream-io/stream-chat-css to version 5.2.0
  package.json
  yarn.lock
Due: none

chore(release): 12.5.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  94/9446b6b5e5193da590e92487a9997fdd6da20d
Due: none

fix: change SuggestionEmoji to extended EmojiSearchIndexResult
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: give preference to pasting text over files
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/hooks/usePasteHandler.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: give preference to pasting text over files (#2552)
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/hooks/usePasteHandler.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: run release job with Node v20
  .github/workflows/release.yml
Due: none

chore: run release job with Node v20 (#2554)
  .github/workflows/release.yml
Due: none

chore(release): 12.5.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3b/84cdc271cf5818349937a8e587d2d576c1dff8
Due: none

feat: add group avatar
  docusaurus/docs/React/components/contexts/channel-list-context.mdx
  docusaurus/docs/React/components/contexts/component-context.mdx
  docusaurus/docs/React/components/core-components/channel-list.mdx
  docusaurus/docs/React/components/core-components/channel.mdx
  docusaurus/docs/React/components/utility-components/avatar.mdx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/index.ts
  src/components/Channel/Channel.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/ChannelPreview/hooks/useChannelPreviewInfo.ts
  src/components/ChannelPreview/utils.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: keep using Avatar component as a default avatar everywhere
  docusaurus/docs/React/components/contexts/channel-list-context.mdx
  docusaurus/docs/React/components/contexts/component-context.mdx
  docusaurus/docs/React/components/core-components/channel-list.mdx
  docusaurus/docs/React/components/core-components/channel.mdx
  docusaurus/docs/React/components/utility-components/avatar.mdx
  src/components/Channel/Channel.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: change SuggestionEmoji to extended EmojiSearchIndexResult (#2551)
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): bump @stream-io/stream-chat-css to v5.4.0
  package.json
  yarn.lock
Due: none

chore: use ChannelAvatar in vite example app
  examples/vite/src/App.tsx
Due: none

chore(release): 12.5.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ef/a073638f0e6cc0198b12aaedc3225199b16dee
Due: none

feat: support custom member data in StreamChatGenerics
  src/types/types.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: support custom member data in StreamChatGenerics in example apps
  examples/typescript/src/App.tsx
  examples/vite/src/App.tsx
Due: none

chore(deps): bump stream-chat to version 8.44.0
  package.json
  yarn.lock
Due: none

feat: support custom member data in StreamChatGenerics (#2559)
  examples/typescript/src/App.tsx
  examples/vite/src/App.tsx
  package.json
  src/types/types.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

feat: add group avatar (#2556)
  docusaurus/docs/React/components/contexts/channel-list-context.mdx
  docusaurus/docs/React/components/core-components/channel-list.mdx
  docusaurus/docs/React/components/utility-components/avatar.mdx
  examples/vite/src/App.tsx
  package.json
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/index.ts
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/ChannelPreview/hooks/useChannelPreviewInfo.ts
  src/components/ChannelPreview/utils.tsx
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

feat: support moderation v2 workflow
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): bump stream-chat version to 8.45.0
  package.json
  yarn.lock
Due: none

feat: support moderation v2 workflow (#2562)
  package.json
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/utils.tsx
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.6.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  db/95e342c98d2e119bfab953d530c67840bcc94e
Due: none

chore: report correct package version in the source code
  .releaserc.json
  package.json
  scripts/bundle.mjs
  scripts/copy-version.sh
  src/components/Chat/hooks/useChat.ts
  src/version.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

test: fix the version reporting string test
  src/components/Chat/__tests__/Chat.test.js
Due: eslint --max-warnings 0, prettier --list-different

feat: first iteration of Search revamp
  src/components/Channel/Channel.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelSearch/SearchBar.tsx
  src/components/ChannelSearch/SearchResults.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
  src/components/InfiniteScrollPaginator/__tests__/InfiniteScroll.test.js
  src/components/LoadMore/__tests__/LoadMoreButton.test.js
  src/components/Search/Search.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchController.ts
  src/components/Search/SearchResults/PresearchSourceSearchResults.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/SearchResults/SearchResults.tsx
  src/components/Search/SearchResults/SearchResultsHeader.tsx
  src/components/Search/SearchResults/SearchSourceEmptyResults.tsx
  src/components/Search/SearchResults/SearchSourceLoadingResults.tsx
  src/components/Search/SearchResults/SearchSourceResultList.tsx
  src/components/Search/SearchResults/SearchSourceResults.tsx
  src/components/Search/index.ts
  src/components/index.ts
  src/context/ChatContext.tsx
  src/context/ComponentContext.tsx
  src/context/SearchContext.tsx
  src/context/index.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: report correct package version in the source code (#2566)
  .releaserc.json
  package.json
  scripts/bundle.mjs
  scripts/copy-version.sh
  src/components/Chat/__tests__/Chat.test.js
  src/components/Chat/hooks/useChat.ts
  src/version.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.6.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ca/fed1f1965d43c8ff53ef7238b61e556f9e4433
Due: none

feat: implement StreamingMessageView and add hook
  examples/vite/src/index.scss
  examples/vite/yarn.lock
  src/components/ChannelPreview/utils.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/StreamingMessageView.tsx
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useStreamingMessage.ts
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: add AITypingIndicatorView as well and include to Vite app
  examples/vite/src/App.tsx
  src/components/AITypingIndicatorView/AITypingIndicatorView.tsx
  src/components/AITypingIndicatorView/hooks/useAIState.ts
  src/components/AITypingIndicatorView/index.ts
  src/components/Message/index.ts
  src/components/index.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix: remove edited stamps for ai generated messages
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: report correct package version in esm build
  package.json
  scripts/bundle-cjs.mjs
  scripts/bundle-esm.mjs
  scripts/getPackageVersion.mjs
  src/components/Chat/hooks/useChat.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: add stop generating functionality as well
  examples/vite/src/App.tsx
  src/components/AITypingIndicatorView/hooks/useAIState.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/StopGeneratingButton.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different
