Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: assorted UI/UX fixes (Giphy, polls, dialogs, composer, headers) (#3081)
  src/components/Attachment/styling/Giphy.scss
  src/components/AudioPlayback/styling/PlaybackRateButton.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Dialog/service/DialogPortal.tsx
  src/components/Dialog/styling/Dialog.scss
  src/components/Form/SwitchField.tsx
  src/components/Message/hooks/useUserRole.ts
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/MessageComposerUI.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/preEditSnapshot.test.ts
  src/components/MessageComposer/hooks/useSubmitHandler.ts
  src/components/MessageComposer/preEditSnapshot.ts
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/Modal/styling/Modal.scss
  src/components/Poll/PollVote.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/styling/ThreadHeader.scss
  src/context/MessageBounceContext.tsx
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add tests
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Icons/IconGiphy.tsx
  src/components/Icons/icons.tsx
  src/components/Icons/index.ts
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use link icon for link-type attachments (#3083)
  src/components/Icons/IconGiphy.tsx
  src/components/Icons/icons.tsx
  src/components/Icons/index.ts
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.0.0-beta.5 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  f033a6402814c68341e8949fbf45206713459ee5
Due: none

docs: track react v14 reactions and icon changes
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

Initial commit
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/CardAudio.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/Viewer.scss
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Message/styling/MessageIsThreadReplyInChannelButtonIndicator.scss
  src/components/Message/styling/MessageSystem.scss
  src/components/Message/styling/index.scss
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageBounce/styling/MessageBouncePrompt.scss
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageList/styling/NewMessageNotification.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Thread/styling/ThreadHeaderMain.scss
  src/components/Thread/styling/index.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/styling/_palette-variables.scss
  src/styling/_utils.scss
  src/styling/animations.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix tests
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Another set of changes
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Geolocation.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Dialog/styling/Alert.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/Viewer.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageStatus.scss
  src/components/MessageList/styling/ScrollToLatestMessageButton.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Tooltip/styling/Tooltip.scss
  src/styling/_global-layout-variables.scss
  src/styling/_global-theme-variables.scss
Due: none

Return utils import to Giphy.scss
  src/components/Attachment/styling/Giphy.scss
Due: none

chore: styling cleanup (#3074)
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/CardAudio.scss
  src/components/Attachment/styling/Geolocation.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Dialog/styling/Alert.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/Viewer.scss
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageIsThreadReplyInChannelButtonIndicator.scss
  src/components/Message/styling/MessageStatus.scss
  src/components/Message/styling/MessageSystem.scss
  src/components/Message/styling/index.scss
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageBounce/styling/MessageBouncePrompt.scss
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.tsx.snap
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageList/styling/NewMessageNotification.scss
  src/components/MessageList/styling/ScrollToLatestMessageButton.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Thread/styling/ThreadHeaderMain.scss
  src/components/Thread/styling/index.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/components/Tooltip/styling/Tooltip.scss
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/styling/_global-layout-variables.scss
  src/styling/_global-theme-variables.scss
  src/styling/_palette-variables.scss
  src/styling/_utils.scss
  src/styling/animations.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 reactions and icon changes (#3085)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

refactor: remove deprecated APIs ahead of v14 stable
  ai-docs/DEPRECATED_API_REMOVAL_PLAN.md
  src/components/ChannelList/hooks/useMessageNewListener.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
  src/components/InfiniteScrollPaginator/__tests__/InfiniteScroll.test.tsx
  src/components/LoadMore/LoadMoreButton.tsx
  src/components/LoadMore/LoadMorePaginator.tsx
  src/components/LoadMore/__tests__/LoadMoreButton.test.tsx
  src/components/LoadMore/__tests__/LoadMorePaginator.test.tsx
  src/components/Message/Message.tsx
  src/components/Message/hooks/usePinHandler.ts
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/utils.ts
  src/components/ReactFileUtilities/UploadButton.tsx
  src/components/Reactions/StreamEmoji.tsx
  src/components/Reactions/index.ts
  src/components/index.ts
  src/context/MessageContext.tsx
  src/mock-builders/event/notificationMarkRead.ts
  src/mock-builders/event/notificationMarkUnread.ts
  src/plugins/Emojis/EmojiPicker.tsx
  src/types/types.ts
  src/utils/deprecationWarning.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/__tests__/AvatarStack.test.tsx
  src/components/Avatar/__tests__/GroupAvatar.test.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/utils.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelHeader): hide toggle sidebar button when no ChannelList is rendered
  src/components/Button/ToggleSidebarButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(ChannelHeader): add tests for toggle sidebar button visibility
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): clean up tutorial examples for v14
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/src/7-livestream/layout.css
Due: prettier --list-different

chore: adjustmens to Avatar, GroupAvatar and ChannelAvatar (#3087)
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/__tests__/AvatarStack.test.tsx
  src/components/Avatar/__tests__/GroupAvatar.test.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/utils.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): clean up tutorial examples for v14 (#3089)
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/src/7-livestream/layout.css
Due: prettier --list-different

feat(ChannelHeader): make sidebar toggle an externally-provided component
  examples/vite/src/App.tsx
  src/components/Button/ToggleSidebarButton.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/ChannelList/__tests__/ChannelListHeader.test.tsx
  src/components/Icons/icons.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListHeader.test.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Icons): update remaining icons from refreshed catalog
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  src/components/Attachment/VisibilityDisclaimer.tsx
  src/components/Icons/icons.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/RemoveAttachmentPreviewButton.tsx
  src/components/Notifications/Notification.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(Icons): add RTL mirroring support via data-rtl-mirror attribute
  src/components/Icons/createIcon.tsx
  src/components/Icons/icons.tsx
  src/components/Icons/styling/Icons.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ContextMenu): use logical text-align for RTL support
  src/components/Dialog/styling/ContextMenu.scss
Due: none

fix(AttachmentPreview): use logical property for remove button position
  src/components/MessageComposer/styling/RemoveAttachmentPreviewButton.scss
Due: none

fix(AudioPlayback): use logical properties for RTL support
  src/components/AudioPlayback/components/ProgressBar.tsx
  src/components/AudioPlayback/components/WaveProgressBar.tsx
  src/components/AudioPlayback/styling/ProgressBar.scss
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(AudioRecorder): remove max-width caps on waveform containers
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
Due: none

fix(Message): use logical properties for RTL support in message metadata and replies
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
Due: none

fix(Styling): replace physical CSS properties with logical equivalents for RTL
  src/components/Attachment/styling/Giphy.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Dialog/styling/Callout.scss
  src/components/Form/styling/TextInput.scss
  src/components/Gallery/styling/Gallery.scss
  src/components/Message/styling/Message.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
  src/components/MessageList/styling/ScrollToLatestMessageButton.scss
  src/components/Modal/styling/Modal.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: none

test: update tests and snapshots for logical CSS property changes
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/Gallery/__tests__/__snapshots__/Image.test.tsx.snap
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.tsx.snap
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): fix panel resize logic for RTL layouts
  examples/vite/src/ChatLayout/Resize.tsx
Due: prettier --list-different

fix(Reactions): apply --reaction-text color for dark mode support
  src/components/Reactions/styling/common.scss
Due: none

fix(examples): enable voice recording in thread composer
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

chore: fix prettier formatting in AudioRecorder.scss
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
Due: none

fix(Icons, RTL): update icon catalog, RTL layout fixes, dark mode & thread voice recording (#3090)
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  src/components/Attachment/VisibilityDisclaimer.tsx
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/Attachment/styling/Giphy.scss
  src/components/AudioPlayback/components/ProgressBar.tsx
  src/components/AudioPlayback/components/WaveProgressBar.tsx
  src/components/AudioPlayback/styling/ProgressBar.scss
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Dialog/styling/Callout.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/Form/styling/TextInput.scss
  src/components/Gallery/__tests__/__snapshots__/Image.test.tsx.snap
  src/components/Gallery/styling/Gallery.scss
  src/components/Icons/createIcon.tsx
  src/components/Icons/icons.tsx
  src/components/Icons/styling/Icons.scss
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.tsx.snap
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/RemoveAttachmentPreviewButton.tsx
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.tsx.snap
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
  src/components/MessageComposer/styling/RemoveAttachmentPreviewButton.scss
  src/components/MessageList/styling/ScrollToLatestMessageButton.scss
  src/components/Modal/styling/Modal.scss
  src/components/Notifications/Notification.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/common.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): fix resize handle alignment and thread border gap in RTL
  examples/vite/src/index.scss
Due: none

fix(examples): fix resize handle alignment and thread border gap in RTL (#3091)
  examples/vite/src/index.scss
Due: none

fix(examples): enable async voice recording preview in thread composer
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

fix(examples): enable async voice recording preview in thread composer (#3092)
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

chore(release): 14.0.0-beta.6 [skip ci]
  CHANGELOG.md
Due: prettier --list-different
