Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

refactor!: remove deprecated APIs ahead of v14 stable (#3086)
  ai-docs/DEPRECATED_API_REMOVAL_PLAN.md
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelDeletedListener.ts
  src/components/ChannelList/hooks/useChannelHiddenListener.ts
  src/components/ChannelList/hooks/useChannelTruncatedListener.ts
  src/components/ChannelList/hooks/useChannelUpdatedListener.ts
  src/components/ChannelList/hooks/useChannelVisibleListener.ts
  src/components/ChannelList/hooks/useMessageNewListener.ts
  src/components/ChannelList/hooks/useNotificationAddedToChannelListener.ts
  src/components/ChannelList/hooks/useNotificationMessageNewListener.ts
  src/components/ChannelList/hooks/useNotificationRemovedFromChannelListener.ts
  src/components/ChannelList/hooks/useUserPresenceChangedListener.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
  src/components/InfiniteScrollPaginator/__tests__/InfiniteScroll.test.tsx
  src/components/LoadMore/LoadMoreButton.tsx
  src/components/LoadMore/LoadMorePaginator.tsx
  src/components/LoadMore/__tests__/LoadMoreButton.test.tsx
  src/components/LoadMore/__tests__/LoadMorePaginator.test.tsx
  src/components/Message/Message.tsx
  src/components/Message/hooks/usePinHandler.ts
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/utils.ts
  src/components/ReactFileUtilities/UploadButton.tsx
  src/components/Reactions/StreamEmoji.tsx
  src/components/Reactions/index.ts
  src/components/index.ts
  src/context/MessageContext.tsx
  src/mock-builders/event/notificationMarkUnread.ts
  src/plugins/Emojis/EmojiPicker.tsx
  src/types/types.ts
  src/utils/deprecationWarning.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove missing import
  src/components/ChannelList/hooks/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat!: externalize sidebar toggle and remove navOpen state from the SDK (#3088)
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/ChatLayout/SidebarContext.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
  examples/vite/src/index.scss
  src/components/Button/ToggleSidebarButton.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelHeader/hooks/useIsMobileViewport.ts
  src/components/ChannelHeader/plan.md
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/__tests__/ChannelListHeader.test.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useMobileNavigation.ts
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Chat/hooks/useChat.ts
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/Icons/icons.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListHeader.test.tsx
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
  src/context/ChatContext.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unnecessary formatUploadByteFraction method
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: simplify AttachmentUploadedSizeIndicator
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: create UploadedSizeIndicator component
  src/components/Loading/UploadedSizeIndicator.tsx
  src/components/Loading/index.ts
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 sidebar and deprecated APIs
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

refactor: remove UploadProgressIndicator and AttachmentUploadedSizeIndicator from ComponentContext
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: use ProgressIndicator in ComponentContext
  src/components/Loading/UploadProgressIndicator.tsx
  src/components/Loading/index.ts
  src/components/Loading/progress-indicators.tsx
  src/components/Loading/styling/ProgressIndicator.scss
  src/components/Loading/styling/index.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unused className prop from UploadProgressIndicator
  src/components/Loading/UploadProgressIndicator.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remover wrapper div from UploadProgressIndicator
  src/components/Loading/UploadProgressIndicator.tsx
  src/components/Loading/progress-indicators.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add FileSizeIndicator to ComponentContext
  src/components/Attachment/Audio.tsx
  src/components/Attachment/FileAttachment.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/components/FileSizeIndicator.tsx
  src/components/Loading/UploadedSizeIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: move prop definition to the top of the file
  src/components/Loading/progress-indicators.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: 0 byte results in NaN in FileSizeIndicator
  src/components/MessageComposer/hooks/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: track upload progress in attachment preview components (#3060)
  package.json
  src/components/Attachment/Audio.tsx
  src/components/Attachment/FileAttachment.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/components/FileSizeIndicator.tsx
  src/components/Loading/UploadProgressIndicator.tsx
  src/components/Loading/UploadedSizeIndicator.tsx
  src/components/Loading/index.ts
  src/components/Loading/progress-indicators.tsx
  src/components/Loading/styling/ProgressIndicator.scss
  src/components/Loading/styling/index.scss
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/__tests__/AttachmentUploadedSizeIndicator.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/utils.ts
  src/components/MessageComposer/icons.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat!: report network connection loss as a system notifications
  examples/vite/src/App.tsx
  examples/vite/src/SystemNotification/SystemNotification.scss
  examples/vite/src/SystemNotification/SystemNotification.tsx
  examples/vite/src/index.scss
  src/components/Attachment/__tests__/Audio.test.tsx
  src/components/Attachment/__tests__/VoiceRecording.test.tsx
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Chat/hooks/useReportLostConnectionSystemNotification.ts
  src/components/Chat/index.ts
  src/components/Icons/icons.tsx
  src/components/Location/__tests__/ShareLocationDialog.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/MessageList/ConnectionStatus.tsx
  src/components/MessageList/__tests__/ConnectionStatus.test.tsx
  src/components/MessageList/index.ts
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/__tests__/useSystemNotifications.test.ts
  src/components/Notifications/hooks/index.ts
  src/components/Notifications/hooks/useNotificationApi.ts
  src/components/Notifications/hooks/useSystemNotifications.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor(demo): remove anchoring div around system notification
  examples/vite/src/App.tsx
  examples/vite/src/SystemNotification/SystemNotification.scss
  examples/vite/src/SystemNotification/SystemNotification.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

feat!: remove onlySenderCanEdit prop from MessageProps
  src/components/Message/Message.tsx
  src/components/Message/hooks/__tests__/useUserRole.test.tsx
  src/components/Message/hooks/useUserRole.ts
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign UnsupportedAttachment
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/UnsupportedAttachment.tsx
  src/components/Attachment/__tests__/UnsupportedAttachment.test.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/UnsupportedAttachment.scss
  src/components/Attachment/styling/index.scss
  src/styling/index.scss
  src/styling/variables-tokens.css
  src/styling/variables/font.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 sidebar and deprecated APIs (#3097)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

feat!: remove onlySenderCanEdit prop from MessageProps (#3098)
  src/components/Message/Message.tsx
  src/components/Message/hooks/__tests__/useUserRole.test.tsx
  src/components/Message/hooks/useUserRole.ts
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign UnsupportedAttachment (#3099)
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/UnsupportedAttachment.tsx
  src/components/Attachment/__tests__/UnsupportedAttachment.test.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/UnsupportedAttachment.scss
  src/components/Attachment/styling/index.scss
  src/styling/index.scss
  src/styling/variables-tokens.css
  src/styling/variables/font.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add missing tests
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/Message/hooks/__tests__/useReactionsFetcher.test.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/hooks/__tests__/useSubmitHandler.test.tsx
  src/components/Notifications/__tests__/Notification.test.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Poll/PollActions/__tests__/EndPollAlert.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add missing tests (#3101)
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/Message/hooks/__tests__/useReactionsFetcher.test.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/hooks/__tests__/useSubmitHandler.test.tsx
  src/components/Notifications/__tests__/Notification.test.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
  src/components/Poll/PollActions/__tests__/EndPollAlert.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adjust padding for messages containing only padding
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/VoiceRecording.scss
  src/components/Attachment/styling/index.scss
  src/components/Message/MessageUI.tsx
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add MediaBadge
  src/components/Badge/MediaBadge.tsx
  src/components/Badge/styling/MediaBadge.scss
  src/components/Badge/styling/index.scss
  src/components/Icons/icons.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/VideoPlayer/styling/VideoThumbnail.scss
  src/styling/variables-tokens.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add MediaBadge (#3103)
  src/components/Badge/MediaBadge.tsx
  src/components/Badge/styling/MediaBadge.scss
  src/components/Badge/styling/index.scss
  src/components/Icons/icons.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/VideoPlayer/styling/VideoThumbnail.scss
  src/styling/variables-tokens.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adjust padding for messages containing only padding (#3102)
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/VoiceRecording.scss
  src/components/Attachment/styling/index.scss
  src/components/Message/MessageUI.tsx
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(dialog): keep DialogManagerProvider mounted on first render and stabilize manager identity
  src/components/Dialog/__tests__/DialogManagerContext.test.tsx
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ssr): provide getServerSnapshot for external-store hooks and stabilize dialog manager lifecycle
  src/components/ChannelList/hooks/useSelectedChannelState.ts
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(dialog): keep DialogManagerProvider mounted on first render and stabilize manager identity
  src/components/ChannelList/hooks/useSelectedChannelState.ts
  src/components/Dialog/__tests__/DialogManagerContext.test.js
  src/context/DialogManagerContext.tsx
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix DialogManagerContext.test.js import react-dom/server.node
  src/components/Dialog/__tests__/DialogManagerContext.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add new styles for unsupported attachments (preview, message, channel preview)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  src/components/Attachment/UnsupportedAttachment.tsx
  src/components/Icons/icons.tsx
  src/components/MessageComposer/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/UnsupportedAttachmentPreview.scss
  src/components/MessageComposer/styling/index.scss
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add new styles for unsupported attachments (preview, message, channel preview)
  src/components/Attachment/__tests__/UnsupportedAttachment.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add default offset to context menu from the ref element to 8px
  src/components/Dialog/components/ContextMenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: grow message bubbles up to 400px width
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/VoiceRecording.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/QuotedMessage.scss
  src/components/Poll/styling/Poll.scss
Due: none

fix(demo): allow interaction with channel list on small screen sizes
  examples/vite/src/index.scss
Due: none

feat: add max 400px width constraint to geolocation attachment
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Geolocation.scss
Due: none

feat: add new styles for unsupported attachments (preview, message, channel preview) (#3107)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/index.scss
  src/components/Attachment/UnsupportedAttachment.tsx
  src/components/Attachment/__tests__/UnsupportedAttachment.test.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/Geolocation.scss
  src/components/Attachment/styling/VoiceRecording.scss
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Icons/icons.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/QuotedMessage.scss
  src/components/MessageComposer/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/UnsupportedAttachmentPreview.scss
  src/components/MessageComposer/styling/index.scss
  src/components/Poll/styling/Poll.scss
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
