Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

chore(release): 12.7.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  05/77ffdbd2abf11b6b99a2e70caa938ea19635e9
Due: none

Add action buttons component to ChannelPreview
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/icons.tsx
  src/components/ChannelPreview/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

Fix pinning; first-in-position channel
  src/components/ChannelList/hooks/useMemberUpdatedListener.ts
Due: eslint --max-warnings 0, prettier --list-different

Initial commit
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/hooks/useMessageNewListener.ts
  src/components/ChannelList/utils.ts
  src/mock-builders/event/messageNew.js
Due: eslint --max-warnings 0, prettier --list-different

Reset behavior of the old handler
  src/components/ChannelList/hooks/useMemberUpdatedListener.ts
  src/components/ChannelList/hooks/useMessageNewListener.ts
  src/components/ChannelList/hooks/useNotificationMessageNewListener.ts
Due: eslint --max-warnings 0, prettier --list-different

Add archiving handlers
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

Revert package.json changes, adjust existing
  package.json
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelList/utils.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

Upgrade prettier & related packages
  package.json
  yarn.lock
Due: none

Move things around, use ChannelState.membership instead
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelMembershipState.ts
  src/components/ChannelList/hooks/useMemberUpdatedListener.ts
  src/components/ChannelList/hooks/useMessageNewListener.ts
  src/components/ChannelList/hooks/useNotificationMessageNewListener.ts
  src/components/ChannelList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

Allow integrators to shape their ChannelLists however they want with more freedom
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

Fixes and adjustments
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

Change useStateStore to use useSyncExternalStore instead
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0, prettier --list-different

Minor adjustments and test fixes
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelPreview/__tests__/__snapshots__/ChannelPreviewMessenger.test.js.snap
  src/components/ChannelSearch/__tests__/SearchResults.test.js
Due: eslint --max-warnings 0, prettier --list-different

Adjust test, add translations
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/__tests__/ChannelPreviewMessenger.test.js
  src/components/ChannelPreview/__tests__/__snapshots__/ChannelPreviewMessenger.test.js.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

Check individual selected values
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0, prettier --list-different

Drop Node v16
  .github/workflows/ci.yml
Due: none

Use React shim package to support older React versions
  package.json
  src/store/hooks/useStateStore.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

Update dependencies
  package.json
  yarn.lock
Due: none

Adjust example defaults
  examples/vite/src/App.tsx
Due: none

feat: per-user channel pinning/archiving (#2555)
  examples/vite/src/App.tsx
  package.json
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelListShape.ts
  src/components/ChannelList/hooks/useChannelMembershipState.ts
  src/components/ChannelList/utils.ts
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreviewMessenger.test.js
  src/components/ChannelPreview/__tests__/__snapshots__/ChannelPreviewMessenger.test.js.snap
  src/components/ChannelPreview/icons.tsx
  src/components/ChannelPreview/index.ts
  src/components/ChannelSearch/__tests__/SearchResults.test.js
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/mock-builders/event/messageNew.js
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

chore(release): 12.8.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  56/def194dbd90516a5b1ed3343a8cea26430f14b
Due: none

feat: add Search components to ComponentContext
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/Search/SearchResults/PresearchSourceSearchResults.tsx
  src/components/Search/SearchResults/SearchSourceResultsError.tsx
  src/components/Search/SearchResults/SearchSourceResultsPresearch.tsx
  src/context/ChatContext.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: prioritize ChannelAvatar rendering in ChannelPreview and ChannelHeader
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: prioritize Search rendering in ChannelList over ChannelSearch
  src/components/ChannelList/ChannelList.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: adapt SearchBar to a new design and control the UI with searchController state
  src/components/Search/Search.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchController.ts
  src/context/SearchContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: handle search UI states well
  src/components/Search/SearchController.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/SearchResults/SearchResults.tsx
  src/components/Search/SearchResults/SearchResultsHeader.tsx
  src/components/Search/SearchResults/SearchSourceEmptyResults.tsx
  src/components/Search/SearchResults/SearchSourceLoadingResults.tsx
  src/components/Search/SearchResults/SearchSourceResultList.tsx
  src/components/Search/SearchResults/SearchSourceResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to override active prop on ChannelPreview
  src/components/ChannelPreview/ChannelPreview.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: add jump to selected search result message
  src/components/Channel/Channel.tsx
  src/components/Channel/channelState.ts
  src/components/Search/SearchController.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to override query filters in search source instances
  src/components/Search/SearchController.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: do not clear dialog state immediately on useDialog unmount
  package.json
  src/components/Dialog/DialogManager.ts
  src/components/Dialog/hooks/useDialog.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

fix: use strict mode for demo app
  examples/vite/src/main.tsx
  examples/vite/yarn.lock
Due: none

fix: add tests
  src/components/Dialog/__tests__/DialogsManager.test.js
Due: eslint --max-warnings 0, prettier --list-different

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
