Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: check cast-poll-vote permission to show "Suggest an option" poll action
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/__tests__/PollActions.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: support message delivered and message sent statuses separately
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelPreview/hooks/__tests__/useMessageDeliveryStatus.test.js
  src/components/ChannelPreview/hooks/useMessageDeliveryStatus.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
  src/components/Message/icons.tsx
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/utils.test.js
  src/components/MessageList/hooks/MessageList/useMessageListElements.tsx
  src/components/MessageList/hooks/useLastDeliveredData.ts
  src/components/MessageList/renderMessages.tsx
  src/components/MessageList/utils.ts
  src/context/MessageContext.tsx
  src/mock-builders/event/messageDelivered.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add todo
  src/components/Message/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelPreview): call getLatestMessagePreview on every relevant WS event
  src/components/ChannelPreview/ChannelPreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove jsdelivr bundle reference from package.json
  package.json
Due: prettier --list-different

chore: remove jsdelivr bundle reference from package.json (#2839)
  package.json
Due: prettier --list-different

fix: add notification translator for notification validation:attachment:upload:in-progress
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/attachmentUpload.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: check cast-poll-vote permission to show "Suggest an option" poll action (#2835)
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/__tests__/PollActions.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add notification translator for notification validation:attachment:upload:in-progress (#2842)
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/attachmentUpload.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelPreview): call getLatestMessagePreview on every relevant WS event (#2838)
  src/components/ChannelPreview/ChannelPreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add AGENTS.md & CODEOWNERS (#2822)
  AGENTS.md
  CODEOWNERS
Due: prettier --list-different

chore(release): 12.15.8 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  bd633491be6110451202f86a915936402a5b4b51
Due: none

Allow using actions in quoted messages
  src/components/Message/QuotedMessage.tsx
  src/components/Message/hooks/useActionHandler.ts
  src/utils/useStableCallback.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add "team" property to the DefaultChannelData interface
  src/types/defaultDataInterfaces.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(giphy): allow using actions in quoted messages (#2849)
  src/components/Message/QuotedMessage.tsx
  src/components/Message/hooks/useActionHandler.ts
  src/utils/useStableCallback.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(useMessageComposer): keep editing message composer with up-to-date edited message reference
  src/components/MessageInput/hooks/useMessageComposer.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(useMessageComposer): keep editing message composer with up-to-date edited message reference (#2851)
  src/components/MessageInput/hooks/useMessageComposer.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add tooltip to the "Sent" message status
  src/components/Message/MessageStatus.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.20.3
  package.json
  yarn.lock
Due: prettier --list-different

fix(TextareaComposer): check sendable data before allowing message submission
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to override EditMessageModal and thus its additionalMessageInputProps
  src/components/Channel/Channel.tsx
  src/components/Message/MessageSimple.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to override EditMessageModal and thus its additionalMessageInputProps (#2853)
  src/components/Channel/Channel.tsx
  src/components/Message/MessageSimple.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: rename ownMessageReceiptsTracker to messageReceiptsTracker
  src/components/ChannelPreview/hooks/useMessageDeliveryStatus.ts
  src/components/MessageList/hooks/useLastDeliveredData.ts
  src/components/MessageList/hooks/useLastReadData.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(TextareaComposer): check sendable data before allowing message submission (#2852)
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  b3c0172f9769946c92d4f843281388dc3fe248da
Due: none

chore(deps): upgrade steam-chat to v9.21.0
  package.json
  yarn.lock
Due: prettier --list-different

fix: add "team" property to the `DefaultChannelData` interface (#2850)
  src/types/defaultDataInterfaces.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.8.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  757f667573b2ee7c936c5c1bc3de7730438f792f
Due: none

feat: add optional Delete for me message action
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/Message/__tests__/utils.test.js
  src/components/Message/hooks/__tests__/useDeleteHandler.test.js
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/context/ChannelActionContext.tsx
  src/context/MessageContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: rely on delete message response enrichment of deleted-for-me message in LLC
  src/components/Message/hooks/__tests__/useDeleteHandler.test.js
  src/components/Message/hooks/useDeleteHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat-css and steam-chat to latest
  package.json
  yarn.lock
Due: prettier --list-different

feat: add translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

feat: support message delivered and message sent statuses separately (#2837)
  package.json
  src/components/Channel/__tests__/Channel.test.js
  src/components/ChannelPreview/hooks/__tests__/useMessageDeliveryStatus.test.js
  src/components/ChannelPreview/hooks/useMessageDeliveryStatus.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
  src/components/Message/icons.tsx
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/utils.test.js
  src/components/MessageList/hooks/MessageList/useMessageListElements.tsx
  src/components/MessageList/hooks/useLastDeliveredData.ts
  src/components/MessageList/renderMessages.tsx
  src/components/MessageList/utils.ts
  src/context/MessageContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/mock-builders/event/messageDelivered.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add optional Delete for me message action (#2855)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/Message/__tests__/utils.test.js
  src/components/Message/hooks/__tests__/useDeleteHandler.test.js
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/context/ChannelActionContext.tsx
  src/context/MessageContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(release): 13.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different
