Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(styling): use correct inverse text color tokens (#3125)
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Badge/styling/Badge.scss
  src/components/Notifications/styling/Notification.scss
Due: none

feat: provide withCaption and withoutCaption variants in FileIconSet
  src/components/Attachment/__tests__/__snapshots__/File.test.tsx.snap
  src/components/FileIcon/FileIcon.tsx
  src/components/FileIcon/FileIconSet.tsx
  src/components/FileIcon/styling/FileIcon.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix the orded of message actions
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add download attachment message action (#3126)
  src/components/Attachment/Audio.tsx
  src/components/Attachment/FileAttachment.tsx
  src/components/Attachment/__tests__/__snapshots__/File.test.tsx.snap
  src/components/Attachment/components/DownloadButton.tsx
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/DownloadButton.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Attachment/styling/index.scss
  src/components/AudioPlayback/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.ts
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/FileIcon/FileIcon.tsx
  src/components/FileIcon/FileIconSet.tsx
  src/components/FileIcon/styling/FileIcon.scss
  src/components/Icons/icons.tsx
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageActions/downloadUtils.ts
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/MessageComposer.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(release): enable stable releases for v14 (#3121)
  .releaserc.json
Due: prettier --list-different

chore(release): 14.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  5435b9b70791ac94d6338647f057f8ea446a23eb
Due: none

docs: track react v14 message action follow-up
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: track react v14 message action follow-up (#3127)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: add AI-focused v13 → v14 migration guide
  ai-docs/DEPRECATED_API_REMOVAL_PLAN.md
  ai-docs/ai-migration.md
Due: prettier --list-different

docs(ai-migration): add Source of Truth section
  ai-docs/ai-migration.md
Due: prettier --list-different

docs(ai-migration): fix Source of Truth paths; drop dead scss exports
  ai-docs/ai-migration.md
  package.json
Due: prettier --list-different

chore: remove legacy @stream-io/stream-chat-css wiring
  .github/dependabot.yml
  CLAUDE.md
  scripts/copy-css.sh
  scripts/merge-stream-chat-css-docs.sh
Due: prettier --list-different

docs(ai-migration): fix signature/prop claims; prefer /css/* alias
  ai-docs/ai-migration.md
Due: prettier --list-different

docs(breaking-changes): correct four SDK-mismatch claims
  ai-docs/breaking-changes.md
Due: prettier --list-different

docs(ai-migration): orient agents on the v14 notification and gallery models
  ai-docs/ai-migration.md
Due: prettier --list-different

fix: allow flipping message actions context menu
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: allow flipping message actions context menu (#3130)
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(accessibility): introduce VisuallyHidden utility to expose screen-reader-only text
  src/components/VisuallyHidden/VisuallyHidden.tsx
  src/components/VisuallyHidden/__tests__/VisuallyHidden.test.tsx
  src/components/VisuallyHidden/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(accessibility): centralize screen-reader announcements with AriaLiveRegion
  src/components/Accessibility/AriaLiveRegion.tsx
  src/components/Accessibility/__tests__/AriaLiveRegion.test.tsx
  src/components/Accessibility/index.ts
  src/components/Accessibility/useAriaLiveAnnouncer.ts
  src/components/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): make bounced MessageUI wrapper keyboard-accessible
  src/components/Message/MessageUI.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(message): add keyboard support for MessageText mention interactions
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): make quoted message preview keyboard-accessible
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: recognize async moderated shadow blocked messages as blocked
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: add AI migration guide and drop legacy stream-chat-css wiring (#3129)
  .github/dependabot.yml
  CLAUDE.md
  ai-docs/DEPRECATED_API_REMOVAL_PLAN.md
  ai-docs/ai-migration.md
  ai-docs/breaking-changes.md
  package.json
  scripts/copy-css.sh
  scripts/merge-stream-chat-css-docs.sh
Due: prettier --list-different

fix(a11y): add keyboard support to remaining clickable non-semantic elements
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/AudioPlayback/__tests__/ProgressBar.test.tsx
  src/components/AudioPlayback/components/ProgressBar.tsx
  src/components/AudioPlayback/components/WaveProgressBar.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/AttachmentPreviewRoot.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/__tests__/AttachmentPreviewRoot.test.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: update stream-chat version in dev dependencies
  package.json
  yarn.lock
Due: prettier --list-different

fix: recognize async moderated shadow blocked messages as blocked (#3131)
  package.json
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/utils.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: recognize async moderated shadow blocked messages as blocked (#3131)
  package.json
  src/components/Message/__tests__/utils.test.js
  src/components/Message/utils.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: fix tests
  package.json
  yarn.lock
Due: prettier --list-different

docs(capture-harness): rework react theming screenshot pipeline
  examples/vite/docs-playwright/seed-channel-and-screenshot.mjs
  examples/vite/docs-playwright/theming-variants.mjs
  examples/vite/package.json
  examples/vite/yarn.lock
Due: prettier --list-different

chore: remove TS tests
  package.json
  src/components/Message/__tests__/utils.test.js
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: update failing tests
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: recognize async moderated shadow blocked messages as blocked (#3132)
  package.json
  src/components/Message/utils.tsx
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Defined & referenced once within the same file
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/DragAndDrop/styling/DragAndDropContainer.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Gallery/styling/Gallery.scss
  src/components/Loading/styling/LoadingChannels.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/DropzoneContainer.scss
  src/components/Notifications/styling/NotificationList.scss
  src/components/Threads/styling/UnreadCountBadge.scss
Due: none

Poll-related cleanup
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollOptionFullList.scss
  src/components/Poll/styling/PollOptionList.scss
  src/components/Poll/styling/PollResults.scss
Due: none

Lint fixes
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/Geolocation.scss
  src/components/Attachment/styling/UnsupportedAttachment.scss
  src/components/Attachment/styling/VoiceRecording.scss
  src/components/DateSeparator/styling/DateSeparator.scss
  src/components/Message/styling/Message.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/UnsupportedAttachmentPreview.scss
  src/components/Notifications/styling/NotificationList.scss
Due: none

Reviewed variable removals
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/AttachmentActions.scss
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/Geolocation.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Attachment/styling/UnsupportedAttachment.scss
  src/components/Attachment/styling/VoiceRecording.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/DateSeparator/styling/DateSeparator.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/components/Message/styling/MessageTranslationIndicator.scss
  src/components/Message/styling/ReminderNotification.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/MessageComposer/styling/UnsupportedAttachmentPreview.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Tooltip/styling/Tooltip.scss
  src/styling/_utils.scss
Due: none

Transform same-file CSS variables use to SCSS variables
  src/components/AIStateIndicator/styling/AIStateIndicator.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/DragAndDrop/styling/DragAndDropContainer.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Location/styling/ShareLocationDialog.scss
  src/components/Message/styling/Message.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/Notifications/styling/NotificationList.scss
  src/components/Poll/styling/PollOptionList.scss
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: none

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
