Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Notes added by 'git notes add'
  c9802c782a3e47bd44873884260c13213b6ee380
Due: none

fix: use channel_id and channel_type values from event channel.visible (#2730)
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent rendering placeholder for empty message list if messages are actually loaded
  src/components/Channel/Channel.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 12.15.7 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  de04b0444ab4ac73f8f5470acb1d5dcd93b08fb0
Due: none

fix: make MessageThreadReplyInChannelButtonIndicator to MessageIsThreadReplyInChannelButtonIndicator
  src/components/Message/MessageIsThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make MessageThreadReplyInChannelButtonIndicator to MessageIsThreadReplyInChannelButtonIndicator (#2735)
  src/components/Message/MessageIsThreadReplyInChannelButtonIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: allow to pre-register TranslationTopic translator functions
  src/context/ComponentContext.tsx
  src/i18n/TranslationBuilder/TranslationBuilder.ts
  src/i18n/TranslationBuilder/notifications/index.ts
  src/i18n/__tests__/TranslationBuilder.test.js
  src/i18n/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: allow to pre-register TranslationTopic translator functions (#2737)
  src/context/ComponentContext.tsx
  src/i18n/TranslationBuilder/TranslationBuilder.ts
  src/i18n/TranslationBuilder/notifications/index.ts
  src/i18n/__tests__/TranslationBuilder.test.js
  src/i18n/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  9f311671ec46b3e4a4827e83d2e6fbbe7b39e6b9
Due: none

Clean up InfiniteScroll, change ref to state-based dep
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(InfiniteScroll): replace refs with state-based deps (#2740)
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.1.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  0d021ee90620c435296ab3588040049a6e285479
Due: none

fix: prevent debouncing the selection state update in TextareaComposer
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent debouncing the selection state update in TextareaComposer (#2741)
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add pagination tools to ChannelList context
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/context/ChannelListContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): remove mml-react
  examples/capacitor/yarn.lock
  examples/nextjs/yarn.lock
  examples/typescript/yarn.lock
  examples/vite/yarn.lock
  package.json
  src/components/MML/MML.tsx
  src/components/MML/__tests__/MML.test.js
  src/components/MML/index.ts
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/index.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(vite/deps): upgrade vite in examples/vite
  examples/vite/package.json
  examples/vite/yarn.lock
Due: prettier --list-different

chore(deps): upgrade stream-chat to v9.8.0
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): remove mml-react (#2743)
  examples/capacitor/yarn.lock
  examples/nextjs/yarn.lock
  examples/typescript/yarn.lock
  examples/vite/package.json
  examples/vite/yarn.lock
  package.json
  src/components/MML/MML.tsx
  src/components/MML/__tests__/MML.test.js
  src/components/MML/index.ts
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/index.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add pagination tools to ChannelList context (#2742)
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/context/ChannelListContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  ab3ffcef4b87fc505b7337cd9a5d495ce90f58b2
Due: none

Upgrade stream-chat-css to latest
  package.json
  yarn.lock
Due: prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to latest version (#2744)
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 13.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  43cf35b1d350cb8374dd7be69c0bf7a8e8839fcf
Due: none

fix: focus textarea upon file input change event
  src/components/ReactFileUtilities/UploadButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: focus textarea upon file input change event (#2752)
  src/components/ReactFileUtilities/UploadButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: ensure all message links are properly wrapped when sharing same root domain
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent setting unread UI state for channel non-members
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: ensure all message links are properly wrapped when sharing same root domain (#2754)
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep focused textarea when message composer state changes
  src/components/MessageInput/EditMessageForm.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent setting unread UI state for channel non-members (#2757)
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: change MultipleAnswersField input element to type text
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make character composition possible in textarea
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: change MultipleAnswersField input element to type text (#2761)
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep focused textarea when message composer state changes (#2759)
  src/components/MessageInput/EditMessageForm.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
