Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Notes added by 'git notes add'
  73ba880b5c214fb4f71f443fdd65d9243e363932
Due: none

chore: replace react-popper with "@floating-ui/react
  examples/vite/yarn.lock
  package.json
  src/components/Dialog/ButtonWithSubmenu.tsx
  src/components/Dialog/DialogAnchor.tsx
  src/components/Dialog/hooks/index.ts
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/Form/Dropdown.tsx
  src/components/MessageActions/hooks/index.ts
  src/components/MessageActions/hooks/useMessageActionsBoxPopper.ts
  src/components/Tooltip/Tooltip.tsx
  src/plugins/Emojis/EmojiPicker.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: account for non-existent ResizeObserver
  src/components/Dialog/hooks/usePopoverPosition.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: replace react-popper with @floating-ui/react (#2856)
  examples/vite/yarn.lock
  package.json
  src/components/Dialog/ButtonWithSubmenu.tsx
  src/components/Dialog/DialogAnchor.tsx
  src/components/Dialog/hooks/index.ts
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/Form/Dropdown.tsx
  src/components/MessageActions/hooks/index.ts
  src/components/MessageActions/hooks/useMessageActionsBoxPopper.ts
  src/components/Tooltip/Tooltip.tsx
  src/plugins/Emojis/EmojiPicker.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: control SimpleAttachmentSelector display according to channel capabilities
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add test "should not render file upload button if uploads are disabled"
  src/components/MessageInput/__tests__/EditMessageForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: control SimpleAttachmentSelector display according to channel capabilities (#2860)
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
  src/components/MessageInput/__tests__/EditMessageForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: drop support for React 16
  package.json
Due: prettier --list-different

chore: drop support for React 16 (#2861)
  package.json
Due: prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to v5.15.0
  package.json
  yarn.lock
Due: prettier --list-different

fix: use the nearest dialog manager to display dialogs
  src/components/Dialog/ButtonWithSubmenu.tsx
  src/components/Dialog/DialogAnchor.tsx
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/context/DialogManagerContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: ensure submenu is aligned correctly in reference to the parent menu with floating-ui/react
  src/components/Dialog/DialogAnchor.tsx
  src/components/Dialog/hooks/usePopoverPosition.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: ensure message delivery data are recalculated for the latest message delivery confirmation
  src/components/MessageList/hooks/useLastDeliveredData.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: exclude own read state from delivery status inference in ChannelPreview
  src/components/ChannelPreview/hooks/__tests__/useMessageDeliveryStatus.test.js
  src/components/ChannelPreview/hooks/useMessageDeliveryStatus.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: disable reply count button when missing send-reply permission
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/__tests__/MessageRepliesCountButton.test.js
  src/components/Message/__tests__/MessageSimple.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: ensure submenu is aligned correctly in reference to the parent menu with floating-ui/react (#2868)
  src/components/Dialog/DialogAnchor.tsx
  src/components/Dialog/hooks/usePopoverPosition.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use the nearest dialog manager to display dialogs (#2865)
  src/components/Dialog/ButtonWithSubmenu.tsx
  src/components/Dialog/DialogAnchor.tsx
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/context/DialogManagerContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: optimize keepLineBreaksPlugin for mdast use
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/remarkPlugins/keepLineBreaksPlugin.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add optional remarkIgnoreMarkdown plugin to avoid markdown transform to HTML
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/index.ts
  src/components/Message/renderText/remarkPlugins/remarkIgnoreMarkdown.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: ensure message delivery data are recalculated for the latest message delivery confirmation (#2869)
  src/components/MessageList/hooks/useLastDeliveredData.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: exclude own read state from delivery status inference in ChannelPreview (#2870)
  src/components/ChannelPreview/hooks/__tests__/useMessageDeliveryStatus.test.js
  src/components/ChannelPreview/hooks/useMessageDeliveryStatus.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade @stream-io/stream-chat-css to v5.16.0
  package.json
  yarn.lock
Due: prettier --list-different

feat: add optional remarkIgnoreMarkdown plugin to avoid markdown transform to HTML (#2872)
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/Message/renderText/__tests__/renderText.test.js
  src/components/Message/renderText/remarkPlugins/index.ts
  src/components/Message/renderText/remarkPlugins/keepLineBreaksPlugin.ts
  src/components/Message/renderText/remarkPlugins/remarkIgnoreMarkdown.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: disable reply count button when missing send-reply permission (#2871)
  package.json
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/__tests__/MessageRepliesCountButton.test.js
  src/components/Message/__tests__/MessageSimple.test.js
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.25.0
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 13.10.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  60ca979935de99530b715e6e187ac48f665c1d6f
Due: none

chore(ai-import): Initial setup
  examples/ai-chatbot/.gitignore
  examples/ai-chatbot/README.md
  examples/ai-chatbot/eslint.config.js
  examples/ai-chatbot/index.html
  examples/ai-chatbot/package.json
  examples/ai-chatbot/public/vite.svg
  examples/ai-chatbot/src/App.css
  examples/ai-chatbot/src/App.tsx
  examples/ai-chatbot/src/assets/react.svg
  examples/ai-chatbot/src/index.css
  examples/ai-chatbot/src/main.tsx
  examples/ai-chatbot/tsconfig.app.json
  examples/ai-chatbot/tsconfig.json
  examples/ai-chatbot/tsconfig.node.json
  examples/ai-chatbot/vite.config.ts
  src/plugins/AIComponents/README.md
  src/plugins/AIComponents/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: show the message status only for the last own message when returnAllReadData is false
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/hooks/MessageList/useMessageListElements.tsx
  src/components/MessageList/hooks/useLastDeliveredData.ts
  src/components/MessageList/hooks/useLastOwnMessage.ts
  src/components/MessageList/hooks/useLastReadData.ts
  src/components/MessageList/renderMessages.tsx
  src/context/MessageContext.tsx
  src/utils/findReverse.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: show the message status only for the last own message when returnAllReadData is false (#2877)
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/hooks/MessageList/useMessageListElements.tsx
  src/components/MessageList/hooks/useLastDeliveredData.ts
  src/components/MessageList/hooks/useLastOwnMessage.ts
  src/components/MessageList/hooks/useLastReadData.ts
  src/components/MessageList/renderMessages.tsx
  src/context/MessageContext.tsx
  src/utils/findReverse.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.10.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  98930e873e1e074101dc9029a4fd661935d46fa5
Due: none

fix(experimental-message-actions): reflect user_message_reminders config
  src/experimental/MessageActions/hooks/useBaseMessageActionSetFilter.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(experimental message actions): reflect user_message_reminders config (#2878)
  src/experimental/MessageActions/hooks/useBaseMessageActionSetFilter.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.10.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  9b5df0b06c07ea890fb3f1c195f7ee341c9c09a7
Due: none

feat: add prop renderText to VirtualizedMessageList
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add prop renderText to VirtualizedMessageList (#2879)
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): feat: react native ai component sdk, prettier and markdown library port (GetStream/ai-components-js#1)
  examples/ai-chatbot/README.md
  examples/ai-chatbot/eslint.config.js
  examples/ai-chatbot/package.json
  examples/ai-chatbot/src/App.tsx
  examples/ai-chatbot/src/main.tsx
  examples/ai-chatbot/vite.config.ts
Due: prettier --list-different

feat: play the audio recordings outside and independently of message lists
  src/components/Attachment/Audio.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/Card.test.js
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/__tests__/__snapshots__/Card.test.js.snap
  src/components/Attachment/hooks/useAudioController.ts
  src/components/AudioPlayer/AudioPlayer.ts
  src/components/AudioPlayer/AudioPlayerPool.ts
  src/components/AudioPlayer/WithAudioPlayback.tsx
  src/components/AudioPlayer/__tests__/AudioPlayer.test.js
  src/components/AudioPlayer/__tests__/WithAudioPlayback.test.js
  src/components/AudioPlayer/index.ts
  src/components/AudioPlayer/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/AudioPlayer/plugins/AudioPlayerPlugin.ts
  src/components/AudioPlayer/plugins/__tests__/AudioPlayerNotificationsPlugin.test.js
  src/components/Channel/Channel.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.js
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.js.snap
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/index.ts
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/browserAudioPlaybackError.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
