Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

docs: sync react v14 migration trackers (#3037)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

chore: switch to beta channel releases
  .releaserc.json
Due: prettier --list-different

chore: add "stable-release" branch
  .releaserc.json
Due: prettier --list-different

chore: switch to beta channel releases (#3038)
  .releaserc.json
Due: prettier --list-different

fix: resolve circular dependencies and add missing React imports
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/Dialog/components/Alert.tsx
  src/components/Location/ShareLocationDialog.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtonWithNotification.tsx
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/Message/QuotedMessage.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageComposer/QuotedMessageIndicator.tsx
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/ReactFileUtilities/UploadButton.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionListItem.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/components/TextareaComposer/hooks/useTextareaPlaceholder.ts
  src/components/TypingIndicator/hooks/useDebouncedTypingActive.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

File changes
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/__tests__/ChannelListMessenger.test.js
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust outdated Message.scss rule
  src/components/Message/styling/Message.scss
Due: none

File renames
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListUI.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/__tests__/ChannelListUI.test.js
  src/components/ChannelList/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Lint fixes
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Demo app adjustments
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

fix: rename ChannelListMessenger to ChannelListUI (#3036)
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/ChannelListUI.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/__tests__/ChannelListUI.test.js
  src/components/ChannelList/index.ts
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 channel list ui changes
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix: add temporarily CSS v2 palette-variables
  examples/vite/src/index.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/styling/_palette-variables.scss
  src/styling/index.scss
Due: none

docs: sync react v14 channel-list tracker updates (#3041)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix: add temporarily CSS v2 palette-variables (#3040)
  examples/vite/src/index.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/styling/_palette-variables.scss
  src/styling/index.scss
Due: none

fix: revert Preview prop from ChannelListItem, use WithComponents in tests
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelList/__tests__/__snapshots__/ChannelListUI.test.js.snap
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove obsolete ChannelListMessenger snapshot file
  src/components/ChannelList/__tests__/__snapshots__/ChannelListMessenger.test.js.snap
Due: none

chore: update the "readme-asset"
  .readme-assets/stream-chat-react-cover.png
  README.md
Due: prettier --list-different

chore(release): 14.0.0-beta.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  87a8f219a525f9a4c29467a64167f5ba93ed7096
Due: none

fix: adjust message UI for network error when sending a message
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/utils.ts
  src/components/Message/MessageErrorText.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/hooks/__tests__/useDeleteHandler.test.js
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/styling/Message.scss
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: do not allow to mark own messages unread
  src/components/Message/hooks/__tests__/useUserRole.test.js
  src/components/Message/hooks/useUserRole.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: shared gallery preview in AttachmentPreviewList
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/MessageComposer/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageComposer/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/AttachmentPreviewRoot.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.js
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/Modal/GlobalModal.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix attachment preview tests
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/AttachmentPreviewRoot.tsx
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add "Voice message deleted" notification
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/Notifications/Notification.tsx
  src/components/Notifications/styling/Notification.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: allow useNotificationTarget to return undefined
  src/components/ChatView/ChatView.tsx
  src/components/Notifications/hooks/__tests__/useNotificationTarget.test.ts
  src/components/Notifications/hooks/useNotificationTarget.ts
  src/components/Notifications/notificationTarget.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: fix test
  src/components/Message/__tests__/Message.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: vitest 4.0.x
  package.json
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.js.snap
  yarn.lock
Due: prettier --list-different

chore: tidy eslint config
  eslint.config.mjs
Due: prettier --list-different

chore: fix test failure
  src/components/Poll/__tests__/AddCommentForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: tweak coverage setup
  vitest.config.ts
Due: prettier --list-different

chore: restore codecov integration, remove unused deps
  .github/workflows/ci.yml
  AGENTS.md
  developers/E2E.md
  package.json
  yarn.lock
Due: prettier --list-different

chore: add jsx to lint-staged eslint pattern
  .lintstagedrc.json
Due: prettier --list-different

chore: update GitHub Actions to latest versions
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
Due: prettier --list-different

test: fix tests
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
