Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Add tests
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Allow user blocking only in DM-type channels
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): add missing a11y defaults to remaining ContextMenu button variants
  src/components/Dialog/components/ContextMenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: decouple message bubble width from reaction list width
  src/components/Message/styling/Message.scss
Due: none

fix(demo): match the visible viewport on mobile browser UI
  examples/vite/src/index.scss
Due: none

fix: allow user blocking only in DM-type channels (#3139)
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: decouple msg bubble width from reaction list width (#3142)
  examples/vite/src/index.scss
  src/components/Message/styling/Message.scss
Due: none

fix(MessageList): prevent message pagination too early on mount
  src/components/MessageList/hooks/MessageList/__tests__/useScrollLocationLogic.test.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Refactor message styling
  src/components/Message/styling/Message.scss
Due: none

Apply Martin's changes
  src/components/Message/styling/Message.scss
Due: none

fix: wrap reaction list items in small widths
  src/components/Message/styling/Message.scss
Due: none

refactor: message styling (#3136)
  src/components/Message/styling/Message.scss
Due: none

feat(a11y): add component NotificationAnnouncer
  src/components/Accessibility/NotificationAnnouncer.tsx
  src/components/Accessibility/__tests__/NotificationAnnouncer.test.tsx
  src/components/Accessibility/index.ts
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): add reusable header ID plumbing for Prompt, Alert, and Viewer primitives
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  src/components/Dialog/components/Alert.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/components/Viewer.tsx
  src/components/MessageActions/DeleteMessageAlert.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/context/ModalContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): audit and apply dialog-label wiring to high-impact Prompt/Viewer call sites
  src/a11y/hooks/useAriaIdentifiers.ts
  src/a11y/hooks/useResolvedModalAriaProps.ts
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/Dialog/components/Alert.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/components/Viewer.tsx
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/Viewer.scss
  src/components/Form/NumericInput.tsx
  src/components/Form/TextInput.tsx
  src/components/Location/ShareLocationDialog.tsx
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/PollOptionsFullList.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(a11y): focus the AttachmentSelector button after closing dialog
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(a11y): fix tests
  src/components/Accessibility/__tests__/NotificationAnnouncer.test.tsx
  src/components/Channel/__tests__/__snapshots__/Channel.test.tsx.snap
  src/components/Message/__tests__/MessageTimestamp.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.tsx.snap
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.tsx.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(a11y): add accessibility skill
  .cursor/skills/accessibility/SKILL.md
Due: prettier --list-different

fix(styling): add missing @use
  src/components/Attachment/styling/AttachmentActions.scss
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
Due: none

fix(styling): return back switch field track width
  src/components/Form/styling/SwitchField.scss
Due: none

feat(ContextMenu): handle Escape key to move to parent menu
  src/components/Dialog/__tests__/ContextMenu.test.tsx
  src/components/Dialog/components/ContextMenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(Dropdown): add key navigation
  src/components/Form/Dropdown.tsx
  src/components/Form/__tests__/Dropdown.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: return missing outline
  src/styling/base.scss
Due: none

fix(InfiniteScroll): defer initial scroll check to prevent premature pagination on mount
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
  src/components/InfiniteScrollPaginator/__tests__/InfiniteScroll.test.tsx
  src/components/MessageList/hooks/MessageList/__tests__/useScrollLocationLogic.test.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent false stick-to-top scroll restoration during initial mount
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
  src/components/MessageList/hooks/__tests__/useMessageListScrollManager.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): preload fonts to prevent layout shifts
  examples/vite/index.html
  examples/vite/src/index.scss
Due: none

fix(MessageList): prevent message pagination too early on mount (#3143)
  examples/vite/index.html
  examples/vite/src/index.scss
  src/components/InfiniteScrollPaginator/InfiniteScroll.tsx
  src/components/InfiniteScrollPaginator/__tests__/InfiniteScroll.test.tsx
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
  src/components/MessageList/hooks/__tests__/useMessageListScrollManager.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: none

fix: remove scrollbar gutters from VML (#3148)
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: none

Initial commit
  .github/workflows/ci.yml
  examples/vite/src/App.tsx
Due: prettier --list-different

Join/Leave button + extended filters
  .github/workflows/ci.yml
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

chore: prepare public Vite example deployment (#3145)
  .github/workflows/ci.yml
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

feat: change textarea default placeholder text
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/hooks/useTextareaPlaceholder.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: prevent cutting off button outlines in ContextMenu components
  src/components/Dialog/styling/ContextMenu.scss
Due: none

fix: make search results scrollable
  src/components/Search/styling/Search.scss
Due: none

fix: prevent cutting of switch field in ShareLocationDialog
  src/components/Location/styling/ShareLocationDialog.scss
Due: none

fix: prevent channel list invading space of SearchBar
  src/components/ChannelList/styling/ChannelList.scss
Due: none

feat: change textarea default placeholder text (#3150)
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/hooks/useTextareaPlaceholder.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
