Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Rename markAsUnread to markUnread, remove deprecation
  src/components/Message/utils.tsx
  src/unstable/MessageActions/MessageActions.tsx
  src/unstable/MessageActions/defaults.tsx
  src/unstable/MessageActions/hooks/useBaseMessageActionSetFilter.ts
Due: eslint --max-warnings 0, prettier --list-different

Rename "unstable" to "experimental"
  package.json
  scripts/bundle.mjs
  src/context/ComponentContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
  src/experimental/MessageActions/defaults.tsx
  src/experimental/MessageActions/hooks/index.ts
  src/experimental/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/experimental/MessageActions/hooks/useSplitMessageActionSet.ts
  src/experimental/MessageActions/index.ts
  src/experimental/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Remove deprecation warning
  src/components/Message/MessageOptions.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: new MessageActions component (#2543)
  package.json
  scripts/bundle.mjs
  src/components/Channel/Channel.tsx
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
  src/components/Message/MessageOptions.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/Threads/hooks/useThreadManagerState.ts
  src/context/ComponentContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
  src/experimental/MessageActions/defaults.tsx
  src/experimental/MessageActions/hooks/index.ts
  src/experimental/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/experimental/MessageActions/hooks/useSplitMessageActionSet.ts
  src/experimental/MessageActions/index.ts
  src/experimental/index.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  tsconfig.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

chore(release): 12.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  af/f47e84610904259cb5117a4a7f6d718c8d2124
Due: none

fix: remove rejected channel query promises from channel query lock
  src/utils/getChannel.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: simplify error handling
  src/utils/getChannel.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: remove rejected channel query promises from channel query lock (#2549)
  src/utils/getChannel.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.4.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1a/75c2a280d033e6d9411a6b7efbf31e76396a8a
Due: none

test: update snapshots
  src/components/Channel/__tests__/__snapshots__/Channel.test.js.snap
  src/components/Gallery/__tests__/Image.test.js
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

refactor: deprecate FileUploadIcon from component context
  src/components/Channel/Channel.tsx
  src/components/MessageInput/AttachmentSelector.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: keep using SimpleAttachmentSelector in EditMessageForm
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

test: fix EditMessageForm tests
  src/components/MessageInput/__tests__/MessageInput.test.js
Due: eslint --max-warnings 0, prettier --list-different

test: fix AudioRecorder tests related to MessageInput
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
Due: eslint --max-warnings 0, prettier --list-different

refactor: remove the use of usePollState hook
  src/components/Poll/Poll.tsx
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/PollOptionsFullList.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithLatestVotes.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesHeader.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/components/Poll/PollHeader.tsx
  src/components/Poll/PollOptionList.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/hooks/index.ts
  src/components/Poll/hooks/usePollState.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: on poll.vote_changed remove votes by their id
  src/components/Poll/hooks/useManagePollVotesRealtime.ts
Due: eslint --max-warnings 0, prettier --list-different

test: finish Poll related tests
  src/components/Dialog/FormDialog.tsx
  src/components/Form/FieldError.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/__tests__/AddCommentForm.test.js
  src/components/Poll/__tests__/PollActions.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
  src/components/Poll/__tests__/PollHeader.test.js
  src/components/Poll/__tests__/PollOptionList.test.js
  src/components/Poll/__tests__/SuggestPollOptionForm.test.js
  src/mock-builders/generator/index.js
  src/mock-builders/generator/poll.js
  src/mock-builders/index.js
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): bump stream-chat version to 8.42.0
  package.json
  yarn.lock
Due: none

feat: add missing translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

feat: respect channel.config.polls flag
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/mock-builders/generator/channel.js
Due: eslint --max-warnings 0, prettier --list-different

test: fix import
  src/components/Poll/__tests__/PollActions.test.js
Due: eslint --max-warnings 0, prettier --list-different

feat: add PollActions to the component context
  src/components/Channel/Channel.tsx
  src/components/Poll/Poll.tsx
  src/components/Poll/__tests__/Poll.test.js
  src/components/Poll/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: turn off autocomplete on forms
  src/components/Dialog/FormDialog.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: use custom PollCreationDialog from component context in AttachmentSelector
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to customize modal content for AttachmentSelector actions
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/context/AttachmentSelectorContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to customize PollHeader, PollOptionSelector, QuotedPoll
  src/components/Channel/Channel.tsx
  src/components/Poll/Poll.tsx
  src/components/Poll/PollOptionList.tsx
  src/components/Poll/QuotedPoll.tsx
  src/components/Poll/__tests__/Poll.test.js
  src/components/Poll/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: make customizable the poll content, not the whole Poll component
  src/components/Channel/Channel.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/QuotedMessage.tsx
  src/components/Message/__tests__/QuotedMessage.test.js
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/Poll/Poll.tsx
  src/components/Poll/PollContent.tsx
  src/components/Poll/__tests__/Poll.test.js
  src/components/Poll/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: do not assign default poll creation dialog twice
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: change back the FormDialog submit button text
  src/components/Dialog/FormDialog.tsx
  src/components/Poll/__tests__/AddCommentForm.test.js
  src/components/Poll/__tests__/SuggestPollOptionForm.test.js
Due: eslint --max-warnings 0, prettier --list-different

docs: add poll documentation
  docusaurus/docs/React/assets/add-poll-comment-form.png
  docusaurus/docs/React/assets/dashboard-channel-type-feature-configuration-ui.png
  docusaurus/docs/React/assets/dashboard-roles-permissions-ui.png
  docusaurus/docs/React/assets/end-poll-dialog.png
  docusaurus/docs/React/assets/message-with-poll.png
  docusaurus/docs/React/assets/poll-comment-list.png
  docusaurus/docs/React/assets/poll-creation-dialog.png
  docusaurus/docs/React/assets/poll-option-full-list.png
  docusaurus/docs/React/assets/poll-results.png
  docusaurus/docs/React/assets/suggest-poll-option-form.png
  docusaurus/docs/React/components/message-components/poll.mdx
  docusaurus/docs/React/components/message-input-components/attachment-selector.mdx
  docusaurus/sidebars-react.json
Due: none

fix: fix import
  docusaurus/docs/React/assets/add-poll-comment-form.png
  docusaurus/docs/React/assets/dashboard-channel-type-feature-configuration-ui.png
  docusaurus/docs/React/assets/dashboard-roles-permissions-ui.png
  docusaurus/docs/React/assets/end-poll-dialog.png
  docusaurus/docs/React/assets/message-with-poll.png
  docusaurus/docs/React/assets/poll-comment-list.png
  docusaurus/docs/React/assets/poll-creation-dialog.png
  docusaurus/docs/React/assets/poll-option-full-list.png
  docusaurus/docs/React/assets/poll-results.png
  docusaurus/docs/React/assets/suggest-poll-option-form.png
  docusaurus/docs/React/components/message-components/poll.mdx
  docusaurus/docs/React/components/message-input-components/attachment-selector.mdx
  docusaurus/sidebars-react.json
  src/components/Poll/PollContent.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: do not export PromptDialog and FormDialog
  src/components/Dialog/index.ts
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/EndPollDialog.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: use usePollContext instead of usePoll hook
  src/components/Poll/PollActions/EndPollDialog.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/components/Poll/hooks/index.ts
  src/components/Poll/hooks/usePoll.ts
  src/components/Poll/hooks/usePollOptionVotesPagination.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: export more PollActions components
  src/components/Poll/PollActions/index.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: document new ComponentContext props
  docusaurus/docs/React/components/contexts/component-context.mdx
  docusaurus/docs/React/components/core-components/channel.mdx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

docs: document PollContext
  docusaurus/docs/React/components/message-components/poll.mdx
Due: none

docs: document AttachmentSelectorContext
  docusaurus/docs/React/components/message-input-components/attachment-selector.mdx
Due: none

docs: fix typos
  docusaurus/docs/React/components/message-components/poll.mdx
Due: none
