Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat: add modal gallery image loading state
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: stabilize modal gallery loading layout
  src/components/Attachment/styling/ModalGallery.scss
Due: none

chore: adjustments to MessageReactionsDetail component (#2999)
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign image loading and error placeholders (#3000)
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Gallery/BaseImage.tsx
  src/components/Gallery/__tests__/BaseImage.test.js
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Allow unsafeHTML forwarding to system messages
  src/components/EventComponent/EventComponent.tsx
  src/components/MessageList/renderMessages.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: allow forwarding `unsafeHTML` to system messages (`EventComponent`) (#2973)
  src/components/EventComponent/EventComponent.tsx
  src/components/MessageList/renderMessages.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.14.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  f8535017e855c9fbcb9eb61ca8018943cc245d91
Due: none

chore: update app title
  examples/vite/index.html
Due: none

feat: redesign TypingIndicator
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Badge/Badge.tsx
  src/components/Badge/styling/Badge.scss
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHead.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/TypingIndicatorDots.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.js
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/components/TypingIndicator/styling/index.scss
  src/styling/_global-theme-variables.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Remove box shadow for bottom-positioned reactions
  src/components/Reactions/styling/ReactionList.scss
Due: none

Remove inline paddings for certain elements when message is emoji-only
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
Due: none

refactor: calculate channel display info without stream-chat state stores
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/hooks/__tests__/useChannelPreviewInfo.test.js
  src/components/ChannelPreview/hooks/index.ts
  src/components/ChannelPreview/hooks/useChannelDisplayName.ts
  src/components/ChannelPreview/hooks/useChannelPreviewInfo.ts
  src/components/ChannelPreview/utils.tsx
  src/components/Thread/ThreadHeader.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: message related style adjustments (#3001)
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageRepliesCountButton.scss
  src/components/Reactions/styling/ReactionList.scss
Due: none

feat: unify channel and thread display titles (#2998)
  examples/vite/src/App.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/hooks/__tests__/useChannelPreviewInfo.test.js
  src/components/ChannelPreview/hooks/index.ts
  src/components/ChannelPreview/hooks/useChannelDisplayName.ts
  src/components/ChannelPreview/hooks/useChannelPreviewInfo.ts
  src/components/ChannelPreview/utils.tsx
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Thread/Thread.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/ThreadHeaderMain.tsx
  src/components/Thread/ThreadStart.tsx
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHead.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add dark mode support to react sdk
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Theme/ThemeTab.tsx
  examples/vite/src/AppSettings/tabs/Theme/index.ts
  src/components/Chat/__tests__/Chat.test.js
  src/components/Modal/GlobalModal.tsx
  src/styling/_global-theme-variables.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align messages in thread with the ThreadHead message
  src/components/MessageList/styling/MessageList.scss
  src/components/Thread/styling/ThreadHead.scss
  src/styling/_utils.scss
Due: none

fix: align loading shimmers with dark theme
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Channel/styling/Channel.scss
  src/components/Loading/LoadingIndicator.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.js.snap
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Loading/styling/LoadingIndicator.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix reaction selector dialog placement
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: persist sample app theme state
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Theme/ThemeTab.tsx
  examples/vite/src/AppSettings/tabs/Theme/index.ts
Due: prettier --list-different

fix: use theme-aware colors for menu icons
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: formatting
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add theme to EmojiPicker component
  examples/vite/src/App.tsx
Due: prettier --list-different

chore: fix ReactionSelector dialog placement (#3003)
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add dark theme support to stream-chat-react (#3002)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Channel/styling/Channel.scss
  src/components/Chat/__tests__/Chat.test.js
  src/components/Icons/icons.tsx
  src/components/Loading/LoadingIndicator.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.js.snap
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Loading/styling/LoadingIndicator.scss
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/Modal/GlobalModal.tsx
  src/styling/_global-theme-variables.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: respect dark mode in attachment preview remove icon
  src/components/MessageInput/styling/RemoveAttachmentPreviewButton.scss
Due: none

test: repair attachment preview list suite
  src/components/Button/PlayButton.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align chat view sidebar widths
  examples/vite/src/index.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: none

fix: align chat view sidebars and attachment preview remove icon (#3004)
  examples/vite/src/index.scss
  src/components/Button/PlayButton.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
  src/components/MessageInput/styling/RemoveAttachmentPreviewButton.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add TypingIndicatorHeader
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/TypingIndicatorHeader.tsx
  src/components/TypingIndicator/hooks/__tests__/useDebouncedTypingActive.test.js
  src/components/TypingIndicator/hooks/index.ts
  src/components/TypingIndicator/hooks/useDebouncedTypingActive.ts
  src/components/TypingIndicator/index.ts
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(demo): make sure TypingIndicator is shown also for VML in threads
  examples/vite/src/App.tsx
Due: prettier --list-different

feat(demo): use MessageList for Channel message list
  examples/vite/src/App.tsx
Due: prettier --list-different

feat: redesign typing indicator (#3005)
  examples/vite/src/App.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Avatar/AvatarStack.tsx
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Badge/Badge.tsx
  src/components/Badge/styling/Badge.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/styling/MessageList.scss
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/styling/ThreadHead.scss
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/TypingIndicatorDots.tsx
  src/components/TypingIndicator/TypingIndicatorHeader.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.js
  src/components/TypingIndicator/hooks/__tests__/useDebouncedTypingActive.test.js
  src/components/TypingIndicator/hooks/index.ts
  src/components/TypingIndicator/hooks/useDebouncedTypingActive.ts
  src/components/TypingIndicator/index.ts
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/components/TypingIndicator/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_global-theme-variables.scss
  src/styling/_utils.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: align media gallery viewer with design
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/GalleryHeader.tsx
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.js
  src/components/Gallery/styling/Gallery.scss
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: improve media gallery dark mode styling
  src/components/Gallery/styling/Gallery.scss
Due: none

fix: use theme scrim for media gallery modal
  src/components/Gallery/styling/Gallery.scss
Due: none

Revert "fix: use theme scrim for media gallery modal"
  src/components/Gallery/styling/Gallery.scss
Due: none

feat: close gallery on background click
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/GalleryContext.tsx
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/__tests__/GalleryContext.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
