Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

chore(release): add option to skip publishing documentation
  .github/workflows/release.yml
Due: none

chore(release): 12.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  84/f75b219af537fc4239c753b5d236733a4114c6
Due: none

fix: sync ChannelPreview's lastMessage with latestMessagePreview
  docusaurus/docs/React/components/utility-components/channel-preview-ui.mdx
  docusaurus/docs/React/guides/customization/channel-list-preview.mdx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/ChannelPreview/__tests__/ChannelPreviewMessenger.test.js
  src/components/ChannelPreview/utils.tsx
  src/mock-builders/event/messageUndeleted.js
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to customize the generation of latest message preview
  docusaurus/docs/React/components/core-components/channel-list.mdx
  docusaurus/docs/React/components/utility-components/channel-preview-ui.mdx
  docusaurus/docs/React/components/utility-components/channel-preview.mdx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: get lastMessage and latestMessagePreview from the latest message set in channel state
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: add poll creation dialog
  src/components/ChatView/ChatView.tsx
  src/components/Dialog/DialogPortal.tsx
  src/components/DragAndDrop/DragAndDropContainer.tsx
  src/components/Form/SwitchField.tsx
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/components/Modal/ModalHeader.tsx
  src/components/Poll/PollActions.tsx
  src/components/Poll/PollHeader.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/constants.ts
  src/components/Poll/modals/ModalHeader.tsx
  src/components/Poll/modals/PollAnswersList.tsx
  src/components/Poll/modals/PollCreationDialog.tsx
  src/components/Poll/modals/PollCreationDialog/FieldError.tsx
  src/components/Poll/modals/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/modals/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/modals/PollCreationDialog/types.ts
  src/components/Poll/modals/PollOptionsFullList.tsx
  src/components/Poll/modals/PollResults/PollResults.tsx
  src/components/Portal/Portal.ts
  src/context/ComponentContext.tsx
  src/types/types.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: reflect WS events in vote and answers listings
  src/components/InfiniteScrollPaginator/hooks/useCursorPaginator.ts
  src/components/Poll/hooks/useManagePollVotesRealtime.ts
  src/components/Poll/hooks/usePollAnswersPagination.ts
  src/components/Poll/hooks/usePollOptionVotesPagination.ts
  src/components/Poll/modals/PollAnswersList.tsx
  src/components/Portal/Portal.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: get correct lastMessage and latestMessagePreview from channel state (#2535)
  docusaurus/docs/React/components/core-components/channel-list.mdx
  docusaurus/docs/React/components/utility-components/channel-preview-ui.mdx
  docusaurus/docs/React/components/utility-components/channel-preview.mdx
  docusaurus/docs/React/guides/customization/channel-list-preview.mdx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/ChannelPreview/__tests__/ChannelPreviewMessenger.test.js
  src/components/ChannelPreview/utils.tsx
  src/mock-builders/event/messageUndeleted.js
Due: eslint --max-warnings 0, prettier --list-different

chore(release): add option to skip publishing documentation (#2533)
  .github/workflows/release.yml
Due: none

chore(release): 11.24.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e8/bc9b314ed4950b2fa6b7a382dafdb6d1242f90
Due: none

fix: get correct lastMessage and latestMessagePreview from channel state (#2535)
  docusaurus/docs/React/components/core-components/channel-list.mdx
  docusaurus/docs/React/components/utility-components/channel-preview-ui.mdx
  docusaurus/docs/React/components/utility-components/channel-preview.mdx
  docusaurus/docs/React/guides/customization/channel-list-preview.mdx
  docusaurus/react_versioned_docs/version-11.x.x/components/core-components/channel-list.mdx
  docusaurus/react_versioned_docs/version-11.x.x/components/utility-components/channel-preview-ui.mdx
  docusaurus/react_versioned_docs/version-11.x.x/components/utility-components/channel-preview.mdx
  docusaurus/react_versioned_docs/version-11.x.x/guides/customization/channel-list-preview.mdx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreview.test.js
  src/components/ChannelPreview/__tests__/ChannelPreviewMessenger.test.js
  src/components/ChannelPreview/utils.tsx
  src/mock-builders/event/messageUndeleted.js
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.2.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d6/9b113329a1e45fb4441b25656e6364f9713edb
Due: none

feat: support poll info in latest message message preview
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: take poll instances from client poll manager
  src/components/Chat/hooks/useChat.ts
  src/components/Message/MessageSimple.tsx
  src/components/Poll/Poll.tsx
  src/context/PollContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

Revamp geo-loc attachment guide
  docusaurus/docs/React/guides/theming/actions/geolocation-attachment.mdx
Due: none

Cookbook adjustments and new assets
  docusaurus/docs/React/assets/Geolocation1.png
  docusaurus/docs/React/assets/Geolocation2.png
  docusaurus/docs/React/assets/Geolocation3.png
  docusaurus/docs/React/assets/Geolocation4.png
  docusaurus/docs/React/assets/geolocation-attachment-0.png
  docusaurus/docs/React/assets/geolocation-attachment-1.png
  docusaurus/docs/React/assets/geolocation-attachment-2.png
  docusaurus/docs/React/guides/theming/actions/geolocation-attachment.mdx
Due: none

fix: check for undefined value in the next cursor
  src/components/InfiniteScrollPaginator/hooks/useCursorPaginator.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: remove unnecessary effect
  src/components/Poll/modals/PollResults/PollOptionVotesList.tsx
  src/components/Poll/modals/PollResults/PollResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: add close button to PollCreationDialog
  src/components/Poll/modals/PollCreationDialog.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: attach poll creation modal to Channel container
  src/components/Channel/Channel.tsx
  src/components/Channel/constants.ts
  src/components/Channel/hooks/useChannelContainerClasses.ts
  src/components/ChatView/ChatView.tsx
  src/components/MessageInput/AttachmentSelector.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: account for possible undefined latestMessage in ChannelPreview
  src/components/ChannelPreview/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: keep poll answers list UI together
  src/components/Poll/PollActions.tsx
  src/components/Poll/hooks/index.ts
  src/components/Poll/hooks/usePollAnswerPagination.ts
  src/components/Poll/modals/PollAnswerList.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: prevent allowing to update poll answer on closed poll
  src/components/Poll/PollActions.tsx
  src/components/Poll/modals/PollAnswerList.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: debounce poll voting
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/modals/PollResults/PollResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: adapt AttachmentSelector contents to Thread
  docusaurus/docs/React/components/contexts/message-input-context.mdx
  docusaurus/docs/React/components/message-input-components/message-input.mdx
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/Thread/Thread.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: show dialogs in thread message list
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: show dialogs in thread message list (#2539)
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.2.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e6/2f5528dd5334ebf8341505852047d12d5fee1f
Due: none

feat: allow to override Poll component
  src/components/Channel/Channel.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to override PollCreationDialog component
  src/components/Channel/Channel.tsx
  src/components/Poll/modals/PollCreationDialog/PollCreationDialogControls.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to override poll actions components in PollActions
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/Poll/Poll.tsx
  src/components/Poll/PollActions/AddCommentForm.tsx
  src/components/Poll/PollActions/EndPollDialog.tsx
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/PollOptionsFullList.tsx
  src/components/Poll/PollActions/PollResults/PollOptionVotesList.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithLatestVotes.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesHeader.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/PollResults/index.ts
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
  src/components/Poll/PollActions/index.ts
  src/components/Poll/PollCreationDialog/FieldError.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/PollCreationDialog/index.ts
  src/components/Poll/PollCreationDialog/types.ts
  src/components/Poll/PollVote.tsx
  src/components/Poll/config.ts
  src/components/Poll/constants.ts
  src/components/Poll/icons.tsx
  src/components/Poll/identity.ts
  src/components/Poll/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: export component props types that which components can be overridden
  src/components/Message/index.ts
  src/components/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: make props in PollActionsProps to be optional
  src/components/Poll/PollActions/PollActions.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: add translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix: fix English translations of singular
  src/i18n/en.json
Due: prettier --list-different, yarn run validate-translations

fix: add return type to Portal component
  src/components/Portal/Portal.ts
Due: eslint --max-warnings 0, prettier --list-different
