Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

ts-pattern + ban adjustments
  package.json
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelMembersState.ts
  src/components/ChannelPreview/ChannelPreviewActionButtons.defaults.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ContextMenu related adjustments and enhancements
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

WIP: Add notifications
  src/components/ChannelPreview/ChannelPreviewActionButtons.defaults.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ChannelPreviewActionButtons adjustments
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.defaults.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-review adjustments
  src/components/ChannelPreview/ChannelPreviewActionButtons.defaults.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/Chat/hooks/useSplitActionSet.ts
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/hooks/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-review adjustments
  src/components/ChannelPreview/ChannelPreviewActionButtons.defaults.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: introduce channelActionSet (#3026)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  package.json
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelMembersState.ts
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.defaults.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/Chat/hooks/useSplitActionSet.ts
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/index.ts
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add smooth scrolling to MessageList (#3027)
  specs/message-list-jump-scroll/decisions.md
  specs/message-list-jump-scroll/goal.md
  specs/message-list-jump-scroll/plan.md
  specs/message-list-jump-scroll/state.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/channelState.ts
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.js
  src/components/MessageList/hooks/MessageList/scrollInstrumentation.ts
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
  src/context/ChannelStateContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(vite-example): add custom message UI showcase (#3029)
  examples/vite/docs-playwright/screenshot-attachment-actions.ts
  examples/vite/docs-playwright/screenshot-misc.ts
  examples/vite/docs-playwright/screenshot-reactions.ts
  examples/vite/docs-playwright/screenshot-system-message.ts
  examples/vite/docs-playwright/screenshot-variants.ts
  examples/vite/docs-playwright/screenshot-voice-recording.ts
  examples/vite/docs-playwright/seed-channel-and-screenshot.mjs
  examples/vite/docs-playwright/take-doc-screenshots.mjs
  examples/vite/docs-playwright/take-tier1-screenshots.mjs
  examples/vite/docs-playwright/take-tier2-screenshots.mjs
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/CustomMessageUi/attachment-actions-variant.css
  examples/vite/src/CustomMessageUi/attachment-actions-variant.tsx
  examples/vite/src/CustomMessageUi/index.tsx
  examples/vite/src/CustomMessageUi/reaction-variants.tsx
  examples/vite/src/CustomMessageUi/system-message-variants.css
  examples/vite/src/CustomMessageUi/system-message-variants.tsx
  examples/vite/src/CustomMessageUi/variants.css
  examples/vite/src/CustomMessageUi/variants.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

feat: port InfiniteScrollPaginator styles
  src/components/InfiniteScrollPaginator/styling/InfiniteScrollPaginator.scss
  src/components/InfiniteScrollPaginator/styling/index.scss
Due: none

feat: add redesign for location sharing components
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Attachment/Geolocation.tsx
  src/components/Attachment/icons.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Geolocation.scss
  src/components/Attachment/styling/index.scss
  src/components/BaseImage/ImagePlaceholder.tsx
  src/components/Form/Dropdown.tsx
  src/components/Form/SwitchField.tsx
  src/components/Form/__tests__/Dropdown.test.js
  src/components/Form/index.ts
  src/components/InfiniteScrollPaginator/styling/InfiniteScrollPaginator.scss
  src/components/InfiniteScrollPaginator/styling/index.scss
  src/components/Location/ShareLocationDialog.tsx
  src/components/Location/index.ts
  src/components/Location/styling/ShareLocationDialog.scss
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/GeolocationPreview.tsx
  src/components/MessageInput/LinkPreviewList.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/AttachmentPreviewThumbnail.scss
  src/components/MessageInput/styling/GeologacationPreview.scss
  src/components/MessageInput/styling/LinkPreviewList.scss
  src/components/MessageInput/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: port styles for AIStateIndicator and Tooltip.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/AIStateIndicator/styling/AIStateIndicator.scss
  src/components/AIStateIndicator/styling/index.scss
  src/components/Tooltip/styling/Tooltip.scss
  src/components/Tooltip/styling/index.scss
  src/styling/index.scss
Due: none

fix: return str-chat__live-location-sharing-duration-selector
  src/components/Location/ShareLocationDialog.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): remove MessageListNotifications key from App.tsx
  examples/vite/src/App.tsx
Due: prettier --list-different

fix: remove dead CSS
  src/components/Attachment/styling/Geolocation.scss
Due: none

fix: return str-chat__dropdown element
  src/components/AIStateIndicator/styling/AIStateIndicator.scss
  src/components/AIStateIndicator/styling/index.scss
  src/components/Form/Dropdown.tsx
  src/components/Tooltip/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: remove MessageListNotifications component (#3028)
  examples/vite/src/App.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/MessageInput/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/MessageListNotifications.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: single checkmark color in dark mode
  src/components/Icons/icons.tsx
  src/components/Message/styling/MessageStatus.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Rename MessageSimple to MessageUI
  src/components/Message/Message.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/__tests__/MessageUI.test.js
  src/components/Message/__tests__/QuotedMessage.test.js
  src/components/Message/index.ts
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ReactionsList to MessageReactions
  examples/vite/src/App.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/__tests__/MessageReactions.test.js
  src/components/Reactions/__tests__/MessageReactionsDetail.test.js
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/index.ts
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/index.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Drop old SimpleReactionsList component
  src/components/Reactions/SimpleReactionsList.tsx
  src/components/Reactions/__tests__/SimpleReactionsList.test.js
  src/components/Reactions/__tests__/__snapshots__/SimpleReactionsList.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ChannelPreview to ChannelListItem renames
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.js
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.js
  src/components/ChannelListItem/__tests__/__snapshots__/ChannelListItemUI.test.js.snap
  src/components/ChannelListItem/__tests__/utils.test.js
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.js
  src/components/ChannelListItem/hooks/__tests__/useMessageDeliveryStatus.test.js
  src/components/ChannelListItem/hooks/index.ts
  src/components/ChannelListItem/hooks/useChannelDisplayName.ts
  src/components/ChannelListItem/hooks/useChannelPreviewInfo.ts
  src/components/ChannelListItem/hooks/useIsChannelMuted.ts
  src/components/ChannelListItem/hooks/useMessageDeliveryStatus.ts
  src/components/ChannelListItem/index.ts
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/ChannelListItem/styling/index.scss
  src/components/ChannelListItem/utils.tsx
  src/components/ChannelPreview/index.ts
  src/components/ChannelPreview/styling/index.scss
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
  src/components/Thread/ThreadHeader.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/index.ts
  src/context/ComponentContext.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Demo app adjustments
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/CustomMessageUi/reaction-variants.tsx
  examples/vite/src/CustomMessageUi/variants.tsx
Due: prettier --list-different

fix: suggesting a poll option shouldn't vote for it
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/__tests__/SuggestPollOptionForm.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: unify poll modal: title casing for EN; placeholders; button placement
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/EndPollAlert.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/__tests__/AddCommentForm.test.js
  src/components/Poll/__tests__/PollCreationDialog.test.js
  src/components/Poll/styling/EndPollAlert.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: focus outline visual glitch for input
  src/components/Dialog/styling/Prompt.scss
Due: none

fix: remove the tooltip from PollVote
  src/components/Poll/PollVote.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: move show all options button to PollOptionList component
  src/components/Avatar/AvatarStack.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollOptionList.tsx
  src/components/Poll/__tests__/PollActions.test.js
  src/components/Poll/__tests__/PollOptionList.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: fix review comment
  src/components/Poll/PollActions/EndPollAlert.tsx
  src/components/Poll/styling/EndPollAlert.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: revert changes to EndPollAlert
  src/components/Poll/PollActions/EndPollAlert.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/index.ts
  src/components/Reactions/ReactionSelector.tsx
  src/context/ChannelStateContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: post-merge adjustments (#3033)
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/index.ts
  src/components/Reactions/ReactionSelector.tsx
  src/context/ChannelStateContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove experimental types
  package.json
Due: prettier --list-different

chore: update CLAUDE.md
  CLAUDE.md
Due: prettier --list-different

Initial commit
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/Loading/LoadingChannels.tsx
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Message/MessageBlocked.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageComposer/CooldownTimer.tsx
  src/components/MessageComposer/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: change class names to reflect component renames (#3035)
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/Loading/LoadingChannels.tsx
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Message/MessageBlocked.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageComposer/CooldownTimer.tsx
  src/components/MessageComposer/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: sync react v14 migration trackers
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
