Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix(MessageComposer): make textarea full-width in custom composer layouts
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

fix(MessageComposer): clear the composer before awaiting the send
  src/components/MessageComposer/hooks/useSendMessageFn.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(MessageComposer)!: remove the overrideSubmitHandler prop
  src/components/MessageComposer/MessageComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Message): perform mute/unmute and surface mark-unread failures
  src/components/Message/hooks/useMarkUnreadHandler.ts
  src/components/Message/hooks/useMuteHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(MessageList): paginator-native smooth scroll and focus re-centering
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Channel): allow a null EmptyPlaceholder prop
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(Channel): rewrite onto the low-level client and paginator contract
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Channel/__tests__/__snapshots__/Channel.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: add v14 to v15 AI migration guide
  ai-docs/ai-migration-v14-v15.md
Due: prettier --list-different

fix(MessageComposer): keep textarea focus ring suppressed after width fix
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

fix(MessageComposer): make textarea full-width in custom composer layouts (#3241)
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

Second pass
  src/components/Accessibility/hooks/useIncomingMessageAnnouncements.ts
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/Geolocation.tsx
  src/components/Attachment/utils.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/hooks/useEditMessageHandler.ts
  src/components/Channel/utils.ts
  src/components/ChannelList/ChannelListUI.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  src/components/ChannelListItem/utils.tsx
  src/components/Chat/hooks/useChannelsQueryState.ts
  src/components/Chat/hooks/useChat.ts
  src/components/Message/hooks/usePinHandler.ts
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/DownloadSubmenu.tsx
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/components/MessageComposer/hooks/useMessageComposerCommands.ts
  src/components/Poll/PollActions/PollResults/PollOptionWithVotes.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/PollVote.tsx
  src/components/Poll/hooks/useManagePollVotesRealtime.ts
  src/components/Poll/hooks/usePollAnswerPagination.ts
  src/components/Poll/hooks/usePollOptionVotesPagination.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/context/ChannelStateContext.tsx
  src/context/ChatContext.tsx
  src/context/MessageContext.tsx
  src/utils/getChannel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Type renames
  src/components/Channel/Channel.tsx
  src/components/Message/hooks/useReactionHandler.ts
  src/components/MessageComposer/MessageComposer.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotes.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesHeader.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesList.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/PollHeader.tsx
  src/components/Poll/PollOptionList.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/context/ChannelActionContext.tsx
  src/utils/getChannel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Questionable changes
  src/components/Channel/hooks/useEditMessageHandler.ts
  src/components/MessageComposer/QuotedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Migrate Vite example
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
  examples/vite/src/AppSettings/tabs/Reactions/reactionsExampleData.ts
  examples/vite/src/ChannelPreviewOverlay/ChannelPreviewOverlay.tsx
  examples/vite/src/ChatLayout/ChannelMembersRemoveView.tsx
  examples/vite/src/ChatLayout/Sync.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/CustomMessageUi/variants.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
Due: prettier --list-different

Some more type renames
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelList/hooks/useChannelMembersState.ts
  src/components/ChannelList/hooks/useChannelMembershipState.ts
  src/components/ChannelList/hooks/useSelectedChannelState.ts
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/context/MessageTranslationViewContext.tsx
  src/context/TranslationContext.tsx
  src/i18n/Streami18n.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Some more adjustments
  src/components/ChannelList/hooks/useChannelMembershipState.ts
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/Chat/hooks/useChat.ts
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(navigation): introduce core WorkspaceNavigation adapter and rewire consumers
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/ChannelList/__tests__/ChannelListHeader.test.tsx
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/workspaceNavigationAdapter.tsx
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useMessageAlsoSentInChannelNavigation.test.tsx
  src/components/Message/hooks/__tests__/useOpenThreadHandler.test.tsx
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
  src/components/Message/hooks/useOpenThreadHandler.ts
  src/components/Notifications/hooks/__tests__/useNotificationTarget.test.ts
  src/components/Notifications/hooks/useNotificationTarget.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/components/Thread/Thread.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListHeader.test.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
  src/context/WorkspaceNavigationContext.tsx
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(SlotLayout)!: move the ChatView slot system into a plugin
  src/components/Channel/index.ts
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Thread/index.ts
  src/components/Threads/ThreadList/index.ts
  src/components/index.ts
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/plugins/SlotLayout/ChannelSlot.tsx
  src/plugins/SlotLayout/ChatView.a11y.utility.ts
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/ChatViewNavigationContext.tsx
  src/plugins/SlotLayout/ThreadListSlot.tsx
  src/plugins/SlotLayout/ThreadSlot.tsx
  src/plugins/SlotLayout/ThreadSlotContext.tsx
  src/plugins/SlotLayout/__tests__/ChatView.test.tsx
  src/plugins/SlotLayout/__tests__/ChatViewNavigation.test.tsx
  src/plugins/SlotLayout/__tests__/layoutController.test.ts
  src/plugins/SlotLayout/__tests__/useSlotEntity.test.tsx
  src/plugins/SlotLayout/hooks/index.ts
  src/plugins/SlotLayout/hooks/useLayoutViewState.ts
  src/plugins/SlotLayout/hooks/useSlotEntity.ts
  src/plugins/SlotLayout/index.tsx
  src/plugins/SlotLayout/layout/Slot.tsx
  src/plugins/SlotLayout/layout/WorkspaceLayout.tsx
  src/plugins/SlotLayout/layoutController/LayoutController.ts
  src/plugins/SlotLayout/layoutController/layoutControllerTypes.ts
  src/plugins/SlotLayout/layoutController/serialization.ts
  src/plugins/SlotLayout/slotBinding.ts
  src/plugins/SlotLayout/slotRegistry.tsx
  src/plugins/SlotLayout/styling/ChatView.scss
  src/plugins/SlotLayout/styling/index.scss
  src/plugins/SlotLayout/workspaceNavigationAdapter.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

build(SlotLayout): expose the plugin under the slot-layout subpath
  package.json
  vite.config.ts
Due: prettier --list-different

test(navigation): cover the core WorkspaceNavigation adapter
  src/context/__tests__/WorkspaceNavigationContext.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(examples)!: import the slot system from stream-chat-react/slot-layout
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/Sidebar/ChatViewSelectorItemSet.tsx
Due: prettier --list-different

feat: expose internal contexts and composer components in the public API
  src/components/MessageComposer/index.ts
  src/components/index.ts
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: expose internal contexts and composer components in the public API (#3242)
  src/components/MessageComposer/index.ts
  src/components/index.ts
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): support workspace navigation from browser URL
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Sync.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
Due: prettier --list-different

feat: allow displaying channels retrieved out of pagination order
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelPaginatorState.ts
  src/components/ChannelList/hooks/useRetainedChannels.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/hooks/useAttachmentManagerState.ts
  src/components/ReactFileUtilities/UploadButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: rename retained channels to sideloaded
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelPaginatorState.ts
  src/components/ChannelList/hooks/useSideloadedChannels.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Update stream-chat
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix: custom doUploadRequest permission adjustments (#3243)
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/hooks/useAttachmentManagerState.ts
  src/components/ReactFileUtilities/UploadButton.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  20936d6b7fcaa30f0d144f9ea73ccfd133ce4b64
Due: none

Introduce extractDisplayInfo and apply it to AvatarStack
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/utils.ts
  src/components/ChannelListItem/utils.tsx
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/hooks/useDebouncedTypingActive.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Apply to Avatar too
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Message/MessageUI.tsx
  src/components/Poll/PollVote.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/UserItem.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust tests
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: unread indicators
  src/components/Channel/Channel.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/UnreadMessagesNotification.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust tests
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/MessageComposer/AttachmentSelector/__tests__/CommandsMenu.test.tsx
  src/components/MessageComposer/__tests__/CommandChip.test.tsx
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/__tests__/ChannelFilesView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Lint fixes and further test adjustmens
  src/components/Badge/MediaBadge.tsx
  src/components/Icons/index.ts
  src/context/WithComponents.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
