Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

Notes added by 'git notes add'
  c3/0e09d814c9b10e04a70d04607e10bc63b15e4c
Due: none

chore(build): remove theme v1 CSS from the build
  rollup.config.js
Due: none

refactor: adjust typescript and vite examples to removal of v1 code
  examples/typescript/src/index.scss
  examples/typescript/src/index.tsx
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
Due: none

fix: tests
  src/components/Message/hooks/__tests__/useReactionsFetcher.js
  src/components/Message/hooks/useReactionsFetcher.ts
  src/mock-builders/index.js
Due: eslint --max-warnings 0, prettier --list-different

feat: fix types, add docs
  docusaurus/docs/React/components/contexts/message-context.mdx
  docusaurus/docs/React/components/core-components/message-list.mdx
  docusaurus/docs/React/components/core-components/virtualized-list.mdx
  docusaurus/docs/React/components/message-components/message.mdx
  docusaurus/docs/React/components/message-components/reactions.mdx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/types.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: props pass through
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: tests
  src/components/Reactions/__tests__/ReactionsListModal.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: jsdoc
  src/components/Message/types.ts
  src/components/Reactions/ReactionsList.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: adjust post-merge
  src/components/Attachment/AttachmentContainer.tsx
  src/components/MessageInput/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: fix import
  src/components/Attachment/AttachmentContainer.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: add classes str-chat__avatar--multiple-letters & str-chat__avatar--one-letter to Avatar
  src/components/Avatar/Avatar.tsx
  src/components/ChannelPreview/__tests__/__snapshots__/ChannelPreviewMessenger.test.js.snap
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

test: add MessageText.test.js.snap
  src/components/Message/__tests__/__snapshots__/MessageText.test.js.snap
Due: none

test: fix flaky connection recovery throttle tests
  src/components/ChannelList/__tests__/ChannelList.test.js
Due: eslint --max-warnings 0, prettier --list-different

feat: adopt new queryReactions endpoint (#2388)
  docusaurus/docs/React/components/contexts/message-context.mdx
  docusaurus/docs/React/components/core-components/message-list.mdx
  docusaurus/docs/React/components/core-components/virtualized-list.mdx
  docusaurus/docs/React/components/message-components/message.mdx
  docusaurus/docs/React/components/message-components/reactions.mdx
  examples/typescript/src/App.tsx
  src/components/Message/Message.tsx
  src/components/Message/hooks/__tests__/useReactionsFetcher.js
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/Reactions/__tests__/ReactionsListModal.test.js
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/types.ts
  src/context/MessageContext.tsx
  src/mock-builders/index.js
Due: eslint --max-warnings 0, prettier --list-different

test: remove flaky connection recovery throttle tests
  src/components/ChannelList/__tests__/ChannelList.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: fix aria label translations for Portuguese
  src/i18n/pt.json
Due: prettier --list-different, yarn run validate-translations

chore: make the latest release from release-v11 branch
  .github/workflows/release.yml
  .releaserc.json
  developers/RELEASE.md
Due: none

fix: prevent showing link previews in AttachmentPreviewList
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/__tests__/MessageInput.test.js
Due: eslint --max-warnings 0, prettier --list-different

test: prevent showing link previews in AttachmentPreviewList
  src/components/MessageInput/__tests__/MessageInput.test.js
Due: eslint --max-warnings 0, prettier --list-different

chore(release): align release channel names
  .releaserc.json
Due: none

fix: prevent loading more non-existent thread replies
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
Due: eslint --max-warnings 0, prettier --list-different

chore: publish to production only from branches with names starting with "release", publish to staging from anywhere
  .github/workflows/release.yml
Due: none

chore: fix condition to run release
  .github/workflows/release.yml
Due: none

chore: make the latest release from release-vX branch (#2397)
  .github/workflows/release.yml
  .releaserc.json
  developers/RELEASE.md
Due: none

fix: prevent showing link previews in AttachmentPreviewList (#2398)
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/__tests__/MessageInput.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: prevent loading more non-existent thread replies (#2399)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
Due: eslint --max-warnings 0, prettier --list-different

chore(release): use single quotes for strings in GH workflows
  .github/workflows/release.yml
Due: none

chore(release): 11.19.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5a/68c092035e45129206ae4e26e628641dc07b85
Due: none

chore: add demo of LLC without SCG
  examples/typescript/src/App.tsx
  src/components/Chat/hooks/useCreateChatClient.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: update demo
  examples/typescript/src/App.tsx
Due: none

refactor: keep v2 in CSS import paths
  docusaurus/docs/React/basics/getting-started.mdx
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
  examples/typescript/src/App.tsx
  examples/typescript/src/index.scss
  examples/typescript/src/index.tsx
  examples/vite/src/App.tsx
  rollup.config.js
Due: none

fix: reflect the separateGiphyPreview prop value in VirtualizedMessageList
  src/components/MessageList/hooks/VirtualizedMessageList/useGiphyPreview.ts
  src/components/MessageList/hooks/__tests__/useGiphyPreview.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: make it possible to jump to system messages in MessageList
  src/components/MessageList/renderMessages.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: reflect separateGiphyPreview prop value in VirtualizedMessageList (#2402)
  src/components/MessageList/hooks/VirtualizedMessageList/useGiphyPreview.ts
  src/components/MessageList/hooks/__tests__/useGiphyPreview.test.js
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to customize MessageStatus UI by message delivery status
  docusaurus/docs/React/components/message-components/ui-components.mdx
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
