Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Notes added by 'git notes add'
  b66822caf904e28d1c85350a2b469f710fc39731
Due: none

feat: add CSS variables
  src/styling/index.scss
  src/styling/variables.css
Due: none

feat: add prompt for AI to autogenerate pixel units in variables.css
  src/styling/variables.css
Due: none

fix: import variables.css with relative path
  src/styling/index.scss
Due: none

fix: use instead of import local style sheets
  src/styling/index.scss
Due: none

chore: add yarn start:css script
  package.json
Due: prettier --list-different

feat: add CSS variables (#2913)
  package.json
  src/styling/index.scss
  src/styling/variables.css
Due: prettier --list-different

Adjust MessageActions tests
  src/components/Channel/__tests__/Channel.test.js
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/__tests__/MessageOptions.test.js
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/__tests__/__snapshots__/MessageText.test.js.snap
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add Button component and styles
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/index.ts
  src/styling/Button.scss
  src/styling/base.scss
  src/styling/index.scss
  src/styling/utils.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Button): make it type="button" by default
  src/components/Button/Button.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: move Buttons.scss next to the corresponding React component
  src/components/Button/Button.tsx
  src/components/Button/styling/Button.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove Button padding for now
  src/components/Button/styling/Button.scss
Due: none

chore: remove --declarationMap from "start" script
  package.json
Due: prettier --list-different

feat: add Icons as React components
  src/components/Icons/IconMicrophone.tsx
  src/components/Icons/IconPaperPlane.tsx
  src/components/Icons/IconPlus.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconMicrophone.scss
  src/components/Icons/styling/IconPaperPlane.scss
  src/components/Icons/styling/IconPlus.scss
  src/components/Icons/styling/index.scss
  src/components/index.ts
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adjust manually CSS variable --button-hit-target-min-height value for now
  src/styling/variables.css
Due: none

fix: remove box-sizing rules from base.scss
  src/styling/base.scss
Due: none

feat: add Button component and styles (#2914)
  package.json
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Button/styling/Button.scss
  src/components/Icons/IconMicrophone.tsx
  src/components/Icons/IconPaperPlane.tsx
  src/components/Icons/IconPlus.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconMicrophone.scss
  src/components/Icons/styling/IconPaperPlane.scss
  src/components/Icons/styling/IconPlus.scss
  src/components/Icons/styling/index.scss
  src/components/index.ts
  src/styling/base.scss
  src/styling/index.scss
  src/styling/utils.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/AIStateIndicator/hooks/useAIState.ts
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Rename & behavior adjustment
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ai): stop typewriter animation on `ai_indicator.stop` (#2918)
  src/components/AIStateIndicator/hooks/useAIState.ts
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.13.4 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  2cfc89bc6021e258018c0a5335ff9a5116ac9ba6
Due: none

chore(ai-import): Add skipAnimation to useMessageTextStreaming hook (GetStream/ai-components-js#28)
  src/plugins/AIComponents/components/streaming-message.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add new CSS variables
  src/styling/variables.css
Due: none

Adjust tests
  src/components/Channel/__tests__/Channel.test.js
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/Gallery/__tests__/Image.test.js
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/App.tsx
  src/components/Channel/Channel.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: reflect latest design updates in Button.scss
  src/components/Button/styling/Button.scss
Due: none

feat: reflect latest design updates in variables.css
  src/styling/variables.css
Due: none

feat: add more Button updates
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Button/styling/Button.scss
  src/styling/base.scss
  src/styling/utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add styles for SendButton
  src/components/Icons/IconArrowRotateClockwise.tsx
  src/components/Icons/IconCamera.tsx
  src/components/Icons/IconClose.tsx
  src/components/Icons/IconExclamationCircle.tsx
  src/components/Icons/IconExclamationTriangle.tsx
  src/components/Icons/IconMicrophone.tsx
  src/components/Icons/IconPaperPlane.tsx
  src/components/Icons/IconPause.tsx
  src/components/Icons/IconPlaySolid.tsx
  src/components/Icons/IconPlus.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconArrowRotateClockwise.scss
  src/components/Icons/styling/IconClose.scss
  src/components/Icons/styling/IconExclamationCircle.scss
  src/components/Icons/styling/IconExclamationTriangle.scss
  src/components/Icons/styling/IconPause.scss
  src/components/Icons/styling/IconPlaySolid.scss
  src/components/Icons/styling/index.scss
  src/components/MessageInput/SendButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Remove requirements from deploy-vite-example job
  .github/workflows/ci.yml
Due: prettier --list-different

chore: remove requirements from deploy-vite-example job (#2920)
  .github/workflows/ci.yml
Due: prettier --list-different

chore(example/vite): comment unused styles
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
Due: none

feat(example/vite): add emoji styles layer
  examples/vite/src/index.scss
Due: none

feat(example/vite): enable local user connection
  examples/vite/src/App.tsx
  examples/vite/src/vite-env.d.ts
  examples/vite/yarn.lock
Due: prettier --list-different

feat: rely on channel.cooldownTimer for cooldown countdown
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageInput/CooldownTimer.tsx
  src/components/MessageInput/MessageComposerActions.tsx
  src/components/MessageInput/WithDragAndDropUpload.tsx
  src/components/MessageInput/hooks/useIsCooldownActive.ts
  src/components/MessageInput/hooks/useTimer.ts
  src/components/ReactFileUtilities/UploadButton.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/context/ComponentContext.tsx
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.31.0
  package.json
  yarn.lock
Due: prettier --list-different

Initial commit
  src/components/Button/styling/Button.scss
  src/components/Reactions/ReactionSelector.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/StreamEmoji.tsx
  src/components/Reactions/reactionOptions.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
