Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: track upload progress in attachment preview components
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/uploadProgress.ts
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/icons.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: reliably detect whether the click originated inside before closing mobile nav
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
  examples/vite/src/index.scss
  src/components/ChannelList/hooks/useMobileNavigation.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track latest react v14 action and error changes
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix: increase message list width
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/MessageList/styling/MessageList.scss
Due: none

fix: align message reactions horizontally to the inside message edge
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/tabs/Reactions/ReactionsTab.tsx
  src/components/Message/styling/Message.scss
Due: prettier --list-different

docs: track latest react v14 action and error changes (#3063)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix(demo): prevent sidebar covering modals
  examples/vite/src/index.scss
Due: none

fix: change ChannelList LoadMore button appearance to ghost
  src/components/LoadMore/LoadMoreButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

style: fix linter issues
  examples/vite/src/index.scss
Due: none

fix: reliably detect whether the click originated inside before closing mobile nav (#3061)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
  examples/vite/src/index.scss
  src/components/ChannelList/hooks/useMobileNavigation.ts
  src/components/LoadMore/LoadMoreButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent audio recorder player UI from overflowing the parent boundaries
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/AudioPlayback/AudioPlayer.ts
  src/components/AudioPlayback/__tests__/AudioPlayer.test.ts
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/MessageComposer/MessageComposer.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/context/ChannelListContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align message reactions vertically to the center of the message list (#3064)
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/tabs/Reactions/ReactionsTab.tsx
  src/components/Message/styling/Message.scss
Due: prettier --list-different

feat: add ContextMenu animations API and globa
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/Dialog/__tests__/DialogManagerContext.test.tsx
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/Dialog/service/DialogAnchor.tsx
  src/components/Dialog/service/DialogManager.ts
  src/components/Dialog/service/DialogPortal.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/context/ComponentContext.tsx
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: defer document outside-click dismissal to preserve menu toggle close behavior
  src/components/Dialog/service/DialogPortal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep MessageList scrolled to the bottom
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add image size handler to giphy attachment
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/__tests__/Attachment.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: reset audio player progress when the track is fully played (#3066)
  src/components/Attachment/__tests__/WaveProgressBar.test.tsx
  src/components/AudioPlayback/AudioPlayer.ts
  src/components/AudioPlayback/__tests__/AudioPlayer.test.ts
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/MessageComposer/MessageComposer.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/context/ChannelListContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add ContextMenu animations API and global close-on-click-outside configuration mechanism (#3067)
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/Dialog/__tests__/DialogManagerContext.test.tsx
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/Dialog/service/DialogAnchor.tsx
  src/components/Dialog/service/DialogManager.ts
  src/components/Dialog/service/DialogPortal.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/context/ComponentContext.tsx
  src/context/DialogManagerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: return undefined from toGalleryItemDescriptors instead of void
  src/components/BaseImage/toBaseImageDescriptors.ts
  src/components/Gallery/GalleryContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: verify scroll in steps
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep MessageList scrolled to the bottom (#3068)
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/__tests__/Attachment.test.tsx
  src/components/BaseImage/toBaseImageDescriptors.ts
  src/components/Gallery/GalleryContext.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: uploadProgress renamed to Progress and moved outside of message composer
  src/components/Loading/ProgressIndicator.tsx
  src/components/Loading/index.ts
  src/components/Loading/styling/ProgressIndicator.scss
  src/components/Loading/styling/index.scss
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/icons.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Initial commit
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: adjust MessageReactionsDetail to match design spec (#3065)
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add type annotations to untyped let declarations in tests
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/MessageList/__tests__/ConnectionStatus.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/ScrollToLatestMessageButton.test.tsx
  src/components/MessageList/hooks/__tests__/useMessageListScrollManager.test.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/utils/__tests__/getChannel.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Message/styling/Message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: fix message attachment combinations (voice recording widget) (#3069)
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Message/styling/Message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unnecessary helpers
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadProgressIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/uploadProgress.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: create AttachmentUploadedSizeIndicator component
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/utils/uploadProgress.ts
  src/components/MessageComposer/__tests__/AttachmentUploadedSizeIndicator.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: more meaningful name for "x percent complete" i18n key
  src/components/Loading/ProgressIndicator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(ai-import): chore: update AI model options
  examples/ai-chatbot/package.json
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
Due: prettier --list-different

chore: address PR review comments
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.0.0-beta.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  55b1dd6c43f006ac8e7e2ceba1a58d8838bef149
Due: none

chore: remove stale props from test files
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/__tests__/ChannelListUI.test.tsx
  src/components/ChannelList/__tests__/__snapshots__/ChannelListUI.test.tsx.snap
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/Thread/__tests__/Thread.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 dialog and reactions follow-up
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: track react v14 dialog and reactions follow-up (#3071)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
