Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(examples): use the SDK's eslint config; drop per-example tooling
  eslint.config.mjs
  examples/tutorial/eslint.config.js
  examples/tutorial/package.json
  examples/tutorial/src/1-client-setup/App.tsx
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/2-core-component-setup/stream-chat.d.ts
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/stream-chat.d.ts
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/src/App.tsx
  examples/vite/.eslintrc.cjs
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/DraggableDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/ChatLayout/Sync.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/CustomMessageUi/attachment-actions-variant.tsx
  examples/vite/src/CustomMessageUi/index.tsx
  examples/vite/src/CustomMessageUi/reaction-variants.tsx
  examples/vite/src/CustomMessageUi/variants.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
  examples/vite/src/icons.tsx
  yarn.lock
Due: prettier --list-different

chore(claude): port the env-file worktree-sync script from video-js#2236
  .claude/settings.json
  .gitignore
  scripts/copy-env-from-main.sh
Due: prettier --list-different

chore: husky 9, vite 8.0.12 alignment, tutorial type-check, dead-script cleanup
  .husky/commit-msg
  .husky/pre-commit
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --list-different

chore(deps): bump toolchain deps and drop unused tslib
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

chore(tsconfig): align module with target es2020
  tsconfig.lib.json
  tsconfig.test.json
Due: prettier --list-different

ci(setup-node): use setup-node's built-in yarn cache
  .github/actions/setup-node/action.yml
Due: prettier --list-different

feat: add enhanced mentions handling to message text rendering
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.tsx.snap
  src/components/Message/renderText/__tests__/renderText.test.tsx
  src/components/Message/renderText/componentRenderers/Mention.tsx
  src/components/Message/renderText/rehypePlugins/mentionsMarkdownPlugin.ts
  src/components/Message/renderText/renderText.tsx
  src/components/Message/types.ts
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelListItem): source currentUserId from ChatContext, drop disconnected-client guard
  src/components/ChannelListItem/hooks/useChannelDisplayName.ts
  src/components/ChannelListItem/hooks/useChannelPreviewInfo.ts
  src/components/ChannelListItem/utils.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): allow to build notifications with multiple actions
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/triggerNotificationUtils.ts
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/icons.tsx
Due: prettier --list-different

test(Gallery): expect canonicalized URL form after sanitize-url v7
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): allow to build notifications with multiple actions (#3190)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/triggerNotificationUtils.ts
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/icons.tsx
Due: prettier --list-different

chore(scripts): rename example:* dev scripts to start:*
  AGENTS.md
  CLAUDE.md
  examples/tutorial/README.md
  package.json
Due: prettier --list-different

fix(vite): externalize deep subpath imports to avoid CJS require in ESM output
  vite.config.ts
Due: prettier --list-different

fix(a11y): prevent dialog description from leaking into its children
  .cursor/skills/accessibility/SKILL.md
  src/components/Dialog/components/Prompt.tsx
  src/components/Form/__tests__/TextInput.test.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): make remove poll option button accessible for VoiceOver swipe navigation
  src/components/Form/TextInput.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ContextMenu): show focus outline for auto-focused context menu items
  src/components/Dialog/styling/ContextMenu.scss
Due: none

fix(ContextMenu): show focus outline for auto-focused context menu items (#3193)
  src/components/Dialog/styling/ContextMenu.scss
Due: none

feat: add option reordering by keyboard to OptionFieldSet
  src/components/Accessibility/AriaLiveRegion.tsx
  src/components/Accessibility/__tests__/AriaLiveRegion.test.tsx
  src/components/Form/TextInput.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollOptionReorderHandle.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/Poll/styling/OptionFieldSet.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: reflect predefined filters in the channel list ordering
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to version 9.44.2
  package.json
  yarn.lock
Due: prettier --list-different

feat: reflect predefined filters in the channel list ordering (#3194)
  package.json
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/usePaginatedChannels.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep voiceover focused on active PollOptionReorderHandle while reordering
  .cursor/skills/accessibility/SKILL.md
  src/components/Accessibility/AriaLiveRegion.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollOptionReorderHandle.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(Notifications): swap snackbars after minDisplayMs dwell
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(NotificationList): allow to change the queue retrieval policy
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): correctly announce submenus in context menus
  src/components/Dialog/__tests__/ContextMenu.test.tsx
  src/components/Dialog/components/ContextMenu.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(a11y): improve command item announcement
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): prevent focusing command chip except the exit button
  src/components/MessageComposer/CommandChip.tsx
  src/components/MessageComposer/__tests__/CommandChip.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): prevent focusing AttachmentSelector button when in command mode
  examples/vite/src/App.tsx
  examples/vite/src/CommandModeAttachmentSelector.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add test for command submenu aria label building
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): bump yarn to 4.15.0 and refresh dev dependencies
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix(compat): make React 17/18 usages crash-safe
  CLAUDE.md
  eslint.config.mjs
  src/components/Attachment/LinkPreview/CardAudio.tsx
  src/components/ChatView/ChatView.tsx
  src/components/Form/SwitchField.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPlayback.tsx
  src/components/Message/MessageText.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageList/hooks/useReducedMotionPreference.ts
  src/components/Poll/PollHeader.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/utils/__tests__/useStableId.test.ts
  src/utils/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(utils): extend existing useStableId with React.useId
  eslint.config.mjs
  src/components/ChatView/ChatView.tsx
  src/components/Form/SwitchField.tsx
  src/components/Message/MessageText.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/UtilityComponents/__tests__/useStableId.test.ts
  src/components/UtilityComponents/useStableId.ts
  src/utils/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(CLAUDE): fix useStableId path after consolidation
  CLAUDE.md
Due: prettier --list-different

feat(a11y): announce "Poll sent" on successful poll creation
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(useStableId): strip React 19.1 guillemet wrappers from useId output
  src/components/UtilityComponents/__tests__/useStableId.test.ts
  src/components/UtilityComponents/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(types): use correct types/hast version
  package.json
  src/components/Message/renderText/rehypePlugins/emojiMarkdownPlugin.ts
  src/components/Message/renderText/rehypePlugins/mentionsMarkdownPlugin.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(Notifications): swap snackbar notifications after minDisplayMs dwell (#3196)
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/NotificationList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  e846471ffe16184966067541bf83f41ff01c4969
Due: none

chore(deps): upgrade jsdom to v29
  .claude/settings.json
  package.json
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
  yarn.lock
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
