Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: decrease poll option padding in full list
  src/components/Poll/styling/PollOptionFullList.scss
Due: none

fix: set correct size of the numeric stepper button
  src/components/Form/NumericInput.tsx
  src/components/Form/styling/NumericInput.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adjust poll checkmark borders
  src/components/Poll/styling/PollOptionList.scss
Due: none

feat: add TextInput variant for placing the field error
  src/components/Form/TextInput.tsx
  src/components/Form/styling/TextInput.scss
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/styling/OptionFieldSet.scss
  src/components/Poll/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use correct border for voice recording speed button
  src/components/AudioPlayback/styling/PlaybackRateButton.scss
Due: none

style: fix linter issues
  src/components/Poll/styling/OptionFieldSet.scss
  src/components/Poll/styling/PollOptionList.scss
Due: none

fix: apply dark background in dark mode
  examples/vite/src/index.scss
  src/components/ChatView/styling/ChatView.scss
Due: none

fix: prevent hiding floating date separator in message lists
  examples/vite/src/App.tsx
  src/components/MessageList/hooks/MessageList/__tests__/useFloatingDateSeparatorMessageList.test.ts
  src/components/MessageList/hooks/MessageList/useFloatingDateSeparatorMessageList.ts
  src/components/MessageList/hooks/VirtualizedMessageList/__tests__/useFloatingDateSeparator.test.ts
  src/components/MessageList/hooks/VirtualizedMessageList/useFloatingDateSeparator.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: unify what is considered a deleted message across the components (#3117)
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/utils.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove UI issues in poll related components (#3118)
  examples/vite/src/index.scss
  src/components/AudioPlayback/styling/PlaybackRateButton.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Form/NumericInput.tsx
  src/components/Form/TextInput.tsx
  src/components/Form/styling/NumericInput.scss
  src/components/Form/styling/TextInput.scss
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/styling/OptionFieldSet.scss
  src/components/Poll/styling/PollOptionFullList.scss
  src/components/Poll/styling/PollOptionList.scss
  src/components/Poll/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent hiding floating date separator in message lists (#3119)
  examples/vite/src/App.tsx
  src/components/MessageList/hooks/MessageList/__tests__/useFloatingDateSeparatorMessageList.test.ts
  src/components/MessageList/hooks/MessageList/useFloatingDateSeparatorMessageList.ts
  src/components/MessageList/hooks/VirtualizedMessageList/__tests__/useFloatingDateSeparator.test.ts
  src/components/MessageList/hooks/VirtualizedMessageList/useFloatingDateSeparator.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign Tooltip (#3116)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/Sidebar/SidebarToggle.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/styling/Tooltip.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: hide quick message actions below 768px screen width
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageActions/styling/MessageActions.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove the use of separate dialog for extended reaction list
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: hide quick message actions on small screens (#3120)
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Message/styling/Message.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageActions/styling/MessageActions.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Gallery related fixes
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/__tests__/__snapshots__/Image.test.tsx.snap
  src/components/Gallery/styling/Gallery.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Regenerate dark-theme tokens from Figma
  src/styling/variables-tokens.css
Due: none

ChannelListItem related fixes
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
  src/components/ChannelListItem/styling/ChannelListItem.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Temporary fix tooltip dark mode
  src/components/Tooltip/styling/Tooltip.scss
Due: none

Fix resize handle color
  examples/vite/src/index.scss
Due: none

Add properly generated tokens
  src/styling/dark.scss
  src/styling/index.scss
  src/styling/light.scss
  src/styling/variables-tokens.css
  src/styling/variables-tokens.scss
Due: none

Prompt related fixes
  src/components/Dialog/styling/Prompt.scss
Due: none

chore(release): 14.0.0-beta.8 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  4d357b837424b2ab53722f627fa30e3c1754cf9e
Due: none

chore(release): enable stable releases for v14
  .releaserc.json
Due: prettier --list-different

chore(release): publish to `release-v13` channel
  .releaserc.json
Due: prettier --list-different

chore(release): add config for "stable" too
  .releaserc.json
Due: prettier --list-different

chore(release): publish to `release-v13` channel (#3122)
  .releaserc.json
Due: prettier --list-different

feat: add download attachment action to message actions
  src/components/Attachment/Audio.tsx
  src/components/Attachment/components/AudioDownloadButton.tsx
  src/components/Attachment/components/index.ts
  src/components/Attachment/styling/Audio.scss
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/Icons/icons.tsx
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageActions/downloadUtils.ts
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageActions/styling/MessageActions.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Add post-review fixes
  src/components/Channel/styling/Channel.scss
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Form/styling/SwitchField.scss
  src/components/MessageComposer/styling/CommandChip.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/common.scss
Due: none

chore: post-review (post-cleanup) fixes (#3123)
  src/components/Channel/styling/Channel.scss
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Form/styling/SwitchField.scss
  src/components/MessageComposer/styling/CommandChip.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/common.scss
Due: none

fix(MessageList): make pinned message highlight extend edge-to-edge
  src/components/Message/styling/Message.scss
Due: none

feat(examples): add MessageList/VirtualizedMessageList toggle
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

fix(MessageList): make pinned message highlight extend edge-to-edge (#3124)
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/Message/styling/Message.scss
Due: prettier --list-different

feat: redesign DownloadButton for audio and file attachment widgets
  src/components/Attachment/Audio.tsx
  src/components/Attachment/FileAttachment.tsx
  src/components/Attachment/__tests__/__snapshots__/File.test.tsx.snap
  src/components/Attachment/components/AudioDownloadButton.tsx
  src/components/Attachment/components/DownloadButton.tsx
  src/components/Attachment/components/index.ts
  src/components/Attachment/styling/Audio.scss
  src/components/Attachment/styling/DownloadButton.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Attachment/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(styling): use correct inverse text color tokens
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Badge/styling/Badge.scss
  src/components/Notifications/styling/Notification.scss
Due: none

fix: prevent overflows in packed message composer
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

fix: debounce "Cannot seek in recording" notification registration
  src/components/AudioPlayback/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
