Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Replace loading icon/adjust LoadingIndicator component
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Icons/createIcon.tsx
  src/components/Icons/icons.tsx
  src/components/Loading/LoadingIndicator.tsx
  src/components/Loading/styling/LoadingIndicator.scss
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: refine media gallery translucency
  src/components/Gallery/styling/Gallery.scss
Due: none

Add translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

Adjust ThreadLIstUnseenThreadsBanner and add item highlighting
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/styling/MessageSystem.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: adjust media gallery viewer (#3006)
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/GalleryContext.tsx
  src/components/Gallery/GalleryHeader.tsx
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/__tests__/GalleryContext.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.js
  src/components/Gallery/styling/Gallery.scss
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(vite-example): add resizable chat panels
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/ChatLayout/Sync.tsx
  examples/vite/src/ChatLayout/constants.ts
  examples/vite/src/index.scss
Due: prettier --list-different

fix(vite-example): animate thread panel via layout shell
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

perf(vite-example): optimize panel resize updates
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/ChatLayout/Resize.tsx
Due: prettier --list-different

docs: track react v14 migration work
  breaking-changes.md
  docs-plan.md
Due: prettier --list-different

feat: add EventComponent (system message) redesign (#3007)
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/styling/MessageSystem.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: unseen threads banner button redesign and highlighting (#3008)
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Icons/createIcon.tsx
  src/components/Icons/icons.tsx
  src/components/Loading/LoadingIndicator.tsx
  src/components/Loading/styling/LoadingIndicator.scss
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(vite-example): resolve example type mismatches
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/tsconfig.json
  examples/vite/vite.config.ts
Due: prettier --list-different

feat(vite-example): add resizable chat panels (#3009)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/ChatLayout/Sync.tsx
  examples/vite/src/ChatLayout/constants.ts
  examples/vite/src/index.scss
  examples/vite/tsconfig.json
  examples/vite/vite.config.ts
Due: prettier --list-different

chore: adjust paths
  breaking-changes.md
  docs-plan.md
Due: prettier --list-different

chore: adjust paths
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: track react v14 migration work (#3010)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

Remove console.warn from getDateString
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: checkpoint react v14 docs plan
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: finish react v14 docs execution plan
  ai-docs/docs-plan.md
Due: prettier --list-different

chore: remove console.warn from getDateString [REACT-888] (#3011)
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add latest generated CSS variables
  src/styling/variables.css
Due: none

chore: updated v14 docs plan (#3012)
  ai-docs/docs-plan.md
Due: prettier --list-different

Minor EventComponent adjustment
  src/components/EventComponent/EventComponent.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Allow exiting search on blur, fix behavior
  examples/vite/src/ChatLayout/Panels.tsx
  src/experimental/Search/Search.tsx
  src/experimental/Search/SearchBar/SearchBar.tsx
  src/experimental/Search/SearchContext.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add search bar value check too
  src/experimental/Search/SearchBar/SearchBar.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: exit search on blur [REACT-855] (#3013)
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/EventComponent/EventComponent.tsx
  src/experimental/Search/Search.tsx
  src/experimental/Search/SearchBar/SearchBar.tsx
  src/experimental/Search/SearchContext.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Remove old ChannelSearch component set
  src/components/ChannelSearch/ChannelSearch.tsx
  src/components/ChannelSearch/SearchBar.tsx
  src/components/ChannelSearch/SearchInput.tsx
  src/components/ChannelSearch/SearchResults.tsx
  src/components/ChannelSearch/__tests__/ChannelSearch.test.js
  src/components/ChannelSearch/__tests__/SearchBar.test.js
  src/components/ChannelSearch/__tests__/SearchResults.test.js
  src/components/ChannelSearch/__tests__/__snapshots__/ChannelSearch.test.js.snap
  src/components/ChannelSearch/__tests__/__snapshots__/SearchBar.test.js.snap
  src/components/ChannelSearch/hooks/useChannelSearch.ts
  src/components/ChannelSearch/icons.tsx
  src/components/ChannelSearch/index.ts
  src/components/ChannelSearch/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Move Search from experimental, adjust the rest
  package.json
  src/components/Channel/Channel.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/Search/Search.tsx
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchBar/index.ts
  src/components/Search/SearchContext.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/SearchResults/SearchResults.tsx
  src/components/Search/SearchResults/SearchResultsHeader.tsx
  src/components/Search/SearchResults/SearchResultsPresearch.tsx
  src/components/Search/SearchResults/SearchSourceResultList.tsx
  src/components/Search/SearchResults/SearchSourceResultListFooter.tsx
  src/components/Search/SearchResults/SearchSourceResults.tsx
  src/components/Search/SearchResults/SearchSourceResultsEmpty.tsx
  src/components/Search/SearchResults/SearchSourceResultsHeader.tsx
  src/components/Search/SearchResults/SearchSourceResultsLoadingIndicator.tsx
  src/components/Search/SearchResults/index.ts
  src/components/Search/SearchSourceResultsContext.tsx
  src/components/Search/__tests__/Search.test.js
  src/components/Search/__tests__/SearchBar.test.js
  src/components/Search/__tests__/SearchResultItem.test.js
  src/components/Search/__tests__/SearchResults.test.js
  src/components/Search/__tests__/SearchResultsHeader.test.js
  src/components/Search/__tests__/SearchSourceResultList.test.js
  src/components/Search/__tests__/SearchSourceResultListFooter.test.js
  src/components/Search/__tests__/SearchSourceResults.test.js
  src/components/Search/hooks/index.ts
  src/components/Search/hooks/useSearchFocusedMessage.ts
  src/components/Search/hooks/useSearchQueriesInProgress.ts
  src/components/Search/index.ts
  src/components/Search/styling/Search.scss
  src/components/Search/styling/index.scss
  src/components/index.ts
  src/context/ComponentContext.tsx
  src/experimental/index.ts
  src/styling/index.scss
  vite.config.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove deprecated useAudioController hook
  src/components/Attachment/hooks/useAudioController.ts
  src/components/Attachment/index.ts
  src/components/AudioPlayback/components/WaveProgressBar.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add lint fixes
  src/components/Thread/styling/ThreadHead.scss
  src/components/TypingIndicator/styling/TypingIndicator.scss
Due: none

chore: fix build
  src/components/AudioPlayback/components/WaveProgressBar.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: post Search merge adjustments to demo application
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

chore: post Search merge adjustments, vol 2.
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/ChannelList/ChannelList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor!: remove deprecated useAudioController hook (#3016)
  src/components/Attachment/hooks/useAudioController.ts
  src/components/Attachment/index.ts
  src/components/AudioPlayback/components/WaveProgressBar.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
