Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

perf(emojis): debounce picker search and share one search index
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/hooks/__tests__/useDebouncedValue.test.ts
  src/plugins/Emojis/hooks/useDebouncedValue.ts
  src/plugins/Emojis/search/__tests__/buildEmojiSearchData.test.ts
  src/plugins/Emojis/search/buildEmojiSearchData.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): improve picker keyboard accessibility
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/__tests__/EmojiPicker.test.tsx
  src/plugins/Emojis/components/SkinToneSelector.tsx
  src/plugins/Emojis/components/__tests__/SkinToneSelector.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to customize ChannelListHeader
  src/components/ChannelList/ChannelList.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to customize ChannelListHeader (#3234)
  src/components/ChannelList/ChannelList.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): support curated emoji-mart pickerProps options
  AI.md
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/EmojiPicker/EmojiPickerTab.tsx
  examples/vite/src/AppSettings/tabs/EmojiPicker/index.ts
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/__tests__/EmojiPicker.test.tsx
  src/plugins/Emojis/__tests__/options.test.ts
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/EmptyResults.tsx
  src/plugins/Emojis/components/PreviewPane.tsx
  src/plugins/Emojis/components/SearchInput.tsx
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.tsx
  src/plugins/Emojis/components/__tests__/PreviewPane.test.tsx
  src/plugins/Emojis/components/__tests__/frequentlyUsed.test.ts
  src/plugins/Emojis/data/__tests__/filterEmojiData.test.ts
  src/plugins/Emojis/data/filterEmojiData.ts
  src/plugins/Emojis/hooks/__tests__/gridNavigation.test.ts
  src/plugins/Emojis/hooks/__tests__/pickerLayout.test.ts
  src/plugins/Emojis/hooks/pickerLayout.ts
  src/plugins/Emojis/options.ts
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(a11y): mock useInteractionAnnouncements at its source module
  src/components/Attachment/__tests__/VoiceRecording.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  044d6354d4177e5143637a666972dec90aeb7e7b
Due: none

feat(ChannelList): make channel list and thread list width app-driven
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: none

fix(ChannelList): make channel list and thread list width app-driven (#3235)
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: none

feat(emojis): add StreamEmojiPicker and deprecate emoji-mart EmojiPicker
  AI.md
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/EmojiPicker/EmojiPickerTab.tsx
  package.json
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/StreamEmojiPicker.tsx
  src/plugins/Emojis/__tests__/EmojiPicker.test.tsx
  src/plugins/Emojis/__tests__/StreamEmojiPicker.test.tsx
  src/plugins/Emojis/__tests__/entry-exports.test.ts
  src/plugins/Emojis/index.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): keep the vite example emoji preview pinned to the right
  examples/vite/src/AppSettings/AppSettings.scss
Due: none

chore: sync i18n strings
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

CI: add least-privilege permissions to GitHub Actions workflows
  .github/workflows/ci.yml
Due: prettier --list-different

CI: add least-privilege permissions to GitHub Actions workflows
  .github/workflows/pr-check.yml
Due: prettier --list-different

CI: add least-privilege permissions to GitHub Actions workflows
  .github/workflows/size.yml
Due: prettier --list-different

feat: introduce additive opening in a secondary slot
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/ChatLayout/constants.ts
  examples/vite/src/index.scss
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/ChatView/ChatViewNavigationContext.tsx
  src/components/ChatView/__tests__/ChatViewNavigation.test.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.tsx
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Address CodeRabbit review feedback on workflow permissions.
  .github/workflows/ci.yml
  .github/workflows/size.yml
Due: prettier --list-different

ci: add least-privilege permissions to GitHub Actions workflows (#3238)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/size.yml
Due: prettier --list-different

feat: flatten the Channel DOM structure and remove Window component
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/7-livestream/App.tsx
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/LoadingScreen/LoadingScreen.tsx
  examples/vite/src/index.scss
  specs/layout-controller/plan.md
  src/components/Channel/Channel.tsx
  src/components/Channel/styling/Channel.scss
  src/components/ChatView/ChatView.tsx
  src/components/MessageComposer/WithDragAndDropUpload.tsx
  src/components/MessageComposer/__tests__/__snapshots__/AttachmentPreviewList.test.tsx.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.tsx.snap
  src/components/MessageList/styling/MessageList.scss
  src/components/Window/Window.tsx
  src/components/Window/__tests__/Window.test.tsx
  src/components/Window/index.ts
  src/components/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: replace ChannelListContext contents with paginator
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/DraggableDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/SearchableSelect.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/SingleChannel/SingleChannel.scss
  examples/vite/src/SingleChannel/SingleChannelApp.tsx
  examples/vite/src/index.scss
  src/components/Channel/Channel.tsx
  src/components/ChannelList/ChannelLists.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useChannelsQueryState.ts
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/ChatView/__tests__/ChatViewNavigation.test.tsx
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/Form/Dropdown.tsx
  src/components/Notifications/hooks/useNotificationTarget.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/context/ChannelListContext.tsx
  src/context/ChatContext.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove Channel component memoization
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): prevent floating message list's date separator to be rendered above the sidebar
  examples/vite/src/index.scss
Due: none

fix: add audio player pool for Thread
  src/components/Thread/Thread.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  3bb8a2fd7d468b3b2bec2771d393c6ffb8e73cbd
Due: none

feat: add slot geometry plugin
  package.json
  src/plugins/SlotGeometry/SlotGeometry.tsx
  src/plugins/SlotGeometry/__tests__/SlotGeometry.test.tsx
  src/plugins/SlotGeometry/index.ts
  vite.config.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: extract deeplink navigation between sent-in-channel and thread messages
  examples/vite/src/ChatLayout/AlsoSentInChannelIndicator.tsx
  src/components/Message/MessageAlsoSentInChannelIndicator.tsx
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add layers to the slot system
  src/components/ChatView/ChatViewNavigationContext.tsx
  src/components/ChatView/__tests__/ChatViewNavigation.test.tsx
  src/components/ChatView/__tests__/useSlotEntity.test.tsx
  src/components/ChatView/hooks/useLayoutViewState.ts
  src/components/ChatView/hooks/useSlotEntity.ts
  src/components/ChatView/layout/Slot.tsx
  src/components/ChatView/layoutController/LayoutController.ts
  src/components/ChatView/layoutController/layoutControllerTypes.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add reveal intent to the slot geometry
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/AlsoSentInChannelIndicator.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/index.scss
  src/components/ChatView/ChatViewNavigationContext.tsx
  src/components/ChatView/__tests__/ChatViewNavigation.test.tsx
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
  src/plugins/SlotGeometry/SlotGeometry.tsx
  src/plugins/SlotGeometry/__tests__/SlotGeometry.test.tsx
  src/plugins/SlotGeometry/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: drop unnecessary channel query when jumping to a reply in channel msg list
  src/components/Message/hooks/__tests__/useMessageAlsoSentInChannelNavigation.test.tsx
  src/components/Message/hooks/useMessageAlsoSentInChannelNavigation.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(emojis): slim down the StreamEmojiPicker public API
  AI.md
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/EmojiPicker/EmojiPickerTab.tsx
  src/plugins/Emojis/StreamEmojiPicker.tsx
  src/plugins/Emojis/__tests__/StreamEmojiPicker.test.tsx
  src/plugins/Emojis/__tests__/options.test.ts
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.tsx
  src/plugins/Emojis/data/__tests__/filterEmojiData.test.ts
  src/plugins/Emojis/data/filterEmojiData.ts
  src/plugins/Emojis/hooks/__tests__/pickerLayout.test.ts
  src/plugins/Emojis/hooks/pickerLayout.ts
  src/plugins/Emojis/options.ts
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): add StreamEmojiPicker compound components + useEmojiPickerContext
  src/plugins/Emojis/StreamEmojiPicker.tsx
  src/plugins/Emojis/__tests__/StreamEmojiPicker.test.tsx
  src/plugins/Emojis/__tests__/entry-exports.test.ts
  src/plugins/Emojis/components/CategoryNav.tsx
  src/plugins/Emojis/components/EmojiButton.tsx
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/EmojiPickerRoot.tsx
  src/plugins/Emojis/components/PreviewPane.tsx
  src/plugins/Emojis/components/SearchInput.tsx
  src/plugins/Emojis/components/SkinToneSelector.tsx
  src/plugins/Emojis/components/__tests__/CategoryNav.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiButton.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiGrid.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.tsx
  src/plugins/Emojis/components/__tests__/PreviewPane.test.tsx
  src/plugins/Emojis/components/__tests__/SearchInput.test.tsx
  src/plugins/Emojis/components/__tests__/SkinToneSelector.test.tsx
  src/plugins/Emojis/components/index.ts
  src/plugins/Emojis/components/skinTones.ts
  src/plugins/Emojis/context/EmojiPickerContext.tsx
  src/plugins/Emojis/context/EmojiPickerPreviewContext.tsx
  src/plugins/Emojis/context/__tests__/EmojiPickerContext.test.tsx
  src/plugins/Emojis/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(emojis): document StreamEmojiPicker composition + add a composed-grid example
  AI.md
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/EmojiPicker/EmojiPickerTab.tsx
Due: prettier --list-different

fix(examples): scroll the composed emoji grid instead of overflowing
  examples/vite/src/AppSettings/tabs/EmojiPicker/EmojiPickerTab.tsx
Due: prettier --list-different

refactor(emojis): drop componentName args from context hook calls
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/StreamEmojiPicker.tsx
  src/plugins/Emojis/components/CategoryNav.tsx
  src/plugins/Emojis/components/EmojiButton.tsx
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/EmojiPickerRoot.tsx
  src/plugins/Emojis/components/EmptyResults.tsx
  src/plugins/Emojis/components/PreviewPane.tsx
  src/plugins/Emojis/components/SearchInput.tsx
  src/plugins/Emojis/components/SkinToneSelector.tsx
  src/plugins/Emojis/context/EmojiPickerContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(emojis): consolidate picker slot tests into integration coverage
  src/plugins/Emojis/__tests__/StreamEmojiPicker.test.tsx
  src/plugins/Emojis/__tests__/entry-exports.test.ts
  src/plugins/Emojis/components/__tests__/CategoryNav.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiButton.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiGrid.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.tsx
  src/plugins/Emojis/components/__tests__/PreviewPane.test.tsx
  src/plugins/Emojis/components/__tests__/SearchInput.test.tsx
  src/plugins/Emojis/components/__tests__/SkinToneSelector.test.tsx
  src/plugins/Emojis/context/__tests__/EmojiPickerContext.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): stop the emoji grid re-scrolling when categories change
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/__tests__/EmojiGrid.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(emojis): isolate emoji cells from hot picker state via a cell context
  src/plugins/Emojis/components/EmojiButton.tsx
  src/plugins/Emojis/components/EmojiPickerRoot.tsx
  src/plugins/Emojis/components/__tests__/EmojiButton.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiGrid.test.tsx
  src/plugins/Emojis/context/EmojiPickerCellContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
