Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor(poll): adopt the renamed poll validation code family
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(i18n)!: move the translation wiring out of useChat
  ai-docs/i18n-v15-migration.md
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useChat.ts
  src/components/Message/__tests__/Message.test.tsx
  src/i18n/index.ts
  src/i18n/useStreami18n.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: update stream-chat-js version
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix(i18n): defer the browser-language read, restore the week thresholds
  examples/tutorial/package.json
  examples/vite/package.json
  src/i18n/__tests__/catalog.fixture.json
  src/i18n/__tests__/relativeCompactThresholds.test.ts
  src/i18n/__tests__/useStreami18n.test.tsx
  src/i18n/keys.ts
  src/i18n/runtimeDefaults.ts
  src/i18n/useStreami18n.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(i18n): restore the DayjsLocaleConfig export and expose Streami18nState
  src/i18n/types.ts
  src/i18n/useStreami18n.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): move to stream-chat 10.0.0-rc.5
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

feat: move to new upload API (#3272)
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  src/components/Channel/utils.ts
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/ThreadMessageInput.test.tsx
  src/components/Thread/Thread.tsx
  src/components/Thread/hooks/useThreadRequestHandlers.ts
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementView.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adapt to removed stream-chat type aliases
  AI.md
  ai-docs/ai-migration.md
  ai-docs/breaking-changes.md
  examples/tutorial/src/3-channel-list/App.tsx
  examples/vite/src/App.tsx
  specs/message-pagination/decisions.md
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/types.ts
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/useSendMessageFn.ts
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: call moderation through client.moderation
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useFlagHandler.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/Message/hooks/useFlagHandler.ts
  src/components/Message/hooks/useMuteHandler.ts
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: adopt the derived VotingVisibility type
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: key mocked server channel config by cid `client.channelConfigsByTypeStore` is now `client.channelServerConfigs
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Channel/hooks/useChannelConfig.ts
  src/components/Message/__tests__/Message.test.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/mock-builders/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Location): dispose the live location manager on unmount
  src/components/Location/hooks/__tests__/useLiveLocationSharingManager.test.tsx
  src/components/Location/hooks/useLiveLocationSharingManager.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(i18n): handle a rejected Streami18n.init()
  src/i18n/__tests__/useStreami18n.test.tsx
  src/i18n/useStreami18n.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(i18n): trim the init() rejection comments
  src/i18n/__tests__/useStreami18n.test.tsx
  src/i18n/useStreami18n.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(i18n)!: separate UI language from message-translation language
  ai-docs/i18n-v15-migration.md
  examples/vite/docs-playwright/take-tier1-screenshots.mjs
  src/components/Chat/Chat.tsx
  src/i18n/__tests__/useStreami18n.test.tsx
  src/i18n/index.ts
  src/i18n/types.ts
  src/i18n/useStreami18n.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): update the vite example dictionaries for the v15 catalog
  examples/vite/src/i18n/de.ts
  examples/vite/src/i18n/it.ts
Due: prettier --list-different

feat: upgrade stream-chat-js version
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix: daysjs module error
  examples/vite/vite.config.ts
Due: prettier --list-different

fix: build issue for vite example
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClient.ts
Due: prettier --list-different

docs: adjust incorrect comments
  src/components/Channel/Channel.tsx
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adapt to removed stream-chat-js hand-written types (#3274)
  AI.md
  ai-docs/ai-migration.md
  ai-docs/breaking-changes.md
  examples/tutorial/package.json
  examples/tutorial/src/3-channel-list/App.tsx
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/ServerSideClientPromptDialog/serverSideClient.ts
  examples/vite/vite.config.ts
  package.json
  specs/message-pagination/decisions.md
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useFlagHandler.test.tsx
  src/components/Message/hooks/__tests__/useMuteHandler.test.tsx
  src/components/Message/hooks/useFlagHandler.ts
  src/components/Message/hooks/useMuteHandler.ts
  src/components/Message/hooks/useReactionsFetcher.ts
  src/components/Message/types.ts
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/useSendMessageFn.ts
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/__tests__/PollOptionList.test.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/hooks/useFetchReactions.ts
  src/context/MessageContext.tsx
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(build): emit ESM per source module so consumers can tree-shake
  AGENTS.md
  package.json
  vite.config.ts
Due: prettier --list-different

perf(build): emit ESM per source module so consumers can tree-shake (#3275)
  AGENTS.md
  package.json
  vite.config.ts
Due: prettier --list-different

docs: document breaking changes around configuration and channel state
  ai-docs/ai-migration-v14-v15.md
Due: prettier --list-different

chore: fix yarn.lock
  yarn.lock
Due: none

chore: fix demo ConfigurationTab
  examples/vite/src/AppSettings/tabs/Configuration/ConfigurationTab.tsx
Due: prettier --list-different

refactor: remove useChannelConfig hook
  ai-docs/ai-migration-v14-v15.md
  src/components/Channel/Channel.tsx
  src/components/Channel/hooks/__tests__/useChannelConfig.test.tsx
  src/components/Channel/hooks/useChannelConfig.ts
  src/components/Channel/index.ts
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/Message/Message.tsx
  src/components/Message/__tests__/utils.test.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerCommands.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerCommands.ts
  src/components/Thread/Thread.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/Thread.test.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/TypingIndicatorHeader.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: demo how an application can maintain a separate channel list for unread channels
  examples/vite/src/App.tsx
  examples/vite/src/UnreadChannelList.tsx
Due: prettier --list-different

fix: prevent reporting failed messages as delivered
  src/components/Message/MessageStatus.tsx
  src/components/Message/__tests__/MessageStatus.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(demo): allow to configure failing attachment uploads
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Composer/ComposerTab.tsx
  examples/vite/src/SendWhilePendingUploads/index.ts
  examples/vite/src/SendWhilePendingUploads/slowUploads.ts
  examples/vite/src/SendWhilePendingUploads/uploadHarness.ts
Due: prettier --list-different

refactor(MessageComposer): derive pending-upload sendability from the installed middleware
  examples/vite/src/App.tsx
  examples/vite/src/Debug/ComposerStateInspector.tsx
  examples/vite/src/Debug/README.md
  src/components/Channel/Channel.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/MessageComposer/MessageComposer.tsx
  src/components/MessageComposer/hooks/__tests__/useSubmitHandler.test.tsx
  src/components/MessageComposer/hooks/useMessageComposerHasSendableData.ts
  src/components/MessageComposer/hooks/useSendMessagesWithPendingUploads.ts
  src/components/MessageComposer/hooks/useSubmitHandler.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/context/ChatContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v9.52.0
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 14.12.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  0fb5ac3064e476cd847624a1a0d7d06b4b10ff61
Due: none

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
