Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Initial commit
  package.json
  src/styling/_emoji-replacement.scss
  src/styling/_variables.scss
  src/styling/assets/icons/stream-chat-icons.eot
  src/styling/assets/icons/stream-chat-icons.svg
  src/styling/assets/icons/stream-chat-icons.ttf
  src/styling/assets/icons/stream-chat-icons.woff
  src/styling/assets/icons/stream-chat-icons.woff2
  src/styling/icons.scss
  src/styling/index.scss
  yarn.lock
Due: prettier --list-different

fix: clean up CSS build output (#3072)
  package.json
  src/styling/_emoji-replacement.scss
  src/styling/_variables.scss
  src/styling/assets/icons/stream-chat-icons.eot
  src/styling/assets/icons/stream-chat-icons.svg
  src/styling/assets/icons/stream-chat-icons.ttf
  src/styling/assets/icons/stream-chat-icons.woff
  src/styling/assets/icons/stream-chat-icons.woff2
  src/styling/icons.scss
  src/styling/index.scss
  yarn.lock
Due: prettier --list-different

docs: track react v14 style import cleanup
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

docs: track react v14 style import cleanup (#3073)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

Initial commit
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/CardAudio.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/Dialog/styling/Viewer.scss
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Message/styling/MessageIsThreadReplyInChannelButtonIndicator.scss
  src/components/Message/styling/MessageSystem.scss
  src/components/Message/styling/index.scss
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageBounce/styling/MessageBouncePrompt.scss
  src/components/MessageComposer/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageList/styling/NewMessageNotification.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Thread/styling/ThreadHeaderMain.scss
  src/components/Thread/styling/index.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/styling/_palette-variables.scss
  src/styling/_utils.scss
  src/styling/animations.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

WIP: to be reviewed
  src/components/Message/styling/Message.scss
  src/styling/_global-layout-variables.scss
  src/styling/_global-theme-variables.scss
Due: none

fix(Icons): use Flat/16 SVGs for arrow-up, message-bubbles, and unpin
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(Icons): remove 71 unused icon exports
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.0.0-beta.4 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  cf682c2f718252b6de296577eae62beba065bec6
Due: none

chore: wip: virtuoso update
  examples/vite/yarn.lock
  package.json
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): set width on message list scroll container
  examples/vite/src/index.scss
  src/components/MessageList/styling/MessageList.scss
Due: none

feat(examples): refresh react tutorial app for v14
  examples/tutorial/README.md
  examples/tutorial/package.json
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/src/7-livestream/layout.css
  examples/tutorial/src/App.tsx
  examples/tutorial/src/tutorial-main.css
  examples/tutorial/vite.config.ts
  examples/tutorial/yarn.lock
Due: prettier --list-different

fix(MessageList): set width on message list scroll container (#3077)
  examples/vite/src/index.scss
  src/components/MessageList/styling/MessageList.scss
Due: none

fix(examples): stretch tutorial browser shell
  examples/tutorial/src/tutorial-main.css
Due: none

refactor(examples): simplify tutorial browser setup
  examples/tutorial/README.md
  examples/tutorial/package.json
  examples/tutorial/src/1-client-setup/App.tsx
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/vite.config.ts
  examples/tutorial/yarn.lock
Due: prettier --list-different

feat(examples): refresh react tutorial app for v14 (#3078)
  examples/tutorial/README.md
  examples/tutorial/package.json
  examples/tutorial/src/1-client-setup/App.tsx
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/src/7-livestream/layout.css
  examples/tutorial/src/App.tsx
  examples/tutorial/src/tutorial-main.css
  examples/tutorial/vite.config.ts
  examples/tutorial/yarn.lock
Due: prettier --list-different

fix: close CSS gaps in SDK layout and fix ChannelList dialog portal
  examples/vite/src/index.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChannelList/ChannelList.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/Thread/styling/Thread.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: shorten imports
  examples/vite/src/App.tsx
Due: prettier --list-different

chore: fix trailing newline in Thread.scss
  src/components/Thread/styling/Thread.scss
Due: none

fix(Icons): fix filled icons and remove unused icon exports
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  src/components/ChatView/ChatView.tsx
  src/components/Icons/icons.tsx
  src/components/MessageActions/styling/MessageActions.scss
  src/components/Notifications/Notification.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: close CSS gaps, fix ChannelList dialog portal, and clean up icons (#3079)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/index.scss
  src/components/Channel/styling/Channel.scss
  src/components/ChannelList/ChannelList.tsx
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/styling/ChatView.scss
  src/components/Icons/icons.tsx
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/Notifications/Notification.tsx
  src/components/Thread/styling/Thread.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Icons): sync icon catalog with refreshed Line SVGs
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/Icons/icons.tsx
  src/components/MessageComposer/CommandChip.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Icons): sync icon catalog with refreshed Line SVGs (#3080)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelList/ChannelListHeader.tsx
  src/components/Icons/icons.tsx
  src/components/MessageComposer/CommandChip.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Threads/ThreadList/ThreadListHeader.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Attachment): use pixel-based sizing constraints for Giphy images
  src/components/Attachment/styling/Giphy.scss
Due: none

Initial commit
  src/components/Message/Message.tsx
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/__tests__/MessageReactions.test.tsx
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/common.scss
  src/components/Reactions/types.ts
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Poll): show user ID instead of "Anonymous" for voters without display name
  src/components/AudioPlayback/styling/PlaybackRateButton.scss
  src/components/Form/SwitchField.tsx
  src/components/Poll/PollVote.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Dialog): prevent dialog overlay from blocking pointer events
  src/components/Dialog/service/DialogPortal.tsx
  src/components/Dialog/styling/Dialog.scss
  src/components/MessageActions/__tests__/MessageActions.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageComposer): hide textarea scrollbar inside rounded compose area
  src/components/MessageComposer/styling/MessageComposer.scss
Due: none

fix: post-review `MessageReactionsDetail` adjustments (#3082)
  src/components/Message/Message.tsx
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/__tests__/MessageReactions.test.tsx
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/common.scss
  src/components/Reactions/types.ts
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Message): prevent editing Giphy messages
  src/components/Message/hooks/useUserRole.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageComposer): restore pre-edit composer state when cancelling edit
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageComposer/MessageComposerUI.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/__tests__/preEditSnapshot.test.ts
  src/components/MessageComposer/hooks/useSubmitHandler.ts
  src/components/MessageComposer/preEditSnapshot.ts
  src/context/MessageBounceContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelHeader, ThreadHeader): truly center title text
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/styling/ThreadHeader.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(examples): add RTL direction toggle to vite example app
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/AppSettings/tabs/General/index.ts
Due: prettier --list-different

feat(examples): add RTL direction toggle to vite example app (#3084)
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/AppSettings/tabs/General/index.ts
Due: prettier --list-different

fix(Dialog, Modal): scope ChannelList dialog overlay and restore modal pointer events
  src/components/ChannelList/styling/ChannelList.scss
  src/components/Modal/styling/Modal.scss
Due: none

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
