Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: validate max number of poll votes based on input validity (#2701)
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

fix: inject error into PollComposer state if native numeric field validation fails (#2702)
  package.json
  src/components/Poll/PollCreationDialog/MultipleAnswersField.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: reset message composer state partially when poll message is sent (#2703)
  src/components/MessageInput/hooks/useSubmitHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps-dev): bump @stream-io/stream-chat-css from 5.9.0 to 5.9.1
  package.json
  yarn.lock
Due: prettier --list-different

Fix lint issues
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Extend dialogManagerId's with dictinct strings to prevent UI clashes
  src/components/Dialog/DialogManager.ts
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/__tests__/DialogsManager.test.js
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/UtilityComponents/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: extend dialogManagerId's with dictinct strings (#2696)
  src/components/Dialog/DialogManager.ts
  src/components/Dialog/DialogPortal.tsx
  src/components/Dialog/__tests__/DialogsManager.test.js
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/UtilityComponents/useStableId.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  4bf7c5b588ba308c0ae48c94261c4a1c05f3a1ac
Due: none

chore(release): 12.15.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  3dc7673ebfc3b3519ccc0ac5af80f2f8e9cf576f
Due: none

chore(deps): bump @stream-io/stream-chat-css from 5.9.0 to 5.9.1
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 12.15.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  b68ab80f59670813c4a337f328f323e9881af759
Due: none

fix: account for polls with no options in PollHeader text
  src/components/Poll/PollHeader.tsx
  src/components/Poll/__tests__/PollHeader.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: account for polls with no options in PollHeader text (#2713)
  src/components/Poll/PollHeader.tsx
  src/components/Poll/__tests__/PollHeader.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent page reload on FormDialog submission with Enter key
  src/components/Dialog/FormDialog.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent page reload on FormDialog submission with Enter key (#2715)
  src/components/Dialog/FormDialog.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Export useAudioController hook
  src/components/Attachment/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: export useAudioController hook (#2717)
  src/components/Attachment/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  1052f3a304f6f8c45cdfd76959a145db3806d01f
Due: none

chore(release): 12.15.4 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  0e2231129a65f51702818520d5eafe2a2c340bf5
Due: none

chore(deps): upgrade stream-chat-css to version 5.9.2
  package.json
  yarn.lock
Due: prettier --list-different

chore(release): 13.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  0a4ffde8ef1cd8536b24d7d7a877c171b163cd52
Due: none

chore(release): 13.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  3d53fb20fe9dc9482827da6c1e7950762ff71a81
Due: none

feat: add translation building capability to Streami18n
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageList/MessageListNotifications.tsx
  src/components/Notifications/hooks/index.ts
  src/components/Notifications/hooks/useNotifications.ts
  src/components/Notifications/index.ts
  src/components/index.ts
  src/i18n/Streami18n.ts
  src/i18n/TranslationBuilder/TranslationBuilder.ts
  src/i18n/TranslationBuilder/index.ts
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/attachmentUpload.ts
  src/i18n/TranslationBuilder/notifications/index.ts
  src/i18n/TranslationBuilder/notifications/types.ts
  src/i18n/__tests__/NotificationTranslationBuilder.test.js
  src/i18n/__tests__/Streami18n.test.js
  src/i18n/__tests__/TranslationBuilder.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/index.ts
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add translation building for poll.creation.failed notification
  src/components/Poll/__tests__/PollCreationDialog.test.js
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/pollComposition.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(release): 12.15.5 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  f3430c76baab7825fe390d0fd28775ec3a4079d7
Due: none

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
