Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat(LayoutController): add translations to "aria/Go back"
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

feat: redesign SendToChannelCheckbox (#2971)
  examples/vite/src/index.scss
  src/components/MessageInput/SendToChannelCheckbox.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageInput/styling/SendToChannelCheckbox.scss
  src/components/MessageInput/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/App.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/reactionOptions.tsx
  src/components/Reactions/styling/ReactionSelector.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: extended reaction selector (#2972)
  examples/vite/src/App.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/reactionOptions.tsx
  src/components/Reactions/styling/ReactionSelector.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(LayoutController): implement Slot Self-Visibility from Slot Prop and Remove Entity Semantics from LayoutController (Slot-Only Controller)
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.js
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/ChatViewNavigationContext.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/__tests__/ChatViewNavigation.test.tsx
  src/components/ChatView/__tests__/layoutController.test.ts
  src/components/ChatView/layout/Slot.tsx
  src/components/ChatView/layout/WorkspaceLayout.tsx
  src/components/ChatView/layoutController/LayoutController.ts
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/ChatView/layoutController/serialization.ts
  src/components/ChatView/layoutSlotResolvers.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
  src/components/Thread/ThreadSlot.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(channel): remove thread pagination from channel contexts
  src/components/Channel/Channel.tsx
  src/components/Channel/channelState.ts
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/ChatView/specs/layoutController/decisions.md
  src/components/ChatView/specs/layoutController/plan.md
  src/components/ChatView/specs/layoutController/spec.md
  src/components/ChatView/specs/layoutController/state.json
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/components/MessageList/__tests__/ScrollToLatestMessageButton.test.js
  src/components/Thread/ThreadStart.tsx
  src/components/Thread/__tests__/ThreadStart.test.js
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.js
  src/components/Window/Window.tsx
  src/components/Window/__tests__/Window.test.js
  src/context/ChannelActionContext.tsx
  src/context/ChannelStateContext.tsx
  src/context/useChannel.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add ChannelPreview styling
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/ChannelPreviewTimestamp.tsx
  src/components/ChannelPreview/icons.tsx
  src/components/ChannelPreview/index.ts
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/ChannelPreview/styling/index.scss
  src/components/Icons/icons.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Add white border to Avatar component
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Avatar/styling/GroupAvatar.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Render MessageRepliesCountButton higher than MessageBubble to prevent z-index issues
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust message composer controls total height
  src/components/MessageInput/styling/MessageComposer.scss
Due: none

feat(chatview): remove ChatContext active channel/nav routing; add useSlotEntity and ChannelSlot
  examples/vite/src/App.tsx
  specs/message-pagination/decisions.md
  specs/message-pagination/plan.md
  specs/message-pagination/spec.md
  specs/message-pagination/state.json
  src/components/Attachment/Geolocation.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/ChannelSlot.tsx
  src/components/Channel/hooks/useEditMessageHandler.ts
  src/components/Channel/index.ts
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/ChannelPreviewMessenger.test.js
  src/components/ChannelSearch/hooks/useChannelSearch.ts
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.js
  src/components/Chat/hooks/useChat.ts
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/ChatView/__tests__/ChatViewNavigation.test.tsx
  src/components/ChatView/__tests__/useSlotEntity.test.tsx
  src/components/ChatView/hooks/index.ts
  src/components/ChatView/hooks/useSlotEntity.ts
  src/components/ChatView/index.tsx
  src/components/ChatView/layoutController/layoutControllerTypes.ts
  src/components/MessageList/ScrollToLatestMessageButton.tsx
  src/components/Thread/ThreadSlot.tsx
  src/context/ChatContext.tsx
  src/experimental/Search/SearchResults/SearchResultItem.tsx
  src/experimental/Search/__tests__/SearchResultItem.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove Hardcoded `channel.messagePaginator` Usage from React Lists
  specs/message-pagination/decisions.md
  specs/message-pagination/plan.md
  specs/message-pagination/state.json
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust LoadMoreButton to use Button
  src/components/LoadMore/LoadMoreButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: keep suppressAutoscrol management inside message lists
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
  src/components/MessageList/hooks/__tests__/useMessageListScrollManager.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

useLatestMessagePreview (AI-gen)
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/hooks/index.ts
  src/components/ChannelPreview/hooks/useLatestMessagePreview.ts
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

WIP: buttons
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: adapt bootstrap/loading/error guards, listener lifecycle, mark-read-on-mount, search-focused jump for Channel and rewrite Channel tests
  specs/message-pagination/decisions.md
  specs/message-pagination/plan.md
  specs/message-pagination/spec.md
  specs/message-pagination/state.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Replace p elements with spans
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: channel preview redesign (#2974)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/AvatarStack.scss
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/ChannelPreviewTimestamp.tsx
  src/components/ChannelPreview/hooks/index.ts
  src/components/ChannelPreview/hooks/useLatestMessagePreview.ts
  src/components/ChannelPreview/icons.tsx
  src/components/ChannelPreview/index.ts
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/ChannelPreview/styling/index.scss
  src/components/Icons/icons.tsx
  src/components/LoadMore/LoadMoreButton.tsx
  src/components/Message/MessageSimple.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: clear channelUnreadUiState upon clicking on UnreadMessagesSeparator clear button
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/UnreadMessagesSeparator.tsx
  src/components/MessageList/hooks/MessageList/useMessageListElements.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent showing NewMessageNotification & ScrollToLatestMessageButton when irrelevant
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChannelPreview/hooks/useLatestMessagePreview.ts
  src/components/ChannelPreview/utils.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/styling/ThreadListItem.scss
  src/components/Threads/ThreadList/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Another update
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/styling/ThreadListItem.scss
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/pt.json
  src/i18n/ru.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: introduce thread preview redesign (#2975)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/hooks/useLatestMessagePreview.ts
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/ChannelPreview/utils.tsx
  src/components/Threads/ThreadList/ThreadListItem.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/styling/ThreadListItem.scss
  src/components/Threads/ThreadList/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: make sure to scroll to the bottom, when the first batch of messages arrive in MessageList
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: update reply count in MessageRepliesCountButton
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/__tests__/MessageRepliesCountButton.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reflect deleted message text in QuotedMessagePreview
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: show cursor pointer when hovering above QuotedMessage in message list
  src/components/Message/styling/QuotedMessage.scss
Due: none

fix: make the UnreadMessagesSeparator driven by MessagePaginator unread state snapshot
  src/components/MessageList/__tests__/utils.test.ts
  src/components/MessageList/hooks/MessageList/useUnreadMessagesNotification.ts
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: update empty states across chat views
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  package.json
  scripts/watch-styling.mjs
  src/components/Button/Button.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/__tests__/__snapshots__/Channel.test.js.snap
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelList/styling/index.scss
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.js
  src/components/EmptyStateIndicator/EmptyStateIndicator.tsx
  src/components/EmptyStateIndicator/__tests__/EmptyStateIndicator.test.js
  src/components/EmptyStateIndicator/icons.tsx
  src/components/Icons/BaseIcon.tsx
  src/components/Icons/createIcon.tsx
  src/components/Icons/icons.tsx
  src/components/Message/MessageBubble.tsx
  src/components/MessageList/hooks/MessageList/useFloatingDateSeparatorMessageList.ts
  src/components/Threads/ThreadList/ThreadListEmptyPlaceholder.tsx
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_utils.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: refine chat view empty states
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.js
  src/components/EmptyStateIndicator/EmptyStateIndicator.tsx
  src/components/EmptyStateIndicator/__tests__/EmptyStateIndicator.test.js
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/components/Threads/icons.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: hide sidebar toggle button in ChannelHeader
  src/components/ChannelHeader/ChannelHeader.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(chat-view): align web sidebar nav icons with mobile tab bar
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.js
  src/components/ChatView/styling/ChatView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: align web sidebar nav icons with mobile tab bar (#2979)
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.js
  src/components/ChatView/styling/ChatView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/hooks/index.ts
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
  src/components/SummarizedMessagePreview/index.ts
  src/components/SummarizedMessagePreview/styling/SummarizedMessagePreview.scss
  src/components/SummarizedMessagePreview/styling/index.scss
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/components/Threads/ThreadList/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations
