Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

refactor: move event listener registration to AudioPlayer
  src/components/AudioPlayer/AudioPlayer.ts
  src/components/AudioPlayer/AudioPlayerPool.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: differentiates between in thread and in channel audio player with the same asset url
  src/components/Attachment/Audio.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/Card.test.js
  src/components/Attachment/__tests__/VoiceRecording.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: adjust JSDoc string
  src/components/AudioPlayer/WithAudioPlayback.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: export AudioPlayerPlugin types
  src/components/AudioPlayer/index.ts
  src/components/AudioPlayer/plugins/AudioPlayerPlugin.ts
  src/components/AudioPlayer/plugins/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: add players getter to AudioPlayerPool
  src/components/AudioPlayer/AudioPlayerPool.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove unnecessary audio player subscription registration when no player is available
  src/components/AudioPlayer/WithAudioPlayback.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove stale message status for the last loaded message on returnAllReadData false
  src/components/MessageList/hooks/useLastDeliveredData.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove stale message status for the last loaded message on returnAllReadData false (#2881)
  src/components/MessageList/hooks/useLastDeliveredData.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.11.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  0d19777c9f47568c4ef20f90f851d5c6777b0c5b
Due: none

chore: replace useState with useRef for cachedOptions in useCreateChatClient
  src/components/Chat/hooks/useCreateChatClient.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add cachedOptions ref to useEffect deps to align with React hook rules
  src/components/Chat/hooks/useCreateChatClient.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): feat: implement code fencing properly and include code highlighting (GetStream/ai-components-js#3)
  examples/ai-chatbot/src/App.tsx
Due: prettier --list-different

fix: keep audio player pool in provider context
  src/components/AudioPlayer/WithAudioPlayback.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove audio elements when VoiceRecordingPreview and AudioRecordingPreview are unmounted
  src/components/AudioPlayer/AudioPlayer.ts
  src/components/AudioPlayer/AudioPlayerPool.ts
  src/components/AudioPlayer/__tests__/AudioPlayer.test.js
  src/components/AudioPlayer/__tests__/WithAudioPlayback.test.js
  src/components/AudioPlayer/plugins/AudioPlayerRequestRemovalPlugin.ts
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce possibility to limit audio playback to a single audio
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/Card.test.js
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/AudioPlayer/AudioPlayer.ts
  src/components/AudioPlayer/AudioPlayerPool.ts
  src/components/AudioPlayer/WithAudioPlayback.tsx
  src/components/AudioPlayer/__tests__/AudioPlayer.test.js
  src/components/AudioPlayer/__tests__/AudioPlayerPool.test.js
  src/components/AudioPlayer/__tests__/WithAudioPlayback.test.js
  src/components/AudioPlayer/plugins/AudioPlayerRequestRemovalPlugin.ts
  src/components/Channel/Channel.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.js
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: flip allowConcurrentAudioPlayback to disabled
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/Card.test.js
  src/components/AudioPlayer/AudioPlayerPool.ts
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add useActiveAudioPlayer hook
  src/components/Attachment/Audio.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/Card.test.js
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/index.ts
  src/components/AudioPlayback/AudioPlayer.ts
  src/components/AudioPlayback/AudioPlayerPool.ts
  src/components/AudioPlayback/WithAudioPlayback.tsx
  src/components/AudioPlayback/__tests__/AudioPlayer.test.js
  src/components/AudioPlayback/__tests__/AudioPlayerPool.test.js
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.js
  src/components/AudioPlayback/index.ts
  src/components/AudioPlayback/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/AudioPlayback/plugins/AudioPlayerPlugin.ts
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.js
  src/components/AudioPlayback/plugins/index.ts
  src/components/Channel/Channel.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.js
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: keep the AudioPlayer descriptor data updated when its retrieval from the pool
  src/components/AudioPlayback/AudioPlayer.ts
  src/components/AudioPlayback/AudioPlayerPool.ts
  src/components/AudioPlayback/__tests__/AudioPlayerPool.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: export * from AudioPlayer
  src/components/AudioPlayback/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: add docstrings to AudioPlayerState
  src/components/AudioPlayback/AudioPlayer.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent closing EditMessageForm on non-sbumit button click
  src/components/Attachment/Geolocation.tsx
  src/components/Attachment/__tests__/__snapshots__/Card.test.js.snap
  src/components/Attachment/components/PlayButton.tsx
  src/components/Attachment/components/PlaybackRateButton.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/GeolocationPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent closing EditMessageForm on non-sbumit button click (#2884)
  src/components/Attachment/Geolocation.tsx
  src/components/Attachment/__tests__/__snapshots__/Card.test.js.snap
  src/components/Attachment/components/PlayButton.tsx
  src/components/Attachment/components/PlaybackRateButton.tsx
  src/components/MessageInput/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/GeolocationPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/ImageAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/UnsupportedAttachmentPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce centralized audio playback (#2880)
  src/components/Attachment/Audio.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/Card.test.js
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/__tests__/__snapshots__/Card.test.js.snap
  src/components/Attachment/hooks/useAudioController.ts
  src/components/Attachment/index.ts
  src/components/AudioPlayback/AudioPlayer.ts
  src/components/AudioPlayback/AudioPlayerPool.ts
  src/components/AudioPlayback/WithAudioPlayback.tsx
  src/components/AudioPlayback/__tests__/AudioPlayer.test.js
  src/components/AudioPlayback/__tests__/AudioPlayerPool.test.js
  src/components/AudioPlayback/__tests__/WithAudioPlayback.test.js
  src/components/AudioPlayback/index.ts
  src/components/AudioPlayback/plugins/AudioPlayerNotificationsPlugin.ts
  src/components/AudioPlayback/plugins/AudioPlayerPlugin.ts
  src/components/AudioPlayback/plugins/__tests__/AudioPlayerNotificationsPlugin.test.js
  src/components/AudioPlayback/plugins/index.ts
  src/components/Channel/Channel.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.js
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.js.snap
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/index.ts
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/browserAudioPlaybackError.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.12.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  af2f0e15a0fe3542c22292e40ac390b5811b5f3f
Due: none

chore(examples): add React compiler to vite example app
  examples/typescript/.gitignore
  examples/typescript/package.json
  examples/typescript/public/favicon.ico
  examples/typescript/public/index.html
  examples/typescript/public/logo192.png
  examples/typescript/public/logo512.png
  examples/typescript/public/manifest.json
  examples/typescript/public/robots.txt
  examples/typescript/src/App.tsx
  examples/typescript/src/components/ChannelInner.tsx
  examples/typescript/src/components/CustomMessage.scss
  examples/typescript/src/components/CustomMessage.tsx
  examples/typescript/src/index.scss
  examples/typescript/src/index.tsx
  examples/typescript/src/logo.svg
  examples/typescript/src/react-app-env.d.ts
  examples/typescript/src/serviceWorker.ts
  examples/typescript/src/setupTests.ts
  examples/typescript/tsconfig.json
  examples/typescript/yarn.lock
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/vite.config.ts
  examples/vite/yarn.lock
Due: prettier --list-different

chore(ai-import): feat: charts and graphs support (GetStream/ai-components-js#5)
  examples/ai-chatbot/src/App.tsx
Due: prettier --list-different

chore(examples): add React compiler to vite example app (#2886)
  examples/typescript/.gitignore
  examples/typescript/package.json
  examples/typescript/public/favicon.ico
  examples/typescript/public/index.html
  examples/typescript/public/logo192.png
  examples/typescript/public/logo512.png
  examples/typescript/public/manifest.json
  examples/typescript/public/robots.txt
  examples/typescript/src/App.tsx
  examples/typescript/src/components/ChannelInner.tsx
  examples/typescript/src/components/CustomMessage.scss
  examples/typescript/src/components/CustomMessage.tsx
  examples/typescript/src/index.scss
  examples/typescript/src/index.tsx
  examples/typescript/src/logo.svg
  examples/typescript/src/react-app-env.d.ts
  examples/typescript/src/serviceWorker.ts
  examples/typescript/src/setupTests.ts
  examples/typescript/tsconfig.json
  examples/typescript/yarn.lock
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/vite.config.ts
  examples/vite/yarn.lock
Due: prettier --list-different

chore(ai-import): feat(react-sdk): StreamingMessage & AIMessageComposer (GetStream/ai-components-js#2)
  examples/ai-chatbot/eslint.config.js
  examples/ai-chatbot/package.json
  examples/ai-chatbot/public/vite.svg
  examples/ai-chatbot/src/App.css
  examples/ai-chatbot/src/App.tsx
  examples/ai-chatbot/src/Root.tsx
  examples/ai-chatbot/src/assets/react.svg
  examples/ai-chatbot/src/index.css
  examples/ai-chatbot/src/index.scss
  examples/ai-chatbot/src/main.tsx
  examples/ai-chatbot/tsconfig.app.json
  examples/ai-chatbot/tsconfig.node.json
  src/plugins/AIComponents/components/ai-markdown.tsx
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
  src/plugins/AIComponents/components/composer/file-preview.tsx
  src/plugins/AIComponents/components/composer/use-speech-to-text.ts
  src/plugins/AIComponents/components/error-boundary.tsx
  src/plugins/AIComponents/components/streaming-message.tsx
  src/plugins/AIComponents/components/tools/charts/chartJsSchema.ts
  src/plugins/AIComponents/components/tools/charts/charts.tsx
  src/plugins/AIComponents/components/tools/charts/suspended.tsx
  src/plugins/AIComponents/components/tools/index.ts
  src/plugins/AIComponents/hooks/use-stable-callback.ts
  src/plugins/AIComponents/index.ts
  src/plugins/AIComponents/styles/ai-message-composer.scss
  src/plugins/AIComponents/styles/file-preview.scss
  src/plugins/AIComponents/styles/index.scss
  src/plugins/AIComponents/styles/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): feat: react demo (GetStream/ai-components-js#8)
  examples/ai-chatbot/implementation.md
  examples/ai-chatbot/index.html
  examples/ai-chatbot/src/Root.tsx
  examples/ai-chatbot/src/ai-demo.scss
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.scss
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/AIChatApp/index.ts
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.scss
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
  examples/ai-chatbot/src/components/AIStateIndicator/index.ts
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.scss
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/ChatContainer/index.ts
  examples/ai-chatbot/src/components/EmptyState/EmptyState.scss
  examples/ai-chatbot/src/components/EmptyState/EmptyState.tsx
  examples/ai-chatbot/src/components/EmptyState/index.ts
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.scss
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.tsx
  examples/ai-chatbot/src/components/MessageBubble/index.ts
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/MessageInputBar/index.ts
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.scss
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.scss
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarFooter.scss
  examples/ai-chatbot/src/components/Sidebar/SidebarFooter.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarHeader.scss
  examples/ai-chatbot/src/components/Sidebar/SidebarHeader.tsx
  examples/ai-chatbot/src/components/Sidebar/index.ts
  examples/ai-chatbot/src/components/TopNavBar/TopNavBar.scss
  examples/ai-chatbot/src/components/TopNavBar/TopNavBar.tsx
  examples/ai-chatbot/src/components/TopNavBar/index.ts
  examples/ai-chatbot/src/components/index.ts
  examples/ai-chatbot/src/contexts/ThemeContext.tsx
  examples/ai-chatbot/src/index.scss
  examples/ai-chatbot/src/stream-chat.d.ts
  src/plugins/AIComponents/components/composer/ai-message-composer.tsx
  src/plugins/AIComponents/styles/ai-message-composer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): feat(react-native): trigger initial version release (GetStream/ai-components-js#11)
  examples/ai-chatbot/package.json
Due: prettier --list-different

feat: support overriding components in MessageList
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.js
  src/components/MessageList/renderMessages.tsx
  src/context/ComponentContext.tsx
  src/context/MessageListContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: support overriding components in MessageList (#2890)
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.js
  src/components/MessageList/renderMessages.tsx
  src/context/ComponentContext.tsx
  src/context/MessageListContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use WithComponents instead of ComponentProvider in tests
  src/components/MessageList/__tests__/MessageList.test.js
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use WithComponents instead of ComponentProvider in tests (#2891)
  src/components/MessageList/__tests__/MessageList.test.js
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.13.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  bbb536b30cc6f7817a2e8f1c9d8b29dd2d8ce57d
Due: none

chore(ai-import): adjust package names, update server url
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/index.scss
Due: prettier --list-different

chore(ai-import): feat: implement summarization
  examples/ai-chatbot/src/Root.tsx
  examples/ai-chatbot/src/api.ts
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
  examples/ai-chatbot/src/components/TopNavBar/TopNavBar.tsx
Due: prettier --list-different
