Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat: add pin icon to the ChannelListItemUI (#3163)
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent overriding active channel UI on ChannelList pagination error (#3164)
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Channel/__tests__/__snapshots__/Channel.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent message-bubble area from growing
  src/components/Message/styling/Message.scss
Due: none

chore(demo): add WebSocketEventPromptDialog for event triggering simulation
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/DraggableDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/MessageInfoPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/index.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/types.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventPipelineStorage.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
Due: prettier --list-different

chore(demo): fix dropdown z-index
  examples/vite/src/AppSettings/AppSettings.scss
Due: none

feat: add matchReferenceWidth to DropdownProps
  src/components/Form/Dropdown.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: respect event.defaultPrevented in DialogAnchor in hide on Escape
  src/components/Dialog/__tests__/DialogPortal.test.tsx
  src/components/Dialog/service/DialogAnchor.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add matchReferenceWidth to DropdownProps (#3166)
  src/components/Dialog/__tests__/DialogPortal.test.tsx
  src/components/Dialog/service/DialogAnchor.tsx
  src/components/Form/Dropdown.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent messages being squashed in narrow message lists (#3153)
  examples/vite/index.html
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/BaseImage/BaseImage.tsx
  src/components/BaseImage/styling/ImagePlaceholder.scss
  src/components/Gallery/__tests__/ModalGallery.test.tsx
  src/components/Message/styling/Message.scss
  src/components/Poll/styling/Poll.scss
  src/components/Search/styling/Search.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): fix incorrect type use
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
Due: prettier --list-different

chore(demo): add WebSocketEventPromptDialog for event triggering simulation (#3165)
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/DraggableDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/MessageInfoPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/index.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/types.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventPipelineStorage.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
Due: prettier --list-different

fix: allow content overflow in generic Button
  src/components/Button/styling/Button.scss
Due: none

fix(Avatar): fall back to initials when imageUrl is an empty string
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Avatar): fall back to initials when imageUrl is an empty string (#3168)
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: bump @semantic-release/github to ^12.0.6
  package.json
  yarn.lock
Due: prettier --list-different

chore: align types with @types/react@19
  src/components/Gallery/ModalGallery.tsx
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: bump @semantic-release/github to ^12.0.6 (#3170)
  package.json
  yarn.lock
Due: prettier --list-different

chore: bump @semantic-release/github to ^12.0.6 (#3169)
  package.json
  src/components/Gallery/ModalGallery.tsx
  src/components/Message/renderText/renderText.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce selective command enablement based on message editing or quoting in message composer
  package.json
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerCommands.test.tsx
  src/components/MessageComposer/hooks/index.ts
  src/components/MessageComposer/hooks/useMessageComposerCommands.ts
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
  src/i18n/TranslationBuilder/notifications/translators.ts
  src/i18n/TranslationBuilder/notifications/translatorsByNotificationType.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: yarn install
  yarn.lock
Due: none

chore(demo): fix types in websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
Due: prettier --list-different

Initial commit
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/hooks/ReactionPaginator.ts
  src/components/Reactions/hooks/useReactionPaginator.ts
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix types for WebSocketEventPromptDialog
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/types.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
Due: prettier --list-different

chore(demo): remove the channel metadata property
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
Due: prettier --list-different

feat: clear command mode in message composer using keyboard
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: allow content overflow in generic Button (#3167)
  src/components/Button/styling/Button.scss
Due: none

feat: prevent showing commands message composer suggestion list if all disabled
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add border to audio speed toggle button
  src/components/MessageComposer/styling/AttachmentPreview.scss
Due: none

fix: unify input and textarea placeholder colors
  src/components/Form/styling/NumericInput.scss
  src/components/Form/styling/TextInput.scss
  src/styling/base.scss
Due: none

fix: remove the border from ScrollToLatestMessageButton
  src/components/MessageList/ScrollToLatestMessageButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce selective command enablement based on message editing or quoting in message composer (#3171)
  examples/vite/src/AppSettings/ActionsMenu/AttachmentPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/WebSocketEventPromptDialog.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/types.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
  package.json
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageComposer/hooks/__tests__/useMessageComposerCommands.test.tsx
  src/components/MessageComposer/hooks/index.ts
  src/components/MessageComposer/hooks/useMessageComposerCommands.ts
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
  src/i18n/TranslationBuilder/notifications/translators.ts
  src/i18n/TranslationBuilder/notifications/translatorsByNotificationType.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): make ChannelListItemActionButtons accessible with keyboard
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/styling/ChannelListItem.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): prevent file upload dropzone from being focusable
  src/components/MessageComposer/WithDragAndDropUpload.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: clear command mode in message composer using keyboard (#3175)
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): announce message bubble text with context
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: make ModalGallery image outline visible
  src/components/Attachment/styling/ModalGallery.scss
Due: none

chore(demo): add explicit page limit for channels query
  examples/vite/src/App.tsx
Due: prettier --list-different

feat(a11y): make ChannelListItemActionButtons accessible with keyboard (#3176)
  src/components/ChannelListItem/ChannelListItemActionButtons.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/styling/ChannelListItem.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
