Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

chore: extract inline css into separate repo
  src/components/AITypingIndicatorView/AITypingIndicatorView.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: remove display name
  src/components/Message/StreamingMessageView.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: report correct package version in esm build (#2569)
  package.json
  scripts/bundle-cjs.mjs
  scripts/bundle-esm.mjs
  scripts/getPackageVersion.mjs
  src/components/Chat/hooks/useChat.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.6.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  36/c34cb76b5ea2f8aa18d41eca5b1d07d3aa0ec9
Due: none

chore: update event names as per the changes
  src/components/AITypingIndicatorView/hooks/useAIState.ts
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: remove ts-ignore
  src/components/AITypingIndicatorView/hooks/useAIState.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: stop ai generation button PR remarks
  src/components/Channel/Channel.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/StopAIGenerationButton.tsx
  src/components/MessageInput/StopGeneratingButton.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: rename typing indicator
  examples/vite/src/App.tsx
  src/components/AITypingIndicatorView/AITypingIndicator.tsx
  src/components/AITypingIndicatorView/index.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: properly rename indicator fix hook type
  examples/vite/src/App.tsx
  src/components/AITypingIndicatorView/AIGenerationIndicator.tsx
  src/components/AITypingIndicatorView/hooks/useAIState.ts
  src/components/AITypingIndicatorView/index.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: rename streamed message comp
  src/components/Message/MessageSimple.tsx
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/useStreamingMessage.ts
  src/components/Message/index.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: rename
  src/components/Message/StreamedMessageText.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: prop renaming
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/useStreamingMessage.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: renaming hook
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: add StreamedMessageText to component ctx
  src/components/Channel/Channel.tsx
  src/components/Message/MessageSimple.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: add type in import
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: revert yarn.lock changes
  examples/vite/yarn.lock
Due: none

fix: css class renaming
  src/components/AITypingIndicatorView/AIGenerationIndicator.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: move max-width to another class
  examples/vite/src/index.scss
Due: none

chore: move edited check upstream
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: move code blocks together and leave comment
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: use channel method for stopping
  package.json
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: change aria text and add translations
  src/components/MessageInput/StopAIGenerationButton.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: bump stream-chat-js to v8.46.0
  package.json
  yarn.lock
Due: none

chore: renaming again
  examples/vite/src/App.tsx
  src/components/AITypingIndicatorView/AIStateIndicator.tsx
  src/components/AITypingIndicatorView/index.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: rename top level dir as well
  src/components/AIStateIndicator/AIStateIndicator.tsx
  src/components/AIStateIndicator/hooks/useAIState.ts
  src/components/AIStateIndicator/index.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/index.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: add JSDocs as well
  src/components/AIStateIndicator/hooks/useAIState.ts
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: revert CSS local changes
  examples/vite/src/App.tsx
Due: none

fix: remove optimistic code block capture as it is already there
  src/components/Message/hooks/useMessageTextStreaming.ts
Due: eslint --max-warnings 0, prettier --list-different

chore: move table types to known ones
  src/components/Message/renderText/renderText.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: rename css class
  src/components/MessageInput/StopAIGenerationButton.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: bump stream-chat-css version to latest
  package.json
  yarn.lock
Due: none

feat: add support for ai generated messages (#2570)
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  package.json
  src/components/AIStateIndicator/AIStateIndicator.tsx
  src/components/AIStateIndicator/hooks/useAIState.ts
  src/components/AIStateIndicator/index.ts
  src/components/Channel/Channel.tsx
  src/components/ChannelPreview/utils.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/StreamedMessageText.tsx
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useMessageTextStreaming.ts
  src/components/Message/index.ts
  src/components/Message/renderText/renderText.tsx
  src/components/Message/utils.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/StopAIGenerationButton.tsx
  src/components/index.ts
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

chore(release): 12.7.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0d/6fe53232f6f34af7c6dc075ad11f92f0ede6cc
Due: none

fix: add custom way to find if message is ai generated
  examples/vite/src/App.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/utils.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
  src/context/ChatContext.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: refactor to fix tests
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/Message/MessageSimple.tsx
  src/context/ChatContext.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: add import type
  src/components/Chat/Chat.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: memoize response from isMessageAIGenerated
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: add support for custom resolution of whether a message is ai generated (#2572)
  examples/vite/src/App.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelPreview/ChannelPreview.tsx
  src/components/ChannelPreview/utils.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useCreateChatContext.ts
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/utils.tsx
  src/context/ChatContext.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
