Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Post-review adjustments
  src/components/Button/Button.tsx
  src/components/Button/styling/Button.scss
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/experimental/Search/SearchBar/SearchBar.tsx
  src/experimental/Search/styling/Search.scss
  src/styling/_global-theme-variables.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce Search component redesign (#2981)
  examples/vite/src/App.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Button/Button.tsx
  src/components/Button/styling/Button.scss
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/Chat/Chat.tsx
  src/experimental/Search/SearchBar/SearchBar.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/styling/Search.scss
  src/experimental/Search/styling/index.scss
  src/styling/_global-theme-variables.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): remove pinned_at sort param
  examples/vite/src/App.tsx
Due: prettier --list-different

chore: disable archived filter
  examples/vite/src/App.tsx
Due: prettier --list-different

fix(demo): remove archived filter param
  examples/vite/src/App.tsx
Due: prettier --list-different

feat: reuse channel list loading skeletons for thread list
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: constrain loading channel message width
  src/components/Channel/styling/Channel.scss
Due: none

feat: align items to the top in poll options
  src/components/Poll/styling/PollOptionList.scss
Due: none

feat: refine loading channel skeleton layout
  src/components/Channel/styling/Channel.scss
  src/components/Loading/LoadingChannel.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingChannel.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: reuse channel list loading skeletons for thread list (#2992)
  src/components/Channel/styling/Channel.scss
  src/components/Loading/LoadingChannel.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingChannel.test.js.snap
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: make the whole body of modal carrying PollOptionWithVotesList scrollable
  src/components/Poll/PollActions/PollResults/PollOptionWithVotes.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesList.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/PollResults/PollVotesPaginatedList.tsx
  src/components/Poll/styling/PollResults.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: make the whole body of modal carrying PollOptionFullList scrollable
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesList.tsx
  src/components/Poll/styling/PollOptionFullList.scss
  src/components/Poll/styling/PollResults.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: adjust PollAnswerList and PollResults designs
  src/components/Dialog/styling/Viewer.scss
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/PollVote.tsx
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Poll/styling/PollResults.scss
  src/components/Poll/styling/PollVote.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_global-theme-variables.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: poll actions modals adjustments (#2993)
  src/components/Dialog/styling/Viewer.scss
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotes.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithVotesList.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/PollResults/PollVotesPaginatedList.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/PollVote.tsx
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Poll/styling/PollOptionFullList.scss
  src/components/Poll/styling/PollOptionList.scss
  src/components/Poll/styling/PollResults.scss
  src/components/Poll/styling/PollVote.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_global-theme-variables.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: make the full option list container take the available height
  src/components/Poll/styling/PollOptionFullList.scss
Due: none

fix: wrap attachment previews in message composer
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
  src/components/MessageInput/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make audio message take the full width; update tile sizes
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreviewSlot.tsx
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: use correct colors for remove attachment preview button; revert unnecessary changes
  src/components/MessageInput/RemoveAttachmentPreviewButton.tsx
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/RemoveAttachmentPreviewButton.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: wrap attachment previews in message composer (#2994)
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreview.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreviewSlot.tsx
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/RemoveAttachmentPreviewButton.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/RemoveAttachmentPreviewButton.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep mobile sidebar overlays from shifting content
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: none

docs: update AGENTS guidance
  AGENTS.md
Due: prettier --list-different

fix: use slide-only mobile sidebar overlays
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
Due: none

fix: prevent mobile sidebar overlays from shifting chat content (#2995)
  AGENTS.md
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChannelList/styling/ChannelListHeader.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
Due: prettier --list-different

Fix extended list scrolling
  src/components/Reactions/styling/ReactionSelector.scss
Due: none

Minor adjustments to search
  src/experimental/Search/styling/Search.scss
Due: none

Allow searching for public channels
  examples/vite/src/App.tsx
  src/components/Chat/Chat.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add back user search
  src/components/Avatar/styling/Avatar.scss
  src/components/Button/styling/Button.scss
  src/components/Chat/Chat.tsx
  src/experimental/Search/SearchResults/SearchResultItem.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/styling/Search.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make vite example channel selection bookmarkable
  examples/vite/src/App.tsx
  jest.env.setup.js
  src/components/Button/ToggleSidebarButton.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: Search, user item & other fixes (#2996)
  examples/vite/src/App.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Button/styling/Button.scss
  src/components/Chat/Chat.tsx
  src/components/Reactions/styling/ReactionSelector.scss
  src/experimental/Search/SearchResults/SearchResultItem.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/styling/Search.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: unify channel and thread display titles
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/__tests__/utils.test.js
  src/components/ChannelPreview/hooks/useChannelPreviewInfo.ts
  src/components/ChannelPreview/utils.tsx
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Thread/Thread.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/ThreadHeaderMain.tsx
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHead.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Threads/ThreadList/styling/ThreadListHeader.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: persist selected chat view in vite example url
  examples/vite/src/App.tsx
Due: prettier --list-different

fix: retrieve reply count correctly in ThreadStart
  src/components/Thread/ThreadStart.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: persist selected thread in vite example url
  examples/vite/src/App.tsx
Due: prettier --list-different

feat(demo): apply dropzone to the whole thread in threads view
  examples/vite/src/App.tsx
Due: prettier --list-different

fix: keep thread selection in sync when toggling views
  examples/vite/src/App.tsx
Due: prettier --list-different

fix: stop thread restore from overriding thread switches
  examples/vite/src/App.tsx
Due: prettier --list-different

fix: make vite example channel selection bookmarkable (#2997)
  examples/vite/src/App.tsx
  jest.env.setup.js
  src/components/Button/ToggleSidebarButton.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelList/__tests__/ChannelList.test.js
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-review adjustments
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign failed image placeholder
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Gallery/BaseImage.tsx
  src/components/Gallery/__tests__/BaseImage.test.js
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remount modal gallery image retries
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
