Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Remove unused file
  src/components/ChannelPreview/hooks/index.ts
  src/components/ChannelPreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: unified SummarizedMessagePreview, cover more cases (#2977)
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/hooks/index.ts
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/hooks/index.ts
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
  src/components/SummarizedMessagePreview/index.ts
  src/components/SummarizedMessagePreview/styling/SummarizedMessagePreview.scss
  src/components/SummarizedMessagePreview/styling/index.scss
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/components/Threads/ThreadList/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(examples): add chat view sidebar settings
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Sidebar/SidebarTab.tsx
  examples/vite/src/AppSettings/tabs/Sidebar/index.ts
Due: prettier --list-different

chore: add chat view settings to Vite example (#2980)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Sidebar/SidebarTab.tsx
  examples/vite/src/AppSettings/tabs/Sidebar/index.ts
Due: prettier --list-different

fix(chat-view): align iconOnly API and unread badge styling
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Sidebar/SidebarTab.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.js
  src/components/Threads/styling/UnreadCountBadge.scss
  src/components/Threads/styling/index.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: align iconOnly API and unread badge styling (#2982)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/Sidebar/SidebarTab.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.js
  src/components/Threads/styling/UnreadCountBadge.scss
  src/components/Threads/styling/index.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove unnecessary styling
  src/components/ChannelList/styling/ChannelList.scss
  src/components/ChatView/styling/ChatView.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
Due: none

fix(demo): allow to display Thread alongside the Channel on wider resolutions
  examples/vite/src/index.scss
Due: none

fix(demo): expand thread in threads view to max space
  examples/vite/src/index.scss
Due: none

feat: redesign message composer for thread and allow to grow to 10 lines
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/CommandChip.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign message composer for thread and allow to grow to 10 lines (#2983)
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/CommandChip.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/TextareaComposer/TextareaComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: replace EndPollDialog with EndPollAlert
  src/components/Poll/PollActions/EndPollAlert.tsx
  src/components/Poll/PollActions/EndPollDialog.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/index.ts
  src/components/Poll/styling/EndPollAlert.scss
  src/components/Poll/styling/index.scss
  src/i18n/TranslationBuilder/notifications/NotificationTranslationTopic.ts
  src/i18n/TranslationBuilder/notifications/pollEnd.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: replace AddCommentForm with AddCommentPrompt, SuggestPollOptionForm with SuggestPollOptionPrompt
  src/components/Button/Button.tsx
  src/components/Button/styling/Button.scss
  src/components/Form/TextInput.tsx
  src/components/Form/styling/TextInput.scss
  src/components/Location/ShareLocationDialog.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/components/Poll/PollActions/index.ts
  src/components/Poll/__tests__/AddCommentForm.test.js
  src/components/Poll/__tests__/SuggestPollOptionForm.test.js
  src/components/Poll/styling/AddCommentPrompt.scss
  src/components/Poll/styling/SuggestPollOptionPrompt.scss
  src/components/Poll/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix debounce interval description typo
  src/components/ChannelSearch/hooks/useChannelSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign PollOptionsFullList
  src/components/Poll/PollActions/PollOptionsFullList.tsx
  src/components/Poll/PollActions/PollQuestion.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollOptionFullList.scss
  src/components/Poll/styling/PollOptionList.scss
  src/components/Poll/styling/PollQuestion.scss
  src/components/Poll/styling/PollResults.scss
  src/components/Poll/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: update chat view selector icons
  src/components/ChatView/ChatView.tsx
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: update ChatView selector icons (#2985)
  src/components/ChatView/ChatView.tsx
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign PollAnswerList
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Poll/styling/PollResults.scss
  src/components/Poll/styling/PollVote.scss
  src/components/Poll/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add ModalContext and remove Modal.tsx
  src/components/MessageActions/DeleteMessageAlert.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageBounce/MessageBounceModal.tsx
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__tests__/Modal.test.js
  src/components/Modal/index.ts
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/EndPollAlert.tsx
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/PollAnswerList.tsx
  src/components/Poll/PollActions/PollOptionsFullList.tsx
  src/components/Poll/PollActions/PollResults/PollResults.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
  src/context/ModalContext.tsx
  src/context/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: fix ShareLocationDialog dimensions
  src/components/Location/styling/ShareLocationDialog.scss
  src/components/Location/styling/index.scss
  src/styling/index.scss
Due: none

style: fix linter issues
  src/components/Location/styling/ShareLocationDialog.scss
  src/components/Location/styling/index.scss
  src/components/Poll/styling/PollAnswerList.scss
  src/components/Poll/styling/PollOptionList.scss
  src/components/Poll/styling/PollQuestion.scss
  src/components/Poll/styling/PollVote.scss
Due: none

feat: redesign ThreadHeader
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Button/Button.tsx
  src/components/Button/styling/Button.scss
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/icons.tsx
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Thread/styling/ThreadHeaderMain.scss
  src/components/Thread/styling/index.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign ThreadHead
  src/components/Message/types.ts
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Thread/ThreadHead.tsx
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHead.scss
  src/components/Thread/styling/index.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: Fix debounce interval description typo (#2984)
  src/components/ChannelSearch/hooks/useChannelSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign ThreadHeader and ThreadHead (#2987)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Button/Button.tsx
  src/components/Button/styling/Button.scss
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/Message/types.ts
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Thread/ThreadHead.tsx
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/icons.tsx
  src/components/Thread/styling/Thread.scss
  src/components/Thread/styling/ThreadHead.scss
  src/components/Thread/styling/ThreadHeader.scss
  src/components/Thread/styling/ThreadHeaderMain.scss
  src/components/Thread/styling/index.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign channel list loading skeletons
  src/components/Loading/LoadingChannels.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingChannels.test.js.snap
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Loading/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reduce channel list loading layout shift
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/__tests__/__snapshots__/ChannelListMessenger.test.js.snap
  src/components/Loading/LoadingChannels.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingChannels.test.js.snap
  src/components/Loading/styling/LoadingChannels.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make poll forms submitable
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make poll forms submitable (#2989)
  src/components/Poll/PollActions/AddCommentPrompt.tsx
  src/components/Poll/PollActions/SuggestPollOptionPrompt.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign ChannelList loading skeletons (#2988)
  src/components/ChannelList/ChannelListMessenger.tsx
  src/components/ChannelList/__tests__/__snapshots__/ChannelListMessenger.test.js.snap
  src/components/Loading/LoadingChannels.tsx
  src/components/Loading/__tests__/__snapshots__/LoadingChannels.test.js.snap
  src/components/Loading/styling/LoadingChannels.scss
  src/components/Loading/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make poll forms submitable
  src/components/ChatView/styling/ChatView.scss
Due: none

fix: adjust ChatView.Selector buttons styles (#2990)
  src/components/ChatView/styling/ChatView.scss
Due: none

feat: redesign the LoadingChannel component
  src/components/Channel/styling/Channel.scss
  src/components/Loading/LoadingChannel.tsx
  src/components/Loading/__tests__/LoadingChannel.test.js
  src/components/Loading/__tests__/__snapshots__/LoadingChannel.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign the LoadingChannel component (#2991)
  src/components/Channel/styling/Channel.scss
  src/components/Loading/LoadingChannel.tsx
  src/components/Loading/__tests__/LoadingChannel.test.js
  src/components/Loading/__tests__/__snapshots__/LoadingChannel.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add context menu to ChannelPreviewActionButtons
  examples/vite/src/App.tsx
  src/components/ChannelList/ChannelList.tsx
  src/components/ChannelPreview/ChannelPreviewActionButtons.tsx
  src/components/ChannelPreview/styling/ChannelPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/App.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Chat/Chat.tsx
  src/experimental/Search/SearchBar/SearchBar.tsx
  src/experimental/Search/SearchResults/SearchResultsHeader.tsx
  src/experimental/Search/styling/Search.scss
  src/experimental/Search/styling/index.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
