Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Move MessageActions and related functinality from experimental
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageOptions.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/index.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/CustomMessageActionsList.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/index.ts
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
  src/components/MessageActions/index.ts
  src/context/ComponentContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
  src/experimental/MessageActions/index.ts
  src/experimental/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Remove customMessageActions related props
  src/components/Message/Message.tsx
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust MessageActions tests
  src/components/Channel/__tests__/Channel.test.js
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/__tests__/MessageOptions.test.js
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/__tests__/__snapshots__/MessageText.test.js.snap
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix lint issues
  src/components/Channel/__tests__/Channel.test.js
  src/components/MessageActions/RemindMeSubmenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: migrate MessageActions components to ContextMenu use
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageActions/CustomMessageActionsList.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageActions/styling/index.scss
  src/components/MessageInput/MessageComposerActions.tsx
  src/experimental/MessageActions/MessageActions.tsx
  src/experimental/MessageActions/defaults.tsx
  src/experimental/MessageActions/hooks/useSplitMessageActionSet.ts
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: promote experimental `MessageActions` to stable (#2908)
  src/components/Channel/__tests__/Channel.test.js
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/Message.tsx
  src/components/Message/MessageOptions.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/__tests__/MessageOptions.test.js
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/__tests__/__snapshots__/MessageText.test.js.snap
  src/components/Message/index.ts
  src/components/Message/types.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/CustomMessageActionsList.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageActions/__tests__/MessageActionsBox.test.js
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/index.ts
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
  src/components/MessageActions/index.ts
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/context/ComponentContext.tsx
  src/context/MessageContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
  src/experimental/MessageActions/index.ts
  src/experimental/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: streamline useMemo
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: post merge fixes
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Message/styling/Message.scss
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/styling/ReactionList.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: migrate MessageActions to use ContextMenu (#2932)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
  src/components/MessageActions/styling/MessageActions.scss
  src/components/MessageActions/styling/index.scss
  src/components/MessageInput/MessageComposerActions.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjustments & limitation removal
  examples/vite/src/App.tsx
  src/components/Message/styling/Message.scss
Due: prettier --list-different

fix: adjust message attachment grouping, add compact link previews
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/LinkPreview/Card.tsx
  src/components/Attachment/LinkPreview/CardAudio.tsx
  src/components/Attachment/LinkPreview/UnableToRenderCard.tsx
  src/components/Attachment/LinkPreview/index.ts
  src/components/Attachment/__tests__/Card.test.js
  src/components/Attachment/__tests__/__snapshots__/Attachment.test.js.snap
  src/components/Attachment/index.ts
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/CardAudio.scss
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Attachment/styling/index.scss
  src/components/Attachment/utils.tsx
  src/components/AudioPlayback/components/DurationDisplay.tsx
  src/components/Gallery/Image.tsx
  src/components/Message/MessageErrorText.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/QuotedMessage.tsx
  src/components/Message/__tests__/MessageText.test.js
  src/components/Message/styling/DateSeparator.scss
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageEditedTimestamp.scss
  src/components/Message/styling/MessageStatus.scss
  src/components/Message/styling/MessageSystem.scss
  src/components/Message/styling/QuotedMessage.scss
  src/components/Message/styling/UnreadMessageNotification.scss
  src/components/Message/styling/UnreadMessagesSeparator.scss
  src/components/Message/styling/index.scss
  src/components/MessageActions/styling/MessageActions.scss
  src/components/SafeAnchor/SafeAnchor.tsx
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: display audio attachment using file attachment component
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/Audio.tsx
  src/components/Attachment/LinkPreview/CardAudio.tsx
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/__snapshots__/Card.test.js.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Another set of adjustments with demo
  examples/vite/src/App.tsx
  src/components/Message/styling/Message.scss
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/styling/ReactionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent re-download from attachment preview
  src/components/MessageInput/AttachmentPreviewList/utils/AttachmentPreviewRoot.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: adjust the audio player UIs across the attachments
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/components/PlaybackRateButton.tsx
  src/components/AudioPlayback/AudioPlayer.ts
  src/components/AudioPlayback/components/DurationDisplay.tsx
  src/components/AudioPlayback/components/WaveProgressBar.tsx
  src/components/AudioPlayback/styling/DurationDisplay.scss
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPlayback.tsx
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/MessageInput/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/AttachmentSelector.scss
  src/components/MessageInput/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add Giphy styling
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/AttachmentActions.tsx
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/LinkPreview/Card.tsx
  src/components/Attachment/VisibilityDisclaimer.tsx
  src/components/Attachment/__tests__/AttachmentActions.test.js
  src/components/Attachment/__tests__/__snapshots__/VoiceRecording.test.js.snap
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/AttachmentActions.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Attachment/styling/index.scss
  src/components/Attachment/utils.tsx
  src/components/Button/Button.tsx
  src/components/Gallery/BaseImage.tsx
  src/components/Icons/IconEyeOpen.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconEyeOpen.scss
  src/components/Icons/styling/index.scss
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/utils.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_global-theme-variables.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add new DateSeparator styles
  src/components/DateSeparator/DateSeparator.tsx
  src/components/DateSeparator/styling/DateSeparator.scss
  src/components/DateSeparator/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add own media Gallery
  examples/vite/src/stream-imports-theme.scss
  package.json
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/VideoAttachment.tsx
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Attachment/styling/index.scss
  src/components/Attachment/utils.tsx
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/GalleryContext.tsx
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/Image.tsx
  src/components/Gallery/ModalGallery.tsx
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/Gallery/__tests__/GalleryContext.test.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/__tests__/ModalGallery.test.js
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/Gallery/decisions.md
  src/components/Gallery/gallery-spec.md
  src/components/Gallery/goal.md
  src/components/Gallery/index.tsx
  src/components/Gallery/plan.md
  src/components/Gallery/state.json
  src/components/Gallery/styling/Gallery.scss
  src/components/Gallery/styling/index.scss
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/renderText/renderText.tsx
  src/components/MessageInput/AttachmentPreviewList/utils/AttachmentPreviewRoot.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/VideoPlayer/VideoPlayer.tsx
  src/components/VideoPlayer/VideoThumbnail.tsx
  src/components/VideoPlayer/styling/VideoThumbnail.scss
  src/components/VideoPlayer/styling/index.scss
  src/context/ComponentContext.tsx
  src/styling/index.scss
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add new Poll styles
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Button/styling/Button.scss
  src/components/Poll/PollActions/PollAction.tsx
  src/components/Poll/styling/Poll.scss
  src/components/Poll/styling/PollCreationDialog.scss
  src/components/Poll/styling/index.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/App.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Message/styling/Message.scss
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/styling/ReactionList.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Fix padding of a message with single attachment and no text
  src/components/Message/styling/Message.scss
Due: none

feat: add swipe gestures to GalleryUI
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/__tests__/GalleryUI.test.tsx
  src/components/Gallery/decisions.md
  src/components/Gallery/gallery-spec.md
  src/components/Gallery/goal.md
  src/components/Gallery/plan.md
  src/components/Gallery/state.json
  src/components/Gallery/styling/Gallery.scss
  src/components/Modal/styling/Modal.scss
  src/components/Modal/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: message reactions (`ReactionsList`) redesign (#2933)
  examples/vite/src/App.tsx
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Message/styling/Message.scss
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/styling/ReactionList.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/utils.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: new GroupAvatar component design & adjustments (#2930)
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/utils.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: use ModalGallery to render all the image attachments
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/Image.tsx
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/index.ts
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Channel/Channel.tsx
  src/components/Gallery/BaseImage.tsx
  src/components/Gallery/GalleryContext.tsx
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/Image.tsx
  src/components/Gallery/__tests__/Image.test.js
  src/components/Gallery/index.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/MessageInput/LinkPreviewList.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/context/ChannelStateContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_utils.scss
  src/types/types.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add new DateSeparator styles
  src/components/DateSeparator/styling/DateSeparator.scss
  src/components/Message/styling/DateSeparator.scss
  src/components/Message/styling/index.scss
Due: none

fix: provide min width for voice recording wave bar in Attachment
  src/components/Attachment/styling/Attachment.scss
Due: none

feat: add avatars to own messages and show avatars only at the bottom or single message
  src/components/Avatar/styling/Avatar.scss
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: wrap message composer into a container and align it to the middle
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): provide responsive app styling
  examples/vite/src/index.scss
Due: none

fix(demo): allow to specify own user token from URL
  examples/vite/src/App.tsx
Due: prettier --list-different

refactor: make DateSeparator block padding smaller
  src/components/DateSeparator/styling/DateSeparator.scss
Due: none

refactor: hide own avatar in message list by default
  src/components/Avatar/styling/Avatar.scss
Due: none

feat: change message status icons
  src/components/Icons/IconDoubleCheckmark.tsx
  src/components/Icons/IconSingleCheckmark.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconDoubleCheckmark.scss
  src/components/Icons/styling/IconSingleCheckmark.scss
  src/components/Icons/styling/index.scss
  src/components/Message/MessageStatus.tsx
  src/components/Message/icons.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageStatus.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: provide QuickMessageActionButton to unify quick message action display
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/QuickMessageActionButton.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/index.ts
  src/components/Reactions/ReactionSelectorWithButton.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
