Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(examples): use client.userId instead of the deprecated userID
  examples/vite/src/NewConversation/NewConversationDialog.tsx
  examples/vite/src/NewConversation/createConversation.ts
Due: prettier --list-different

test(MessageList): cover anchor restore with unstable geometry and stick-to-top
  src/components/MessageList/__tests__/MessageList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): show presence badges on direct-message channel rows
  examples/vite/src/ChatLayout/ChannelListItemPresence.tsx
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

fix(Search): look up a message result's channel instead of creating it in render
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Thread): load any stale thread, including one whose parent reports no replies
  src/components/Thread/Thread.tsx
  src/components/Thread/__tests__/Thread.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): end iOS momentum scrolling while restoring the older-page anchor
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat!: remove getChannel in favour of channel.ensureWatched()
  AGENTS.md
  ai-docs/ai-migration-v14-v15.md
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/i18n/__tests__/catalog.fixture.json
  src/i18n/keys.ts
  src/utils/__tests__/getChannel.test.ts
  src/utils/getChannel.ts
  src/utils/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(examples): watch channels with channel.ensureWatched()
  examples/tutorial/src/3-core-component-setup/App.tsx
  examples/tutorial/src/6-custom-ui-components/App.tsx
  examples/tutorial/src/7-emoji-picker/App.tsx
  examples/tutorial/src/optional-custom-attachment-type/App.tsx
  examples/tutorial/src/optional-livestream/App.tsx
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
Due: prettier --list-different

test(MessageList): cover releasing the iOS momentum lock on unmount and keeping app inline overflow
  src/components/MessageList/__tests__/MessageList.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Chat): keep the channel lists receiving events while no ChannelList is mounted
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Chat/hooks/useChat.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(ai-docs): correct the pendingDisposal migration entries
  ai-docs/ai-migration-v14-v15.md
Due: prettier --list-different

docs(ai-docs): point to channel.disconnect() for marking a channel for disposal
  ai-docs/ai-migration-v14-v15.md
Due: prettier --list-different

fix(Search): list a direct message once its watch gives it an id
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelList): keep the member and membership hooks in sync with channel.state
  src/components/ChannelList/hooks/__tests__/useChannelMemberStates.test.ts
  src/components/ChannelList/hooks/useChannelMembersState.ts
  src/components/ChannelList/hooks/useChannelMembershipState.ts
  src/components/ChannelList/hooks/useSelectedChannelState.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChatView): bind a slot again under its channel's real cid once the channel gets it
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/SupersededChannelSwap.tsx
  src/plugins/SlotLayout/__tests__/SupersededChannelSwap.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): open and list the stored instance of a direct message
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/__tests__/SendDirectMessageAction.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChatView): swap a slot's channel only while the slot still shows it
  src/plugins/SlotLayout/SupersededChannelSwap.tsx
  src/plugins/SlotLayout/__tests__/SupersededChannelSwap.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Message): delete, retry and react through the message operations API of stream-chat
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useDeleteHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/__tests__/useRetryHandler.test.tsx
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Message/hooks/useRetryHandler.ts
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Thread): load again once a load settles if the parent reported a reply during it
  src/components/Thread/Thread.tsx
  src/components/Thread/__tests__/Thread.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): move AI sources into SCR plugin layout
  src/plugins/AIComponents/AIMarkdown/AIMarkdown.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/Chart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/SuspendedChart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/chartJsSchema.ts
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/AIMessageComposer/hooks/useSpeechToText.ts
  src/plugins/AIComponents/AIStateIndicator/AIStateIndicator.tsx
  src/plugins/AIComponents/ErrorBoundary.tsx
  src/plugins/AIComponents/StreamingMessage/StreamingMessage.tsx
  src/plugins/AIComponents/components/tools/index.ts
  src/plugins/AIComponents/hooks/use-stable-callback.ts
  src/plugins/AIComponents/styling/ai-message-composer.scss
  src/plugins/AIComponents/styling/ai-state-indicator.scss
  src/plugins/AIComponents/styling/attachment-preview.scss
  src/plugins/AIComponents/styling/index.scss
  src/plugins/AIComponents/styling/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): port AI sources to SCR toolchain and shared primitives
  package.json
  src/plugins/AIComponents/AIMarkdown/AIMarkdown.tsx
  src/plugins/AIComponents/AIMarkdown/index.ts
  src/plugins/AIComponents/AIMarkdown/tools/charts/Chart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/SuspendedChart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/chartJsSchema.ts
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/AIMessageComposer/hooks/useSpeechToText.ts
  src/plugins/AIComponents/AIMessageComposer/index.ts
  src/plugins/AIComponents/AIStateIndicator/AIStateIndicator.tsx
  src/plugins/AIComponents/ErrorBoundary.tsx
  src/plugins/AIComponents/README.md
  src/plugins/AIComponents/StreamingMessage/StreamingMessage.tsx
  src/plugins/AIComponents/index.ts
  src/plugins/AIComponents/styling/attachment-preview.scss
  src/plugins/AIComponents/styling/streaming-message.scss
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): translate AI component strings and use SCR icons
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/AIComponents/AIMarkdown/tools/charts/SuspendedChart.tsx
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/AIStateIndicator/AIStateIndicator.tsx
  src/plugins/AIComponents/__tests__/i18n.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(ai-components): fix English voice-input label and translate remaining AI strings
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/AIComponents/AIMarkdown/tools/charts/Chart.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/__tests__/i18n.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(ai-components): adopt str-chat__ai- class names and SCR theme tokens
  package.json
  scripts/watch-styling.mjs
  src/plugins/AIComponents/AIMarkdown/AIMarkdown.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/Chart.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/SuspendedChart.tsx
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/AIStateIndicator/AIStateIndicator.tsx
  src/plugins/AIComponents/__tests__/classNames.test.tsx
  src/plugins/AIComponents/styling/ai-message-composer.scss
  src/plugins/AIComponents/styling/ai-state-indicator.scss
  src/plugins/AIComponents/styling/attachment-preview.scss
  src/plugins/AIComponents/styling/index.scss
  src/plugins/AIComponents/styling/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(ai-components): add stream-chat-react/ai-components entry point
  .github/workflows/ci.yml
  package.json
  scripts/validate-cjs-browser-bundle.cjs
  scripts/validate-cjs-node-bundle.cjs
  scripts/validate-entry-isolation.mts
  scripts/validate-esm-node-bundle.mjs
  tsconfig.scripts.json
  vite.config.ts
Due: prettier --list-different

fix(store): provide getServerSnapshot to useStateStore so server rendering works
  src/store/hooks/__tests__/useStateStore.test.tsx
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): add AI components test coverage
  src/plugins/AIComponents/__tests__/AIMarkdown.test.tsx
  src/plugins/AIComponents/__tests__/AIMessageComposer.test.tsx
  src/plugins/AIComponents/__tests__/StreamingMessage.test.tsx
  src/plugins/AIComponents/__tests__/ssr.test.tsx
  vitest.setup.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): cover attachment preview, error boundary and chart fallbacks
  src/plugins/AIComponents/__tests__/AttachmentPreview.test.tsx
  src/plugins/AIComponents/__tests__/ChartFallback.test.tsx
  src/plugins/AIComponents/__tests__/ErrorBoundary.test.tsx
  src/plugins/AIComponents/__tests__/ssr.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): tighten SSR assertion and drop unused ErrorBoundary
  src/plugins/AIComponents/ErrorBoundary.tsx
  src/plugins/AIComponents/__tests__/ErrorBoundary.test.tsx
  src/plugins/AIComponents/__tests__/ssr.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): adopt ai-chatbot example into SCR workspaces
  .prettierignore
  AGENTS.md
  eslint.config.mjs
  examples/ai-chatbot/.env.example
  examples/ai-chatbot/.gitignore
  examples/ai-chatbot/README.md
  examples/ai-chatbot/implementation.md
  examples/ai-chatbot/package.json
  examples/ai-chatbot/src/app/layout.tsx
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.scss
  examples/ai-chatbot/src/components/AIStateIndicator/AIStateIndicator.tsx
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/EmptyState/EmptyState.tsx
  examples/ai-chatbot/src/components/LoadingScreen/LoadingScreen.tsx
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.scss
  examples/ai-chatbot/src/components/MessageBubble/MessageBubble.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.scss
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarFooter.tsx
  examples/ai-chatbot/src/components/Sidebar/SidebarHeader.tsx
  examples/ai-chatbot/src/components/ThemeContext.tsx
  examples/ai-chatbot/src/components/TopNavBar/TopNavBar.tsx
  examples/ai-chatbot/src/components/api.ts
  examples/ai-chatbot/src/components/index.scss
  examples/ai-chatbot/src/components/rateLimitUtils.ts
  examples/ai-chatbot/src/components/stream-chat.d.ts
  examples/ai-chatbot/tsconfig.json
  package.json
  yarn.lock
Due: prettier --list-different

chore(ai-components): let consumer theme overrides win over AI token defaults
  src/plugins/AIComponents/__tests__/styleTokens.test.ts
  src/plugins/AIComponents/styling/_tokens.scss
  src/plugins/AIComponents/styling/ai-state-indicator.scss
  src/plugins/AIComponents/styling/index.scss
  src/plugins/AIComponents/styling/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): document ai-components entry and migration
  AGENTS.md
  src/plugins/AIComponents/README.md
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): fix ai-components README API references
  src/plugins/AIComponents/README.md
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): name composer controls, restore focus rings, announce AI state
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/AttachmentPreview.tsx
  src/plugins/AIComponents/AIStateIndicator/AIStateIndicator.tsx
  src/plugins/AIComponents/__tests__/AttachmentPreview.test.tsx
  src/plugins/AIComponents/__tests__/a11y.test.tsx
  src/plugins/AIComponents/__tests__/styleTokens.test.ts
  src/plugins/AIComponents/styling/_tokens.scss
  src/plugins/AIComponents/styling/ai-message-composer.scss
  src/plugins/AIComponents/styling/ai-state-indicator.scss
  src/plugins/AIComponents/styling/attachment-preview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): forward speech-to-text options and hide the button when unsupported
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/AIMessageComposer/hooks/useSpeechToText.ts
  src/plugins/AIComponents/README.md
  src/plugins/AIComponents/__tests__/SpeechToTextButton.test.tsx
  src/plugins/AIComponents/__tests__/a11y.test.tsx
  src/plugins/AIComponents/__tests__/fakeSpeechRecognition.ts
  src/plugins/AIComponents/__tests__/i18n.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): tokenise remaining colours for dark mode and size icons in ai-components.css
  src/plugins/AIComponents/README.md
  src/plugins/AIComponents/__tests__/styleTokens.test.ts
  src/plugins/AIComponents/styling/_tokens.scss
  src/plugins/AIComponents/styling/ai-message-composer.scss
  src/plugins/AIComponents/styling/attachment-preview.scss
  src/plugins/AIComponents/styling/streaming-message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): fix markdown prop leaks, chart errors, reset and file-input id
  src/plugins/AIComponents/AIMarkdown/AIMarkdown.tsx
  src/plugins/AIComponents/AIMarkdown/tools/charts/SuspendedChart.tsx
  src/plugins/AIComponents/AIMessageComposer/AIMessageComposer.tsx
  src/plugins/AIComponents/__tests__/AIMarkdown.test.tsx
  src/plugins/AIComponents/__tests__/AIMessageComposer.test.tsx
  src/plugins/AIComponents/__tests__/ChartErrorBoundary.test.tsx
  src/plugins/AIComponents/__tests__/hydration.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-components): follow dynamic imports in isolation check and update docs
  .prettierignore
  examples/ai-chatbot/README.md
  examples/ai-chatbot/implementation.md
  scripts/validate-entry-isolation.mts
  src/plugins/AIComponents/README.md
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Search): load an unloaded result channel before jumping to the message
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
