Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

Center stuff
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelList/styling/ChannelList.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/styling/ThreadHeader.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(examples/tutorial): sync with published v14 theming tokens
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/layout.css
Due: prettier --list-different

docs(examples/tutorial): fetch tokens from pronto.getstream.io
  examples/tutorial/.env.example
  examples/tutorial/src/1-client-setup/App.tsx
  examples/tutorial/src/1-client-setup/credentials.ts
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/7-livestream/App.tsx
Due: prettier --list-different

Notes added by 'git notes add'
  f44c07b58ead8eadef04d2c69984be7937c13157
Due: none

docs: rework React theming — capture harness + tutorial example (#3133)
  examples/tutorial/.env.example
  examples/tutorial/src/1-client-setup/App.tsx
  examples/tutorial/src/1-client-setup/credentials.ts
  examples/tutorial/src/2-core-component-setup/App.tsx
  examples/tutorial/src/3-channel-list/App.tsx
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/App.tsx
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/App.tsx
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/App.tsx
  examples/tutorial/src/7-livestream/layout.css
  examples/vite/docs-playwright/seed-channel-and-screenshot.mjs
  examples/vite/docs-playwright/theming-variants.mjs
  examples/vite/package.json
  examples/vite/yarn.lock
Due: prettier --list-different

chore(release): 13.14.4 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  1bb318df2a21ce01458afc21a05150d4f999cb01
Due: none

chore(release): 14.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  8c3fb3406b25b266593b7e01ecdb02b0076e8938
Due: none

Rename some of the source files
  src/components/Attachment/styling/UnsupportedAttachment.scss
  src/components/MessageComposer/styling/UnsupportedAttachmentPreview.scss
  src/styling/font-imports.scss
  src/styling/index.scss
  src/styling/variable-tokens.scss
  src/styling/variables-import.css
  src/styling/variables/fonts.scss
  src/styling/variables/index.scss
Due: none

feat(a11y): add ARIA tab/panel wiring for ChatView components
  src/components/ChatView/ChatView.a11y.utility.ts
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): align ThreadList ARIA listbox/option semantics
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadList.test.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Rename token variables in Vite example
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/CustomMessageActions/CustomMessageActions.scss
  examples/vite/src/SystemNotification/SystemNotification.scss
  examples/vite/src/index.scss
Due: none

Migrate Geist font import to example application
  examples/vite/src/index.scss
  src/styling/base.scss
  src/styling/font-imports.scss
  src/styling/index.scss
  src/styling/variables/fonts.scss
Due: none

Font & box shadow fixes
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/Badge/styling/Badge.scss
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/Form/styling/TextInput.scss
  src/components/Form/styling/TextInputFieldset.scss
  src/components/Message/styling/Message.scss
  src/components/Reactions/styling/common.scss
  src/components/SummarizedMessagePreview/styling/SummarizedMessagePreview.scss
Due: none

fix(a11y): align MessageActions with WAI-ARIA menu semantics
  src/a11y/__tests__/a11yUtils.test.ts
  src/a11y/a11yUtils.ts
  src/components/Dialog/components/ContextMenu.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): add modal dialog semantics and labeling fallback to DialogAnchor
  src/components/Dialog/__tests__/DialogPortal.test.tsx
  src/components/Dialog/service/DialogAnchor.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add missing file keyboardSeek.ts
  src/components/AudioPlayback/components/keyboardSeek.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): add semantic dialog surface to GlobalModal and preserve gallery close behavior
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/__tests__/ModalGallery.test.tsx
  src/components/Gallery/styling/Gallery.scss
  src/components/MessageComposer/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): improve SearchBar accessibility semantics
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/__tests__/SearchBar.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): migrate hardcoded aria-labels to i18n keys across components
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/Form/NumericInput.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtonWithNotification.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.tsx.snap
  src/components/Notifications/Notification.tsx
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/__tests__/Notification.test.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

Another set of font-related changes
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/AttachmentActions.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/ReactionSelectorExtendedList.scss
  src/components/Search/styling/Search.scss
  src/components/TextareaComposer/styling/SuggestionList.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
Due: none

feat(a11y): refactor SwitchField to native role="switch" input with restored switch styling`
  src/components/Form/SwitchField.tsx
  src/components/Form/__tests__/SwitchField.test.tsx
  src/components/Form/styling/SwitchField.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: font & box shadow fixes (#3135)
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/CustomMessageActions/CustomMessageActions.scss
  examples/vite/src/SystemNotification/SystemNotification.scss
  examples/vite/src/index.scss
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/AttachmentActions.scss
  src/components/Attachment/styling/Giphy.scss
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Attachment/styling/UnsupportedAttachment.scss
  src/components/Avatar/styling/Avatar.scss
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/Badge/styling/Badge.scss
  src/components/ChannelListItem/styling/ChannelListItem.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/Form/styling/TextInput.scss
  src/components/Form/styling/TextInputFieldset.scss
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/Message/styling/Message.scss
  src/components/MessageComposer/styling/AttachmentPreview.scss
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
  src/components/MessageComposer/styling/UnsupportedAttachmentPreview.scss
  src/components/Reactions/styling/MessageReactions.scss
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/ReactionSelectorExtendedList.scss
  src/components/Reactions/styling/common.scss
  src/components/Search/styling/Search.scss
  src/components/SummarizedMessagePreview/styling/SummarizedMessagePreview.scss
  src/components/TextareaComposer/styling/SuggestionList.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/styling/base.scss
  src/styling/fonts.scss
  src/styling/index.scss
  src/styling/variable-tokens.scss
  src/styling/variables-import.css
  src/styling/variables/fonts.scss
  src/styling/variables/index.scss
Due: none

feat(a11y): add opt-in skip navigation with multi-target links and return helper
  examples/vite/src/AccessibilityNavigation/ChatSkipNavigation.tsx
  examples/vite/src/AccessibilityNavigation/ReturnToSkipNavigation.scss
  examples/vite/src/AccessibilityNavigation/ReturnToSkipNavigation.tsx
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/index.scss
  src/components/ChatView/ChatView.a11y.utility.ts
  src/components/ChatView/ChatView.tsx
  src/components/ChatView/__tests__/ChatView.test.tsx
  src/components/SkipNavigation/SkipNavigation.tsx
  src/components/SkipNavigation/__tests__/SkipNavigation.test.tsx
  src/components/SkipNavigation/index.ts
  src/components/SkipNavigation/styling/SkipNavigation.scss
  src/components/SkipNavigation/styling/index.scss
  src/components/index.ts
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(ai-import): chore: bump deps
  examples/ai-chatbot/package.json
Due: prettier --list-different

docs: clarify AI migration composer hook usage
  ai-docs/ai-migration.md
Due: prettier --list-different

docs: clarify AI migration composer hook usage (#3137)
  ai-docs/ai-migration.md
Due: prettier --list-different

chore(ai-import): chore(react-chatbot): migrate to stream-chat-react v14 (GetStream/ai-components-js#30)
  examples/ai-chatbot/package.json
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.scss
  examples/ai-chatbot/src/components/ChatContainer/ChatContainer.tsx
  examples/ai-chatbot/src/components/MessageInputBar/MessageInputBar.tsx
  examples/ai-chatbot/src/components/Sidebar/ChannelPreviewItem.tsx
  examples/ai-chatbot/src/components/Sidebar/Sidebar.scss
  examples/ai-chatbot/src/components/Sidebar/Sidebar.tsx
  examples/ai-chatbot/src/components/index.scss
Due: prettier --list-different

feat(a11y): enforce `alt` text on `BaseImage` / `Avatar`
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/BaseImage/BaseImage.tsx
  src/components/BaseImage/__tests__/BaseImage.test.tsx
  src/components/ChannelListItem/__tests__/__snapshots__/ChannelListItemUI.test.tsx.snap
  src/components/Gallery/__tests__/__snapshots__/Image.test.tsx.snap
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): consolidate and audit live region usage
  src/components/MessageList/NewMessageNotification.tsx
  src/components/MessageList/__tests__/MessageNotification.test.tsx
  src/components/Notifications/Notification.tsx
  src/components/Notifications/__tests__/Notification.test.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/TypingIndicatorHeader.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/components/TypingIndicator/utils/__tests__/getTypingStatusMessage.test.ts
  src/components/TypingIndicator/utils/getTypingStatusMessage.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): announce new messages for screen reader users
  src/components/Accessibility/AriaLiveRegion.tsx
  src/components/Accessibility/__tests__/AriaLiveRegion.test.tsx
  src/components/Accessibility/hooks/__tests__/useIncomingMessageAnnouncements.test.tsx
  src/components/Accessibility/hooks/useIncomingMessageAnnouncements.ts
  src/components/Accessibility/index.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): add `prefers-reduced-motion` support
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/hooks/useReducedMotionPreference.ts
  src/styling/accessibility.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): audit and standardize focus-visible styles
  src/components/Attachment/styling/AttachmentActions.scss
  src/components/Form/styling/NumericInput.scss
  src/components/Form/styling/SwitchField.scss
  src/components/Form/styling/TextInput.scss
  src/components/MessageComposer/styling/MessageComposer.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Search/styling/Search.scss
  src/styling/_utils.scss
  src/styling/base.scss
Due: none

Initial commit
  src/components/Message/Message.tsx
  src/components/Message/types.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce `MessageUI` to `ComponentContext` (#3140)
  src/components/Message/Message.tsx
  src/components/Message/types.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): generalize ContextMenu keyboard navigation
  src/components/Dialog/__tests__/ContextMenu.test.tsx
  src/components/Dialog/components/ContextMenu.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/RemindMeSubmenu.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-review adjustments
  src/components/ChannelListItem/ChannelListItemActionButtons.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
