Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(release): add write permissions to release workflow for issues and pull requests (#2901)
  .github/workflows/release.yml
Due: prettier --list-different

chore(release): 13.13.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  e25f5cd40cf92f14aada9f40e9009db2bf4a67d7
Due: none

Initial token
  .github/workflows/ci.yml
  .releaserc.json
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

Baseline styling
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  examples/vite/src/vite-env.d.ts
  examples/vite/vite.config.ts
  examples/vite/yarn.lock
Due: prettier --list-different

Fix CI variable
  .github/workflows/ci.yml
Due: prettier --list-different

Fix ChannelList key issue (JSX error)
  src/components/ChannelList/ChannelList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

New build system
  package.json
  scripts/bundle-cjs.mjs
  scripts/bundle-esm.mjs
  scripts/check-sidebar.mjs
  scripts/get-package-version.mjs
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --list-different

Move pull_request_template to .github
  .github/pull_request_template.md
Due: prettier --list-different

chore(ai-import): fix: animation fade-out
  examples/ai-chatbot/src/components/AIChatApp/AIChatApp.tsx
Due: prettier --list-different

chore: [REACT-716] example application deployment and release adjustments (#2900)
  .github/workflows/ci.yml
  .releaserc.json
  examples/vite/package.json
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  examples/vite/src/vite-env.d.ts
  examples/vite/vite.config.ts
  examples/vite/yarn.lock
Due: prettier --list-different

Adjust CJS validators
  scripts/validate-cjs-browser-bundle.cjs
  scripts/validate-cjs-node-bundle.cjs
Due: none

Split tsconfigs and disable type-checking for the test files
  jest.config.js
  package.json
  tsconfig.json
  tsconfig.lib.json
  tsconfig.test.json
  vite.config.ts
  yarn.lock
Due: prettier --list-different

chore(build): replace esbuild with Vite lib mode (#2902)
  .github/pull_request_template.md
  jest.config.js
  package.json
  scripts/bundle-cjs.mjs
  scripts/bundle-esm.mjs
  scripts/check-sidebar.mjs
  scripts/get-package-version.mjs
  scripts/validate-cjs-browser-bundle.cjs
  scripts/validate-cjs-node-bundle.cjs
  src/components/ChannelList/ChannelList.tsx
  tsconfig.json
  tsconfig.lib.json
  tsconfig.test.json
  vite.config.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust tests
  src/components/Channel/__tests__/Channel.test.js
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/Gallery/__tests__/Image.test.js
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  examples/vite/src/App.tsx
  src/components/Channel/Channel.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  package.json
Due: prettier --list-different

Adjust PR template too
  .github/pull_request_template.md
Due: prettier --list-different

Adjust job
  .github/workflows/ci.yml
Due: prettier --list-different

chore(build): add project for the tsc command (#2905)
  .github/pull_request_template.md
  .github/workflows/ci.yml
  package.json
Due: prettier --list-different

Initial commit
  examples/vite/src/index.scss
  package.json
  src/styling/index.scss
  yarn.lock
Due: prettier --list-different

Move MessageActions and related functinality from experimental
  src/components/Channel/Channel.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageOptions.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/index.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/CustomMessageActionsList.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/MessageActionsWrapper.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageActions/hooks/index.ts
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
  src/components/MessageActions/index.ts
  src/context/ComponentContext.tsx
  src/experimental/MessageActions/MessageActions.tsx
  src/experimental/MessageActions/index.ts
  src/experimental/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Remove customMessageActions related props
  src/components/Message/Message.tsx
  src/components/Message/types.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/context/MessageContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Split imports for easier dev work
  examples/vite/src/index.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
Due: none

chore(styling): initiate styling (SASS) setup within the SDK (#2906)
  examples/vite/src/index.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  package.json
  src/styling/index.scss
  yarn.lock
Due: prettier --list-different

fix: add integration guide md file to help AI assistant's work
  INTEGRATION_GUIDE.md
  package.json
Due: prettier --list-different

chore(release): adjust .releaserc.json
  .releaserc.json
Due: prettier --list-different

chore(release): 13.13.2 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  beeac3389d5e1c0a27de54dc07864e35c238c671
Due: none

fix: improve md file to guide AI assistants used by our integrators
  AI.md
  README.md
  package.json
Due: prettier --list-different

chore(release): 13.13.3 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
