Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

style(ListItemLayout): fix for stylelint rule declaration-empty-line-before
  src/components/ListItemLayout/styling/ListItemLayout.scss
Due: none

fix(ChannelDetail): reset edit-form dirty baseline after a successful save
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementView.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): activate search sources in effects
  src/plugins/ChannelDetail/Views/ChannelFilesView/useChannelFilesSearch.ts
  src/plugins/ChannelDetail/Views/ChannelMediaView/useChannelMediaSearch.ts
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): prevent applying ban-channel-members capability to user blocking
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/__tests__/ChannelMemberDetail.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): prevent memoization of channel members on channel instance
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberDetail.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelMemberDetail): make member property for mandatory
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/ChannelMemberDetail.tsx
  src/plugins/ChannelDetail/Views/ChannelMemberDetailView/__tests__/ChannelMemberDetail.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(useChannelHasMembersOnline): prevent including own user into watchers
  src/components/ChannelHeader/hooks/__tests__/useChannelHasMembersOnline.test.ts
  src/components/ChannelHeader/hooks/useChannelHasMembersOnline.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): fix imports
  examples/vite/src/ChatLayout/ConfiguredChannelDetail.tsx
Due: prettier --list-different

fix: make mention highlighting independent of mention permissions
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/QuotedMessage.test.tsx
  src/components/Message/renderText/__tests__/renderText.test.tsx
  src/components/Message/renderText/renderText.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/components/TextareaComposer/styling/SuggestionList.scss
  src/utils/__tests__/mentionCapabilities.test.ts
  src/utils/index.ts
  src/utils/mentionCapabilities.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: add exports from ChannelMembersView and PinnedMessagesView
  src/plugins/ChannelDetail/Views/ChannelMembersView/index.ts
  src/plugins/ChannelDetail/Views/PinnedMessagesView/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: adapt to stream-chat mention control changes
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/Thread/__tests__/Thread.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): memoize ListItemLayout props
  src/plugins/ChannelDetail/ChannelDetailNavButton.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.tsx
  src/plugins/ChannelDetail/Views/ChannelManagementView/ChannelManagementActions.defaults.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelDetail): prevent recreating descriptor in toChannelMediaItems
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(ChannelDetail): virtualized list views
  src/plugins/ChannelDetail/ChannelDetailNavButton.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.utils.ts
  src/plugins/ChannelDetail/Views/ChannelFilesView/__tests__/ChannelFilesView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/useChannelFilesSearch.ts
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
  src/plugins/ChannelDetail/VirtualizedList/VirtualizedList.tsx
  src/plugins/ChannelDetail/VirtualizedList/__tests__/VirtualizedList.test.tsx
  src/plugins/ChannelDetail/VirtualizedList/index.ts
  src/plugins/ChannelDetail/VirtualizedList/styling/index.scss
  src/plugins/ChannelDetail/styling/ChannelFilesView.scss
  src/plugins/ChannelDetail/styling/ChannelMembersView.scss
  src/plugins/ChannelDetail/styling/PinnedMessagesView.scss
  src/plugins/ChannelDetail/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  9682b6a736175031021a1d89f5883d76b87985ab
Due: none

feat(ChannelDetail): paginate media list with buttons
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/__tests__/ChannelMediaView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/useChannelMediaSearch.ts
  src/plugins/ChannelDetail/styling/ChannelMediaView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(ChannelDetail): distribute items in media list independent of message pagination
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/__tests__/ChannelMediaView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/useChannelMediaSearch.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(TextareaComposer): expose autocomplete suggestions as an ARIA listbox
  .cursor/skills/accessibility/SKILL.md
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/Accessibility/scheduling/__tests__/useDebouncedAnnounce.test.ts
  src/components/Accessibility/scheduling/useDebouncedAnnounce.ts
  src/components/Dialog/components/ContextMenu.tsx
  src/components/InfiniteScrollPaginator/InfiniteScrollPaginator.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/components/TextareaComposer/__tests__/SuggestionList.test.tsx
  src/components/TextareaComposer/__tests__/UserItem.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: add tests for MessageInput.test.tsx and PollCreationDialog.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.14.6 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  f469ce60ba3ccd8c6ce90a5e2e031504fcb80f1e
Due: none

fix(a11y): announce correct number of items in AttachmentSelector
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): return focus to textarea after poll creation success
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): coherent screen-reader flow for the poll creation dialog
  src/components/Accessibility/AriaLiveAnnouncerProvider.tsx
  src/components/Accessibility/__tests__/AriaLiveAnnouncerProvider.test.tsx
  src/components/Accessibility/hooks/__tests__/useInteractionAnnouncements.test.tsx
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/Accessibility/scheduling/__tests__/useAnnouncementQueue.test.ts
  src/components/Accessibility/scheduling/__tests__/useDebouncedAnnounce.test.ts
  src/components/Accessibility/scheduling/useAnnouncementQueue.ts
  src/components/Accessibility/scheduling/useDebouncedAnnounce.ts
  src/components/Accessibility/useAriaLiveAnnouncer.ts
  src/components/MessageComposer/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Notifications/Notification.tsx
  src/components/Notifications/__tests__/Notification.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.ts
  src/components/Notifications/hooks/useNotificationApi.ts
  src/components/Poll/PollCreationDialog/NameField.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
  src/components/Poll/PollCreationDialog/PollOptionReorderHandle.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/TextareaComposer/TextareaComposer.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(release): 14.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  b9ef6cdbc5ecf8267381681690eb5dbcb185e5d2
Due: none

fix(renderText): recognize uppercase URL schemes in message links
  src/components/Message/renderText/__tests__/renderText.test.tsx
  src/components/Message/renderText/componentRenderers/Anchor.tsx
  src/components/Message/renderText/regex.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): make ChannelListItemUI expose accessible and configurable label
  package.json
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/__tests__/__snapshots__/ChannelListItemUI.test.tsx.snap
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/index.ts
  src/components/ChannelListItem/utils.a11y.ts
  src/components/ChannelListItem/utils.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): add keyboard navigation to the ChannelList
  src/components/ChannelList/ChannelListUI.tsx
  src/components/ChannelList/hooks/__tests__/useChannelListKeyboardNavigation.test.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelListKeyboardNavigation.ts
  src/components/ChannelListItem/__tests__/__snapshots__/ChannelListItemUI.test.tsx.snap
  src/components/ChannelListItem/__tests__/utils.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: return background colors to LinkPreviewCard and TypingIndicator
  src/components/MessageComposer/styling/LinkPreviewList.scss
  src/components/TypingIndicator/styling/TypingIndicator.scss
Due: none

feat(a11y): improved attachment announcement on ChannelListItemUI
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/utils.a11y.ts
  src/components/ChannelListItem/utils.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): announce poll options draggability and switch field toggle
  src/components/Accessibility/scheduling/__tests__/useSettledAnnouncement.test.ts
  src/components/Accessibility/scheduling/index.ts
  src/components/Accessibility/scheduling/useDebouncedAnnounce.ts
  src/components/Accessibility/scheduling/useSettledAnnouncement.ts
  src/components/Form/SwitchField.tsx
  src/components/Form/__tests__/SwitchField.test.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(ChannelListItem): guard muteStatus against uninitialized channels
  src/components/ChannelListItem/hooks/__tests__/useIsChannelMuted.test.tsx
  src/components/ChannelListItem/hooks/useIsChannelMuted.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelList): do not query unfiltered channels on notification.message_new
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ChannelList): stop watching channels removed from the list
  src/components/ChannelList/__tests__/ChannelList.test.tsx
  src/components/ChannelList/hooks/useChannelListShape.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(Channel): guard channel methods against a disconnected client
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/Channel/hooks/useCreateChannelStateContext.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
