Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

Add missing PinIndicator placeholder & pinned classname
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: add missing PinIndicator placeholder (#2352)
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: copy-version should emit prettified code
  scripts/copy-version.sh
Due: none

chore: remove unused deps
  package.json
  yarn.lock
Due: none

chore: node 16/18 compat
  scripts/bundle.mjs
Due: none

chore: bundle unexternalizable deps in CJS
  scripts/bundle.mjs
Due: none

chore: streamline build pipeline
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .postcssrc
  babel.config.js
  e2e/add-message.test.ts
  e2e/navigate-long-message-lists.test.ts
  examples/typescript/yarn.lock
  i18next-parser.config.js
  package.json
  rollup.config.js
  scripts/bundle.mjs
  scripts/copy-css.sh
  scripts/copy-version.sh
  src/components/AutoCompleteTextarea/List.jsx
  src/version.ts
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore: properly externalize react
  package.json
  scripts/bundle.mjs
  src/index_UMD.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore: exclude emoji-mart from browser bundle
  scripts/bundle.mjs
Due: none

chore: remove eslint markdown plugin
  .eslintrc.json
  package.json
Due: none

chore: include esbuild target
  scripts/bundle.mjs
Due: none

chore: bump deps in example apps
  examples/capacitor/package.json
  examples/capacitor/yarn.lock
  examples/vite/package.json
  examples/vite/yarn.lock
Due: none

chore: bump jest and ts-jest
  package.json
  src/components/Avatar/__tests__/Avatar.test.js
  src/components/ChannelPreview/__tests__/__snapshots__/ChannelPreviewMessenger.test.js.snap
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/LoadMore/__tests__/LoadMorePaginator.test.js
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.js.snap
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/UserItem/__tests__/UserItem.test.js
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore: source maps in dev mode
  package.json
Due: none

chore: declaration maps in dev mode
  package.json
Due: none

chore: remove unused dependencies
  package.json
  yarn.lock
Due: none

chore: slim down cjs bundle
  scripts/bundle.mjs
Due: none

chore: fix-version
  src/version.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: add audio transcoding to mp3 and wav
  package.json
  src/components/MessageInput/VoiceRecorder/AudioRecordingPreview.tsx
  src/components/MessageInput/VoiceRecorder/transcode/audioProcessing.ts
  src/components/MessageInput/VoiceRecorder/transcode/index.ts
  src/components/MessageInput/VoiceRecorder/transcode/mp3.ts
  src/components/MessageInput/VoiceRecorder/transcode/wav.ts
  src/components/MessageInput/hooks/useMediaRecorder.ts
  src/components/ReactFileUtilities/utils.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

refactor: move media recording functionality to MediaRecorder folder
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtons.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingWaveform.tsx
  src/components/MediaRecorder/AudioRecorder/RecordingTimer.tsx
  src/components/MediaRecorder/AudioRecorder/index.ts
  src/components/MediaRecorder/AudioRecorder/transcode/audioProcessing.ts
  src/components/MediaRecorder/AudioRecorder/transcode/index.ts
  src/components/MediaRecorder/AudioRecorder/transcode/mp3.ts
  src/components/MediaRecorder/AudioRecorder/transcode/wav.ts
  src/components/MediaRecorder/RecordingPermissionDeniedNotification.tsx
  src/components/MediaRecorder/hooks/index.ts
  src/components/MediaRecorder/hooks/useBrowserPermissionState.ts
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MediaRecorder/index.ts
  src/components/MessageInput/AttachmentPreviewList.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/index.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/index.ts
  src/components/index.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: update the ChannelList cookbook
  docusaurus/docs/React/assets/channel-list-counter.png
  docusaurus/docs/React/assets/channel-list-error.png
  docusaurus/docs/React/assets/channel-list-loading.png
  docusaurus/docs/React/assets/channel-list-preview-custom.png
  docusaurus/docs/React/assets/channel-list-preview-selected.png
  docusaurus/docs/React/assets/channel-list-preview-timestamp.png
  docusaurus/docs/React/assets/channel-list-preview.png
  docusaurus/docs/React/assets/channel-list-separator.png
  docusaurus/docs/React/assets/channel-list.png
  docusaurus/docs/React/guides/customization/channel-list-preview.mdx
Due: none

docs: reorganize channel list articles (#2351)
  docusaurus/docs/React/components/utility-components/channel-preview-ui.mdx
  docusaurus/docs/React/components/utility-components/channel-search.mdx
  docusaurus/docs/React/guides/channel-list-infinite-scroll.mdx
  docusaurus/docs/React/guides/customization/app-menu.mdx
  docusaurus/docs/React/guides/customization/channel-search.mdx
  docusaurus/docs/React/guides/multiple-channel-lists.mdx
  docusaurus/sidebars-react.json
Due: none

docs: update the ChannelList cookbook (#2354)
  docusaurus/docs/React/assets/channel-list-counter.png
  docusaurus/docs/React/assets/channel-list-error.png
  docusaurus/docs/React/assets/channel-list-loading.png
  docusaurus/docs/React/assets/channel-list-preview-custom.png
  docusaurus/docs/React/assets/channel-list-preview-selected.png
  docusaurus/docs/React/assets/channel-list-preview-timestamp.png
  docusaurus/docs/React/assets/channel-list-preview.png
  docusaurus/docs/React/assets/channel-list-separator.png
  docusaurus/docs/React/assets/channel-list.png
  docusaurus/docs/React/guides/customization/channel-list-preview.mdx
Due: none

feat: support size_limit in upload config
  src/components/MessageInput/hooks/utils.ts
  src/i18n/en.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

feat: add default size limit
  package.json
  src/components/MessageInput/hooks/utils.ts
  src/constants/limits.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

feat: add translations
  src/i18n/de.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

feat: fallback to default on zero limit
  src/components/MessageInput/hooks/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: add tests
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/mock-builders/index.js
Due: eslint --max-warnings 0, prettier --list-different

feat: remove pretty-bytes
  package.json
  rollup.config.js
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/components/FileSizeIndicator.tsx
  src/components/MessageInput/hooks/utils.ts
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

feat: support size_limit in upload config (#2301)
  package.json
  rollup.config.js
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/components/FileSizeIndicator.tsx
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/hooks/utils.ts
  src/constants/limits.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/mock-builders/index.js
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: stuff around pretty-bytes
  src/components/Attachment/__tests__/__snapshots__/File.test.js.snap
  src/components/MessageInput/hooks/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: update file sizes
  src/components/Attachment/__tests__/VoiceRecording.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: file size formatting (#2357)
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/__tests__/__snapshots__/File.test.js.snap
  src/components/MessageInput/hooks/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.14.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  30/cf1ce24eccaba447c0907535d34c60bf061034
Due: none

Add basic EmojiPicker documentation with props
  docusaurus/docs/React/components/message-input-components/emoji-picker.mdx
  src/components/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0, prettier --list-different

Add to react-sidebars.json
  docusaurus/sidebars-react.json
Due: none

Adjust styling of related docs
  docusaurus/docs/React/components/message-components/reactions.mdx
  docusaurus/docs/React/guides/customization/emoji-picker.mdx
Due: none

docs: add EmojiPicker component documentation (#2353)
  docusaurus/docs/React/components/message-components/reactions.mdx
  docusaurus/docs/React/components/message-input-components/emoji-picker.mdx
  docusaurus/docs/React/guides/customization/emoji-picker.mdx
  docusaurus/sidebars-react.json
  src/components/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: make setChannels prop optional for ChannelSearch
  src/components/ChannelSearch/hooks/useChannelSearch.ts
Due: eslint --max-warnings 0, prettier --list-different

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
