Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: remove replies usage entirely
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: migrate readers to channel.messagePaginator
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/utils.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/ScrollToLatestMessageButton.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/context/MessageBounceContext.tsx
  src/mock-builders/api/markRead.ts
  src/mock-builders/event/messageDeleted.ts
  src/mock-builders/event/messageNew.ts
  src/mock-builders/event/messageUpdated.ts
  src/mock-builders/generator/channel.ts
  src/mock-builders/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(Channel): assert message removal against messagePaginator
  src/components/Channel/__tests__/Channel.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ChannelDetail): source pinned-message count from channel.pinnedMessagesPaginator
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/usePinnedMessagesCount.test.ts
  src/plugins/ChannelDetail/Views/PinnedMessagesView/usePinnedMessagesCount.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: migrate stale channel.state.messages / ThreadState.replies readers to paginators
  src/components/Channel/Channel.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(ThreadListItemUI): source latest reply from messagePaginator.latestMessage
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: correct CLAUDE.md message/thread storage guidance for the paginator model
  CLAUDE.md
Due: prettier --list-different

docs: update CLAUDE.md architecture for the reducer/context removal
  CLAUDE.md
Due: prettier --list-different

Post-review adjustments
  src/components/Avatar/Avatar.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/UserItem.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: introduce extractDisplayInfo for Avatar/AvatarStack components (#3244)
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/utils.ts
  src/components/ChannelListItem/utils.tsx
  src/components/Dialog/components/ContextMenu.tsx
  src/components/Message/MessageRepliesCountButton.tsx
  src/components/Message/MessageUI.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/PollVote.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/TextareaComposer/SuggestionList/MentionItem/UserItem.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/__tests__/ThreadListItemUI.test.tsx
  src/components/TypingIndicator/TypingIndicator.tsx
  src/components/TypingIndicator/hooks/useDebouncedTypingActive.ts
  src/context/ComponentContext.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersAddView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/PinnedMessagesView.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.10.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  0d1c64372f5f7944302cbb90017249be2bc00e0f
Due: none

refactor: receive last item and its preview in thread and channel views based on message paginator
  ai-docs/ai-migration-v14-v15.md
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/ChannelListItemTimestamp.tsx
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/utils.tsx
  src/components/MessageList/__tests__/MessageList.test.tsx
  src/components/MessageList/__tests__/ScrollToLatestMessageButton.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/context/ComponentContext.tsx
  src/mock-builders/api/markRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: make empty channel list container align contents to the center
  src/components/ChannelList/styling/ChannelList.scss
Due: none

Initial commit
  src/components/MessageComposer/MessageComposer.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(workspaceNavigation): allow to override worskpace navigation adapter API
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/ChatLayout/useAdditiveWorkspaceNavigation.ts
  src/components/ChannelListItem/ChannelListItemUI.tsx
  src/components/ChannelListItem/__tests__/ChannelListItemUI.test.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/Search/__tests__/SearchResultItem.test.tsx
  src/context/WorkspaceNavigationContext.tsx
  src/plugins/SlotLayout/ChatView.tsx
  src/plugins/SlotLayout/__tests__/ChatViewNavigation.test.tsx
  src/plugins/SlotLayout/index.tsx
  src/plugins/SlotLayout/workspaceNavigationAdapter.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor(pagination): replace sideloaded items with logical interval items
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/ChatLayout/WorkspaceUrlSync.tsx
  src/components/ChannelList/hooks/index.ts
  src/components/ChannelList/hooks/useChannelPaginatorState.ts
  src/components/ChannelList/hooks/useSideloadedChannels.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): add ScrollToActiveChannelButton
  examples/vite/src/ChatLayout/ScrollToActiveChannelButton.tsx
  examples/vite/src/ChatLayout/SwitchableChannelNavigation.tsx
  examples/vite/src/index.scss
Due: prettier --list-different

fix: unread indicators
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/UnreadMessagesNotification.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(ModalGallery): prevent reload button from covering other elements floating above it
  src/components/Attachment/styling/ModalGallery.scss
Due: none

chore(tutorial): dedupe react so the example app boots
  examples/tutorial/vite.config.ts
Due: prettier --list-different

chore(tutorial): make the step stylesheets identical and self-contained
  examples/tutorial/README.md
  examples/tutorial/src/3-core-component-setup/layout.css
  examples/tutorial/src/4-channel-list/layout.css
  examples/tutorial/src/5-theming/layout.css
  examples/tutorial/src/6-custom-ui-components/layout.css
  examples/tutorial/src/7-emoji-picker/layout.css
  examples/tutorial/src/App.tsx
  examples/tutorial/src/optional-custom-attachment-type/layout.css
  examples/tutorial/src/optional-livestream/layout.css
  examples/tutorial/src/tutorial-main.css
Due: prettier --list-different

chore: use non-deprecated api
  examples/tutorial/src/6-custom-ui-components/App.tsx
Due: prettier --list-different

Adjust tests
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.tsx
  src/components/MessageComposer/AttachmentSelector/__tests__/CommandsMenu.test.tsx
  src/components/MessageComposer/__tests__/CommandChip.test.tsx
  src/components/TextareaComposer/__tests__/CommandItem.test.tsx
  src/plugins/ChannelDetail/Views/ChannelFilesView/__tests__/ChannelFilesView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Lint fixes and further test adjustmens
  src/components/Badge/MediaBadge.tsx
  src/components/Icons/index.ts
  src/context/WithComponents.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersAddView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/plugins/ChannelDetail/Views/PinnedMessagesView/__tests__/PinnedMessagesView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): upgrade stream-chat to v10.0.0-rc.1
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

Adjust for StrictMode
  src/components/Channel/Channel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Channel/Channel.tsx
  src/components/ChannelListItem/ChannelListItem.tsx
  src/components/ChannelListItem/hooks/useMessageDeliveryStatus.ts
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix type issues concerning LLC types
  src/components/Attachment/Audio.tsx
  src/components/Attachment/FileAttachment.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Badge/MediaBadge.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MessageComposer/AttachmentPreviewList/AttachmentUploadedSizeIndicator.tsx
  src/components/MessageComposer/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageComposer/AttachmentPreviewList/FileAttachmentPreview.tsx
  src/components/Search/SearchResults/SearchResultItem.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
  src/plugins/ChannelDetail/Views/ChannelFilesView/ChannelFilesView.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/ChannelMediaView.utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent announcing poll sent after failed request
  src/components/MessageComposer/hooks/useSendMessageFn.ts
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: adjust tests to new openAPI LLC type contract
  src/components/Attachment/__tests__/Audio.test.tsx
  src/components/Attachment/__tests__/File.test.tsx
  src/components/Attachment/__tests__/VoiceRecording.test.tsx
  src/components/Channel/__tests__/Channel.test.tsx
  src/components/ChannelHeader/__tests__/ChannelHeader.test.tsx
  src/components/ChannelListItem/__tests__/ChannelListItem.test.tsx
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/hooks/__tests__/useChannelPreviewInfo.test.tsx
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/__tests__/useReactionsFetcher.test.tsx
  src/components/MessageComposer/__tests__/AttachmentPreviewList.test.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/MessageComposer/__tests__/MessageInput.test.tsx
  src/components/MessageList/hooks/__tests__/useUnreadMessagesNotificationVirtualized.test.tsx
  src/components/Poll/__tests__/PollCreationDialog.test.tsx
  src/components/Poll/__tests__/SuggestPollOptionForm.test.tsx
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
  src/components/TypingIndicator/__tests__/TypingIndicator.test.tsx
  src/mock-builders/api/index.ts
  src/mock-builders/generator/attachment.ts
  src/mock-builders/index.ts
  src/plugins/ChannelDetail/Views/ChannelFilesView/__tests__/ChannelFilesView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMediaView/__tests__/ChannelMediaView.test.tsx
  src/plugins/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersView.utils.test.ts
  src/plugins/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
  src/plugins/ChannelDetail/__tests__/ChannelManagementView.test.tsx
  src/plugins/SlotLayout/__tests__/ChatView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent showing ScrollToLatestMessageButton with 0 messages
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(examples): reconcile vite example with stream-chat v10 types
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventAutomation.ts
  examples/vite/src/AppSettings/ActionsMenu/WebSocketEventPromptDialog/websocketEventTemplates.ts
  examples/vite/src/AppSettings/tabs/Reactions/reactionsExampleData.ts
  examples/vite/src/ChatLayout/ChannelMembersRemoveView.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/CustomMessageUi/variants.tsx
  examples/vite/src/stream-chat-custom-data.d.ts
Due: prettier --list-different
