Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: search results list props
  src/components/ChannelSearch/SearchResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: unnecessary default
  src/components/ChannelSearch/SearchResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: search results list props (#2359)
  src/components/ChannelSearch/SearchResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: make setChannels prop optional for ChannelSearch (#2358)
  src/components/ChannelSearch/hooks/useChannelSearch.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: move media recording functionality to MediaRecorderController class
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingWaveform.tsx
  src/components/MediaRecorder/AudioRecorder/RecordingTimer.tsx
  src/components/MediaRecorder/AudioRecorder/index.ts
  src/components/MediaRecorder/RecordingPermissionDeniedNotification.tsx
  src/components/MediaRecorder/classes/BrowserPermission.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/index.ts
  src/components/MediaRecorder/hooks/index.ts
  src/components/MediaRecorder/hooks/useBrowserPermissionState.ts
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MediaRecorder/index.ts
  src/components/MediaRecorder/observable/BehaviorSubject.ts
  src/components/MediaRecorder/observable/Observable.ts
  src/components/MediaRecorder/observable/Observer.ts
  src/components/MediaRecorder/observable/Subject.ts
  src/components/MediaRecorder/observable/Subscription.ts
  src/components/MediaRecorder/observable/__tests__/BehaviorSubject.test.js
  src/components/MediaRecorder/observable/__tests__/Subject.test.js
  src/components/MediaRecorder/transcode/audioProcessing.ts
  src/components/MediaRecorder/transcode/index.ts
  src/components/MediaRecorder/transcode/mp3.ts
  src/components/MediaRecorder/transcode/wav.ts
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: extract amplitude recording to AmplitudeRecorder
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/classes/AmplitudeRecorder.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/index.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: extract disposeOfMediaStream to global function
  src/components/MediaRecorder/classes/MediaRecorderController.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: remove AttachmentUploadState enum & allow to disable media recording
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MessageInput/AttachmentPreviewList.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/components/MessageInput/types.ts
Due: eslint --max-warnings 0, prettier --list-different

refactor: move RecordingAttachmentType to MediaRecorderController.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/hooks/index.ts
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

docs: update channel search cookbook
  docusaurus/docs/React/assets/channel-search-channels.png
  docusaurus/docs/React/assets/channel-search-messages.png
  docusaurus/docs/React/assets/channel-search-users.png
  docusaurus/docs/React/assets/channel-search.png
  docusaurus/docs/React/guides/customization/channel-search.mdx
Due: none

refactor: move uploadRecording from useMediaRecorder to useAttachments
  src/components/Attachment/utils.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/classes/BrowserPermission.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/hooks/index.ts
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MessageInput/AttachmentPreviewList.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/useAttachments.ts
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/components/MessageInput/types.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: add images, links, tabs
  docusaurus/docs/React/assets/channel-search-anatomy.png
  docusaurus/docs/React/assets/channel-search-item.png
  docusaurus/docs/React/guides/customization/channel-search.mdx
Due: none

docs: remove leftover code
  docusaurus/docs/React/guides/customization/channel-search.mdx
Due: none

test: update AttachmentPreviewList tests
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
  src/mock-builders/generator/upload.js
Due: eslint --max-warnings 0, prettier --list-different

test: fix Attachment tests
  src/components/Attachment/Audio.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/__tests__/Audio.test.js
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/hooks/useAudioController.ts
  src/components/MessageInput/AttachmentPreviewList.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: change utils file extension
  src/components/Reactions/utils/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

test: add missing snapshots
  src/components/MessageInput/__tests__/__snapshots__/AttachmentPreviewList.test.js.snap
Due: none

test: move audio sampling tests to dedicated file
  src/components/Attachment/__tests__/WaveProgressBar.test.js
  src/components/Attachment/__tests__/__snapshots__/WaveProgressBar.test.js.snap
  src/components/Attachment/__tests__/audioSampling.test.js
Due: eslint --max-warnings 0, prettier --list-different

refactor: convert MediaRecorderController methods to arrow functions
  src/components/MediaRecorder/classes/MediaRecorderController.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: transcode only audios other than mp4
  src/components/MediaRecorder/classes/MediaRecorderController.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: close audio context
  src/components/MediaRecorder/transcode/audioProcessing.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: throw error when recorded media type is video
  src/components/MediaRecorder/classes/MediaRecorderController.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: provide a more general types for attachment type inferring functions
  src/components/Attachment/utils.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: close AudioContext when not closed
  src/components/MediaRecorder/transcode/audioProcessing.ts
Due: eslint --max-warnings 0, prettier --list-different

docs: update channel search cookbook (#2363)
  docusaurus/docs/React/assets/channel-search-anatomy.png
  docusaurus/docs/React/assets/channel-search-channels.png
  docusaurus/docs/React/assets/channel-search-item.png
  docusaurus/docs/React/assets/channel-search-messages.png
  docusaurus/docs/React/assets/channel-search-users.png
  docusaurus/docs/React/assets/channel-search.png
  docusaurus/docs/React/guides/customization/channel-search.mdx
Due: none

test: add MediaRecorderController tests
  src/components/MediaRecorder/classes/AmplitudeRecorder.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.js
Due: eslint --max-warnings 0, prettier --list-different

test: add MediaRecorderController tests
  src/components/MediaRecorder/classes/AmplitudeRecorder.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.js
  src/utils/mergeDeep.ts
Due: eslint --max-warnings 0, prettier --list-different

test: add more MediaRecorder tests
  src/components/Attachment/__tests__/__snapshots__/WaveProgressBar.test.js.snap
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MediaRecorder/RecordingPermissionDeniedNotification.tsx
  src/components/MediaRecorder/classes/AmplitudeRecorder.ts
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/AmplitudeRecorder.test.js
  src/components/MediaRecorder/classes/__tests__/BrowserPermission.test.js
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.js
  src/components/MediaRecorder/hooks/__tests__/useMediaRecorder.test.js
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/components/MediaRecorder/observable/index.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/hooks/useMessageInputState.ts
  src/mock-builders/browser/AnalyserNode.js
  src/mock-builders/browser/AudioContext.js
  src/mock-builders/browser/EventEmitter.js
  src/mock-builders/browser/HTMLMediaElement.js
  src/mock-builders/browser/MediaRecorder.js
  src/mock-builders/browser/events/dataavailable.js
  src/mock-builders/browser/index.js
Due: eslint --max-warnings 0, prettier --list-different

test: add more MediaRecorder tests
  src/components/MediaRecorder/RecordingPermissionDeniedNotification.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: add translations
  src/components/MediaRecorder/RecordingPermissionDeniedNotification.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

fix: reorder DE translations
  src/i18n/de.json
Due: prettier --list-different, yarn run validate-translations

test: fix failing AudioRecorder tests
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MessageInput/MessageInputFlat.tsx
Due: eslint --max-warnings 0, prettier --list-different

docs: add documentation for AudioRecorder feature
  docusaurus/docs/React/assets/audio-recorder-paused.png
  docusaurus/docs/React/assets/audio-recorder-permission-denied-notification.png
  docusaurus/docs/React/assets/audio-recorder-recording.png
  docusaurus/docs/React/assets/audio-recorder-start-recording-button.png
  docusaurus/docs/React/assets/audio-recorder-stopped.png
  docusaurus/docs/React/components/message-input-components/audio-recorder.mdx
  docusaurus/sidebars-react.json
  src/components/MessageInput/MessageInput.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: allow to customize StartRecordingAudioButton
  src/components/Channel/Channel.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

docs: omit documenting audioRecordingConfig
  docusaurus/docs/React/components/message-input-components/audio-recorder.mdx
Due: none

chore(release): 11.15.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  fd/d021880d783af39e46e1327f2eb47c19199f09
Due: none

chore(deps): bump @stream-io/stream-chat-css to 4.14.0
  package.json
  yarn.lock
Due: none

chore(release): 11.15.1 [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
