Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

style: remove commented code
  src/components/DragAndDrop/DragAndDropContainer.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: sort poll results descending
  src/components/Poll/PollActions/PollResults/PollResults.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: unify form field error rendering
  src/components/Dialog/FormDialog.tsx
  src/components/Poll/PollCreationDialog/FieldError.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: vote for suggested option
  src/components/Poll/PollActions/PollActions.tsx
  src/components/Poll/PollActions/SuggestPollOptionForm.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: maximum number of votes is not mandatory if multiple votes are enabled
  src/components/Poll/PollCreationDialog/FieldError.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialogControls.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: remove the oldest vote if reached voting limit
  src/components/Poll/PollOptionSelector.tsx
Due: eslint --max-warnings 0, prettier --list-different

Revert "fix: remove the oldest vote if reached voting limit"
  src/components/Poll/PollOptionSelector.tsx
Due: eslint --max-warnings 0, prettier --list-different

Cookbook adjustments and new assets
  docusaurus/docs/React/assets/Geolocation1.png
  docusaurus/docs/React/assets/Geolocation2.png
  docusaurus/docs/React/assets/Geolocation3.png
  docusaurus/docs/React/assets/Geolocation4.png
  docusaurus/docs/React/assets/geolocation-attachment-0.png
  docusaurus/docs/React/assets/geolocation-attachment-1.png
  docusaurus/docs/React/assets/geolocation-attachment-2.png
  docusaurus/docs/React/guides/theming/actions/geolocation-attachment.mdx
Due: none

Change title
  docusaurus/docs/React/guides/theming/actions/geolocation-attachment.mdx
Due: none

Revamp geo-loc attachment guide
  docusaurus/docs/React/guides/theming/actions/geolocation-attachment.mdx
Due: none

docs: revamp geolocation attachment cookbook (#2537)
  docusaurus/docs/React/assets/Geolocation1.png
  docusaurus/docs/React/assets/Geolocation2.png
  docusaurus/docs/React/assets/Geolocation3.png
  docusaurus/docs/React/assets/Geolocation4.png
  docusaurus/docs/React/assets/geolocation-attachment-0.png
  docusaurus/docs/React/assets/geolocation-attachment-1.png
  docusaurus/docs/React/assets/geolocation-attachment-2.png
  docusaurus/docs/React/guides/theming/actions/geolocation-attachment.mdx
Due: none

Add guide to the sidebars.json
  docusaurus/sidebars-react.json
Due: none

Add Blocking Users guide
  docusaurus/docs/React/guides/blocking-users.mdx
  docusaurus/docs/React/guides/theming/actions/message-actions.mdx
Due: none

docs: add Blocking Users guide (#2542)
  docusaurus/docs/React/guides/blocking-users.mdx
  docusaurus/docs/React/guides/theming/actions/message-actions.mdx
  docusaurus/sidebars-react.json
Due: none

fix: reflect ownVotesByOptionId maps PollVote values
  src/components/Poll/PollOptionSelector.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: remove stale error in FormDialog
  src/components/Dialog/FormDialog.tsx
  src/components/Form/FieldError.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: add poll creation dialog layout fixes
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
Due: eslint --max-warnings 0, prettier --list-different

Introduce new MessageActions component
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.new.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Next iteration
  src/components/Message/MessageOptions.tsx
  src/components/MessageActions/MessageActions.new.tsx
  src/components/Reactions/ReactionSelectorWithButton.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

refactor: prevent warning logs from usePollContext hook
  src/components/Poll/hooks/usePollAnswerPagination.ts
  src/components/Poll/hooks/usePollState.ts
  src/context/PollContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: retrieve Poll component from ComponentContext in MessageSimple
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: jump to the next input in the OptionFieldSet on Enter key
  src/components/Poll/Poll.tsx
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/components/Poll/PollOptionList.tsx
Due: eslint --max-warnings 0, prettier --list-different

refactor: use Poll component to display quoted poll
  src/components/Message/QuotedMessage.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/Poll/Poll.tsx
  src/components/Poll/PollActions/PollResults/PollOptionWithLatestVotes.tsx
  src/components/Poll/QuotedPoll.tsx
  src/components/Poll/index.ts
Due: eslint --max-warnings 0, prettier --list-different

test: add tests for quoted poll scenario
  src/components/Message/__tests__/QuotedMessage.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/mock-builders/generator/poll.js
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): update stream-chat to v8.41.1
  package.json
  yarn.lock
Due: none

Return objects from selectors instead of arrays
  src/components/ChatView/ChatView.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/ThreadListLoadingIndicator.tsx
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0, prettier --list-different

Update documentation
  docusaurus/docs/React/guides/sdk-state-management.mdx
Due: none

Remove ts-expect-error from useStateStore
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0, prettier --list-different

Remove outdated parts of the documentation
  docusaurus/docs/React/guides/sdk-state-management.mdx
Due: none

feat: return objects from selectors instead of arrays (#2547)
  docusaurus/docs/React/guides/sdk-state-management.mdx
  src/components/ChatView/ChatView.tsx
  src/components/Dialog/hooks/useDialog.ts
  src/components/Thread/Thread.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/components/Threads/ThreadList/ThreadListLoadingIndicator.tsx
  src/components/Threads/ThreadList/ThreadListUnseenThreadsBanner.tsx
  src/store/hooks/useStateStore.ts
Due: eslint --max-warnings 0, prettier --list-different

feat: make AttachmentSelectorActions customizable
  src/components/MessageInput/AttachmentSelector.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/index.ts
  src/components/Poll/PollCreationDialog/PollCreationDialog.tsx
  src/context/AttachmentSelectorContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

test: add AttachmentSelector tests
  src/components/MessageInput/__tests__/AttachmentSelector.test.js
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  19/486fab1fa592f58cd2cc74d5882e0c1c454563
Due: none

Apply review suggestions
  src/components/MessageActions/MessageActions.new.tsx
  src/components/MessageActions/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Introduce /unstable entrypoint, move stuff around
  package.json
  scripts/bundle.mjs
  src/components/Message/MessageOptions.tsx
  src/components/MessageActions/MessageActions_UNSTABLE.tsx
  src/components/MessageActions/index.ts
  src/context/ComponentContext.tsx
  src/unstable/MessageActions/MessageActions.tsx
  src/unstable/MessageActions/defaults.tsx
  src/unstable/MessageActions/hooks/index.ts
  src/unstable/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/unstable/MessageActions/hooks/useSplitMessageActionSet.ts
  src/unstable/MessageActions/index.ts
  src/unstable/index.ts
Due: eslint --max-warnings 0, prettier --list-different

Add MessageActions to ComponentContext, deprecate old stuff
  src/components/Channel/Channel.tsx
  src/components/Message/MessageOptions.tsx
  src/components/Message/MessageSimple.tsx
  src/components/MessageActions/MessageActions_UNSTABLE.tsx
  src/components/MessageActions/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore: remove baseUrl from tsconfig, fix imports
  src/components/ChatAutoComplete/ChatAutoComplete.tsx
  src/components/Threads/hooks/useThreadManagerState.ts
  tsconfig.json
Due: eslint --max-warnings 0, prettier --list-different

Path conditions:
  eslint --max-warnings 0: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: {src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}
  yarn run validate-translations: any of: src/i18n/*.json
