Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

TMP, should remove later
  src/components/Button/styling/Button.scss
  src/styling/_utils.scss
  src/styling/_variables.scss
  src/styling/accessibility.scss
  src/styling/animations.scss
  src/styling/assets/EmojiOneColor.woff2
  src/styling/assets/NotoColorEmoji-flags.woff2
  src/styling/assets/icons/stream-chat-icons.eot
  src/styling/assets/icons/stream-chat-icons.svg
  src/styling/assets/icons/stream-chat-icons.ttf
  src/styling/assets/icons/stream-chat-icons.woff
  src/styling/assets/icons/stream-chat-icons.woff2
  src/styling/base.scss
  src/styling/icons.scss
  src/styling/index.scss
  src/styling/utils.scss
  src/styling/variables.css
Due: none

fix: add missing suppressAutoscroll prop to MessageListProp
  src/components/MessageList/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix VoiceRecordingPreview glitches
  src/components/AudioPlayback/components/DurationDisplay.tsx
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/Icons/styling/IconPaperPlane.scss
  src/components/MessageInput/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageInput/styling/AttachmentPreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix isDayjs import usage for ESM
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent increasing unread count by useMarkRead hook if read-events are disabled
  src/components/MessageList/hooks/__tests__/useMarkRead.test.js
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent increasing unread count by useMarkRead hook if read-events are disabled (#2925)
  src/components/MessageList/hooks/__tests__/useMarkRead.test.js
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 13.13.5 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  706978ba0c3598bc508758cb9469412905c1b1d9
Due: none

feat: add Message styles
  src/components/Attachment/AttachmentContainer.tsx
  src/components/Attachment/Card.tsx
  src/components/Attachment/FileAttachment.tsx
  src/components/Attachment/VoiceRecording.tsx
  src/components/Attachment/__tests__/__snapshots__/File.test.js.snap
  src/components/Attachment/styling/Attachment.scss
  src/components/Attachment/styling/index.scss
  src/components/AudioPlayback/components/WaveProgressBar.tsx
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/Dialog/styling/Dialog.scss
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/Image.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/QuotedMessage.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/index.scss
  src/components/Message/utils.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageInput/styling/QuotedMessagePreview.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_utils.scss
  src/styling/base.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: isDayjs import usage for ESM (#2924)
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: port back the v2 styles variables
  src/components/Attachment/styling/Attachment.scss
  src/components/AudioPlayback/styling/DurationDisplay.scss
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/Icons/styling/IconExclamationCircle.scss
  src/components/Icons/styling/IconExclamationTriangle.scss
  src/components/Message/styling/Message.scss
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/AttachmentSelector.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageInput/styling/RemoveAttachmentPreviewButton.scss
  src/styling/_global-layout-variables.scss
  src/styling/_global-theme-variables.scss
  src/styling/_palette-variables.scss
  src/styling/_utils.scss
  src/styling/base.scss
  src/styling/index.scss
Due: none

chore(release): 13.13.6 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  77be56c9947b3464be89f9fdaa416252e530670e
Due: none

feat: move message editing directly into channel and thread composer instead of modal
  src/components/Channel/Channel.tsx
  src/components/Icons/IconCheckmark.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconCheckmark.scss
  src/components/Icons/styling/index.scss
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/hooks/__tests__/useEditHandler.test.js
  src/components/Message/hooks/index.ts
  src/components/Message/hooks/useEditHandler.ts
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.tsx
  src/components/MessageActions/MessageActionsBox.tsx
  src/components/MessageActions/__tests__/MessageActions.test.js
  src/components/MessageInput/AttachmentPreviewList/AudioAttachmentPreview.tsx
  src/components/MessageInput/EditMessageForm.tsx
  src/components/MessageInput/EditedMessagePreview.tsx
  src/components/MessageInput/MessageComposerActions.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/SendButton.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/EditMessageForm.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageInput/__tests__/ThreadMessageInput.test.js
  src/components/MessageInput/hooks/useCreateMessageInputContext.ts
  src/components/MessageInput/hooks/useMessageComposer.ts
  src/components/MessageInput/hooks/useSubmitHandler.ts
  src/components/MessageInput/index.ts
  src/components/MessageInput/styling/MessageComposer.scss
  src/context/ComponentContext.tsx
  src/context/MessageBounceContext.tsx
  src/context/MessageContext.tsx
  src/experimental/MessageActions/defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add new AudioRecorder
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Attachment/styling/Attachment.scss
  src/components/AudioPlayback/components/WaveProgressBar.tsx
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/components/Dialog/base/Callout.tsx
  src/components/Dialog/base/index.ts
  src/components/Dialog/styling/Callout.scss
  src/components/Dialog/styling/index.scss
  src/components/Icons/IconBin.tsx
  src/components/Icons/IconCross.tsx
  src/components/Icons/IconMicrophone.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconBin.scss
  src/components/Icons/styling/IconCross.scss
  src/components/Icons/styling/index.scss
  src/components/MediaRecorder/AudioRecorder/AudioRecorder.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecorderRecordingControls.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtonWithNotification.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingButtons.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingInProgress.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPlayback.tsx
  src/components/MediaRecorder/AudioRecorder/AudioRecordingPreview.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecordingPreview.test.js
  src/components/MediaRecorder/AudioRecorder/hooks/useTimeElapsed.ts
  src/components/MediaRecorder/AudioRecorder/index.ts
  src/components/MediaRecorder/AudioRecorder/recordingStateIdentity.ts
  src/components/MediaRecorder/AudioRecorder/styling/AudioRecorder.scss
  src/components/MediaRecorder/AudioRecorder/styling/index.scss
  src/components/MediaRecorder/RecordingPermissionDeniedNotification.tsx
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/context/ComponentContext.tsx
  src/styling/base.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix attachment borders and radii
  src/components/Attachment/styling/Attachment.scss
Due: none

feat: import new CSS variables
  src/components/AudioPlayback/styling/WaveProgressBar.scss
  src/styling/variables.css
Due: none

chore(deps): upgrade to stream-chat@9.31.0
  package.json
  yarn.lock
Due: prettier --list-different

Initial commit
  examples/vite/src/App.tsx
  src/components/Channel/Channel.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust tests
  src/components/Channel/__tests__/Channel.test.js
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/Gallery/__tests__/Image.test.js
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageList/__tests__/MessageList.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove Channel component propagation (#2904)
  examples/vite/src/App.tsx
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Gallery/__tests__/Gallery.test.js
  src/components/Gallery/__tests__/Image.test.js
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/__tests__/MessageInput.test.js
  src/components/MessageList/__tests__/MessageList.test.js
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Button/styling/Button.scss
  src/components/Reactions/ReactionSelector.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/StreamEmoji.tsx
  src/components/Reactions/reactionOptions.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add ReactionSelector styling + cleanup (#2916)
  src/components/Button/styling/Button.scss
  src/components/Reactions/ReactionSelector.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/StreamEmoji.tsx
  src/components/Reactions/reactionOptions.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial draft
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Avatar/Avatar.scss
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

SDK adjustments
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelSearch/SearchResults.tsx
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/PollVote.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/TextareaComposer/SuggestionList/UserItem.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/experimental/Search/SearchResults/SearchResultItem.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add fonts
  src/styling/fonts.scss
  src/styling/index.scss
Due: none

feat: new Avatar component design & adjustments (#2926)
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Avatar/Avatar.scss
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelSearch/SearchResults.tsx
  src/components/EventComponent/EventComponent.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Poll/PollOptionSelector.tsx
  src/components/Poll/PollVote.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/ReactionsListModal.tsx
  src/components/TextareaComposer/SuggestionList/UserItem.tsx
  src/components/Threads/ThreadList/ThreadListItemUI.tsx
  src/experimental/Search/SearchResults/SearchResultItem.tsx
  src/styling/fonts.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-merge changes
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Icons/IconPeople.tsx
  src/components/Icons/IconPlus.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconPeople.scss
  src/components/Icons/styling/index.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/styling/ReactionSelector.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: post-merge changes (#2929)
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Icons/IconPeople.tsx
  src/components/Icons/IconPlus.tsx
  src/components/Icons/index.ts
  src/components/Icons/styling/IconPeople.scss
  src/components/Icons/styling/index.scss
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/styling/ReactionSelector.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Avatar/ChannelAvatar.tsx
  src/components/Avatar/GroupAvatar.tsx
  src/components/Avatar/styling/GroupAvatar.scss
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelPreview/ChannelPreviewMessenger.tsx
  src/components/ChannelPreview/utils.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: use usePopoverPosition hook to position the SuggestionList
  src/components/Avatar/Avatar.tsx
  src/components/Dialog/hooks/usePopoverPosition.ts
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: use CommandsSubmenu component in AttachmentSelector
  src/components/Dialog/base/ContextMenu.tsx
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageInput/AttachmentSelector/CommandsSubmenu.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add getTextareaCaretRect to measure caret position
  src/utils/getTextareaCaretRect.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: add header to all the command menus
  src/components/Dialog/base/ContextMenu.tsx
  src/components/Dialog/styling/ContextMenu.scss
  src/components/Icons/styling/BaseIcon.scss
  src/components/Icons/styling/index.scss
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/components/MessageInput/AttachmentSelector/CommandsMenu.tsx
  src/components/MessageInput/styling/CommandsMenu.scss
  src/components/MessageInput/styling/CommandsSubmenu.scss
  src/components/MessageInput/styling/index.scss
  src/components/TextareaComposer/SuggestionList/CommandItem.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
