Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: voice recorder button not shown when quoting a message
  package.json
  src/components/MessageInput/MessageComposerActions.tsx
  src/components/MessageInput/MessageInput.tsx
  src/components/MessageInput/hooks/index.ts
  src/components/MessageInput/hooks/useMessageContentIsEmpty.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: fix lint
  src/components/ChannelList/ChannelList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: adjust CSS variable names
  examples/vite/src/AppSettings/AppSettings.scss
  src/components/Attachment/styling/Attachment.scss
  src/components/Avatar/GroupAvatar.tsx
  src/components/Badge/styling/Badge.scss
  src/components/Button/styling/Button.scss
  src/components/ChannelPreview/styling/ChannelPreview.scss
  src/components/Dialog/styling/ContextMenu.scss
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/Poll/styling/PollOptionFullList.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/common.scss
  src/components/Search/styling/Search.scss
  src/components/Threads/ThreadList/styling/ThreadList.scss
  src/components/Threads/ThreadList/styling/ThreadListItemUI.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove MessageEditedTimestamp component
  src/components/Message/MessageEditedTimestamp.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/index.ts
  src/components/Message/styling/MessageEditedTimestamp.scss
  src/components/Message/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: update breaking-changes.md and docs-plan.md checkpoints
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix: few more fixes
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/index.scss
  src/components/Notifications/NotificationList.tsx
  src/components/Notifications/notificationTarget.ts
  src/components/Notifications/styling/Notification.scss
  src/components/Notifications/styling/NotificationList.scss
  src/styling/variables.css
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add MessageEditedIndicator component
  src/components/Message/MessageEditedIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Thread/styling/ThreadHead.scss
  src/components/TypingIndicator/styling/TypingIndicator.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

style: fix lint issues
  package.json
  src/components/Dialog/styling/ContextMenu.scss
  yarn.lock
Due: prettier --list-different

fix: show ToggleSidebarButton in threads view's ThreadHeader
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(MessageTimestamp): show time only in 24h format (REACT-850)
  src/components/Message/__tests__/MessageTimestamp.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: show ToggleSidebarButton in threads view's ThreadHeader (#3020)
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/__tests__/ThreadHeader.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: remove initialNavOpenResponsive for redundancy
  examples/vite/src/App.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useChat.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign image placeholder
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Gallery/BaseImage.tsx
  src/components/Gallery/ImagePlaceholder.tsx
  src/components/Gallery/index.tsx
  src/components/Gallery/styling/BaseImage.scss
  src/components/Gallery/styling/ImagePlaceholder.scss
  src/components/Gallery/styling/index.scss
  src/components/Message/styling/QuotedMessage.scss
  src/components/MessageInput/styling/AttachmentPreviewThumbnail.scss
  src/components/MessageInput/styling/QuotedMessagePreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: make scrolling in message list on jumps smooth
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/channelState.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.js
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: show only time in MessageTimestamp (#3021)
  src/components/Message/__tests__/MessageTimestamp.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: redesign image placeholder (#3024)
  src/components/Attachment/styling/LinkPreview.scss
  src/components/Gallery/BaseImage.tsx
  src/components/Gallery/ImagePlaceholder.tsx
  src/components/Gallery/index.tsx
  src/components/Gallery/styling/BaseImage.scss
  src/components/Gallery/styling/ImagePlaceholder.scss
  src/components/Gallery/styling/index.scss
  src/components/Message/styling/QuotedMessage.scss
  src/components/MessageInput/styling/AttachmentPreviewThumbnail.scss
  src/components/MessageInput/styling/QuotedMessagePreview.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor: remove initialNavOpenResponsive for redundancy (#3023)
  examples/vite/src/App.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/hooks/useChat.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent message list jumps on scroll
  specs/message-list-jump-scroll/decisions.md
  specs/message-list-jump-scroll/goal.md
  specs/message-list-jump-scroll/plan.md
  specs/message-list-jump-scroll/state.json
  src/components/Channel/Channel.tsx
  src/components/Channel/__tests__/Channel.test.js
  src/components/Channel/channelState.ts
  src/components/Channel/hooks/useCreateChannelStateContext.ts
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/__tests__/MessageList.test.js
  src/components/MessageList/hooks/MessageList/scrollInstrumentation.ts
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
  src/context/ChannelStateContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: optimize the work done while scrolling
  specs/message-list-jump-scroll/decisions.md
  specs/message-list-jump-scroll/plan.md
  specs/message-list-jump-scroll/state.json
  src/components/MessageList/hooks/MessageList/scrollInstrumentation.ts
  src/components/MessageList/hooks/MessageList/useMessageListScrollManager.ts
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: don't expose giphy arg in quoted message preview and channel preview
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/SummarizedMessagePreview/SummarizedMessagePreview.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: hide buttons in message input if a command is selected
  src/components/MessageInput/MessageComposerActions.tsx
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/styling/MessageComposer.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: recert interactive flag, make Giphy use BaseImage
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/Image.tsx
  src/components/Attachment/ModalGallery.tsx
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: turn off interactions for giphy
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/Image.tsx
  src/components/Attachment/ModalGallery.tsx
  src/components/Attachment/styling/ModalGallery.scss
  src/components/Gallery/__tests__/ModalGallery.test.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

refactor: move BaseImage out of gallery
  src/components/Attachment/Giphy.tsx
  src/components/Attachment/LinkPreview/Card.tsx
  src/components/Attachment/ModalGallery.tsx
  src/components/BaseImage/BaseImage.tsx
  src/components/BaseImage/ImagePlaceholder.tsx
  src/components/BaseImage/__tests__/BaseImage.test.js
  src/components/BaseImage/index.ts
  src/components/BaseImage/styling/ImagePlaceholder.scss
  src/components/BaseImage/styling/index.scss
  src/components/BaseImage/toBaseImageDescriptors.ts
  src/components/Gallery/GalleryContext.tsx
  src/components/Gallery/GalleryUI.tsx
  src/components/Gallery/index.tsx
  src/components/Gallery/styling/index.scss
  src/components/MessageInput/AttachmentPreviewList/MediaAttachmentPreview.tsx
  src/components/MessageInput/LinkPreviewList.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/VideoPlayer/VideoThumbnail.tsx
  src/components/index.ts
  src/context/ComponentContext.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: update docs with the remaining breaking changes
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

fix: remove unnecessary CSS
  src/components/Attachment/styling/ModalGallery.scss
Due: none

fix: only categorize giphy type as giphy attachment
  src/components/MessageInput/QuotedMessagePreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: update docs with the giphy changes
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

feat: remove MessageListNotifications component and ComponentContext property with the same name
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/MessageListNotifications.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: fix circular import of useAudioPlayer
  src/components/Attachment/VoiceRecording.tsx
  src/components/MessageInput/AttachmentPreviewList/AudioAttachmentPreview.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove initialNavOpenResponsive references
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

feat(vite-example): add custom message UI showcase
  examples/vite/screenshot-attachment-actions.ts
  examples/vite/screenshot-misc.ts
  examples/vite/screenshot-reactions.ts
  examples/vite/screenshot-system-message.ts
  examples/vite/screenshot-variants.ts
  examples/vite/screenshot-voice-recording.ts
  examples/vite/src/App.tsx
  examples/vite/src/ChatLayout/Resize.tsx
  examples/vite/src/CustomMessageUi/attachment-actions-variant.css
  examples/vite/src/CustomMessageUi/attachment-actions-variant.tsx
  examples/vite/src/CustomMessageUi/index.tsx
  examples/vite/src/CustomMessageUi/reaction-variants.tsx
  examples/vite/src/CustomMessageUi/system-message-variants.css
  examples/vite/src/CustomMessageUi/system-message-variants.tsx
  examples/vite/src/CustomMessageUi/variants.css
  examples/vite/src/CustomMessageUi/variants.tsx
  examples/vite/src/index.scss
  scripts/seed-channel-and-screenshot.mjs
  scripts/take-doc-screenshots.mjs
  scripts/take-tier1-screenshots.mjs
  scripts/take-tier2-screenshots.mjs
Due: prettier --list-different

chore: reorganize
  examples/vite/docs-playwright/screenshot-attachment-actions.ts
  examples/vite/docs-playwright/screenshot-misc.ts
  examples/vite/docs-playwright/screenshot-reactions.ts
  examples/vite/docs-playwright/screenshot-system-message.ts
  examples/vite/docs-playwright/screenshot-variants.ts
  examples/vite/docs-playwright/screenshot-voice-recording.ts
  examples/vite/docs-playwright/seed-channel-and-screenshot.mjs
  examples/vite/docs-playwright/take-doc-screenshots.mjs
  examples/vite/docs-playwright/take-tier1-screenshots.mjs
  examples/vite/docs-playwright/take-tier2-screenshots.mjs
Due: prettier --list-different

chore: fix compilation issues
  examples/vite/src/CustomMessageUi/system-message-variants.tsx
  examples/vite/src/CustomMessageUi/variants.tsx
Due: prettier --list-different

Translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

Generalize useSplitMessageActionSet to useSplitActionSet
  src/components/MessageActions/hooks/useSplitMessageActionSet.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
