Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0",
  "{src/**/*.{js,ts,tsx,md,json}, .eslintrc.json, .prettierrc, babel.config.js}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix: resize waveform on mount and resize event
  src/components/Attachment/components/WaveProgressBar.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: use ResizeObserver to resize the wave form
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/__tests__/WaveProgressBar.test.js
  src/components/Attachment/__tests__/__snapshots__/WaveProgressBar.test.js.snap
  src/components/Attachment/components/WaveProgressBar.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.js.snap
  src/mock-builders/browser/ResizeObserver.js
  src/mock-builders/browser/index.js
Due: eslint --max-warnings 0, prettier --list-different

refactor: sync CSS variable name with stream-chat-css
  src/components/Attachment/__tests__/WaveProgressBar.test.js
  src/components/Attachment/__tests__/__snapshots__/WaveProgressBar.test.js.snap
  src/components/Attachment/components/WaveProgressBar.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

fix: load thread replies when Thread is opened
  src/components/Channel/channelState.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: always load thread replies on Thread opening (#2436)
  src/components/Channel/channelState.ts
Due: eslint --max-warnings 0, prettier --list-different

Integrate new client API's
  src/components/ChatView/ChatView.tsx
  src/components/Threads/ThreadList/ThreadList.tsx
Due: eslint --max-warnings 0, prettier --list-different

fix: reflect correctly the translation key in Timestamp component
  docusaurus/docs/React/guides/date-time-formatting.mdx
  src/components/Message/Timestamp.tsx
Due: eslint --max-warnings 0, prettier --list-different

feat: configure message group size by max time between messages
  docusaurus/docs/React/components/core-components/message-list.mdx
  docusaurus/docs/React/components/core-components/virtualized-list.mdx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/utils.test.js
  src/components/MessageList/hooks/MessageList/useEnrichedMessages.ts
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: forward groupStyles to Message in VirtualizedMessageList
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
Due: eslint --max-warnings 0, prettier --list-different

fix: adapt audio recording wave form to the available space (#2435)
  src/components/Attachment/__tests__/VoiceRecording.test.js
  src/components/Attachment/__tests__/WaveProgressBar.test.js
  src/components/Attachment/__tests__/__snapshots__/WaveProgressBar.test.js.snap
  src/components/Attachment/components/WaveProgressBar.tsx
  src/components/MediaRecorder/AudioRecorder/__tests__/AudioRecorder.test.js
  src/components/MediaRecorder/AudioRecorder/__tests__/__snapshots__/AudioRecorder.test.js.snap
  src/mock-builders/browser/ResizeObserver.js
  src/mock-builders/browser/index.js
Due: eslint --max-warnings 0, prettier --list-different

fix: consider maxTimeBetweenGroupedMessages for top message scenario
  src/components/MessageList/__tests__/utils.test.js
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

fix: forward groupStyles to Message in VirtualizedMessageList (#2440)
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
Due: eslint --max-warnings 0, prettier --list-different

feat: configure message group size by max time between messages (#2439)
  docusaurus/docs/React/components/core-components/message-list.mdx
  docusaurus/docs/React/components/core-components/virtualized-list.mdx
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/utils.test.js
  src/components/MessageList/hooks/MessageList/useEnrichedMessages.ts
  src/components/MessageList/utils.ts
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 11.23.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2e/41b44aacec0f32a4625f9aa9579dce1cfbd334
Due: none

chore(ci): create rc release with rc suffix
  .releaserc.json
Due: none

fix: render typing indicator outside the VirtualizedMessageList scroll container (#2406)
  src/components/MessageList/VirtualizedMessageList.tsx
  src/components/MessageList/VirtualizedMessageListComponents.tsx
  src/components/MessageList/__tests__/VirtualizedMessageListComponents.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

chore: streamline build pipeline (#2325)
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .postcssrc
  babel.config.js
  e2e/add-message.test.ts
  e2e/navigate-long-message-lists.test.ts
  examples/capacitor/package.json
  examples/capacitor/yarn.lock
  examples/typescript/package.json
  examples/typescript/yarn.lock
  examples/vite/yarn.lock
  i18next-parser.config.js
  package.json
  rollup.config.js
  scripts/bundle.mjs
  scripts/copy-css.sh
  scripts/copy-version.sh
  src/components/AutoCompleteTextarea/List.jsx
  src/components/Gallery/__tests__/__snapshots__/Gallery.test.js.snap
  src/components/LoadMore/__tests__/LoadMorePaginator.test.js
  src/components/Loading/__tests__/__snapshots__/LoadingIndicator.test.js.snap
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
  src/components/MessageActions/__tests__/CustomMessageActionsList.test.js
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/index_UMD.ts
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.0.0-rc.1 [skip ci]
  CHANGELOG.md
Due: none

test: remove MessageStatus tests for legacy styles
  src/components/Message/__tests__/MessageStatus.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
Due: eslint --max-warnings 0, prettier --list-different

chore(release): 12.0.0-rc.2 [skip ci]
  CHANGELOG.md
Due: none

style: fix MessageStatus lint issues
  src/components/Message/MessageStatus.tsx
Due: eslint --max-warnings 0, prettier --list-different

chore(deps): bump @stream-io/stream-chat-css to version 5.0.0-rc.1nvm
  package.json
  yarn.lock
Due: none

test: fix renderText snapshot
  src/components/Message/renderText/__tests__/__snapshots__/renderText.test.js.snap
Due: none

Notes added by 'git notes add'
  2c/9e45c3adc37ee72dfaf910bfc8b753a27cd831
Due: none

Notes added by 'git notes add'
  95/b4e1ce5884a27cbb68aae2235243c165d2abfa
Due: none

feat: remove default timestamp formatting props from DateSeparator, EventComponent, MessageTimestamp
  docusaurus/docs/React/guides/date-time-formatting.mdx
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
  src/components/DateSeparator/DateSeparator.tsx
  src/components/DateSeparator/__tests__/DateSeparator.test.js
  src/components/EventComponent/EventComponent.tsx
  src/components/EventComponent/__tests__/EventComponent.test.js
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageTimestamp.tsx
  src/components/Message/Timestamp.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageTimestamp.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/utils.ts
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations

docs: add notes about new build pipeline to migration guide
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
Due: none

docs: fix typo
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
Due: none

docs: add notes about new build pipeline to migration guide (#2443)
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
Due: none

docs: add browser compat table
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
Due: none

docs: add browser compat table (#2444)
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
Due: none

docs: add migration guide for uploads state removal from MessageInputContext
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
Due: none

fix: acknowledge the use of LAME
  README.md
Due: none

chore(release): 11.23.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5a/681fb8dbff38814bf5fdaf5207e0d5a9ad4952
Due: none

feat: remove default timestamp formatting props from DateSeparator, EventComponent, MessageTimestamp (#2442)
  docusaurus/docs/React/guides/date-time-formatting.mdx
  docusaurus/docs/React/release-guides/upgrade-to-v12.mdx
  src/components/DateSeparator/DateSeparator.tsx
  src/components/DateSeparator/__tests__/DateSeparator.test.js
  src/components/EventComponent/EventComponent.tsx
  src/components/EventComponent/__tests__/EventComponent.test.js
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageTimestamp.tsx
  src/components/Message/Timestamp.tsx
  src/components/Message/__tests__/MessageSimple.test.js
  src/components/Message/__tests__/MessageTimestamp.test.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/i18n/utils.ts
Due: eslint --max-warnings 0, prettier --list-different, yarn run validate-translations
