Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: increase IconPlus strokeWidth to 2
  src/components/Icons/icons.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add 8px offset to emoji picker to align with other popups offset policy
  src/plugins/Emojis/EmojiPicker.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(demo): return close and open behavior to the sidebar
  examples/vite/src/ChatLayout/Panels.tsx
Due: prettier --list-different

Finalize
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Initial commit
  src/components/Dialog/hooks/useDialog.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Icons/icons.tsx
  src/components/Message/styling/Message.scss
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/ReactionSelectorExtendedList.scss
  src/components/Reactions/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Post-review adjustments
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add tests
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/MessageReactions.test.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Add translations
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

Post-review adjustments vol.2
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/common.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: keep message bubble padding for messages with 4+ emojis only
  src/components/Message/styling/Message.scss
Due: none

feat: introduce extended reaction list to a reactions detail component (#3100)
  src/components/Dialog/hooks/useDialog.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Icons/icons.tsx
  src/components/Message/styling/Message.scss
  src/components/Reactions/MessageReactions.tsx
  src/components/Reactions/MessageReactionsDetail.tsx
  src/components/Reactions/ReactionSelector.tsx
  src/components/Reactions/__tests__/MessageReactions.test.tsx
  src/components/Reactions/__tests__/MessageReactionsDetail.test.tsx
  src/components/Reactions/__tests__/ReactionSelector.test.tsx
  src/components/Reactions/styling/MessageReactionsDetail.scss
  src/components/Reactions/styling/ReactionSelector.scss
  src/components/Reactions/styling/ReactionSelectorExtendedList.scss
  src/components/Reactions/styling/common.scss
  src/components/Reactions/styling/index.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add EmojiPicker plugin stylesheet
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  package.json
  scripts/watch-styling.mjs
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/styling/EmojiPicker.scss
  src/plugins/Emojis/styling/index.scss
  src/styling/index.scss
  src/styling/variables/index.scss
  src/styling/variables/shadows.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): prevent jump-to-message snap-back from bottom autoscroll
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: add gap between MessageStatus and MessageTimestamp
  src/components/Message/styling/Message.scss
Due: none

fix: make notification content look more balanced
  src/components/Notifications/styling/Notification.scss
Due: none

fix: align pin indicator icon with the annotation text
  src/components/Message/styling/Message.scss
Due: none

fix: assign correct quoted attachment icon and fit the image thumbnail
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: correct the send-to-channel checkbox icon color
  src/components/MessageComposer/styling/SendToChannelCheckbox.scss
Due: none

fix: align ThreadHeader contents and adjust stroke width of thread close icon
  src/components/Button/styling/Button.scss
  src/components/Icons/icons.tsx
  src/components/Search/styling/Search.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/styling/ThreadHeader.scss
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: align annotation icons with text vertically and increase stroke width
  src/components/Icons/icons.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/components/Message/styling/ReminderNotification.scss
  src/components/MessageActions/MessageActions.defaults.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: decrease the message text inline padding
  src/components/Message/styling/Message.scss
Due: none

test: adjust snapshots
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.tsx.snap
Due: none

style: fix lint issues
  src/plugins/Emojis/styling/index.scss
  src/styling/variables/index.scss
  src/styling/variables/shadows.scss
Due: none

fix: remove thread border in threads view
  src/components/Thread/styling/ThreadHeader.scss
Due: none

feat: add EmojiPicker plugin stylesheet (#3108)
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  package.json
  scripts/watch-styling.mjs
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/styling/EmojiPicker.scss
  src/plugins/Emojis/styling/index.scss
  src/styling/index.scss
  src/styling/variables/index.scss
  src/styling/variables/shadows.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): prevent jump-to-message snap-back from bottom autoscroll (#3109)
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/hooks/MessageList/useScrollLocationLogic.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: correct various UI glitches (#3110)
  examples/vite/src/ChatLayout/Panels.tsx
  src/components/Button/styling/Button.scss
  src/components/Icons/icons.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.tsx.snap
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/components/Message/styling/ReminderNotification.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageComposer/QuotedMessagePreview.tsx
  src/components/MessageComposer/styling/QuotedMessagePreview.scss
  src/components/MessageComposer/styling/SendToChannelCheckbox.scss
  src/components/Notifications/styling/Notification.scss
  src/components/Search/styling/Search.scss
  src/components/Thread/ThreadHeader.tsx
  src/components/Thread/styling/ThreadHeader.scss
  src/plugins/Emojis/EmojiPicker.tsx
  src/styling/_utils.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.0.0-beta.7 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  78934929a2b1b6d82f09736aada08c57c194d45e
Due: none

fix(dialog): prevent outside-click from other dialog managers closing active dialogs
  src/components/Dialog/__tests__/DialogPortal.test.tsx
  src/components/Dialog/service/DialogPortal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageUI): use isDeleted as a flag to determine message deletion
  src/components/Message/MessageUI.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 notifications and composer follow-up
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

chore(demo): add message actions configuration
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/AppSettings/tabs/MessageActions/index.ts
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/CustomMessageActions/CustomMessageActions.scss
  examples/vite/src/CustomMessageActions/index.ts
  examples/vite/src/Sidebar/SidebarToggle.tsx
  examples/vite/src/SystemNotification/SystemNotification.tsx
  examples/vite/src/icons.tsx
  examples/vite/src/index.scss
  src/components/Chat/Chat.tsx
  src/components/Form/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(dialog): prevent outside-click from other dialog managers closing active dialogs (#3112)
  src/components/Dialog/__tests__/DialogPortal.test.tsx
  src/components/Dialog/service/DialogPortal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageUI): use isDeleted as a flag to determine message deletion (#3113)
  src/components/Message/MessageUI.tsx
  src/components/Message/__tests__/MessageUI.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): add message actions configuration (#3115)
  examples/vite/src/App.tsx
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/AppSettings/tabs/MessageActions/index.ts
  examples/vite/src/CustomMessageActions/ConfigurableMessageActions.tsx
  examples/vite/src/CustomMessageActions/CustomMessageActions.scss
  examples/vite/src/CustomMessageActions/index.ts
  examples/vite/src/Sidebar/SidebarToggle.tsx
  examples/vite/src/SystemNotification/SystemNotification.tsx
  examples/vite/src/icons.tsx
  examples/vite/src/index.scss
  src/components/Chat/Chat.tsx
  src/components/Form/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs: track react v14 notifications and composer follow-up (#3114)
  ai-docs/breaking-changes.md
  ai-docs/docs-plan.md
Due: prettier --list-different

feat: redesign Tooltip
  examples/vite/src/AppSettings/ActionsMenu/ActionsMenu.tsx
  examples/vite/src/AppSettings/ActionsMenu/NotificationPromptDialog.tsx
  examples/vite/src/Sidebar/SidebarToggle.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/styling/Tooltip.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: remove tooltip after hover away from ChatView buttons
  src/components/ChatView/styling/ChatView.scss
Due: none

fix: unify what is considered a deleted message across the components
  src/components/ChannelListItem/__tests__/utils.test.ts
  src/components/ChannelListItem/utils.tsx
  src/components/Message/MessageUI.tsx
  src/components/Message/utils.tsx
  src/components/MessageActions/MessageActions.defaults.tsx
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageActions/hooks/useBaseMessageActionSetFilter.ts
  src/components/SummarizedMessagePreview/__tests__/useLatestMessagePreview.test.tsx
  src/components/SummarizedMessagePreview/hooks/useLatestMessagePreview.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Path conditions:
  eslint --max-warnings 0 --no-warn-ignored: any of: src/**/*.{js,ts,tsx,md}
  prettier --list-different: any of: **/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}
  yarn run validate-translations: any of: src/i18n/*.json
