Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat: allow to stack modals on top of each other (#3203)
  src/components/Dialog/__tests__/DialogManagerContext.test.tsx
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/hooks/useDialog.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Dialog/styling/Alert.scss
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/__tests__/__snapshots__/MessageText.test.tsx.snap
  src/components/MessageActions/__tests__/MessageActions.test.tsx
  src/components/MessageComposer/__tests__/AttachmentSelector.test.tsx
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: maintain topmost modal non-inert
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(examples/tutorial): update theming tokens to --str-chat__ prefix
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/layout.css
Due: none

feat(ChannelManagementView): invoke confirmation dialogs before invoking destructive action
  src/components/ChannelDetail/ChannelDetail.tsx
  src/components/ChannelDetail/ChannelDetailContext.tsx
  src/components/ChannelDetail/Views/ChannelInfoActions.defaults.tsx
  src/components/ChannelDetail/Views/ChannelManagementActions.defaults.tsx
  src/components/ChannelDetail/Views/ChannelManagementView.tsx
  src/components/ChannelDetail/__tests__/ChannelDetail.test.tsx
  src/components/ChannelDetail/__tests__/ChannelInfoActions.defaults.test.tsx
  src/components/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
  src/components/ChannelDetail/index.ts
  src/components/ChannelDetail/styling/ChannelManagementView.scss
  src/components/ChannelHeader/AvatarWithChannelDetail.tsx
  src/components/ChannelHeader/hooks/useChannelHasMembersOnline.ts
  src/components/ChannelHeader/hooks/useChannelHeaderOnlineStatus.ts
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/utils/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

docs(examples/tutorial): update theming tokens to --str-chat__ prefix (#3207)
  examples/tutorial/src/3-channel-list/layout.css
  examples/tutorial/src/4-custom-ui-components/layout.css
  examples/tutorial/src/5-custom-attachment-type/layout.css
  examples/tutorial/src/6-emoji-picker/layout.css
  examples/tutorial/src/7-livestream/layout.css
Due: none

feat: add useIsUserMuted hook
  src/components/ChannelDetail/Views/ChannelManagementView.tsx
  src/components/ChannelDetail/__tests__/ChannelManagementView.test.tsx
  src/components/ChannelListItem/hooks/index.ts
  src/components/ChannelListItem/hooks/useIsUserMuted.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: route notifications through generated modal dialogs
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
  src/components/Notifications/hooks/__tests__/useNotificationApi.test.tsx
  src/components/Notifications/hooks/useNotificationApi.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: preapprove stream-chat for install within npmMinimalAgeGate
  .yarnrc.yml
Due: prettier --list-different

chore(deps): upgrade stream-chat to version 9.45.0
  package.json
  yarn.lock
Due: prettier --list-different

fix: maintain topmost modal non-inert (#3206)
  src/components/Dialog/__tests__/DialogsManager.test.ts
  src/components/Dialog/service/DialogManager.ts
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to unblock user from ChannelManagementView
  src/components/ChannelDetail/Views/ChannelManagementActions.defaults.tsx
  src/components/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
  src/components/ChannelDetail/styling/ChannelManagementView.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(Reactions): send emoji_code with reactions for push notification rendering
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Reactions/__tests__/reactionOptions.test.ts
  src/components/Reactions/reactionOptions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

style: add empty lines before declarations following mixins
  src/components/TextareaComposer/styling/SuggestionList.scss
Due: none

fix: remove translation key aria/User Suggestions
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

style: add empty line following CSS variable declaration
  src/components/ListItemLayout/styling/ListItemLayout.scss
Due: none

fix(TokenizedSuggestionParts): avoid ReDoS-prone whitespace regex in suggestions
  src/components/TextareaComposer/SuggestionList/TokenizedSuggestionParts.tsx
  src/components/TextareaComposer/__tests__/TokenizedSuggestionParts.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: reflect all mentions in message text handling
  src/components/Channel/hooks/useMentionsHandlers.ts
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageText.test.tsx
  src/components/Message/hooks/__tests__/useMentionsHandler.test.tsx
  src/components/Message/hooks/useMentionsHandler.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(deps): adjust all the dependency links for stream-chat
  examples/tutorial/package.json
  examples/vite/package.json
  yarn.lock
Due: prettier --list-different

chore(demo): support api_key query param in vite example
  examples/vite/src/App.tsx
Due: prettier --list-different

chore(demo): support api_key query param in vite example (#3210)
  examples/vite/src/App.tsx
Due: prettier --list-different

feat(Reactions): send emoji_code with reactions for push notification rendering (#3209)
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/hooks/__tests__/useReactionHandler.test.tsx
  src/components/Message/hooks/useReactionHandler.ts
  src/components/Reactions/__tests__/reactionOptions.test.ts
  src/components/Reactions/reactionOptions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(release): 14.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  e2c53c2b542eaa4bc3916e3fc1792a2fc36e5241
Due: none

fix: only run husky in a git checkout so npm consumers don't break
  package.json
  scripts/install-husky.mjs
Due: prettier --list-different

fix: only run husky in a git checkout so npm consumers don't break (#3211)
  package.json
  scripts/install-husky.mjs
Due: prettier --list-different

chore(release): 14.4.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  24180256782280aee7e7bc6b8dbe89c8d6d664d2
Due: none

refactor(tutorial): use isProductAttachment type guard instead of inline predicate
  examples/tutorial/src/5-custom-attachment-type/App.tsx
Due: prettier --list-different

refactor(tutorial): use isProductAttachment type guard instead of inline predicate (#3213)
  examples/tutorial/src/5-custom-attachment-type/App.tsx
Due: prettier --list-different

feat: add edit mode to ChannelManagementView
  src/components/ChannelDetail/Views/ChannelManagementActions.defaults.tsx
  src/components/ChannelDetail/Views/ChannelManagementView.tsx
  src/components/ChannelDetail/__tests__/ChannelManagementActions.defaults.test.tsx
  src/components/ChannelDetail/__tests__/ChannelManagementView.test.tsx
  src/components/ChannelDetail/styling/ChannelDetail.scss
  src/components/ChannelDetail/styling/ChannelManagementView.scss
  src/components/ChannelListItem/__tests__/ChannelListItemActionButtons.defaults.test.tsx
  src/components/Dialog/components/Prompt.tsx
  src/components/Dialog/styling/Prompt.scss
  src/components/MessageActions/MessageActions.defaults.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: close context menu rendered above modal
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersHeaderActions.defaults.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewList.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersHeaderActions.defaults.test.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersView.test.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersViewList.test.tsx
  src/components/Dialog/service/DialogPortal.tsx
  src/components/Dialog/styling/Dialog.scss
  src/components/Modal/GlobalModal.tsx
  src/components/Modal/__tests__/GlobalModal.test.tsx
  src/components/Modal/styling/Modal.scss
  src/context/DialogManagerContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore(demo): allow to configure channel detail actions
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/state.ts
  examples/vite/src/AppSettings/tabs/ChannelDetail/ChannelDetailTab.tsx
  examples/vite/src/AppSettings/tabs/ChannelDetail/channelDetailSettings.ts
  examples/vite/src/AppSettings/tabs/ChannelDetail/index.ts
  examples/vite/src/ChatLayout/ConfiguredChannelDetail.tsx
  examples/vite/src/ChatLayout/Panels.tsx
  examples/vite/src/index.scss
  src/components/ChannelDetail/ChannelDetail.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersHeaderActions.defaults.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersView.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): migrate app settings modal to SectionNavigator
  examples/vite/src/AppSettings/AppSettings.scss
  examples/vite/src/AppSettings/AppSettings.tsx
  examples/vite/src/AppSettings/tabs/ChannelDetail/ChannelDetailTab.tsx
  examples/vite/src/AppSettings/tabs/General/GeneralTab.tsx
  examples/vite/src/AppSettings/tabs/MessageActions/MessageActionsTab.tsx
  examples/vite/src/AppSettings/tabs/Notifications/NotificationsTab.tsx
  examples/vite/src/AppSettings/tabs/Reactions/ReactionsTab.tsx
  examples/vite/src/AppSettings/tabs/SettingsTabLayoutComponents.tsx
  examples/vite/src/AppSettings/tabs/Sidebar/SidebarTab.tsx
  src/components/Dialog/styling/Prompt.scss
Due: prettier --list-different

fix: extract role correctly
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewList.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersViewList.test.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersViewSearch.test.tsx
  src/components/ChannelDetail/styling/ChannelMembersView.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix: prevent channel members views lists re-render on pagination
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersBrowseView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersRemoveView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersView.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersView.utils.ts
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewEmptyList.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewList.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewListFooter.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/ChannelMembersViewSearchInput.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersBrowseView.test.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/__tests__/ChannelMembersView.test.tsx
  src/components/ChannelDetail/Views/ChannelMembersView/useChannelMembersSearch.ts
  src/components/ChannelDetail/styling/ChannelMembersView.scss
  src/components/ChannelDetail/styling/ChannelMembersViewListFooter.scss
  src/components/ChannelDetail/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MediaRecorder): guard pause/resume against inactive recorder to prevent InvalidStateError
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.js
  src/mock-builders/browser/MediaRecorder.js
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MediaRecorder): guard pause/resume against inactive recorder to prevent InvalidStateError
  src/components/MediaRecorder/classes/MediaRecorderController.ts
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test: remove redundant state setting
  src/components/MediaRecorder/classes/__tests__/MediaRecorderController.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
