Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

fix(a11y): prefix the poll remove-option button name with "option:"
  src/components/Poll/PollCreationDialog/OptionFieldSet.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

refactor(a11y): resolve the channel row's latest message once for all label parts
  src/components/ChannelListItem/utils.a11y.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): stop re-sorting command suggestions, trust the SDK ordering
  src/components/MessageComposer/AttachmentSelector/CommandsMenu.tsx
  src/components/TextareaComposer/SuggestionList/SuggestionList.tsx
  src/components/TextareaComposer/SuggestionList/index.ts
  src/components/TextareaComposer/SuggestionList/utils.ts
  src/components/TextareaComposer/TextareaComposer.tsx
  src/components/TextareaComposer/__tests__/orderSuggestionItems.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(a11y): add interaction announcements to voice recorder
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/MediaRecorder/hooks/__tests__/useMediaRecorder.test.tsx
  src/components/MediaRecorder/hooks/useMediaRecorder.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat(a11y): add audio playback speed change announcements
  src/components/Accessibility/hooks/useAudioPlaybackChangeAnnouncements.ts
  src/components/Accessibility/hooks/useInteractionAnnouncements.ts
  src/components/Attachment/__tests__/VoiceRecording.test.tsx
  src/components/AudioPlayback/WithAudioPlayback.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore(demo): autofocus Join Group buttons
  examples/vite/src/ChannelPreviewOverlay/ChannelPreviewOverlay.tsx
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
Due: prettier --list-different

chore(demo): remove unused PublicChannelComposerBanner
  examples/vite/src/PublicChannelOverlay/PublicChannelOverlay.tsx
Due: prettier --list-different

fix(a11y): show modal-targeted notifications in their fallback panel after the modal closes
  src/components/Chat/Chat.tsx
  src/components/Chat/__tests__/Chat.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): add built-in emoji dataset and search index
  .prettierignore
  scripts/vendor-emoji-data.mjs
  src/plugins/Emojis/compat.ts
  src/plugins/Emojis/data/LICENSE
  src/plugins/Emojis/data/__tests__/emoji-data.test.ts
  src/plugins/Emojis/data/emoji-data.json
  src/plugins/Emojis/data/index.ts
  src/plugins/Emojis/data/types.ts
  src/plugins/Emojis/index.ts
  src/plugins/Emojis/middleware/__tests__/textComposerEmojiMiddleware.test.ts
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
  src/plugins/Emojis/search/EmojiSearchIndex.ts
  src/plugins/Emojis/search/__tests__/EmojiSearchIndex.test.ts
  src/plugins/Emojis/search/__tests__/search.test.ts
  src/plugins/Emojis/search/buildEmojiSearchData.ts
  src/plugins/Emojis/search/index.ts
  src/plugins/Emojis/search/search.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): render a native React emoji picker panel
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/components/CategoryNav.tsx
  src/plugins/Emojis/components/EmojiButton.tsx
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/PreviewPane.tsx
  src/plugins/Emojis/components/categories.ts
  src/plugins/Emojis/components/index.ts
  src/plugins/Emojis/context/EmojiPickerContext.tsx
  src/plugins/Emojis/hooks/useEmojiPickerState.ts
  src/plugins/Emojis/index.ts
  src/plugins/Emojis/middleware/__tests__/textComposerEmojiMiddleware.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(MessageList): don't count thread replies toward channel unread UI state (#3229)
  src/components/MessageList/hooks/__tests__/useMarkRead.test.tsx
  src/components/MessageList/hooks/useMarkRead.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): style the native emoji picker panel
  src/plugins/Emojis/styling/EmojiPicker.scss
  src/styling/_emoji-replacement.scss
Due: none

feat(emojis): add in-picker search and empty state
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/EmptyResults.tsx
  src/plugins/Emojis/components/SearchInput.tsx
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): add skin-tone selector and frequently-used section
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/SkinToneSelector.tsx
  src/plugins/Emojis/components/skinTones.ts
  src/plugins/Emojis/hooks/__tests__/useFrequentlyUsedEmoji.test.ts
  src/plugins/Emojis/hooks/__tests__/useSkinTone.test.ts
  src/plugins/Emojis/hooks/useFrequentlyUsedEmoji.ts
  src/plugins/Emojis/hooks/useSkinTone.ts
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(emojis): virtualize the emoji grid by category
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): keyboard navigation and accessibility for the picker
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/components/CategoryNav.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/SearchInput.tsx
  src/plugins/Emojis/hooks/useGridKeyboardNav.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): add emoji picker i18n strings for all 12 locales
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: prettier --list-different, yarn run validate-translations

feat(emojis): remove emoji-mart peer dependencies
  AI.md
  examples/tutorial/package.json
  examples/tutorial/src/6-emoji-picker/App.tsx
  examples/tutorial/src/App.tsx
  examples/vite/package.json
  examples/vite/src/App.tsx
  package.json
  src/components/MessageComposer/MessageComposer.tsx
  src/context/ComponentContext.tsx
  src/plugins/Emojis/EmojiPicker.tsx
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(i18n): use .js extensions on dayjs subpath imports for valid Node ESM
  src/context/TranslationContext.tsx
  src/i18n/Streami18n.ts
  src/i18n/types.ts
  src/i18n/utils.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

test(ci): smoke-test the ESM bundle under Node's native loader
  .github/workflows/ci.yml
  package.json
  scripts/validate-esm-node-bundle.mjs
Due: prettier --list-different

chore(deps): bump vite to 8.1.3 and vitest to 4.1.9
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  yarn.lock
Due: prettier --list-different

fix(i18n): use .js extensions on dayjs subpath imports for valid Node ESM (#3231)
  .github/workflows/ci.yml
  .yarnrc.yml
  examples/tutorial/package.json
  examples/vite/package.json
  package.json
  scripts/validate-esm-node-bundle.mjs
  src/context/TranslationContext.tsx
  src/i18n/Streami18n.ts
  src/i18n/types.ts
  src/i18n/utils.ts
  yarn.lock
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): persist skin tone and frequently-used across picker open/close
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/__tests__/EmojiPicker.test.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): stop silently ignoring unsupported EmojiPicker pickerProps
  AI.md
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/__tests__/EmojiPicker.test.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

docs(emojis): import emoji-picker.css where the picker is used
  AI.md
  examples/tutorial/src/6-emoji-picker/layout.css
Due: prettier --list-different

chore(release): 14.6.1 [skip ci]
  CHANGELOG.md
Due: prettier --list-different

Notes added by 'git notes add'
  5106de2e6f4d8d413227ec75cdddd03c22541373
Due: none

fix(emojis): make EmojiPicker theme='light' override a dark ancestor
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.ts
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ci: add release-v15 rc prerelease branch to semantic-release config
  .releaserc.json
Due: prettier --list-different

chore: add release-v15 rc prerelease branch to semantic-release config (#3232)
  .releaserc.json
Due: prettier --list-different

fix(emojis): recover from failed dataset loads and drop invalid grid ARIA
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/Emojis/__tests__/memoizeAsyncWithReset.test.ts
  src/plugins/Emojis/components/EmojiButton.tsx
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/__tests__/EmojiGrid.test.tsx
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.ts
  src/plugins/Emojis/components/__tests__/EmojiPickerPanel.test.tsx
  src/plugins/Emojis/data/index.ts
  src/plugins/Emojis/hooks/__tests__/useEmojiPickerState.test.ts
  src/plugins/Emojis/hooks/useEmojiPickerState.ts
  src/plugins/Emojis/memoizeAsyncWithReset.ts
  src/plugins/Emojis/search/EmojiSearchIndex.ts
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(emojis): match the built-in picker's styling to emoji-mart
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/PreviewPane.tsx
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(emojis): remove doubled search-field padding so the icon aligns
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: none

feat(emojis): show emoji shortcode in preview and keep frequently-used to one row
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/components/PreviewPane.tsx
  src/plugins/Emojis/components/__tests__/EmojiButton.test.tsx
  src/plugins/Emojis/components/__tests__/PreviewPane.test.tsx
  src/plugins/Emojis/components/__tests__/frequentlyUsed.test.ts
  src/plugins/Emojis/components/frequentlyUsed.ts
  src/plugins/Emojis/styling/EmojiPicker.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(emojis): restore reacting with any emoji via loadDefaultExtendedReactionOptions
  AI.md
  examples/vite/src/App.tsx
  src/plugins/Emojis/__tests__/reactions.test.tsx
  src/plugins/Emojis/index.ts
  src/plugins/Emojis/reactions.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): let keyboard navigation cross virtualized category boundaries
  src/plugins/Emojis/components/EmojiPickerPanel.tsx
  src/plugins/Emojis/hooks/__tests__/useGridKeyboardNav.test.tsx
  src/plugins/Emojis/hooks/useGridKeyboardNav.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(a11y): name the search input directly instead of via a hidden label
  src/components/Search/SearchBar/SearchBar.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

perf(emojis): drive picker keyboard navigation from the category model
  src/plugins/Emojis/hooks/__tests__/gridNavigation.test.ts
  src/plugins/Emojis/hooks/__tests__/useGridKeyboardNav.test.tsx
  src/plugins/Emojis/hooks/gridNavigation.ts
  src/plugins/Emojis/hooks/useGridKeyboardNav.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): correct three picker option/state bugs
  src/plugins/Emojis/EmojiPicker.tsx
  src/plugins/Emojis/__tests__/EmojiPicker.test.tsx
  src/plugins/Emojis/hooks/__tests__/useFrequentlyUsedEmoji.test.ts
  src/plugins/Emojis/hooks/useFrequentlyUsedEmoji.ts
  src/plugins/Emojis/middleware/__tests__/textComposerEmojiMiddleware.test.ts
  src/plugins/Emojis/middleware/textComposerEmojiMiddleware.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

fix(emojis): mark the last category active when scrolled to the bottom
  src/plugins/Emojis/components/EmojiGrid.tsx
  src/plugins/Emojis/components/__tests__/EmojiGrid.test.tsx
  src/plugins/Emojis/search/__tests__/search.test.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different
