Repository GetStream/stream-chat-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md}": "eslint --max-warnings 0 --no-warn-ignored",
  "**/*.{js,mjs,ts,mts,jsx,tsx,md,json,yml}": "prettier --list-different",
  "src/i18n/*.json": "yarn run validate-translations"
}

feat: add DeleteMessageAlert component
  src/components/Message/hooks/useDeleteHandler.ts
  src/components/MessageActions/DeleteMessageAlert.tsx
  src/components/MessageActions/defaults.tsx
  src/components/MessageBounce/MessageBouncePrompt.tsx
  src/components/MessageInput/AttachmentSelector/AttachmentSelector.tsx
  src/context/MessageContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix(Modal): single overlay close handling and prevent re-open/effect loop
  src/components/Modal/GlobalModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: promote GlobalModal to be the default component for displaying modals
  src/components/MessageBounce/MessageBounceModal.tsx
  src/components/Reactions/ReactionsListModal.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add missing styles for ReactionsListModal
  src/components/Reactions/styling/ReactionsListModal.scss
  src/components/Reactions/styling/index.scss
  src/styling/index.scss
Due: none

feat: show username in metadata only for 3+ members
  src/components/Message/MessageSimple.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: show "Pinned by You" for messages pinned by own user
  src/components/Message/PinIndicator.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: set max message width to 400px
  src/components/Message/styling/Message.scss
Due: none

style: fix linter issues
  src/components/Avatar/styling/Avatar.scss
  src/components/Dialog/styling/Alert.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/MessageBounce/styling/index.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Reactions/styling/ReactionsListModal.scss
  src/components/Reactions/styling/index.scss
Due: none

docs: explain how Attachment prop attachmentActionsDefaultFocus should be used
  src/components/Attachment/Attachment.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: render voice recording preview in a dedicated slot
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreviewSlot.tsx
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/index.ts
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign ReminderNotification
  src/components/Icons/icons.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/ReminderNotification.test.js
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.js.snap
  src/components/Message/styling/Message.scss
  src/components/Message/styling/ReminderNotification.scss
  src/components/Message/styling/index.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_global-theme-variables.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add MessageTranslationIndicator
  src/components/ChannelPreview/utils.tsx
  src/components/Icons/icons.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/MessageTranslationIndicator.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageTranslationIndicator.scss
  src/components/Message/styling/index.scss
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/context/ComponentContext.tsx
  src/context/MessageContext.tsx
  src/context/MessageTranslationViewContext.tsx
  src/context/index.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add MessageAlsoSentInChannelIndicator
  src/components/Icons/icons.tsx
  src/components/Message/MessageAlsoSentInChannelIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/components/Message/styling/MessageIsThreadReplyInChannelButtonIndicator.scss
  src/components/Message/styling/index.scss
  src/components/Message/utils.tsx
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: align slots in message composer previews
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageInput/styling/QuotedMessagePreview.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Move reactions under bubble so that we don't have to use z-index
  src/components/Message/MessageSimple.tsx
  src/components/Message/styling/Message.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

Adjust AvatarStack positioning so that we don't have to use z-index
  src/components/Avatar/styling/AvatarStack.scss
Due: none

Add ReactionsList overflow
  src/components/Reactions/ReactionsList.tsx
  src/components/Reactions/hooks/useProcessReactions.tsx
  src/components/Reactions/styling/ReactionList.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

ReactionsListModal stuff
  src/components/Reactions/ReactionsListModal.tsx
  src/components/Reactions/styling/ReactionsListModal.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: full-screen drag-drop overlay on message view
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Channel/Channel.tsx
  src/components/MessageInput/WithDragAndDropUpload.tsx
  src/components/MessageInput/styling/DragAndDropContainer.scss
  src/components/MessageInput/styling/DropzoneContainer.scss
  src/components/MessageInput/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat(EmptyStateIndicator): apply Figma design to str-chat__empty-channel
  src/components/EmptyStateIndicator/EmptyStateIndicator.tsx
  src/components/EmptyStateIndicator/__tests__/EmptyStateIndicator.test.js
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/EmptyStateIndicator/styling/index.scss
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageListComponents.test.js.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: do actual WithDragAndDropUpload container styling
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Channel/Channel.tsx
  src/components/DragAndDrop/styling/DragAndDropContainer.scss
  src/components/DragAndDrop/styling/index.scss
  src/components/MessageInput/WithDragAndDropUpload.tsx
  src/components/MessageInput/styling/DropzoneContainer.scss
  src/components/MessageInput/styling/index.scss
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: allow to override content rendered within WithDragAndDropUpload
  src/components/MessageInput/WithDragAndDropUpload.tsx
  src/components/MessageInput/index.ts
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign EmptyStateIndicator for message list
  src/components/Channel/styling/Channel.scss
  src/components/EmptyStateIndicator/EmptyStateIndicator.tsx
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: add cursor agent skills
  .cursor/skills/dev-patterns/SKILL.md
  .cursor/skills/make-plans/SKILL.md
  .cursor/skills/make-plans/reference.md
  .cursor/skills/playwright-cli/SKILL.md
  .cursor/skills/playwright-cli/references/request-mocking.md
  .cursor/skills/playwright-cli/references/running-code.md
  .cursor/skills/playwright-cli/references/session-management.md
  .cursor/skills/playwright-cli/references/storage-state.md
  .cursor/skills/playwright-cli/references/test-generation.md
  .cursor/skills/playwright-cli/references/tracing.md
  .cursor/skills/playwright-cli/references/video-recording.md
  .cursor/skills/ralph-protocol/SKILL.md
  .cursor/skills/ralph-protocol/reference.md
  .cursor/skills/worktrees/SKILL.md
Due: prettier --list-different

feat: redesign message annotations (#2956)
  src/components/Attachment/Attachment.tsx
  src/components/Avatar/styling/Avatar.scss
  src/components/Dialog/styling/Alert.scss
  src/components/Dialog/styling/Prompt.scss
  src/components/Icons/icons.tsx
  src/components/Message/MessageAlsoSentInChannelIndicator.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/PinIndicator.tsx
  src/components/Message/ReminderNotification.tsx
  src/components/Message/__tests__/ReminderNotification.test.js
  src/components/Message/__tests__/__snapshots__/ReminderNotification.test.js.snap
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageAlsoSentInChannelIndicator.scss
  src/components/Message/styling/MessageIsThreadReplyInChannelButtonIndicator.scss
  src/components/Message/styling/ReminderNotification.scss
  src/components/Message/styling/index.scss
  src/components/Message/utils.tsx
  src/components/MessageBounce/styling/index.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
  src/components/Reactions/styling/ReactionsListModal.scss
  src/components/Reactions/styling/index.scss
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/_global-theme-variables.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: render voice recording preview in a dedicated slot (#2957)
  src/components/MessageInput/AttachmentPreviewList/AttachmentPreviewList.tsx
  src/components/MessageInput/AttachmentPreviewList/VoiceRecordingPreviewSlot.tsx
  src/components/MessageInput/AttachmentPreviewList/index.ts
  src/components/MessageInput/MessageInputFlat.tsx
  src/components/MessageInput/QuotedMessagePreview.tsx
  src/components/MessageInput/__tests__/AttachmentPreviewList.test.js
  src/components/MessageInput/index.ts
  src/components/MessageInput/styling/AttachmentPreview.scss
  src/components/MessageInput/styling/MessageComposer.scss
  src/components/MessageInput/styling/QuotedMessagePreview.scss
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign file drag-and-drop overlay (#2959)
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  examples/vite/src/stream-imports-layout.scss
  examples/vite/src/stream-imports-theme.scss
  src/components/Dialog/base/ContextMenu.tsx
  src/components/DragAndDrop/styling/DragAndDropContainer.scss
  src/components/DragAndDrop/styling/index.scss
  src/components/MessageInput/WithDragAndDropUpload.tsx
  src/components/MessageInput/index.ts
  src/components/MessageInput/styling/DropzoneContainer.scss
  src/components/MessageInput/styling/index.scss
  src/context/ComponentContext.tsx
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign EmptyStateIndicator for channel message list (#2960)
  src/components/Channel/styling/Channel.scss
  src/components/EmptyStateIndicator/EmptyStateIndicator.tsx
  src/components/EmptyStateIndicator/__tests__/EmptyStateIndicator.test.js
  src/components/EmptyStateIndicator/styling/EmptyStateIndicator.scss
  src/components/EmptyStateIndicator/styling/index.scss
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageList.test.js.snap
  src/components/MessageList/__tests__/__snapshots__/VirtualizedMessageListComponents.test.js.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

feat: add message translation indicator (#2958)
  src/components/ChannelPreview/utils.tsx
  src/components/Icons/icons.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/Message.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/MessageTranslationIndicator.tsx
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageTranslationIndicator.scss
  src/components/Message/styling/index.scss
  src/components/MessageList/MessageList.tsx
  src/components/MessageList/VirtualizedMessageList.tsx
  src/context/ComponentContext.tsx
  src/context/MessageContext.tsx
  src/context/MessageTranslationViewContext.tsx
  src/context/index.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: add cursor agent skills (#2961)
  .cursor/skills/dev-patterns/SKILL.md
  .cursor/skills/make-plans/SKILL.md
  .cursor/skills/make-plans/reference.md
  .cursor/skills/playwright-cli/SKILL.md
  .cursor/skills/playwright-cli/references/request-mocking.md
  .cursor/skills/playwright-cli/references/running-code.md
  .cursor/skills/playwright-cli/references/session-management.md
  .cursor/skills/playwright-cli/references/storage-state.md
  .cursor/skills/playwright-cli/references/test-generation.md
  .cursor/skills/playwright-cli/references/tracing.md
  .cursor/skills/playwright-cli/references/video-recording.md
  .cursor/skills/ralph-protocol/SKILL.md
  .cursor/skills/ralph-protocol/reference.md
  .cursor/skills/worktrees/SKILL.md
Due: prettier --list-different

chore: remove with*Context HOC wrappers
  src/context/ChannelActionContext.tsx
  src/context/ChannelStateContext.tsx
  src/context/ChatContext.tsx
  src/context/ComponentContext.tsx
  src/context/MessageContext.tsx
  src/context/TranslationContext.tsx
  src/context/TypingContext.tsx
  src/context/utils/getDisplayName.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign message deleted
  .cursor/skills/ralph-protocol/reference.md
  src/components/Dialog/base/ContextMenu.tsx
  src/components/DragAndDrop/styling/index.scss
  src/components/Icons/icons.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageBubble.tsx
  src/components/Message/MessageDeleted.tsx
  src/components/Message/MessageDeletedBubble.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/MessageDeleted.test.js
  src/components/Message/__tests__/QuotedMessage.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageStatus.scss
  src/components/Message/styling/MessageTranslationIndicator.scss
  src/components/Message/utils.tsx
  src/components/MessageInput/styling/DropzoneContainer.scss
  src/components/MessageList/utils.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

fix: show IconClock for "Sending" message status
  src/components/Message/MessageStatus.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: remove FixedHeightMessage component
  src/components/Gallery/decisions.md
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/index.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: add MessageDeletedBubble to ComponentContext
  src/components/Gallery/decisions.md
  src/components/Message/MessageSimple.tsx
  src/components/MessageList/__tests__/VirtualizedMessageList.test.js
  src/context/ComponentContext.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

chore: remove with*Context HOC wrappers (#2962)
  src/context/ChannelActionContext.tsx
  src/context/ChannelStateContext.tsx
  src/context/ChatContext.tsx
  src/context/ComponentContext.tsx
  src/context/MessageContext.tsx
  src/context/TranslationContext.tsx
  src/context/TypingContext.tsx
  src/context/utils/getDisplayName.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different

feat: redesign deleted message (#2964)
  .cursor/skills/ralph-protocol/reference.md
  src/components/Dialog/base/ContextMenu.tsx
  src/components/DragAndDrop/styling/index.scss
  src/components/Gallery/decisions.md
  src/components/Icons/icons.tsx
  src/components/Message/FixedHeightMessage.tsx
  src/components/Message/MessageBubble.tsx
  src/components/Message/MessageDeleted.tsx
  src/components/Message/MessageDeletedBubble.tsx
  src/components/Message/MessageSimple.tsx
  src/components/Message/MessageStatus.tsx
  src/components/Message/MessageText.tsx
  src/components/Message/__tests__/FixedHeightMessage.test.js
  src/components/Message/__tests__/MessageDeleted.test.js
  src/components/Message/__tests__/QuotedMessage.test.js
  src/components/Message/__tests__/__snapshots__/MessageStatus.test.js.snap
  src/components/Message/index.ts
  src/components/Message/styling/Message.scss
  src/components/Message/styling/MessageStatus.scss
  src/components/Message/styling/MessageTranslationIndicator.scss
  src/components/Message/utils.tsx
  src/components/MessageInput/styling/DropzoneContainer.scss
  src/components/MessageList/__tests__/VirtualizedMessageList.test.js
  src/components/MessageList/utils.ts
  src/context/ComponentContext.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations

chore: align message list width constraints
  examples/vite/src/App.tsx
  examples/vite/src/index.scss
  src/components/MessageList/styling/MessageList.scss
  src/components/MessageList/styling/VirtualizedMessageList.scss
Due: prettier --list-different

feat(ChannelHeader): implement Figma design with sidebar collapse and layout updates
  src/components/ChannelHeader/ChannelHeader.tsx
  src/components/ChannelHeader/plan.md
  src/components/ChannelHeader/styling/ChannelHeader.scss
  src/components/ChannelHeader/styling/index.scss
  src/components/Icons/icons.tsx
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/hi.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/tr.json
  src/styling/index.scss
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --list-different, yarn run validate-translations
